Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Update sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/lib/api/AcreSubgraphApi.ts
Due: root-lint, sdk-lint-js

Reduce Season 1 cap to 500 BTC
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Fix the issue of fetching bitcoin position
  dapp/src/hooks/sdk/useBitcoinPosition.ts
Due: dapp-lint-js

Use mainnet contracts in the integration tests
  solidity/deploy/01_deploy_stbtc.ts
  solidity/deploy/02_deploy_mezo_allocator.ts
  solidity/deploy/03_deploy_bitcoin_depositor.ts
  solidity/deploy/04_deploy_bitcoin_redeemer.ts
  solidity/deploy/11_stbtc_update_dispatcher.ts
  solidity/deploy/12_mezo_allocator_update_maintainer.ts
  solidity/deploy/14_update_pause_admin_stbtc.ts
  solidity/deploy/21_transfer_ownership_stbtc.ts
  solidity/deploy/23_transfer_ownership_bitcoin_depositor.ts
  solidity/deploy/24_transfer_ownership_bitcoin_redeemer.ts
  solidity/deploy/24_transfer_ownership_mezo_allocator.ts
  solidity/hardhat.config.ts
Due: solidity-lint-js

Improve QueryKeys management
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/constants/index.ts
  dapp/src/constants/queryKeys.ts
  dapp/src/constants/queryKeysFactory.ts
  dapp/src/hooks/orangeKit/useBitcoinBalance.ts
  dapp/src/hooks/sdk/useBitcoinPosition.ts
  dapp/src/hooks/sdk/useTotalAssets.ts
Due: dapp-lint-js

Reset and remove queries for the user
  dapp/src/hooks/index.ts
  dapp/src/hooks/useResetWalletState.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Implement logic to display the modal
  dapp/.env
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/NotEnoughFundsModal.tsx
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/types/action-flow.ts
Due: dapp-lint-js

Temporarily change cap value to test dapp
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Update the Acre SDK initialization
  dapp/.env
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/constants/env.ts
  dapp/src/vite-env.d.ts
  sdk/src/acre.ts
  sdk/src/lib/api/AcreSubgraphApi.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Update the `initializeWithdrawal` function
  sdk/src/acre.ts
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/modules/account.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
  sdk/test/utils/mock-tbtc.ts
Due: root-lint, sdk-lint-js

Add the pending withdraw activity once requested
  dapp/src/acre-react/hooks/useInitializeWithdraw.ts
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/store/wallet/walletSlice.ts
Due: dapp-lint-js

Update subgraph with the latest sepolia addresses
  subgraph/subgraph.yaml
Due: subgraph-lint-config

Style modal component
  dapp/src/assets/icons/BitcoinsStackErrorIcon.tsx
  dapp/src/assets/icons/icon.svg
  dapp/src/assets/icons/index.ts
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/NotEnoughFundsModal.tsx
  dapp/src/theme/CurrencyBalance.ts
Due: dapp-lint-js

Bump subgraph version
  subgraph/package.json
Due: subgraph-lint-config

Adjust condition
  dapp/src/components/TransactionModal/ActionFormModal.tsx
Due: dapp-lint-js

Revert .env change
  dapp/.env
Due: none

Remove svg file
  dapp/src/assets/icons/icon.svg
Due: none

Remove unnecessary comment
  sdk/src/lib/api/AcreSubgraphApi.ts
Due: root-lint, sdk-lint-js

Set correct addresses for mainnet network
  subgraph/subgraph.yaml
Due: subgraph-lint-config

Remove unused imports
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js

Fix typo - `resetWalletState` instead of `restWalletState`
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Fix an issue related to wallet connecting
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
Due: dapp-lint-js

Update the withdraw activity state correctly
  dapp/src/store/tests/walletSlice.test.ts
  dapp/src/store/wallet/walletSlice.ts
Due: dapp-lint-js

Use proper balance value
  dapp/src/components/TransactionModal/ActionFormModal.tsx
Due: dapp-lint-js

Adjust Unstake form default value
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
Due: dapp-lint-js

Move component
  dapp/src/components/TransactionModal/ActiveUnstakingStep/NotEnoughFundsModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
Due: dapp-lint-js

Add text padding
  dapp/src/components/TransactionModal/ActiveUnstakingStep/NotEnoughFundsModal.tsx
Due: dapp-lint-js

Fix typo on the unexpected error modal
  dapp/src/components/TransactionModal/UnexpectedErrorModal.tsx
Due: dapp-lint-js

Add comments to `walletSlice` tests
  dapp/src/store/tests/walletSlice.test.ts
Due: dapp-lint-js

Set correct data for withdraw activity
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Mint the requested amount of shares in mintDebt
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Renamed InsufficientDebt error to ExcessiveDebtRepayment
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Ported recent changes in stBTC to stBTCV2 test contract
  solidity/contracts/test/upgrades/stBTCV2.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Improved documentation of updateDebtAllowance
  solidity/contracts/stBTC.sol
Due: none

Add dependency array members
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
Due: dapp-lint-js

Adjust conditions
  dapp/src/components/TransactionModal/ActionFormModal.tsx
Due: dapp-lint-js

Resolve invalid elements error
  dapp/src/components/TransactionModal/ActiveUnstakingStep/NotEnoughFundsModal.tsx
Due: dapp-lint-js

Compatibility functions for Mezo IReceiptToken
  solidity/contracts/stBTC.sol
Due: none

Refactor solution
  dapp/src/components/TransactionModal/ActionFormModal.tsx
Due: dapp-lint-js
