Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-lint-js, core-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add fn that allows owner to update staking params
  core/contracts/Acre.sol
Due: none

Add unit test for `updateStakingParameters` fn
  core/test/Acre.test.ts
Due: core-lint-js

Fix unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Fix slither errors
  core/contracts/Acre.sol
Due: none

Fix deployment scripts
  core/deploy/01_deploy_acre.ts
Due: core-lint-js

Simplify overridden `deposit` fn
  core/contracts/Acre.sol
Due: none

Add basic styles for the Modal, Drawer, Sidebar
  dapp/src/components/DocsDrawer/index.tsx
  dapp/src/components/ModalOverlay/index.tsx
  dapp/src/components/Modals/BaseModal.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/theme/Drawer.ts
  dapp/src/theme/Modal.ts
  dapp/src/theme/index.ts
Due: none

Remove unnecessary use of `useColorModeValue`
  dapp/src/components/Overview/PositionDetails.tsx
Due: none

Simplify the `Header` component
  dapp/src/components/Header/index.tsx
Due: none

Use variables for colors
  dapp/src/components/ModalOverlay/index.tsx
  dapp/src/theme/Drawer.ts
  dapp/src/theme/Modal.ts
Due: none

Fix a eslint issue
  dapp/src/components/Header/index.tsx
Due: none

Add a custom theme for `Card`
  dapp/src/components/Overview/index.tsx
  dapp/src/theme/Card.ts
  dapp/src/theme/index.ts
Due: none

Update a theme for `Switch`
  dapp/src/theme/Switch.ts
Due: none

Update styles for buttons
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/index.tsx
  dapp/src/static/icons/ArrowUpRight.tsx
  dapp/src/static/icons/ChevronRight.tsx
  dapp/src/static/icons/index.ts
  dapp/src/theme/Button.ts
  dapp/src/theme/Card.ts
Due: none

Removing a rule that already exist in parent config
  core/.solhint.json
Due: core-lint-config

Renaming AcreRouter -> Dispatcher
  core/contracts/Dispatcher.sol
  core/deploy/02_deploy_acre_router.ts
  core/deploy/22_transfer_ownership_acre_router.ts
  core/test/Dispatcher.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Changing a comment for vaults array
  core/contracts/Dispatcher.sol
Due: none

Renaming Vault -> VaultInfo struct
  core/contracts/Dispatcher.sol
Due: none

Minor UI improvements
  dapp/src/components/Header/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/index.tsx
Due: none

Approve->authorize for vaults and functions around it
  core/contracts/Dispatcher.sol
  core/test/Dispatcher.test.ts
Due: core-lint-js

Add a custom theme for `Tooltip`
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/theme/Tooltip.ts
  dapp/src/theme/index.ts
Due: none

Replacing require err messages with custom errors
  core/contracts/Dispatcher.sol
  core/test/Dispatcher.test.ts
Due: core-lint-js

Renaming events and returning the entire vaults array
  core/contracts/Dispatcher.sol
  core/test/Dispatcher.test.ts
Due: core-lint-js

Adding func.dependencies for Dispatcher ownership transfer
  core/deploy/22_transfer_ownership_acre_router.ts
Due: core-lint-js

Refactoring Dispatcher tests:
  core/test/Dispatcher.test.ts
Due: core-lint-js

Simplifying tests
  core/test/Dispatcher.test.ts
Due: core-lint-js

Simplify the Acre constructor
  core/contracts/Acre.sol
  core/deploy/01_deploy_acre.ts
  core/deploy/21_transfer_ownership_acre.ts
  core/test/Acre.test.ts
Due: core-lint-js

Update `maxDeposit` fn
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Move the require check before `super.mint`
  core/contracts/Acre.sol
Due: none

Update `updateStakingParameters` fn
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Leave TODO in `updateStakingParameters`
  core/contracts/Acre.sol
Due: none

Define custom errors for the checks
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Adding deposit and redeem functionality
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
Due: none

Disable an unnecessary eslint rule
  dapp/.eslintrc
Due: none

Add a component for currency balance
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/utils/numbers.ts
Due: none

Resolved conflicts with the base branched
  core/contracts/Dispatcher.sol
  core/deploy/02_deploy_acre_router.ts
Due: core-lint-js

Use `format("opentype")` instead of `format("otf")`
  dapp/src/components/GlobalStyles/index.tsx
Due: none

Simplify styles for the headings
  dapp/src/components/shared/Typography/index.tsx
  dapp/src/theme/Heading.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/fonts.ts
Due: none

Fix for incorrect colors
  dapp/src/components/Sidebar/index.tsx
  dapp/src/theme/Drawer.ts
  dapp/src/theme/Modal.ts
Due: none

Fix props type for `Heading`
  dapp/src/components/shared/Typography/index.tsx
Due: none
