Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-lint-js, core-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Rename variable in Acre unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Rename variable in `acreFixture`
  core/test/Acre.test.ts
Due: core-lint-js

Update the `acreFixture` fn
  core/test/Acre.test.ts
Due: core-lint-js

Update the test name
  core/test/Acre.test.ts
Due: core-lint-js

Rename file
  core/contracts/test/TestERC20.sol
Due: none

Avoid infinite approvals in unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Get rid of unnecessary `Staker` type in unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Hardcode expected values in unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Remove unnecessary check in unit test
  core/test/Acre.test.ts
Due: core-lint-js

Rename test context name
  core/test/Acre.test.ts
Due: core-lint-js

Update `without referral` test case
  core/test/Acre.test.ts
Due: core-lint-js

Improve test case
  core/test/Acre.test.ts
Due: core-lint-js

Make sure the tx is reverted with expected reason
  core/test/Acre.test.ts
Due: core-lint-js

Use dedicated variable in unit test
  core/test/Acre.test.ts
Due: core-lint-js

Use TestERC20 as TBTC token stub
  core/deploy/00_resolve_tbtc.ts
Due: core-lint-js

Update staking unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Complicate the math in test scenario
  core/test/Acre.test.ts
Due: core-lint-js

Rename `Navbar` to `Header`
  dapp/src/DApp.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Header/index.tsx
Due: none

Wrap the main content under `main` tag
  dapp/src/DApp.tsx
Due: none

Refactor for spacing between component
  dapp/src/DApp.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/index.tsx
Due: none

Don't multiple svgs tag
  dapp/src/static/icons/Bitcoin.tsx
  dapp/src/static/icons/ChevronRight.tsx
  dapp/src/static/icons/Ethereum.tsx
  dapp/src/static/icons/Info.tsx
Due: none

Add types for chakra ui component styles
  dapp/src/theme/Button.ts
  dapp/src/theme/Switch.ts
Due: none

Add a basic typography
  dapp/src/components/Typography/index.tsx
  dapp/src/theme/index.ts
  dapp/src/theme/utils/fonts.ts
Due: none

Disabling the unnecessary eslint rule
  dapp/.eslintrc
  dapp/src/components/Header/ConnectWallet.tsx
Due: none

Initialization of the staking flow
  dapp/src/DApp.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/components/ModalOverlay/index.tsx
  dapp/src/components/Modals/BaseModal.tsx
  dapp/src/components/Modals/ConnectWalletModal.tsx
  dapp/src/components/Modals/StakingOverviewModal.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Staking/index.tsx
  dapp/src/contexts/StakingFlowContext.tsx
  dapp/src/contexts/WalletContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
  dapp/src/hooks/useStakingFlowContext.ts
  dapp/src/static/images/ConnectBTCAccount.png
  dapp/src/types/index.ts
  dapp/src/types/staking.ts
Due: none

Add a sidebar for docs drawer
  dapp/src/DApp.tsx
  dapp/src/components/DocsDrawer/index.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/Staking/index.tsx
  dapp/src/contexts/DocsDrawerContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDocsDrawerContext.ts
  dapp/src/theme/Drawer.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/zIndices.ts
Due: none

Create a custom component for token balance
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/TokenBalance/index.tsx
  dapp/src/utils/numbers.ts
Due: none

Init a `StakeModal` component
  dapp/src/components/Modals/StakeModal.tsx
  dapp/src/components/Modals/StakingOverviewModal.tsx
  dapp/src/components/Staking/index.tsx
Due: none

Add a custom styles for `Stepper` and `Tabs`
  dapp/src/theme/Stepper.ts
  dapp/src/theme/Tabs.ts
  dapp/src/theme/index.ts
Due: none

Fix for incorrect import
  dapp/src/theme/index.ts
  dapp/src/theme/utils/index.ts
Due: none

Improve Acre contract docs comment
  core/contracts/Acre.sol
Due: none

Remove unnecessary check expectation in test
  core/test/Acre.test.ts
Due: core-lint-js

Remove unnecessary check
  core/test/Acre.test.ts
Due: core-lint-js

Replacing OZ upgradable lib to a non-upgradable one
  core/contracts/AcreRouter.sol
  core/package.json
  pnpm-lock.yaml
Due: core-lint-config

Drafting tests for AcreRouter
  core/test/AcreRouter.test.ts
Due: core-lint-js

Start using a shared typography
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Modals/ConnectWalletModal.tsx
  dapp/src/components/Modals/StakeModal.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/TokenBalance/index.tsx
Due: none

Small code fixes
  dapp/src/components/ModalOverlay/index.tsx
  dapp/src/components/Modals/ConnectWalletModal.tsx
  dapp/src/components/Modals/StakingOverviewModal.tsx
Due: none

Separate the logic of number formatting
  dapp/src/utils/numbers.ts
Due: none

Add a basic input for token balance
  dapp/src/components/Modals/StakeModal.tsx
  dapp/src/components/TokenBalanceInput/index.tsx
  dapp/src/contexts/StakingFlowContext.tsx
  dapp/src/static/icons/Alert.tsx
  dapp/src/static/icons/index.ts
  dapp/src/utils/numbers.ts
Due: none

Make sure all needed accounts are connected
  dapp/src/components/Modals/ConnectWalletModal.tsx
  dapp/src/components/Staking/index.tsx
  dapp/src/static/images/ConnectETHAccount.png
  dapp/src/types/ledger-live-app.ts
Due: none
