Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Pass RPC url to http transport
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Create `didUserRejectRequest` function
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/utils/eip1193.ts
Due: dapp-lint-js

Bump orangekit packages to `1.0.0-beta.18`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Fetch balance by `BitcoinProvider` for the connected user
  dapp/src/hooks/orangeKit/useBitcoinProvider.ts
  dapp/src/hooks/orangeKit/useConnector.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Convert bigint to number for bitcoin transaction
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Remove unneeded optional chaining
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Use uppercase letters for env variables
  dapp/.env
Due: none

Handle logic of connecting wallet in `TransactionModal`
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/hooks/useTransactionModal.ts
  dapp/src/store/middleware.ts
Due: dapp-lint-js

Use the correct type for the OrangeKit connector
  dapp/src/hooks/orangeKit/useConnector.ts
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Simplify type-checking helper functions
  dapp/src/utils/type-check.ts
Due: dapp-lint-js

Return connecter only when the account is connected
  dapp/src/hooks/orangeKit/useConnector.ts
Due: dapp-lint-js

Fix the issue with checking if the wallet is connected
  dapp/src/hooks/orangeKit/useConnector.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/utils/index.ts
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Move `ProgressBar` component to shared directory
  dapp/src/components/shared/ProgressBar.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Fix styles for indeterminate state of `Progress`
  dapp/src/theme/Progress.ts
Due: dapp-lint-js

Refactor `Progress` component theme definition
  dapp/src/theme/Progress.ts
Due: dapp-lint-js

Remove mystery box related content
  dapp/src/assets/images/benefits/index.ts
  dapp/src/assets/images/benefits/mystery-box.svg
  dapp/src/components/Sidebar.tsx
  dapp/src/constants/benefits.ts
Due: dapp-lint-js

Remove `CountdownTimer` component
  dapp/src/components/shared/CountdownTimer.tsx
Due: dapp-lint-js

Remove season due timestamp constant
  dapp/src/constants/time.ts
Due: dapp-lint-js

Rename `CurrencyBalance`'s variant name
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/theme/CurrencyBalance.ts
Due: dapp-lint-js

Define white tranparency variant
  dapp/src/theme/Progress.ts
  dapp/src/theme/utils/colors.ts
Due: dapp-lint-js

Use `H3` props instead of `Heading`
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Remove redundant prop
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Change type of `CurrencyBalance` wrapper element
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Rephrase TODO comment
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Adjust season progress percentage calculations
  dapp/src/hooks/useSeasonProgress.ts
Due: dapp-lint-js

Remove unused partner logos
  dapp/src/assets/images/partner-logos/index.ts
  dapp/src/assets/images/partner-logos/ledger-logo.svg
  dapp/src/assets/images/partner-logos/okx-logo.svg
  dapp/src/assets/images/partner-logos/xverse-logo.svg
  dapp/src/constants/partnerLogos.ts
Due: dapp-lint-js

Add unit test of custom Redeemer Proxy
  sdk/src/lib/ethereum/index.ts
  sdk/test/lib/redeemer-proxy.test.ts
  sdk/test/utils/mock-acre-contracts.ts
  sdk/test/utils/mock-bitcoin-provider.ts
  sdk/test/utils/mock-orangekit.ts
Due: root-lint, sdk-lint-js

Add unit tests for new stBTC methods
  sdk/test/lib/ethereum/stbtc.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Add unit tests for EthereumBitcoinRedeemer
  sdk/src/lib/ethereum/bitcoin-redeemer.ts
  sdk/src/lib/ethereum/index.ts
  sdk/test/lib/ethereum/bitcoin-redeemer.test.ts
Due: root-lint, sdk-lint-js

Update Tbtc module unit tests
  sdk/test/modules/tbtc/Tbtc.test.ts
  sdk/test/utils/mock-tbtc-sdk.ts
Due: root-lint, sdk-lint-js

Update `Account` module unit tests
  sdk/src/modules/account.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Fix `tbtc-depositor` tests
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Implement `BeehiveCard` component
  dapp/src/assets/icons/MezoSign.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/assets/images/mezo-beehive-ilustration.svg
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Implement `MezoBeehiveModal` component
  dapp/src/assets/icons/AcreSign.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/assets/images/mezo-beehive-card-ilustration.svg
  dapp/src/assets/images/mezo-beehive-modal-ilustration.svg
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/types/modal.ts
Due: dapp-lint-js

Refactor `ProgressBar` styles
  dapp/src/theme/Progress.ts
Due: dapp-lint-js

Update level of heading element
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Refactor `useSeasonProgress` hook
  dapp/src/hooks/useSeasonProgress.ts
Due: dapp-lint-js

Remove commented out content
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Resolve ESLint error
  dapp/src/assets/images/gamification-placeholder.svg
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Resolve build error
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js
