Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add comment about TBTC token owner
  core/contracts/BitcoinRedeemer.sol
Due: none

Rename MezoAllocator deposit -> allocate
  core/contracts/MezoAllocator.sol
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Allocate tBTC to MezoPortal as a "rolling" deposit
  core/contracts/MezoAllocator.sol
Due: none

Cleanup and slithering
  core/contracts/MezoAllocator.sol
Due: none

Fixing tests for rolling deposits
  core/contracts/test/MezoPortalStub.sol
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Use msg.sender instead of _msgSender()
  core/contracts/stBTC.sol
Due: none

Styles & naming convention
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltip.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltipItem.tsx
  dapp/src/components/shared/TransactionDetails/AmountItem.tsx
  dapp/src/components/shared/TransactionDetails/index.tsx
Due: dapp-lint-js

Type update for encjodeJSON function
  dapp/src/store/devTools.ts
  dapp/src/utils/json.ts
Due: dapp-lint-js

Passing shares balance to liquid popover
  dapp/src/components/LiquidStakingTokenPopover.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useSharesBalance.ts
Due: dapp-lint-js

Make MezoAllocator upgradable
  core/contracts/MezoAllocator.sol
  core/deploy/02_deploy_mezo_allocator.ts
Due: core-lint-js

Ignoring solhint errors in contracts/test/
  core/.solhintignore
Due: none

Importing ZeroAddress error from utils
  core/contracts/MezoAllocator.sol
Due: none

Dapp build fix
  dapp/src/hooks/store/useEstimatedBtcBalance.ts
  dapp/src/hooks/useFetchBtcBalance.ts
  dapp/src/store/devTools.ts
Due: dapp-lint-js

Add tests for MezoAllocator upgrades
  core/contracts/test/upgrades/MezoAllocatorV2.sol
  core/test/MezoAllocator.upgrade.test.ts
Due: core-lint-js

Update Deployment test
  core/test/Deployment.test.ts
Due: core-lint-js

Allocating 100% of tBTC
  core/contracts/MezoAllocator.sol
Due: none

Updating deployment files
  core/deploy/11_stbtc_update_dispatcher.ts
  core/deploy/13_mezo_allocator_update_storage.ts
Due: core-lint-js

Updating deployment Mezo Portal artifacts
  core/external/mainnet/MezoPortal.json
  core/external/sepolia/MezoPortal.json
Due: core-lint-config

Replacing tbtcStorage with stBTC contract
  core/contracts/MezoAllocator.sol
Due: none

Drafting withdrawals from Mezo Allocator
  core/contracts/MezoAllocator.sol
  core/contracts/stBTC.sol
Due: none

Use an alias for the import
  dapp/src/hooks/useCountdown.ts
Due: dapp-lint-js

Styles update & added useCallback to useActivity hook
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/shared/Carousel.tsx
  dapp/src/hooks/useActivities.ts
  dapp/src/pages/ActivityPage/ActivityDetails.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/pages/OverviewPage/DocsCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Moved carosuel settings directly to carousel component
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/settings.tsx
Due: dapp-lint-js

Use semantic tokens to calculate footer width for error modal
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/theme/Modal.ts
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Move custom counter data to a separate function outside the component
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
Due: dapp-lint-js

Adding redeeming function
  core/contracts/stBTC.sol
Due: none

Restructure the modal content
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/content/ActionFormModal.tsx
  dapp/src/components/TransactionModal/content/ErrorModal.tsx
  dapp/src/components/TransactionModal/content/LoadingModal.tsx
  dapp/src/components/TransactionModal/content/MissingAccountModal.tsx
  dapp/src/components/TransactionModal/content/ResumeModal.tsx
  dapp/src/components/TransactionModal/content/SuccessModal.tsx
  dapp/src/components/TransactionModal/content/index.tsx
Due: dapp-lint-js

Updating deloyment scripts
  core/deploy/02_deploy_mezo_allocator.ts
  core/deploy/12_dispatcher_update_maintainer.ts
  core/deploy/14_mezo_allocator_update_withdrawer.ts
Due: core-lint-js

Fixing deployment tests
  core/test/Deployment.test.ts
Due: core-lint-js

Simplify the structure of modals
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/ErrorModal.tsx
  dapp/src/components/TransactionModal/LoadingModal.tsx
  dapp/src/components/TransactionModal/MissingAccountModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/TransactionModal/content/index.tsx
Due: dapp-lint-js

Create a special hook for init global toasts
  dapp/src/hooks/index.ts
  dapp/src/hooks/toasts/index.ts
  dapp/src/hooks/toasts/useInitGlobalToasts.ts
  dapp/src/hooks/toasts/useShowWalletErrorToast.ts
  dapp/src/hooks/toasts/useToast.ts
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

Rename methods for `useToast`
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/hooks/toasts/useShowWalletErrorToast.ts
  dapp/src/hooks/toasts/useToast.ts
Due: dapp-lint-js

Check if TBTC token owner matches TBTCVault
  core/contracts/BitcoinRedeemer.sol
  core/contracts/test/TestTBTC.sol
  core/deploy/00_resolve_tbtc_vault.ts
  core/deploy/04_deploy_bitcoin_redeemer.ts
  core/deploy/24_transfer_ownership_bitcoin_redeemer.ts
  core/test/BitcoinRedeemer.test.ts
Due: core-lint-js

Reading balance of tBTC in stBTC using balanceOf instead of totalAssets
  core/contracts/stBTC.sol
Due: none

Removing IERC20 casting for tBTC. It's already declared as IERC20
  core/contracts/MezoAllocator.sol
Due: none

Implementing totalAssets for tBTC balance check
  core/contracts/MezoAllocator.sol
  core/contracts/interfaces/IDispatcher.sol
  core/contracts/stBTC.sol
Due: none

Replacing withdrawer role with hardcoded stBTC contract
  core/contracts/MezoAllocator.sol
  core/deploy/14_mezo_allocator_update_withdrawer.ts
  core/test/Deployment.test.ts
Due: core-lint-js

Import ethers to solve type checks
  core/test/BitcoinRedeemer.test.ts
Due: core-lint-js

Add more context about redeemer in tBTC redemption data
  core/contracts/BitcoinRedeemer.sol
Due: none

Save the toast id globally along with the correct component
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/toasts/DepositTransactionErrorToast.tsx
  dapp/src/components/toasts/SigningMessageErrorToast.tsx
  dapp/src/components/toasts/WalletErrorToast.tsx
  dapp/src/components/toasts/index.ts
  dapp/src/hooks/toasts/useShowWalletErrorToast.ts
  dapp/src/types/index.ts
  dapp/src/types/toast.ts
Due: dapp-lint-js
