Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Store the ledger live manifest for all env
  dapp/ledger-manifest-development.json
  dapp/ledger-manifest-mainnet.json
  dapp/ledger-manifest-testnet.json
Due: dapp-lint-config

Add a special parameter for Ledger Live mode
  dapp/ledger-manifest-development.json
  dapp/ledger-manifest-mainnet.json
  dapp/ledger-manifest-template.json
  dapp/ledger-manifest-testnet.json
Due: dapp-lint-config

Add script for generating all manifest files for ledger live
  dapp/package.json
Due: dapp-lint-config

Create a special hook to check if the dApp is embedded
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDetectEmbed.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useIsEmbed.ts
Due: dapp-lint-js

Set a referral for the embedded dApp
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Move error reset to `setAmount` function
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Rename the `inputValue` to `displayedValue`
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Implement `AcrePointsClaimModal` component
  dapp/src/components/AcrePointsClaimModal/index.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
  dapp/src/theme/Modal.ts
  dapp/src/theme/utils/colors.ts
  dapp/src/types/modal.ts
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Implement input max length
  dapp/src/components/shared/NumberFormatInput/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Implement `AnimatedNumber` component
  dapp/src/components/AcrePointsClaimModal/index.tsx
  dapp/src/components/shared/AnimatedNumber/AnimatedNumber.tsx
  dapp/src/components/shared/AnimatedNumber/AnimatedNumberColumn.tsx
  dapp/src/components/shared/AnimatedNumber/AnimatedNumberSeparator.tsx
  dapp/src/components/shared/AnimatedNumber/index.ts
  dapp/src/hooks/useAcrePoints.ts
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
  dapp/src/pages/DashboardPage/AcreRankCard.tsx
  dapp/src/utils/acrePoints.ts
Due: dapp-lint-js

Refactor length validation
  dapp/src/components/shared/NumberFormatInput/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Hide season card component behind feature flag
  dapp/.env
  dapp/src/constants/featureFlags.ts
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Rephrase env variable, add landing page progress
  dapp/.env
  dapp/src/components/AcrePointsClaimModal/ArrowAnimatedBackground.tsx
  dapp/src/constants/featureFlags.ts
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Add docs points button
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Revert "Add docs points button"
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Remove accidentially pushed file
  dapp/src/components/AcrePointsClaimModal/ArrowAnimatedBackground.tsx
Due: dapp-lint-js

Update deprecated props
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Set debt allowance for MezoPortal to 500 stBTC
  solidity/deploy/33_update_debt_allowance.ts
Due: solidity-lint-js

Solidity v1.1.0 release
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/MezoAllocator.json
  solidity/deployments/mainnet/stBTC.json
  solidity/package.json
Due: solidity-lint-config

Start Solidity v1.2.0-dev
  solidity/package.json
Due: solidity-lint-config

Bump `@orangekit` packages to the latest versions
  dapp/package.json
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, dapp-lint-config, sdk-lint-config

Check if withdrawal amount exceeds the deposit balance
  solidity/contracts/MezoAllocator.sol
Due: none

Include unallocated MezoAllocator balance in withdraw
  solidity/contracts/MezoAllocator.sol
Due: none

Add unit tests for MezoAllocator.withdraw function
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Add unit tests to cover WithdrawalAmountExceedsDepositBalance revert
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Include unallocated balance in releaseDeposit function
  solidity/contracts/MezoAllocator.sol
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Extract depositId variable for MezoAllocator tests
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Define missing depositId variable
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Add event to track withdraws from MezoAllocator balance
  solidity/contracts/MezoAllocator.sol
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Update withdraw statements sequence
  solidity/contracts/MezoAllocator.sol
Due: none

Upgrade contracts in integration tests fixture
  solidity/test/integration/helpers.ts
Due: solidity-lint-js

Update fork block number for integration tests
  solidity/hardhat.config.ts
  solidity/test/data/tbtc.ts
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Update initial debt allowance for MezoPortal
  solidity/deploy/33_update_debt_allowance.ts
  solidity/test/integration/Deployment.test.ts
Due: solidity-lint-js

Update artifacts of MezoPortal
  solidity/external/mainnet/MezoPortal.json
  solidity/external/sepolia/MezoPortal.json
Due: solidity-lint-config

Update MezoAllocator integration tests
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Move `InfoTooltip` to a separate component
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltip.tsx
  dapp/src/components/shared/FeesDetails/index.tsx
  dapp/src/components/shared/InfoTooltip.tsx
Due: dapp-lint-js

Updates for the beehive component
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Display an empty state for the guest
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositCallToAction.ts
  dapp/src/hooks/useIsFetchedWalletData.ts
  dapp/src/hooks/useTriggerConnectWalletModal.ts
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Ignore Slither's incorrect equality rule in MezoAllocator::withdraw
  solidity/contracts/MezoAllocator.sol
Due: none

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
