Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Implement `ConnectWallet`'s presence animation
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Adjust `Header`'s padding
  dapp/src/components/Header/index.tsx
Due: dapp-lint-js

Implement `HeroSection` for landing page
  dapp/src/pages/LandingPage/HeroSection.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Apply changes in router
  dapp/src/router/index.tsx
Due: dapp-lint-js

Replace `staking` term with `deposit`
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Update deposit fees calculation
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/staking/index.ts
  sdk/test/lib/ethereum/stbtc.test.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Update `estimateDepositFees` fn
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Implement `SeasonCountdownSection` background
  dapp/src/assets/images/season-countdown-section-background.png
  dapp/src/assets/images/season-countdown-section-foreground.png
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Fix typos in comments
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Simplify statement in `depositorFeeDivisor` fn
  sdk/src/lib/ethereum/bitcoin-depositor.ts
Due: root-lint, sdk-lint-js

Make function names consistent
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/staking/index.ts
  sdk/test/lib/ethereum/stbtc.test.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Cache the `entryFeeBasisPoints` value
  sdk/src/lib/ethereum/stbtc.ts
  sdk/test/lib/ethereum/stbtc.test.ts
Due: root-lint, sdk-lint-js

Rename variables/types/functions in staking module
  sdk/src/modules/staking/index.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Implement `SeasonCountdownSection`'s typography
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
  dapp/src/theme/Tag.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Event driven toast
  dapp/src/components/Toast/ToastService.ts
  dapp/src/components/Toast/toast.webworker.ts
  dapp/src/components/Toast/toastTypes/DepositTransactionErrorToast.tsx
  dapp/src/components/Toast/toastTypes/SigningMessageErrorToast.tsx
  dapp/src/components/Toast/toastTypes/WalletErrorToast.tsx
  dapp/src/components/Toast/toastTypes/index.ts
  dapp/src/events.d.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useInitToasts.ts
  dapp/src/types/index.ts
  dapp/src/types/toast.ts
  dapp/src/types/toasts.ts
Due: dapp-lint-js

Implement `CountdownTimer` component
  dapp/src/components/shared/CountdownTimer.tsx
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
  dapp/src/theme/index.ts
Due: dapp-lint-js

Update export directive
  dapp/src/pages/LandingPage/HeroSection.tsx
Due: dapp-lint-js

Remove redundant comment
  dapp/src/router/index.tsx
Due: dapp-lint-js

Update export directive
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
Due: dapp-lint-js

Update subgraph specVersion to 1.0.0
  subgraph/subgraph.yaml
Due: root-lint

Updated logData id param
  subgraph/src/acre-bitcoin-depositor.ts
Due: root-lint

Adjust `CountdownTimer` animation`
  dapp/src/components/shared/CountdownTimer.tsx
Due: dapp-lint-js

Adjust background parallax offset boundaries
  dapp/src/components/shared/CountdownTimer.tsx
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
Due: dapp-lint-js

Remove `Tag` shadow
  dapp/src/theme/Tag.ts
Due: dapp-lint-js

Removed StakeRequestInitialized entity
  subgraph/schema.graphql
  subgraph/src/acre-bitcoin-depositor.ts
Due: root-lint

Recompose component structure
  dapp/src/components/shared/SeasonCountdownSection/CountdownTimer.tsx
  dapp/src/components/shared/SeasonCountdownSection/LiveTag.tsx
  dapp/src/components/shared/SeasonCountdownSection/SeasonCountdownSectionBackground.tsx
  dapp/src/components/shared/SeasonCountdownSection/index.ts
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
Due: dapp-lint-js

Added comment to timestamp prop
  subgraph/src/acre-bitcoin-depositor.ts
Due: root-lint

Refactor `Navigation` component
  dapp/src/components/Header/Navigation.tsx
  dapp/src/components/shared/Link.tsx
Due: dapp-lint-js

Replace color values with semantic tokens
  dapp/src/components/Header/Navigation.tsx
Due: dapp-lint-js

Wrap `Navigation` component with `nav` element
  dapp/src/components/Header/Navigation.tsx
Due: dapp-lint-js

Move `Header` outside `main` element
  dapp/src/components/shared/Layout.tsx
Due: dapp-lint-js

Update comment to be more descriptive
  dapp/src/components/Header/index.tsx
Due: dapp-lint-js

Remove explicit null value in `ConnectWallet`
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Implement `IconCard` component
  dapp/src/assets/images/card-icon-boost-arrow.png
  dapp/src/assets/images/card-icon-question-mark.png
  dapp/src/pages/LandingPage/IconCard.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/router/index.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Unit tests updated, schema adjustments
  subgraph/schema.graphql
  subgraph/src/acre-bitcoin-depositor.ts
  subgraph/src/utils.ts
  subgraph/tests/acre-bitcoin-depositor.test.ts
Due: root-lint

Rename hook
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/hooks/router/index.ts
  dapp/src/hooks/router/useIsActiveRoute.ts
Due: dapp-lint-js

Add `@orangekit/sdk` dependency
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Implement page component
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/router/index.tsx
  dapp/src/router/path.ts
Due: dapp-lint-js

Init the OrangeKit SDK in Acre SDK
  sdk/src/acre.ts
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Adjust navigation items
  dapp/src/components/Header/index.tsx
Due: dapp-lint-js
