Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Read vars to memory from storage
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Update unit test for `stake` function
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Return min and max stake values in tBTC precision
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Use `ONE_SEC_IN_MILLISECONDS` to define time
  dapp/src/utils/verifyDepositAddress.ts
Due: dapp-lint-js

Move endpoint out of `verifyDepositAddress` function
  dapp/src/utils/verifyDepositAddress.ts
Due: dapp-lint-js

Use deposit amounts from AbstractDepositorContract
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Create a helper function to generate URL
  dapp/src/utils/verifyDepositAddress.ts
Due: dapp-lint-js

Fix the name of slither rule to disable
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Fix slither disable rule
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Added CurrencyConversionType
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
  dapp/src/hooks/useCurrencyConversion.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js

Added memoization for useCurrencyConversion hook
  dapp/src/hooks/useCurrencyConversion.ts
Due: dapp-lint-js

Lots of linting
  core/.eslintignore
  core/.eslintrc
  core/api/utils.ts
  core/contracts/Allocator.sol
  core/contracts/Reserve.sol
  core/contracts/interfaces/ILP4626.sol
  core/contracts/interfaces/IMinimal4626.sol
  core/contracts/interfaces/IReserve.sol
  core/contracts/interfaces/IxERC4626.sol
  core/contracts/lib/xERC4626.sol
  core/contracts/stBTC.sol
  core/contracts/strategies/SingleTokenVault.sol
  core/deploy/00_resolve_tbtc.ts
  core/helpers/address.ts
  core/test/helpers/context.ts
  core/test/integration/stBTC-SingleTokenVault_mainnet-fork.test.ts
Due: core-lint-js

Updated unit tests for staking & stbtc
  sdk/src/lib/ethereum/stbtc.ts
  sdk/test/lib/ethereum/stbtc.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Update dependency to tbtc-v2
  pnpm-lock.yaml
Due: root-lint

Moving fetchDeployArtifact to deployment helper
  core/deploy/00_resolve_tbtc.ts
  core/deploy/00_resolve_testing_erc4626.ts
  core/deploy/00_resolve_testing_single_token_vault.ts
  core/deploy/01_deploy_stbtc.ts
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/04_deploy_allocator.ts
  core/helpers/address.ts
  core/helpers/deployment.ts
Due: core-lint-js

StBtc test update
  sdk/test/lib/ethereum/stbtc.test.ts
Due: root-lint, sdk-lint-js

Module staking test update
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Adding missing helper for etherscan
  core/deploy/03_deploy_reserve.ts
  core/deploy/04_deploy_allocator.ts
Due: core-lint-js

Skipping single token strategy swaps
  core/contracts/Allocator.sol
  core/test/integration/stBTC-SingleTokenVault_mainnet-fork.test.ts
Due: core-lint-js

Reverting using ZeroAddress error for setAllocator
  core/contracts/stBTC.sol
Due: none

Add etherscan verification for AcreBitcoinDepositor
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
Due: core-lint-js

Fix etherscan verification for Dispatcher
  core/deploy/02_deploy_dispatcher.ts
Due: core-lint-js

Moving SingleTokenVault contract to test dir
  core/contracts/test/SingleTokenVault.sol
  core/test/integration/stBTC-SingleTokenVault_mainnet-fork.test.ts
Due: core-lint-js

Add `depositorFeeDivisor` to Depositor contract
  core/contracts/TbtcDepositor.sol
Due: none

Estimate staking fees
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Expose fee breakdown for staking operation
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Adding default redeem and withdraw functions
  core/contracts/lib/xERC4626.sol
  core/contracts/stBTC.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Shadowing var cleanup
  core/contracts/stBTC.sol
Due: none

useCurrencyConversion hook update
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
  dapp/src/hooks/useCurrencyConversion.ts
  dapp/src/store/btc/btcThunk.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js

Moved initialization hooks to useInitApp
  dapp/src/DApp.tsx
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

package.json fix after merge
  dapp/package.json
Due: dapp-lint-config

Udpdated structure for exchangeApi
  dapp/src/api/index.ts
  dapp/src/store/btc/btcThunk.ts
  dapp/src/utils/exchangeApi/coingeckoApi.ts
  dapp/src/utils/exchangeApi/index.ts
  dapp/src/utils/exchangeApi/verifyDepositAddress.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Return 0 if error occurs in btcThunk
  dapp/src/store/btc/btcThunk.ts
Due: dapp-lint-js

Remove duplicate `axios` package
  dapp/package.json
Due: dapp-lint-config

Add the missing `depositReceipt` to the stake flow context
  dapp/src/contexts/StakeFlowContext.tsx
Due: dapp-lint-js

Init subgraph for acre
  acre-subgraph/.gitignore
  acre-subgraph/abis/AcreBitcoinDepositor.json
  acre-subgraph/networks.json
  acre-subgraph/package.json
  acre-subgraph/schema.graphql
  acre-subgraph/src/acre-bitcoin-depositor.ts
  acre-subgraph/subgraph.yaml
  acre-subgraph/tests/acre-bitcoin-depositor-utils.ts
  acre-subgraph/tests/acre-bitcoin-depositor.test.ts
  acre-subgraph/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: root-lint

Eslint and prettier configuration for subgraph
  .prettierignore
  acre-subgraph/.eslintignore
  acre-subgraph/.eslintrc
  acre-subgraph/.nvmrc
  acre-subgraph/.prettierignore
  acre-subgraph/.prettierrc.js
  acre-subgraph/.tsconfig-eslint.json
  acre-subgraph/networks.json
  acre-subgraph/package.json
  acre-subgraph/src/acre-bitcoin-depositor.ts
  acre-subgraph/tests/acre-bitcoin-depositor-utils.ts
  acre-subgraph/tests/acre-bitcoin-depositor.test.ts
  pnpm-lock.yaml
Due: root-lint

Local development for subgraph
  acre-subgraph/.gitignore
  acre-subgraph/README.md
  acre-subgraph/docker-compose.yaml
  acre-subgraph/subgraph.yaml
Due: root-lint

Add a blank space at the end of the file
  acre-subgraph/.eslintignore
  acre-subgraph/.gitignore
Due: root-lint

Delete unnecessary comment
  acre-subgraph/docker-compose.yaml
Due: root-lint

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
