Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Remove unneeded props for `AcreAnimatedBadge`
  dapp/src/components/MobileModeBanner/AcreAnimatedBadge.tsx
Due: dapp-lint-js

Update typography to match the Style Guide
  dapp/src/components/AcrePointsClaimModal.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletStatusLabel.tsx
  dapp/src/components/GateModal.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/MobileModeBanner/index.tsx
  dapp/src/components/TransactionModal/ActionDurationEstimation.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/AcrePointsRewardEstimation.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/BuildTransactionModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/NotEnoughFundsModal.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltipItem.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
  dapp/src/components/UnexpectedErrorModal.tsx
  dapp/src/components/WelcomeModal.tsx
  dapp/src/components/shared/FeesDetails/index.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/components/shared/TransactionDetails/index.tsx
  dapp/src/components/shared/Typography/index.tsx
  dapp/src/pages/DashboardPage/AcrePointsCard/AcrePointsLabel.tsx
  dapp/src/pages/DashboardPage/AcrePointsCard/UserPointsLabel.tsx
  dapp/src/pages/DashboardPage/AcrePointsCard/index.tsx
  dapp/src/pages/DashboardPage/AcrePointsTemplateCard.tsx
  dapp/src/pages/DashboardPage/AcreTVLMessage.tsx
  dapp/src/pages/DashboardPage/AcreTVLProgress.tsx
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/pages/DashboardPage/PositionDetails.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/index.tsx
  dapp/src/theme/index.ts
  dapp/src/theme/progressTheme.ts
  dapp/src/theme/textTheme.ts
  dapp/src/theme/utils/typography.ts
Due: dapp-lint-js

Fix `subgraph-test` job
  .github/workflows/subgraph.yaml
Due: root-lint

Update border radius to match the style guide
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/AcrePointsRewardEstimation.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/WelcomeModal.tsx
  dapp/src/components/shared/LiveTag.tsx
  dapp/src/pages/DashboardPage/AcrePointsCard/LabelWrapper.tsx
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
  dapp/src/theme/alertTheme.ts
  dapp/src/theme/buttonTheme.ts
  dapp/src/theme/cardTheme.ts
  dapp/src/theme/index.ts
  dapp/src/theme/modalTheme.ts
  dapp/src/theme/skeletonTheme.ts
  dapp/src/theme/tooltipTheme.ts
  dapp/src/theme/utils/borderRadius.ts
  dapp/src/theme/utils/index.ts
Due: dapp-lint-js

Update basic buttons to match the style guide
  dapp/src/components/AcrePointsClaimModal.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/Footer.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/MobileModeBanner/index.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/UnexpectedErrorModal.tsx
  dapp/src/components/shared/Form/FormSubmitButton.tsx
  dapp/src/components/shared/LinkButton.tsx
  dapp/src/components/shared/LoadingButton.tsx
  dapp/src/pages/DashboardPage/AcrePointsCard/UserPointsLabel.tsx
  dapp/src/pages/DashboardPage/AcrePointsTemplateCard.tsx
  dapp/src/pages/DashboardPage/PositionDetails.tsx
  dapp/src/theme/buttonTheme.ts
  dapp/src/theme/footerTheme.ts
Due: dapp-lint-js

Update BlockExplorerLink component
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/shared/BlockExplorerLink.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
Due: dapp-lint-js

Set the spacing between the button elements to match style guide
  dapp/src/theme/buttonTheme.ts
  dapp/src/theme/utils/styles.ts
Due: dapp-lint-js

Update tooltips to match the style guide
  dapp/src/theme/tooltipTheme.ts
Due: dapp-lint-js

Update spinners to match the style guide
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletStatusLabel.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/BuildTransactionModal.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/shared/LoadingButton.tsx
  dapp/src/pages/DashboardPage/AcrePointsCard/UserPointsLabel.tsx
  dapp/src/theme/spinnerTheme.ts
Due: dapp-lint-js

Update README.md
  README.md
Due: root-lint

Update README.md
  dapp/README.md
Due: none

Update README.md
  solidity/README.md
Due: none

Update README.md
  subgraph/README.md
Due: none

fix: Remove redundant __Ownable_init call in Ownable2StepUpgradeable
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Update copy on Welcome modal
  dapp/src/components/WelcomeModal.tsx
Due: dapp-lint-js

Fix gating dapp feature flag
  dapp/src/pages/AccessPage/index.tsx
  dapp/src/pages/AccessPage/loader.ts
  dapp/src/router/index.tsx
Due: dapp-lint-js

Define dedicated flag for deposit cap
  dapp/.env.example
  dapp/src/constants/featureFlags.ts
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Update TBTCVault.json
  solidity/external/sepolia/TBTCVault.json
Due: solidity-lint-config

Index withdrawals to tBTC and through `BitcoinRedeemerV3`
  subgraph/abis/BitcoinRedeemerV3.json
  subgraph/abis/MidasRedemptionVault.json
  subgraph/schema.graphql
  subgraph/src/acrebtc.ts
  subgraph/src/bitcoin-redeemer-v3-utils.ts
  subgraph/src/bitcoin-redeemer-v3.ts
  subgraph/src/midas-redemption-vault.ts
  subgraph/src/tbtc-bridge.ts
  subgraph/src/utils.ts
  subgraph/src/withdrawal-queue.ts
  subgraph/subgraph.template.yaml
  subgraph/tests/acrebtc-utils.ts
  subgraph/tests/bitcoin-redeemer-v3-utils.ts
  subgraph/tests/midas-redemption-vault-utils.ts
  subgraph/tests/tbtc-bridge-utils.ts
  subgraph/tests/tbtc-bridge.test.ts
  subgraph/tests/tbtc-withdrawal.test.ts
  subgraph/tests/withdrawal-queue-utils.ts
Due: subgraph-lint-js, subgraph-lint-config

Point the new subgraph data sources at their contracts
  subgraph/config/mainnet.json
  subgraph/config/sepolia.json
  subgraph/subgraph.mainnet.yaml
  subgraph/subgraph.sepolia.yaml
Due: subgraph-lint-config

Expose the withdrawal destination and read events by type
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/account.ts
  sdk/test/data/withdrawals.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Make `Withdrawal.amount` non-optional
  sdk/src/modules/account.ts
Due: root-lint, sdk-lint-js

Show the withdrawal destination in transaction history
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/hooks/useActivities.ts
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
  dapp/src/types/activity.ts
  dapp/src/utils/activitiesUtils.ts
  dapp/test/utils/activitiesUtils.test.ts
Due: dapp-lint-js

Lock the withdraw amount to the whole position
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeFormBase.tsx
Due: dapp-lint-js

Deploy `BitcoinRedeemerV3` on sepolia
  solidity/.openzeppelin/sepolia.json
  solidity/deployments/sepolia/BitcoinRedeemerV3.json
Due: solidity-lint-config

Deploy `BitcoinRedeemerV3` on mainnet
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/BitcoinRedeemerV3.json
Due: solidity-lint-config

Set `BitcoinRedeemerV3` addresses in subgraph
  subgraph/config/mainnet.json
  subgraph/config/sepolia.json
  subgraph/subgraph.mainnet.yaml
  subgraph/subgraph.sepolia.yaml
Due: subgraph-lint-config

Point the SDK at the new mainnet subgraph deployment
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Fix etherscan link to the acreBTC contract
  dapp/src/constants/transparency.ts
Due: dapp-lint-js

Add an ERC4626 `redeem` encoder to the acreBTC contract handle
  sdk/src/lib/contracts/acrebtc.ts
  sdk/src/lib/ethereum/acrebtc.ts
  sdk/test/lib/ethereum/acrebtc.test.ts
Due: root-lint, sdk-lint-js

Replace the queued withdrawal with two synchronous redemption paths
  dapp/src/acre-react/hooks/useInitializeWithdraw.ts
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  sdk/src/lib/contracts/acrebtc.ts
  sdk/src/lib/ethereum/acrebtc.ts
  sdk/src/lib/redeemer-proxy.ts
  sdk/src/lib/utils/callbacks.ts
  sdk/src/lib/utils/index.ts
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/lib/ethereum/acrebtc.test.ts
  sdk/test/lib/redeemer-proxy.test.ts
  sdk/test/modules/account.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Point the SDK at `BitcoinRedeemerV3`
  sdk/src/lib/ethereum/bitcoin-redeemer.ts
  sdk/test/lib/ethereum/bitcoin-redeemer.test.ts
Due: root-lint, sdk-lint-js

Estimate withdrawal duration without the queue wait
  dapp/src/components/TransactionModal/ActionDurationEstimation.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeFormBase.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/WithdrawalStatusBanner.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/EstimatedDuration.tsx
  dapp/src/utils/activitiesUtils.ts
  dapp/test/utils/activitiesUtils.test.ts
Due: dapp-lint-js

Remove the redemption-request lookup from `BitcoinRedeemer`
  sdk/src/lib/contracts/bitcoin-redeemer.ts
  sdk/src/lib/ethereum/bitcoin-redeemer.ts
  sdk/test/lib/ethereum/bitcoin-redeemer.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Add `BitcoinRedeemerV3` for synchronous acreBTC to BTC redemptions
  solidity/contracts/BitcoinRedeemerV3.sol
  solidity/deploy/77_deploy_bitcoin_redeemer_v3.ts
  solidity/deploy/78_transfer_ownership_bitcoin_redeemer_v3.ts
Due: solidity-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
