Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-lint-js, core-lint-config

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Update the `Sidebar` component.
  dapp/src/components/Sidebar/index.tsx
Due: none

Update `mint` function
  core/contracts/Acre.sol
Due: none

Update `updateStakingParameters` function
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Rename error
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Extract tBTC interfaces
  core/contracts/external/tbtc/IBridge.sol
  core/contracts/external/tbtc/ITBTCVault.sol
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Use a `semanticTokens` to declare header height
  dapp/src/components/DocsDrawer/index.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/theme/index.ts
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/semanticTokens.ts
Due: none

Simplify `maxDeposit` function
  core/contracts/Acre.sol
Due: none

Add unit test for `mint` function
  core/test/Acre.test.ts
Due: core-lint-js

Fix typo
  core/test/Acre.test.ts
Due: core-lint-js

Add unit tests for `maxMint` function
  core/test/Acre.test.ts
Due: core-lint-js

Update validation of staking parameters
  core/contracts/Acre.sol
Due: none

Update `maxMint` function
  core/contracts/Acre.sol
Due: none

Make sure all needed accounts are connected
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/Modals/Support/index.tsx
  dapp/src/components/shared/Alert/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/contexts/WalletContext.tsx
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
  dapp/src/static/icons/AlertInfo.tsx
  dapp/src/static/icons/ConnectBTCAccount.tsx
  dapp/src/static/icons/ConnectETHAccount.tsx
  dapp/src/static/icons/index.ts
  dapp/src/theme/Alert.ts
  dapp/src/theme/Modal.ts
  dapp/src/theme/index.ts
  dapp/src/types/ledger-live-app.ts
Due: none

Get rid of `StakingParameter` struct
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Fix issue with gradient for icons
  dapp/src/static/icons/ConnectBTCAccount.tsx
  dapp/src/static/icons/ConnectETHAccount.tsx
Due: none

Update `Acre` constructor
  core/contracts/Acre.sol
Due: none

Update Acre docs
  core/contracts/Acre.sol
Due: none

Remove unnecessary test
  core/test/Acre.test.ts
Due: core-lint-js

Add `.withArgs` for all errors that have args
  core/test/Acre.test.ts
Due: core-lint-js

Celean up Acre unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Set up sdk module
  .pre-commit-config.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/.eslintignore
  sdk/.eslintrc
  sdk/.mocharc.json
  sdk/.nvmrc
  sdk/.prettierignore
  sdk/.prettierrc.js
  sdk/.tsconfig-eslint.json
  sdk/package.json
  sdk/src/index.ts
  sdk/test/acre.test.ts
  sdk/tsconfig.json
Due: none

Set up GH workflow for sdk module
  .github/workflows/sdk.yaml
  sdk/.gitignore
  sdk/package.json
Due: none

Verify Account Address - test
  dapp/manifest-ledger-live-app.json
  dapp/src/components/Overview/PositionDetails.tsx
Due: none

more updates
  core/contracts/tbtc/TbtcDepositor.sol
  core/contracts/test/BridgeStub.sol
  core/contracts/test/TBTCVaultStub.sol
  core/contracts/test/TestERC20.sol
  core/deploy/00_resolve_tbtc_bridge.ts
  core/deploy/00_resolve_tbtc_token.ts
  core/deploy/00_resolve_tbtc_vault.ts
  core/deploy/02_deploy_tbtc_depositor.ts
  core/test/TbtcDepositor.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

moreee
  core/contracts/Acre.sol
  core/contracts/tbtc/TbtcDepositor.sol
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Improve handling of extra data
  core/contracts/tbtc/TbtcDepositor.sol
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

improve docs
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

update type for depositTxMaxFee
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

check depositor matches
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

more
  core/contracts/test/BridgeStub.sol
  core/package.json
  pnpm-lock.yaml
Due: core-lint-config

[WIP] TBTC Depositor PoC
  core/contracts/Acre.sol
  core/contracts/tbtc/TbtcDepositor.sol
  core/contracts/test/BridgeStub.sol
  core/contracts/test/TBTCVaultStub.sol
  core/contracts/test/TbtcDepositorStub.sol
Due: none

Path conditions:
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
