Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Update `initializeWithdrawal` fn
  sdk/src/lib/redeemer-proxy.ts
  sdk/src/modules/account.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Update the Withdrawal flow
  dapp/src/acre-react/hooks/useInitializeWithdraw.ts
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/TransactionModal/TriggerTransactionModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useMinWithdrawAmount.ts
  dapp/src/hooks/useTransactionDetails.ts
  dapp/src/hooks/useTransactionFee.ts
Due: dapp-lint-js

Disable some eslint rules for entire file
  sdk/test/utils/mock-orangekit.ts
Due: root-lint, sdk-lint-js

Bump the `@orangekit/sdk` to the latest version
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Update `useInitializeAcreSdk` hook
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
Due: dapp-lint-js

Add new features flags
  dapp/.env
  dapp/src/components/ArrivingSoonTooltip.tsx
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Fix `BeehiveCard` illustration spacing
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Rename icons
  dapp/src/assets/icons/AcreSignIcon.tsx
  dapp/src/assets/icons/MezoSignIcon.tsx
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Fix typo
  dapp/src/assets/icons/index.ts
  dapp/src/assets/images/mezo-beehive-card-illustration.svg
  dapp/src/assets/images/mezo-beehive-modal-illustration.svg
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Use `Flex` instead of `HStack`
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Rename variable
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Remove `as` prop
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Update padding distribution
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Update font weight value definition
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Remove props
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Adjust `withBaseModal` HOC
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/ModalRoot/withBaseModal.tsx
Due: dapp-lint-js

Update `Alert`'s description text alignment
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Implement `ConnectWalletModal` error handling
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/hooks/useWallet.ts
  dapp/src/types/error.ts
  dapp/src/types/index.ts
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Refactor `parseOrangeKitConnectionError` utility
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Refactor `parseOrangeKitConnectionError` function
  dapp/src/hooks/useWallet.ts
  dapp/src/types/callback.ts
  dapp/src/types/index.ts
  dapp/src/types/orangekit.ts
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Fix the issue of calling the required actions for logging in
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletStatusLabel.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/hooks/orangeKit/useConnector.ts
  dapp/src/hooks/useSignMessage.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/types/index.ts
  dapp/src/types/orangeKit.ts
  dapp/src/types/status.ts
Due: dapp-lint-js

Disconnect a user when does not sign a message
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDisconnectWallet.ts
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

Fix the issue of showing` ArrivingSoonTooltip` after merge
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
Due: dapp-lint-js

Move hook to the `sdk` dir
  dapp/src/hooks/index.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useMinWithdrawAmount.ts
Due: dapp-lint-js

Code clean-up
  dapp/src/acre-react/hooks/useInitializeWithdraw.ts
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/hooks/useTransactionDetails.ts
  dapp/src/hooks/useTransactionFee.ts
Due: dapp-lint-js

Add temporary Error modal for unstaking flow
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeErrorModal.tsx
  dapp/src/components/TransactionModal/ErrorModal.tsx
Due: dapp-lint-js

Initialize TBTC Vault and TBTC Bridge contracts
  sdk/src/acre.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-redeemer.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/lib/ethereum/tbtc-bridge.ts
  sdk/src/lib/ethereum/tbtc-vault.ts
Due: root-lint, sdk-lint-js

Expose Bridge and TBTC Vault addresses
  sdk/src/lib/ethereum/bitcoin-depositor.ts
Due: root-lint, sdk-lint-js

Cover withdrawal fee calculation with unit tests
  sdk/test/lib/ethereum/bitcoin-redeemer.test.ts
  sdk/test/lib/ethereum/stbtc.test.ts
  sdk/test/modules/protocol.test.ts
Due: root-lint, sdk-lint-js

Change network to protocol in docs
  sdk/src/lib/contracts/bitcoin-depositor.ts
Due: root-lint, sdk-lint-js

Adjust existing unit tests
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/protocol.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Calculate withdrawal fee
  sdk/src/lib/contracts/bitcoin-redeemer.ts
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-redeemer.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/protocol.ts
Due: root-lint, sdk-lint-js

Rename tbtc-depositor.test.ts -> bitcoin-depositor.test.ts
  sdk/test/lib/ethereum/bitcoin-depositor.test.ts
Due: root-lint, sdk-lint-js

Remove the unnecessary `networkFamily` parameter
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/types/chain.ts
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Use `OrangeKitConnector` type in dApp
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/hooks/orangeKit/index.ts
  dapp/src/hooks/orangeKit/useConnector.ts
  dapp/src/hooks/orangeKit/useConnectors.ts
  dapp/src/hooks/useSignMessage.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Use statuses from wagmi for wallet connection step
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useSignMessage.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Calculate fees matching contracts
  sdk/src/lib/ethereum/stbtc.ts
Due: root-lint, sdk-lint-js

Update expected fees in tests
  sdk/test/lib/ethereum/stbtc.test.ts
Due: root-lint, sdk-lint-js

Update docs for fee calculation
  sdk/src/lib/ethereum/stbtc.ts
Due: root-lint, sdk-lint-js

Display resume modal correctly in withdrawal flow
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js
