Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Update config files
  dapp/.eslintrc
  dapp/package.json
  dapp/tsconfig.json
  dapp/vite.config.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Add unit test for staking module
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
  sdk/test/utils/mock-message-signer.ts
  sdk/test/utils/mock-tbtc.ts
Due: root-lint, sdk-lint-js

Removed vite-tsconfig-paths package
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Initialization of a simple transaction table
  dapp/src/components/Overview/TransactionHistory.tsx
  dapp/src/components/TransactionHistory/Account/index.tsx
  dapp/src/components/TransactionHistory/Account/mock-transactions.ts
  dapp/src/components/TransactionHistory/Protocol/index.tsx
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
  dapp/src/components/TransactionHistory/Table/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/components/TransactionHistory/Table/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTransactionHistoryTable.ts
  dapp/src/theme/Table.ts
  dapp/src/theme/index.ts
  dapp/src/types/index.ts
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Update path in ModalBase component
  dapp/src/components/shared/ModalBase/index.tsx
Due: dapp-lint-js

Removal of global exclusion rules, added temporary overrides rules for existing files
  dapp/.eslintrc
Due: none

Eslint rules extension after last changes on main branch
  dapp/.eslintrc
Due: none

Removed sidebar colorScheme for card button
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Fix aliases after merge
  dapp/src/components/TransactionHistory/Account/mock-transactions.ts
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
  dapp/src/components/TransactionHistory/Table/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/components/TransactionHistory/Table/index.tsx
  dapp/src/hooks/useTransactionHistoryTable.ts
Due: dapp-lint-js

Fix element style names for table variant
  dapp/src/theme/Table.ts
Due: dapp-lint-js

Create constants for border styles in table theme
  dapp/src/theme/Table.ts
Due: dapp-lint-js

Adding fee calculation for deposit and mint functions
  core/contracts/Acre.sol
Due: none

Make sure the table is rendered correctly in the container
  dapp/src/components/TransactionHistory/Table/index.tsx
Due: dapp-lint-js

Set the correct padding for the tab component
  dapp/src/components/Modals/ActionForm/index.tsx
  dapp/src/theme/Tabs.ts
Due: dapp-lint-js

Use a `TableContainer` to manage overflow properties
  dapp/src/components/TransactionHistory/Table/index.tsx
Due: dapp-lint-js

Making fee basis point upgradable by owner
  core/contracts/Acre.sol
Due: none

Fix issues for table header
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/theme/Table.ts
Due: dapp-lint-js

Add a pagination to transaction table
  dapp/src/components/TransactionHistory/Table/index.tsx
  dapp/src/components/TransactionHistory/Table/pagination.tsx
  dapp/src/hooks/useTransactionHistoryTable.ts
  dapp/src/static/icons/ArrowLeft.tsx
  dapp/src/static/icons/ArrowRight.tsx
  dapp/src/static/icons/index.ts
Due: dapp-lint-js

Add mock data for transaction table tests
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
Due: dapp-lint-js

Add missing TODO comment
  dapp/src/components/TransactionHistory/Table/index.tsx
Due: dapp-lint-js

Show account history only when the user is connected
  dapp/src/components/Overview/TransactionHistory.tsx
  dapp/src/contexts/WalletContext.tsx
Due: dapp-lint-js

Add missing key for pagination buttons
  dapp/src/components/TransactionHistory/Table/index.tsx
Due: dapp-lint-js

Add support for eip-712 typed messages
  sdk/src/index.ts
  sdk/src/lib/ethereum/messages/index.ts
  sdk/src/lib/ethereum/messages/signed-message.ts
  sdk/src/lib/message-signer/eip712.ts
  sdk/src/lib/message-signer/index.ts
  sdk/src/lib/message-signer/message-signer.ts
Due: root-lint, sdk-lint-js

Update staking module
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Update `StakeInitialization`
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Update `StakeInitialization` constructor
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Add `signMessage` step to `StakeInitialization`
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Add a new button variant for pagination
  dapp/src/components/TransactionHistory/Table/index.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/utils/colors.ts
Due: dapp-lint-js

Add unit tests for finalizeStake function
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Add clarification for depositor address check
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Use Math.min for OM fee divisors comparison
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Add name and symbol to TestERC20 constructor
  core/contracts/test/TestERC20.sol
Due: none

Remove estimateFee function
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Add tBTC Bridge and tBTC Vault contracts stubs
  core/contracts/test/BridgeStub.sol
  core/contracts/test/TBTCVaultStub.sol
Due: none

Update deployment scripts for tBTC Depositor
  core/deploy/00_resolve_tbtc_bridge.ts
  core/deploy/00_resolve_tbtc_token.ts
  core/deploy/00_resolve_tbtc_vault.ts
  core/deploy/03_deploy_tbtc_depositor.ts
  core/test/helpers/context.ts
Due: core-lint-js

Fix solhint problems
  core/contracts/test/BridgeStub.sol
Due: none

Adding ERC4626Fees
  core/contracts/ERC4626Fees.sol
Due: none

Replacing fee structure with ERC4626Fees abstract contract
  core/contracts/Acre.sol
Due: none
