Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Adjust `IconCard` responsive variant
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Resolve resize glitch
  dapp/src/components/shared/SeasonCountdownSection/SeasonCountdownSectionBackground.tsx
Due: dapp-lint-js

Resolve Eslint error
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Resolve merge errors
  dapp/src/DApp.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/components/shared/Layout.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Improving tests
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Update `IconCard` icons, adjust styling
  dapp/src/assets/images/card-icon-boost-arrow.png
  dapp/src/assets/images/card-icon-key.png
  dapp/src/assets/images/card-icon-question-mark.png
  dapp/src/assets/images/mystery-box.svg
  dapp/src/assets/images/rewards-boost.svg
  dapp/src/assets/images/season-key.svg
  dapp/src/pages/LandingPage/IconCard.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Adjust width and horizontal content flow
  dapp/src/components/shared/SeasonCountdownSection/SeasonCountdownSectionBackground.tsx
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Renamed txBtcId schema field to bitcoinTransactionId
  subgraph/schema.graphql
Due: none

Subgraph: tests for bitcoin-depositor adjusted
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Removed Unkown eventType
  subgraph/schema.graphql
Due: none

Reverting ignored deployment dir
  solidity/.gitignore
Due: none

Simplifying artifacts fetching for integration tests
  solidity/deploy/00_resolve_mezo_portal.ts
  solidity/deploy/00_resolve_tbtc_token.ts
  solidity/deploy/00_resolve_tbtc_vault.ts
  solidity/deploy/01_deploy_stbtc.ts
  solidity/deploy/02_deploy_mezo_allocator.ts
  solidity/deploy/03_deploy_bitcoin_depositor.ts
  solidity/deploy/04_deploy_bitcoin_redeemer.ts
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/helpers/context.ts
  solidity/test/helpers/contract.ts
Due: solidity-lint-js, solidity-lint-config

Adding README explaining how to run the integration tests
  solidity/README.md
Due: none

Error handling in case of no deposit entity for handleDepositFinalized
  subgraph/src/bitcoin-depositor.ts
Due: subgraph-lint-js

Make type for EventyEntity required
  subgraph/schema.graphql
  subgraph/src/bitcoin-depositor.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Removed amount from Event entity, updated mapping entities in subgraph.yaml
  subgraph/schema.graphql
  subgraph/src/bitcoin-depositor.ts
  subgraph/subgraph.yaml
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js, subgraph-lint-config

Added TODO section to handleDepositInitialized
  subgraph/src/bitcoin-depositor.ts
Due: subgraph-lint-js

Updated the order of fields in schema
  subgraph/schema.graphql
Due: none

Reverting 'deployment' command back to 'deploy'
  .github/workflows/solidity.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Implement HttpApi class for GET and POST requests
  sdk/src/api/HttpApi.ts
Due: root-lint, sdk-lint-js

Implement a class for integration with tBTC API
  sdk/src/api/TbtcApi.ts
Due: root-lint, sdk-lint-js

Simplifying the way we check for network names in the deployment scripts
  solidity/deploy/00_resolve_mezo_portal.ts
  solidity/deploy/00_resolve_tbtc_bridge.ts
  solidity/deploy/00_resolve_tbtc_token.ts
  solidity/deploy/00_resolve_tbtc_vault.ts
  solidity/hardhat.config.ts
Due: solidity-lint-js

Importing ethers from HH to make eslint happy
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Rephrasing the comment for a test
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Added bridgedAmount, depositorFee, amountToDeposit fields
  subgraph/schema.graphql
  subgraph/src/bitcoin-depositor.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Implement a tBTC module to wrap tBTC API interactions
  sdk/src/api/TbtcApi.ts
  sdk/src/lib/utils/backoff.ts
  sdk/src/modules/tbtc/Deposit.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/src/modules/tbtc/index.ts
Due: root-lint, sdk-lint-js

Use updated TBTC module in staking process
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Implement `PageLayout` component
  dapp/src/pages/OverviewPage/PageLayout.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/theme/index.ts
Due: dapp-lint-js

Implement `CurrentSeasonCard` component structure
  dapp/src/pages/OverviewPage/CurrentSeasonCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Update Acre SDK initialization for tBTC module
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Making withdrawal tests independent from each other
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Add base styling of "current-season" Card variant
  dapp/src/pages/OverviewPage/CurrentSeasonCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/theme/Card.ts
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Withdrawing more than what was deposited
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Covering a scenario when withdrawing more than deposited
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Changing a generic error to verify against a custom error DepositNotFound
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Added estimated deposit fee from sdk
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltip.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useEstimatedDepositFee.ts
  dapp/src/hooks/useTransactionFee.ts
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
  dapp/src/types/fee.ts
  dapp/src/types/index.ts
Due: dapp-lint-js

Wrap node forking command for integration tests
  solidity/README.md
  solidity/hardhat.config.ts
  solidity/package.json
Due: solidity-lint-js, solidity-lint-config

Define env variables with dotenv-safer
  .github/workflows/solidity.yaml
  .gitignore
  pnpm-lock.yaml
  solidity/.env
  solidity/.env.ci.example
  solidity/.env.example
  solidity/hardhat.config.ts
  solidity/package.json
Due: root-lint, solidity-lint-js, solidity-lint-config

FeesDetails component
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/shared/FeesDetails/FeesItem.tsx
  dapp/src/components/shared/FeesDetails/index.tsx
Due: dapp-lint-js
