Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

AcreSDK: current position
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Update a minimum amount of BTC deposit
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Add the loading state on the submit form button
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
Due: dapp-lint-js

Fix the message about insufficient value
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Removing fees from Acre
  core/contracts/lib/ERC4626Fees.sol
  core/contracts/stBTC.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Activity details
  dapp/package.json
  dapp/src/DApp.tsx
  dapp/src/assets/icons/Back.tsx
  dapp/src/assets/icons/ChevronRight.tsx
  dapp/src/assets/icons/Close.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/assets/images/activity-details.png
  dapp/src/components/ActivityDetails/ActivityBar.tsx
  dapp/src/components/ActivityDetails/ActivityCard.tsx
  dapp/src/components/ActivityDetails/ActivityDetails.tsx
  dapp/src/components/ActivityDetails/ActivityPage.tsx
  dapp/src/components/ActivityDetails/mock-transactions.ts
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/index.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/components/shared/StatusInfo/index.tsx
  dapp/src/theme/Card.ts
  dapp/src/theme/CurrencyBalance.ts
  dapp/src/types/index.ts
  dapp/src/types/location.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Update Ledger Live manifests for Development and Testnet
  dapp/README.md
  dapp/ledger-manifest-development.json
  dapp/ledger-manifest-testnet.json
  dapp/manifest-ledger-live-app.json
Due: dapp-lint-config

Add a information about desired decimals to the currency
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/constants/currency.ts
  dapp/src/constants/staking.ts
  dapp/src/types/currency.ts
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Reduce the min deposit amount to 10000 (0.0001 BTC)
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Fix the transaction details problem
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
Due: dapp-lint-js

Add `axios` dependencies
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Remove unused interface
  sdk/src/lib/contracts/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Export necessary wrappers
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Update `initializeStake` function
  sdk/src/lib/contracts/depositor-proxy.ts
  sdk/src/lib/contracts/index.ts
  sdk/src/modules/staking/index.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Create a custom implementation of `DepositorProxy`
  dapp/src/web3/index.ts
  dapp/src/web3/relayer-depositor-proxy.ts
Due: dapp-lint-js

Fix custom implementation of depositor proxy
  dapp/src/web3/relayer-depositor-proxy.ts
Due: dapp-lint-js

Parse the relayer's response correctly
  dapp/src/web3/relayer-depositor-proxy.ts
Due: dapp-lint-js

Initialize stake with custom depositor proxy
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/contexts/StakeFlowContext.tsx
Due: dapp-lint-js

Adding support for xERC4626
  core/contracts/interfaces/IxERC4626.sol
  core/contracts/lib/xERC4626.sol
  core/contracts/stBTC.sol
  core/deploy/01_deploy_stbtc.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Disable dark theme mode
  dapp/src/DApp.tsx
  dapp/src/theme/index.ts
Due: dapp-lint-js

Add an empty line for `.env`
  dapp/.env
Due: none

Update incorrect error message for `AcreSdkContext`
  dapp/src/acre-react/hooks/useAcreContext.ts
Due: dapp-lint-js

Update incorrect error message for `StakeFlowContext `
  dapp/src/hooks/useStakeFlowContext.ts
Due: dapp-lint-js

@kkosiorowska @r-czajkowski Update incorrect error message for `WalletApiReactTransportContext`
  dapp/src/hooks/useWalletApiReactTransport.tsx
Due: dapp-lint-js

Use `e` to instead of the usual string
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Avoid nested levels
  dapp/src/hooks/useInitializeAcreSdk.ts
Due: dapp-lint-js

Use `unknown` type instead of `any` type for `OnErrorCallback`
  dapp/src/types/callback.ts
Due: dapp-lint-js

Fix incorrect value for bitcoin min amount
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Remove `bignumber.js` package
  dapp/package.json
  dapp/src/hooks/useDepositBTCTransaction.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Add a wrapper for `signMessage` in `StakeFlowProvider`
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useSignMessage.ts
Due: dapp-lint-js

Add decodeExtraData function back
  core/contracts/TbtcDepositor.sol
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Introduce finalizeStakeRequest function and queue
  core/contracts/TbtcDepositor.sol
Due: none

Update unit tests after queue updates
  core/contracts/test/TbtcDepositor.t.sol
  core/deploy/03_deploy_tbtc_depositor.ts
  core/package.json
  core/test/TbtcDepositor.test.ts
  core/test/helpers/context.ts
Due: core-lint-js, core-lint-config

Update function order in TbtcDepositor contract
  core/contracts/TbtcDepositor.sol
Due: none

Rename TbtcDepositor to AcreBitcoinDepositor
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/stBTC.sol
  core/contracts/test/AcreBitcoinDepositor.t.sol
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
  core/deploy/23_transfer_ownership_acre_bitcoin_depositor.ts
  core/test/AcreBitcoinDepositor.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Add a TODO to SDK about renaming TBTC Depositor
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Separate the deposit logic in one hook
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositBTC.ts
  dapp/src/hooks/useDepositBTCTransaction.ts
  dapp/src/hooks/useStakeBTC.ts
Due: dapp-lint-js

Added redux to dApp
  dapp/package.json
  dapp/src/DApp.tsx
  dapp/src/redux/middleware.ts
  dapp/src/redux/reducer.ts
  dapp/src/redux/selectors/index.ts
  dapp/src/redux/slices/index.ts
  dapp/src/redux/slices/todo.slice.ts
  dapp/src/redux/state.ts
  dapp/src/redux/store.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Create a `FormSubmitButton` component
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/shared/Form/FormSubmitButton.tsx
Due: dapp-lint-js

Adding tests to check xERC4626 mid cycle
  core/test/stBTC.test.ts
Due: core-lint-js
