Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Add missing snapshot restorer to `deposit` tests
  core/test/Acre.test.ts
Due: core-lint-js

Add `@keep-network/tbtc-v2.ts` to SDK module
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Simplifying tBTC token approvals by using OZ forceApprove
  core/contracts/Acre.sol
  core/contracts/Dispatcher.sol
Due: none

Update @ledgerhq/* to the latest version
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Initial implementation of stake steps
  dapp/manifest-ledger-live-app.json
  dapp/package.json
  dapp/src/components/Modals/Staking/DepositBTC.tsx
  dapp/src/components/Modals/Staking/Overview.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/Modals/Staking/StakeSteps.tsx
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/shared/Spinner/index.tsx
  dapp/src/components/shared/StepperBase/index.tsx
  dapp/vite.config.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Refactoring skip flag for Mainnet
  core/deploy/00_resolve_testing_erc4626.ts
Due: core-lint-js

Adding event when updating Dispatcher plus smaller comments
  core/contracts/Acre.sol
Due: none

Define helpers wrapper for snapshots
  core/test/Acre.test.ts
  core/test/Dispatcher.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Updating dispatcher in 'before' instead of 'it'
  core/test/Acre.test.ts
Due: core-lint-js

Update order of actions in before block
  core/test/Acre.test.ts
Due: core-lint-js

Refactorings in Dispatcher
  core/contracts/Dispatcher.sol
  core/test/integration/AssetFlows.test.ts
Due: core-lint-js

Extracting function calls under tests to before clause
  core/test/Acre.test.ts
  core/test/Dispatcher.test.ts
Due: core-lint-js

Improve stake tests
  core/test/Acre.test.ts
Due: core-lint-js

Add necessary wrappers
  sdk/src/lib/bitcoin/index.ts
  sdk/src/lib/bitcoin/transaction.ts
  sdk/src/lib/contracts/chain-identifier.ts
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/utils/hex.ts
  sdk/src/lib/utils/index.ts
Due: root-lint, sdk-lint-js

Create `TBTCDepositor` contract interface in SDK
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/contracts/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Create `ChainMessages` interface
  sdk/src/lib/messages/index.ts
  sdk/src/lib/messages/messages.ts
Due: root-lint, sdk-lint-js

Create `Staking` module
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/staking.ts
Due: root-lint, sdk-lint-js

Add `initializeEthereum` to the `Acre` main class
  sdk/src/index.ts
  sdk/src/lib/ethereum/contract.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/lib/ethereum/messages.ts
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Update outdated link to ledger doc
  dapp/README.md
Due: none

Make a `validate` function more general
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Adding tests for deployment scripts around dispatcher and maintainer
  core/test/Deployment.test.ts
Due: core-lint-js

Extracting common code to before clause
  core/test/Dispatcher.test.ts
Due: core-lint-js

Moving depositToVault tests under Dipatcher.test.ts + smaller cleanups
  core/test/Dispatcher.test.ts
  core/test/integration/AssetFlows.test.ts
Due: core-lint-js

Create a utils function to find for currency by type
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/utils/currency.ts
  dapp/src/utils/forms.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Reorder of the functions in Dispatcher.sol
  core/contracts/Dispatcher.sol
Due: none

Adding withArgs checks for CustomErrors validations
  core/test/Acre.test.ts
  core/test/Dispatcher.test.ts
Due: core-lint-js

Make the token amount form component clearer
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/shared/TokenAmountForm/TransactionDetails.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
Due: dapp-lint-js

Simplify the ActionForm component
  dapp/src/components/Modals/ActionForm/index.tsx
  dapp/src/components/Modals/Staking/index.tsx
Due: dapp-lint-js

Store the amount as bigint for the token amount form
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/contexts/TransactionContext.tsx
  dapp/src/types/index.ts
  dapp/src/types/staking.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

DApp: updated doc url in readme.md
  dapp/README.md
  dapp/yarn.lock
Due: none

yarn.lock removed
  dapp/yarn.lock
Due: none

Adding NatSpec comments
  core/contracts/Acre.sol
  core/contracts/Dispatcher.sol
Due: none

Smaller docs improvements
  core/contracts/Dispatcher.sol
Due: none

Removing allowStubs tag check. Not needed.
  core/deploy/00_resolve_testing_erc4626.ts
Due: core-lint-js

Function reorder. External goes above public
  core/contracts/Acre.sol
Due: none

getVaults() making public instead of external
  core/contracts/Dispatcher.sol
Due: none

Disable unbound-method for all deploy scripts
  core/.eslintrc
  core/deploy/00_resolve_tbtc.ts
  core/deploy/21_transfer_ownership_acre.ts
  core/deploy/22_transfer_ownership_acre_router.ts
Due: core-lint-js

Prepare custom action hooks for staking steps
  dapp/src/components/Modals/Staking/DepositBTC.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositBTCTransaction.ts
  dapp/src/hooks/useSignMessage.ts
  dapp/src/types/callback.ts
  dapp/src/types/index.ts
Due: dapp-lint-js

Use different staker and receiver in deposit test
  core/test/Acre.test.ts
Due: core-lint-js

Create a custom theme for the spinner
  dapp/src/components/shared/Spinner/index.tsx
  dapp/src/theme/Spinner.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
