Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Hide deposit button for mobile mode
  dapp/src/pages/LandingPage/components/HeroSection.tsx
Due: dapp-lint-js

Set mainnet addresses in subgraph manifest
  subgraph/subgraph.yaml
Due: subgraph-lint-config

Bump version in subgraph `package.json`
  subgraph/package.json
Due: subgraph-lint-config

Add `hasFetchedActivities` to wallet state
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useHasFetchedActivities.ts
  dapp/src/store/tests/walletSlice.test.ts
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/store/wallet/walletSlice.ts
Due: dapp-lint-js

Show skeleton view until data is fetched
  dapp/src/components/shared/UserDataSkeleton.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/orangeKit/useBitcoinBalance.ts
  dapp/src/hooks/sdk/useBitcoinPosition.ts
  dapp/src/hooks/useIsFetchedWalletData.ts
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/index.tsx
Due: dapp-lint-js

Create subgraph manifest template
  pnpm-lock.yaml
  subgraph/.eslintignore
  subgraph/.gitignore
  subgraph/.prettierignore
  subgraph/config/mainnet.json
  subgraph/config/sepolia.json
  subgraph/networks.json
  subgraph/package.json
  subgraph/subgraph.template.yaml
Due: root-lint, subgraph-lint-config

Update the subgraph readme
  subgraph/README.md
Due: none

Fix for a wallet slice tests
  dapp/src/store/tests/walletSlice.test.ts
Due: dapp-lint-js

Implement `MobileModeBanner` compopnent
  dapp/src/components/Layout.tsx
  dapp/src/components/MobileModeBanner/AcreAnimatedBadge.tsx
  dapp/src/components/MobileModeBanner/index.tsx
  dapp/src/components/shared/LiveTag.tsx
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/theme/utils/zIndices.ts
Due: dapp-lint-js

Add a feature flag for Xverse wallet
  dapp/.env
  dapp/src/constants/featureFlags.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Bump orangekit packages to `1.0.0-beta.19`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Adjust `MobileModeBanner` composition
  dapp/src/components/Layout.tsx
  dapp/src/components/MobileModeBanner/index.tsx
  dapp/src/constants/externalHref.ts
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Disable route change animation
  dapp/src/components/Layout.tsx
Due: dapp-lint-js

Adjust mobile mode breakpoint
  dapp/src/constants/screen.ts
Due: dapp-lint-js

Update `LandingPage` mobile UI
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/LandingPage/components/BenefitCard.tsx
  dapp/src/pages/LandingPage/components/ContentCard.tsx
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
  dapp/src/pages/LandingPage/components/HeroSection.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Integrate dApp with Xverse
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/constants/wallets.ts
  dapp/src/utils/orangeKit.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Update modal header for `ConnectWalletModal`
  dapp/src/components/ConnectWalletModal/index.tsx
Due: dapp-lint-js

Hide dApp portals behind mobile mode
  dapp/src/components/Layout.tsx
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Resolve `LiveTag` animation glitch
  dapp/src/components/shared/LiveTag.tsx
  dapp/src/hooks/useMobileMode.ts
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Resolve build error
  dapp/src/components/MobileModeBanner/index.tsx
Due: dapp-lint-js

Bump orangekit packages to `1.0.0-beta.23`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Disallow negative numbers
  dapp/src/components/shared/NumberFormatInput/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Calculate stake fees for invalid amount
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
Due: dapp-lint-js

Apply changes for unstake form
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
Due: dapp-lint-js

Standardize date format to be American
  dapp/src/constants/time.ts
  dapp/src/utils/time.ts
Due: dapp-lint-js

Adjusted options of numberToLocaleString funcition
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Conditionally render close button based on type
  dapp/src/components/TransactionModal/SuccessModal.tsx
Due: dapp-lint-js

Update copy: `Segwit` to `SegWit`
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
  dapp/src/constants/errors.ts
Due: dapp-lint-js

Update copy: `Deposit More` to `Deposit more`
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Copy update: `Waiting transaction...` to `Awaiting transaction...`
  dapp/src/components/TransactionModal/TriggerTransactionModal.tsx
Due: dapp-lint-js

Update copy: `More info` to `What is Bibo's Beehive`
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Resolve `Tooltip` glitch
  dapp/src/components/ConnectWalletModal/index.tsx
Due: dapp-lint-js

Add support for Nested Segwit addresses for dApp
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/constants/errors.ts
Due: dapp-lint-js

Make mintDebt and repayDebt functions public
  solidity/contracts/stBTC.sol
Due: none

Use correct date format in comment
  dapp/src/utils/time.ts
Due: dapp-lint-js

Support P2SH and P2WSH
  dapp/src/acre-react/hooks/useStakeFlow.ts
  sdk/src/acre.ts
  sdk/src/lib/constants/index.ts
  sdk/src/lib/constants/tbtc.ts
  sdk/src/modules/account.ts
  sdk/test/modules/account.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Add functions to check supported types for Acre
  dapp/src/utils/address.ts
  sdk/src/lib/bitcoin/address.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Set default bitcoin recovery address for testnet and mainnet
  sdk/src/lib/constants/tbtc.ts
Due: root-lint, sdk-lint-js

Calculate fees when amount threshold is met
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
Due: dapp-lint-js

Fix failing github actions
  pnpm-lock.yaml
Due: root-lint

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
