Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

ActivityCard linking, overviewPage improvements
  dapp/src/components/shared/ActivityCard/ActivityCard.tsx
  dapp/src/components/shared/ActivityCard/ActivityCardLinkWrapper.tsx
  dapp/src/components/shared/ActivityCard/ActivityCardWrapper.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/router/index.tsx
  dapp/src/router/path.ts
Due: dapp-lint-js

Expose the `estimateStakingFees` in staking module
  sdk/src/lib/utils/index.ts
  sdk/src/lib/utils/satoshi-converter.ts
  sdk/src/modules/staking/index.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Update `estimateStakingFees`
  sdk/src/lib/ethereum/bitcoin-depositor.ts
Due: root-lint, sdk-lint-js

Update `estimateStakingFees` Ethereum function
  sdk/src/lib/ethereum/bitcoin-depositor.ts
Due: root-lint, sdk-lint-js

Moved carousel to shared components
  dapp/src/components/shared/ActivityCard/ActivityCard.tsx
  dapp/src/components/shared/Carousel/Carousel.tsx
  dapp/src/mock/index.ts
  dapp/src/mock/mock-activities.ts
  dapp/src/pages/ActivityPage/ActivityBar.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/utils/carouselSettings.tsx
Due: dapp-lint-js

Show error notification when the execution of a deposit transaction is interrupted
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Update of error texts for dApp
  dapp/src/utils/errors.ts
Due: dapp-lint-js

Fixing the rest of the tests after adding deposit fees
  core/test/stBTC.test.ts
Due: core-lint-js

Simplify error handling logic for staking flow
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ResumeModal.tsx
  dapp/src/hooks/useToast.ts
Due: dapp-lint-js

Small improvements
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/shared/alerts/Alert.tsx
  dapp/src/components/shared/alerts/CardAlert.tsx
  dapp/src/components/shared/alerts/Toast.tsx
  dapp/src/hooks/useWalletToast.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Rename from `isToastClosed` to `isToastAlreadyClosed`
  dapp/src/hooks/useWalletToast.tsx
Due: dapp-lint-js

Implement approveAndCall patter in the vault
  core/contracts/BitcoinRedeemer.sol
  core/contracts/stBTC.sol
Due: none

Simplifying the logic of using toast component
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ResumeModal.tsx
  dapp/src/components/shared/alerts/Toast.tsx
  dapp/src/hooks/useToast.ts
  dapp/src/hooks/useWalletToast.ts
  dapp/src/hooks/useWalletToast.tsx
  dapp/src/types/index.ts
  dapp/src/types/toast.ts
  dapp/src/utils/errors.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Wrap long lines to 80 char for subgraph `README` file
  subgraph/README.md
Due: root-lint

Clean up `pre-commit` for subgraph workspace
  .github/workflows/reusable-subgraph-codegen.yaml
  .github/workflows/subgraph.yaml
  .pre-commit-config.yaml
Due: root-lint

Add a missing empty line at the end of the file
  .github/workflows/subgraph.yaml
  .pre-commit-config.yaml
Due: root-lint

Use `TOAST_ID` everywhere to make the code transparent
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Reorganize global styles for Chakra UI
  dapp/src/theme/index.ts
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/styles.ts
  dapp/src/theme/utils/zIndices.ts
Due: dapp-lint-js

Update `estimateStakingFees` in staking module
  sdk/src/modules/staking/index.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Remove pausing from `AcreBitcoinDepositor`
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMisplacedSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMissingSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
  core/deploy/25_update_emergency_stop_account_acre_bitcoin_depositor.ts
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Rename variable
  core/contracts/AbstractPausable.sol
  core/deploy/24_update_pause_admin_stbtc.ts
  core/hardhat.config.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Allow an owner to trigger the stop mechanism
  core/contracts/AbstractPausable.sol
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Fees popover in transaction modal
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/FeesPopover/FeesPopover.tsx
  dapp/src/components/TransactionModal/FeesPopover/FeesPopoverItem.tsx
  dapp/src/components/TransactionModal/FeesPopover/index.ts
  dapp/src/components/shared/TransactionDetails/AmountItem.tsx
  dapp/src/components/shared/TransactionDetails/index.tsx
Due: dapp-lint-js

Fix test case
  core/test/stBTC.test.ts
Due: core-lint-js

Make sure the user has a valid address before doing the staking
  dapp/src/components/TransactionModal/ModalContentWrapper/index.tsx
Due: dapp-lint-js

Make the `pauseAdmin` variable public
  core/contracts/AbstractPausable.sol
Due: none

Fix variable names
  core/contracts/AbstractPausable.sol
Due: none

Update docs in `AbstractPausable` contract
  core/contracts/AbstractPausable.sol
Due: none

Rename error
  core/contracts/AbstractPausable.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Refactor access fns in `AbstractPausable` contract
  core/contracts/AbstractPausable.sol
Due: none

Move the init functions to the top
  core/contracts/AbstractPausable.sol
Due: none

Rename field in `AcreStakingFees` type
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Combine all tBTC Bridge params in one obj and fn
  sdk/src/lib/ethereum/bitcoin-depositor.ts
Due: root-lint, sdk-lint-js

Add `fromSatoshi` utils function
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/utils/satoshi-converter.ts
Due: root-lint, sdk-lint-js

Leave `TODO`
  sdk/src/lib/ethereum/bitcoin-depositor.ts
Due: root-lint, sdk-lint-js

Cache `depositorFeeDivisor`
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Rename `AbstractPausbale` to `PausableOwnable`
  core/contracts/PausableOwnable.sol
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
Due: none

Adding tests for withdraw and redeem functions including fees
  core/test/stBTC.test.ts
Due: core-lint-js

Chakra UI popover improvements
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/GlobalStyles/popover.tsx
  dapp/src/components/StakingTokenPopover.tsx
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/theme/CloseButton.ts
  dapp/src/theme/Popover.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Replaced Chakra Card to custom shared Alert component
  dapp/src/components/StakingTokenPopover.tsx
Due: dapp-lint-js
