Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Rename `receiver` -> `staker`
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/lib/ethereum/data.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Imporve the stake message template
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/lib/ethereum/eip712.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Update reference to @keep-network/tbtc-v2
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Add initial implementation of `TbtcDepositor`
  core/contracts/TbtcDepositor.sol
Due: none

Update the `StakeInitialization` constructor
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Remove unused imports
  core/contracts/TbtcDepositor.sol
Due: none

Added depositReceipt to export utils
  sdk/src/lib/utils/hex.ts
  sdk/src/lib/utils/index.ts
  sdk/src/lib/utils/tbtc-v2.ts
Due: root-lint, sdk-lint-js

Added getting of tbtc deposit receipt for StakeInitialization
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Export DepositReceipt from tbtc-depositer, unit tests update
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/utils/hex.ts
  sdk/src/lib/utils/index.ts
  sdk/src/lib/utils/tbtc-v2.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Changed method name for deposit receipt & updated import path
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Added comment to tracesSampleRate prop
  dapp/src/sdk/sentry/index.ts
Due: dapp-lint-js

Clarify minting process in docs
  core/contracts/TbtcDepositor.sol
Due: none

Use Ownable2Step instead of Ownable
  core/contracts/TbtcDepositor.sol
Due: none

Accept ownership transfer in deployment script
  core/deploy/23_transfer_ownership_tbtc_depositor.ts
Due: core-lint-js

Rename amount related variables
  core/contracts/TbtcDepositor.sol
Due: none

Introduce recalledAt property
  core/contracts/TbtcDepositor.sol
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Use helpers from @keep-network/hardhat-helpers
  core/.eslintrc
  core/test/Deployment.test.ts
  core/test/Dispatcher.test.ts
  core/test/TbtcDepositor.test.ts
  core/test/helpers/contract.ts
  core/test/helpers/index.ts
  core/test/helpers/signer.ts
  core/test/helpers/time.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Fix tag of onwership transfer script
  core/deploy/23_transfer_ownership_tbtc_depositor.ts
Due: core-lint-js

Use Ownable2Step in all contracts
  core/contracts/Dispatcher.sol
  core/contracts/stBTC.sol
  core/deploy/21_transfer_ownership_stbtc.ts
  core/deploy/22_transfer_ownership_dispatcher.ts
Due: core-lint-js

Combine notifyBridgingCompleted and finalizeStakeRequest
  core/contracts/TbtcDepositor.sol
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Test the staking flow
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Add `ethers` and `sdk` dependencies to dapp
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Create Ledger Live signer
  dapp/src/contexts/LedgerWalletAPIProvider.tsx
  dapp/src/web3/index.ts
  dapp/src/web3/ledger-signer.ts
Due: dapp-lint-js

Create basic Acre SDK context
  dapp/src/DApp.tsx
  dapp/src/contexts/AcreSdkContext.tsx
Due: dapp-lint-js

Update the Ledger Live App manifest
  dapp/manifest-ledger-live-app.json
Due: dapp-lint-config

Move Acre context to a separate dir `acre-react`
  dapp/src/DApp.tsx
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/acre-react/index.ts
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Update AcreSDKContext
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Deploy Acre contracts on Sepolia
  core/deployments/sepolia/Acre.json
  core/deployments/sepolia/Dispatcher.json
  core/deployments/sepolia/TbtcDepositor.json
  core/deployments/sepolia/Vault.json
  core/external/sepolia/Bridge.json
  core/external/sepolia/TBTCVault.json
Due: core-lint-config

Update `LedgerWalletSigner`
  dapp/src/web3/ledger-signer.ts
Due: dapp-lint-js

Create custom hook for Acre staking flow
  dapp/src/acre-react/hooks/index.ts
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Leave TODO comment in ledger-signer
  dapp/src/web3/ledger-signer.ts
Due: dapp-lint-js

Update imports
  dapp/package.json
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/web3/ledger-signer.ts
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, dapp-lint-js, dapp-lint-config, sdk-lint-config

Test Acre SDK on Sepolia in Acre dapp
  dapp/manifest-ledger-live-app.json
  dapp/src/components/Overview/index.tsx
  dapp/src/constants/currency.ts
  dapp/src/web3/ledger-signer.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, dapp-lint-js, dapp-lint-config, sdk-lint-js

Update contracts artifacts for sepolia
  core/deployments/sepolia/Acre.json
  core/deployments/sepolia/Dispatcher.json
  core/deployments/sepolia/TbtcDepositor.json
  core/deployments/sepolia/Vault.json
  core/deployments/sepolia/stBTC.json
Due: core-lint-config

Use `TbtcDepositor` sepolia artifact
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Revert "Added getting of tbtc deposit receipt for StakeInitialization"
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Create a `SuccessModal` for staking/unstaking flow
  dapp/src/assets/icons/LoadingSpinnerSuccessIcon.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/TransactionModal/ModalContentWrapper/SuccessModal.tsx
  dapp/src/theme/CurrencyBalance.ts
Due: dapp-lint-js

Display modal close button when needed - staking flow
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
  dapp/src/components/shared/ModalBase/index.tsx
Due: dapp-lint-js

Create a `AlertReceiveSTBTC` component
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/SuccessModal.tsx
  dapp/src/components/shared/AlertReceiveSTBTC/index.tsx
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
