Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Update BitcoinRedeemer integration tests
  solidity/test/integration/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Remove ownership acceptance in test setup
  solidity/test/integration/helpers.ts
Due: solidity-lint-js

Update MezoAllocator integration tests
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Update test data for redemption
  solidity/test/data/tbtc.ts
Due: solidity-lint-js

Moving the type checking logic to the dApp
  dapp/src/utils/address.ts
  sdk/src/lib/bitcoin/address.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Add unit tests for `isPayScriptHashTypeAddress`
  sdk/test/lib/bitcoin/address.test.ts
Due: root-lint, sdk-lint-js

Update the list of supported address types
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
Due: dapp-lint-js

Rename to `isPayToScriptHashTypeAddress`
  dapp/src/utils/address.ts
  sdk/src/lib/bitcoin/address.ts
  sdk/test/lib/bitcoin/address.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Avoid ignoring ethers v5 Signer related errors
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/acre.ts
  sdk/src/lib/utils/ethereum-signer.ts
  sdk/src/lib/utils/index.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js, sdk-lint-config

Build the subgraph manifest in GH workflow
  .github/workflows/subgraph.yaml
Due: root-lint

Store the subgraph manifest for both networks
  .github/workflows/subgraph.yaml
  subgraph/.eslintignore
  subgraph/.gitignore
  subgraph/.prettierignore
  subgraph/README.md
  subgraph/package.json
  subgraph/subgraph.sepolia.yaml
  subgraph/subgraph.yaml
Due: root-lint, subgraph-lint-config

Fix ordered list in the readme
  subgraph/README.md
Due: none

Remove parts no longer needed
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/utils/address.ts
Due: dapp-lint-js

Remove parts no longer needed
  sdk/src/lib/bitcoin/address.ts
  sdk/test/lib/bitcoin/address.test.ts
Due: root-lint, sdk-lint-js

Add missing param in docs
  sdk/src/modules/tbtc/Tbtc.ts
Due: root-lint, sdk-lint-js

Remove unnecessary script in subgraph package.json
  subgraph/package.json
Due: subgraph-lint-config

Update scripts in subgraph package.json
  subgraph/package.json
Due: subgraph-lint-config

Update name of scripts in subgraph package.json
  subgraph/README.md
  subgraph/package.json
Due: subgraph-lint-config

Rename mainnet subgraph manifest
  subgraph/subgraph.mainnet.yaml
Due: subgraph-lint-config

Resolve the recovery address in the dApp
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/constants/index.ts
  dapp/src/constants/tbtc.ts
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useBitcoinRecoveryAddress.ts
  sdk/src/lib/constants/index.ts
  sdk/src/lib/constants/tbtc.ts
  sdk/src/modules/account.ts
  sdk/test/modules/account.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Remove unused import
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Fix GH workflow for subgraph
  .github/workflows/subgraph.yaml
Due: root-lint

Fix `test` script in subgraph workspace
  subgraph/.eslintignore
  subgraph/.gitignore
  subgraph/.prettierignore
  subgraph/package.json
Due: subgraph-lint-config

Fix mainnet scripts in subgraph workspace
  subgraph/package.json
Due: subgraph-lint-config

Fix subgraph README file
  subgraph/README.md
Due: none

Remove horizontal scroll
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Add TVL progress bar label
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Adjust `CurrentSeasonSection` component
  dapp/src/assets/images/partner-logos/index.ts
  dapp/src/assets/images/partner-logos/mezo-logo-color.svg
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Update logos
  dapp/src/assets/images/partner-logos/index.ts
  dapp/src/assets/images/partner-logos/tbtc-logo.svg
  dapp/src/assets/images/partner-logos/thesis-logo.svg
  dapp/src/assets/images/partner-logos/xverse-logo.svg
  dapp/src/constants/partnerLogos.ts
Due: dapp-lint-js

Update Dashboard left column
  dapp/.env
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Update `TrabsactionHistory` ilustration
  dapp/src/assets/images/empty-state.png
  dapp/src/assets/images/empty-state.svg
  dapp/src/pages/DashboardPage/TransactionHistory/index.tsx
Due: dapp-lint-js

Implement `AcrePointsCard` component
  dapp/src/assets/images/acre-points-card-placeholder.png
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Update `ActivitiesListItem` tx link button
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
Due: dapp-lint-js

Remove env changes
  dapp/.env
Due: none

Update comment formatting
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Verify SIWW message on login
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/constants/errors.ts
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Update production link for the Acre subgraph
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Bump orangekit packages to `1.0.0-beta.24`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Update copies
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
  dapp/src/pages/LandingPage/components/HeroSection.tsx
Due: dapp-lint-js

Update decimals
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
