Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add helper function to get latest block timestamp
  core/test/helpers/time.ts
Due: core-lint-js

Add test data for tBTC deposit
  core/test/data/tbtc.ts
Due: core-lint-js

Add treasury address reference to Acre deployment script
  core/deploy/01_deploy_acre.ts
Due: core-lint-js

Remove only from test
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Updating vaults weight
  core/contracts/Dispatcher.sol
  core/test/Dispatcher.test.ts
Due: core-lint-js

Use `jest` instead of `chai` and `mocha`
  pnpm-lock.yaml
  sdk/babel.config.js
  sdk/jest.config.js
  sdk/package.json
  sdk/test/acre.test.ts
  sdk/tsconfig.json
Due: root-lint, sdk-lint-js, sdk-lint-config

Add basic unit test for `TBTCDepositor` contract
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Chakra improvements, buttons as map
  dapp/src/components/Sidebar/index.tsx
Due: dapp-lint-js

chakraUi: createIcon from svg, relative units
  dapp/src/assets/images/coins-stacked.svg
  dapp/src/assets/images/shield-plus.svg
  dapp/src/components/Sidebar/index.tsx
  dapp/src/static/icons/ShieldPlus.tsx
  dapp/src/static/icons/index.ts
  dapp/src/theme/Sidebar.ts
Due: dapp-lint-js

Added chakra card variant: sidebar
  dapp/src/components/Sidebar/index.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Added card container for multipart component
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Theme spinner import update
  dapp/src/theme/Spinner.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Use clearer name for staking content
  dapp/src/components/Modals/Staking/index.tsx
Due: dapp-lint-js

Simplify the shared alert component
  dapp/src/components/Modals/Staking/DepositBTC.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/shared/Alert/index.tsx
Due: dapp-lint-js

Import update for skeleton
  dapp/src/theme/Skeleton.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Update the submit form function for staking
  dapp/src/components/Modals/Staking/StakeForm.tsx
Due: dapp-lint-js

Use a more precise name for custom form data
  dapp/src/components/Modals/Staking/StakeForm.tsx
Due: dapp-lint-js

Refactor the display of transaction details in the form
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/Modals/Staking/StakeForm/Details.tsx
  dapp/src/components/Modals/Staking/StakeForm/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenAmountForm/TransactionDetails.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/components/shared/TransactionDetails/AmountItem.tsx
  dapp/src/components/shared/TransactionDetails/index.tsx
  dapp/src/constants/staking.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTransactionDetails.ts
Due: dapp-lint-js

Use `Currency` instead `CurrencyType` for TokenAmountForm
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Modals/Staking/StakeForm/Details.tsx
  dapp/src/components/Modals/Staking/StakeForm/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/types/staking.ts
  dapp/src/utils/currency.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Move conversion logic to `CurrencyBalanceWithConversion` component
  dapp/src/components/Modals/Staking/StakeForm/Details.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
Due: dapp-lint-js

Refactor for `useTransactionDetails`
  dapp/src/components/Modals/Staking/StakeForm/Details.tsx
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
  dapp/src/constants/staking.ts
  dapp/src/hooks/useTransactionDetails.ts
Due: dapp-lint-js

Fix the positioning bug for `TransactionDetailsAmountItem`
  dapp/src/components/shared/TransactionDetails/AmountItem.tsx
Due: dapp-lint-js

Button colorScheme added
  dapp/src/components/Sidebar/index.tsx
  dapp/src/static/icons/ShieldPlus.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Added button sidebar variant
  dapp/src/components/Sidebar/index.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Reverted fonts location
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/fonts/Segment-Black.otf
  dapp/src/fonts/Segment-Bold.otf
  dapp/src/fonts/Segment-Medium.otf
  dapp/src/fonts/Segment-Regular.otf
  dapp/src/fonts/Segment-SemiBold.otf
Due: dapp-lint-js

Save the token amount field name for the form as const
  dapp/src/components/Modals/Staking/StakeForm/Details.tsx
  dapp/src/components/Modals/Staking/StakeForm/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/constants/forms.ts
  dapp/src/constants/index.ts
Due: dapp-lint-js

Make a formId optional for the the token amount form
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
Due: dapp-lint-js

Render the submit button inside form
  dapp/src/components/Modals/Staking/StakeForm/index.tsx
Due: dapp-lint-js

Use always `CurrencyType`
  dapp/src/components/Modals/Staking/StakeForm/Details.tsx
  dapp/src/components/Modals/Staking/StakeForm/index.tsx
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/Modals/Support/index.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/types/staking.ts
  dapp/src/utils/currency.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Thesis - eslint config
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Added eslint rules
  dapp/.eslintrc
Due: none

Added comments to eslint config
  dapp/.eslintrc
Due: none

Added new eslint rule related with the last #105 changes
  dapp/.eslintrc
Due: none

Update sidebarContainer style with fixed width
  dapp/src/components/Sidebar/index.tsx
  dapp/src/theme/Sidebar.ts
Due: dapp-lint-js

Fix typo from `seTokenAmount` to `setTokenAmount`
  dapp/src/components/Modals/Staking/StakeForm/index.tsx
  dapp/src/contexts/TransactionContext.tsx
Due: dapp-lint-js

Create a special hook for the token amount value from form
  dapp/src/components/Modals/Staking/StakeForm/Details.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/constants/forms.ts
  dapp/src/constants/index.ts
Due: dapp-lint-js

Rename interface
  sdk/src/index.ts
  sdk/src/lib/ethereum/messages/index.ts
  sdk/src/lib/ethereum/messages/signed-message.ts
  sdk/src/lib/message-signer/index.ts
  sdk/src/lib/message-signer/message-signer.ts
  sdk/src/lib/message-signer/signed-message.ts
  sdk/src/lib/messages/index.ts
  sdk/src/lib/messages/messages.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Update unit test
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Install a `@tanstack/react-table` package
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Use beforeAfterSnapshotWrapper in Dispatcher test file
  core/test/Dispatcher.test.ts
Due: core-lint-js
