Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add unit tests to cover redeemer check
  solidity/test/BitcoinRedeemer.test.ts
  solidity/test/data/tbtc.ts
Due: solidity-lint-js

Update `DepositBTCModal` component
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/shared/alerts/ReceiveSTBTCAlert.tsx
  dapp/src/components/shared/alerts/index.ts
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Add integration test for BitcoinRedeemer
  solidity/test/integration/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Update forking block number for integration tests
  solidity/hardhat.config.ts
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Improve BitcoinRedeemer unit tests
  solidity/test/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Resolve ESLint error
  dapp/src/types/index.ts
Due: dapp-lint-js

Add styles of `StakingActivitiesList` component
  dapp/src/assets/icons/LoadingSpinnerSuccessIcon.tsx
  dapp/src/components/shared/StakingActivitiesList/StakingActivitiesList.tsx
  dapp/src/components/shared/StakingActivitiesList/StakingActivitiesListItem.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/theme/Alert.ts
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Improve dismiss animation
  dapp/src/components/shared/StakingActivitiesList/StakingActivitiesList.tsx
Due: dapp-lint-js

Revert page changes
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Implement base structure for `Pagination` component
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/components/shared/Pagination/index.ts
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Implement `Pagination` component logic
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationContext.ts
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Add `@swan-bitcoin/xpub-lib`
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/typings.d.ts
  sdk/tsconfig.json
Due: root-lint, sdk-lint-js, sdk-lint-config

Add `BitcoinProvider` interface
  sdk/src/lib/bitcoin/providers/index.ts
  sdk/src/lib/bitcoin/providers/provider.ts
Due: root-lint, sdk-lint-js

Implement `LedgerLiveWalletApiBitcoinProvider`
  sdk/src/lib/bitcoin/providers/index.ts
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
Due: root-lint, sdk-lint-js

Subgraph function naming updates
  dapp/src/store/wallet/walletThunk.ts
  dapp/src/utils/subgraphAPI.ts
Due: dapp-lint-js

Simplify the env variables for subgraph
  dapp/.env
  dapp/src/utils/subgraphAPI.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Create a special hook for fetching data from subgraph
  dapp/src/hooks/index.ts
  dapp/src/hooks/subgraph/index.ts
  dapp/src/hooks/subgraph/useFetchActivities.ts
  dapp/src/hooks/subgraph/useInitDataFromSubgraph.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/store/wallet/index.ts
  dapp/src/store/wallet/walletThunk.ts
Due: dapp-lint-js

Removal of unnecessary code from deposit flow
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/OverviewModal/index.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/OverviewModal/steps.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/components/shared/alerts/ReceiveSTBTCAlert.tsx
  dapp/src/components/shared/alerts/index.ts
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/hooks/useInitApp.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/types/action-flow.ts
Due: dapp-lint-js

Update `DepositBTCModal` component
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
Due: dapp-lint-js

Update `Sidebar` component
  dapp/src/assets/icons/ShieldPlus.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/assets/images/right-sidebar-bg.png
  dapp/src/components/Sidebar.tsx
  dapp/src/components/Sidebar/index.tsx
Due: dapp-lint-js

Testing inflaction attack and preventative techniques
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Update global styles for modal component
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/TransactionModal/MissingAccountModal.tsx
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Update a stake details in form modal
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/shared/FeesDetails/FeesItem.tsx
  dapp/src/components/shared/FeesDetails/index.tsx
Due: dapp-lint-js

Show currency conversion in form
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Update `SuccessModal` component
  dapp/src/components/TransactionModal/SuccessModal.tsx
Due: dapp-lint-js

Update styles for error modals
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
Due: dapp-lint-js

Remove BigNumber dependency
  pnpm-lock.yaml
  sdk/package.json
  sdk/test/data/deposit.ts
  sdk/test/modules/tbtc/Deposit.test.ts
Due: root-lint, sdk-lint-js, sdk-lint-config

Add basic style for `Pagination` component
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationContext.ts
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Adding and changing docs in 3 contracts:
  solidity/contracts/MezoAllocator.sol
  solidity/contracts/stBTC.sol
  solidity/contracts/utils/Errors.sol
Due: none

Removing extra dot
  solidity/contracts/stBTC.sol
Due: none

Moving fee part calculatione of maxWithdraw to ERC4626Fees.sol
  solidity/contracts/lib/ERC4626Fees.sol
  solidity/contracts/stBTC.sol
Due: none

Simplify address checks in receiveApproval function
  solidity/contracts/BitcoinRedeemer.sol
Due: none

Fixing typo
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Fix spelling in test
  solidity/test/BitcoinDepositor.test.ts
Due: solidity-lint-js

Update unit test after removing token validation
  solidity/test/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Locking pragma version to 0.8.21
  solidity/contracts/BitcoinDepositor.sol
  solidity/contracts/BitcoinRedeemer.sol
  solidity/contracts/MezoAllocator.sol
  solidity/contracts/PausableOwnable.sol
  solidity/contracts/bridge/ITBTCToken.sol
  solidity/contracts/interfaces/IDispatcher.sol
  solidity/contracts/lib/ERC4626Fees.sol
  solidity/contracts/stBTC.sol
  solidity/contracts/test/BitcoinDepositorHarness.sol
  solidity/contracts/test/MezoPortalStub.sol
  solidity/contracts/test/TestERC20.sol
  solidity/contracts/test/TestTBTC.sol
  solidity/contracts/test/upgrades/BitcoinDepositorV2.sol
  solidity/contracts/test/upgrades/MezoAllocatorV2.sol
  solidity/contracts/test/upgrades/stBTCV2.sol
  solidity/contracts/utils/Errors.sol
Due: none

Make `Pagination` component use compound pattern
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationContext.ts
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/components/shared/Pagination/index.ts
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Style `TransactionHistory` items
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/pages/OverviewPage/TransactionHistory.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Implement `TransactionHistory` empty state
  dapp/src/assets/images/empty-state.png
  dapp/src/pages/OverviewPage/TransactionHistory.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Add missing key
  dapp/src/pages/OverviewPage/TransactionHistory.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js
