Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Revert `OverviewPage` changes`
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Move `dataLabel` prop to `PaginationStatus` component
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationContext.ts
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/components/shared/Pagination/index.ts
  dapp/src/pages/OverviewPage/TransactionHistory.tsx
Due: dapp-lint-js

Update the `ethereum-signer` utils in SDK
  sdk/src/lib/utils/ethereum-signer.ts
Due: root-lint, sdk-lint-js

Use `BitcoinProvider` to initialize the Acre SDK
  sdk/src/acre.ts
  sdk/src/lib/ethereum/network.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/modules/staking.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
  sdk/test/utils/mock-bitcoin-provider.ts
Due: root-lint, sdk-lint-js

Fix `Pagination` content shift
  dapp/src/components/shared/Pagination/PaginationPage.tsx
Due: dapp-lint-js

Resolve issue with `Pagination` direction awareness
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationContext.ts
  dapp/src/components/shared/Pagination/PaginationPage.tsx
Due: dapp-lint-js

Refactor value name
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationContext.ts
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
Due: dapp-lint-js

Remove unnecessary code
  dapp/src/hooks/useRequestBitcoinAccount.ts
Due: dapp-lint-js

Use only one environment variable for subgraph
  dapp/.env
  dapp/src/utils/subgraphAPI.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Update value of delay for triggering Bitcoin transaction
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
Due: dapp-lint-js

Move data from context to redux for action flow
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActionFlowActiveStep.ts
  dapp/src/hooks/store/useActionFlowStatus.ts
  dapp/src/hooks/store/useActionFlowType.ts
  dapp/src/store/action-flow/actionFlowSelectors.ts
  dapp/src/store/action-flow/actionFlowSlice.ts
  dapp/src/store/action-flow/index.ts
  dapp/src/store/reducer.ts
Due: dapp-lint-js

Move `Layout` to components directory
  dapp/src/components/Layout.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Use `createBrowserRouter`
  dapp/src/DApp.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Add missing types export
  dapp/src/components/Header/index.tsx
  dapp/src/types/index.ts
Due: dapp-lint-js

Update `Tag` theme definition
  dapp/src/theme/Tag.ts
Due: dapp-lint-js

Reorganize `LandingPage`'s components
  dapp/src/pages/LandingPage/components/BenefitCard.tsx
  dapp/src/pages/LandingPage/components/CardButton.tsx
  dapp/src/pages/LandingPage/components/ContentCard.tsx
  dapp/src/pages/LandingPage/components/HighlightedValueCard.tsx
  dapp/src/pages/LandingPage/components/TVLCard.tsx
  dapp/src/pages/LandingPage/components/index.ts
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Revert page changes
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Delete `PageLayout` component
  dapp/src/pages/OverviewPage/PageLayout.tsx
Due: dapp-lint-js

Simplifying the logic for opening modals
  dapp/src/DApp.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/components/ModalRoot/withBaseModal.tsx
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useModal.ts
  dapp/src/hooks/useModalFlowContext.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/store/modal/index.ts
  dapp/src/store/modal/modalSelectors.ts
  dapp/src/store/modal/modalSlice.ts
  dapp/src/store/reducer.ts
  dapp/src/types/index.ts
  dapp/src/types/modal.ts
Due: dapp-lint-js

Implement `PageLayout` component
  dapp/src/pages/OverviewPage/PageLayout/PageLayout.tsx
  dapp/src/pages/OverviewPage/PageLayout/PageLayoutSidebar.tsx
  dapp/src/pages/OverviewPage/PageLayout/index.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Remove unused breakpoint
  dapp/src/theme/index.ts
Due: dapp-lint-js

Implement `DashboardCard` component
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/pages/DashboardPage/GrantedSeasonPassCard.tsx
Due: dapp-lint-js

Fix component structure
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/pages/DashboardPage/GrantedSeasonPassCard.tsx
Due: dapp-lint-js

Update staking unit tests
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Add the missing icons in the sidebar for benefit cards
  dapp/src/assets/images/rewards-boost-arrow.svg
  dapp/src/components/Sidebar.tsx
Due: dapp-lint-js

Add ability to open `TransactionModal` from landing page
  dapp/src/pages/LandingPage/components/HeroSection.tsx
Due: dapp-lint-js

Fix documentation for RedeemerNotOwner erorr
  solidity/contracts/BitcoinRedeemer.sol
Due: none

Fix issue with closing modal
  dapp/src/components/ModalRoot/withBaseModal.tsx
Due: dapp-lint-js

Update docs
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Move validation before execution
  solidity/contracts/BitcoinRedeemer.sol
Due: none

Rename variable
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Fix test after checks order change
  solidity/test/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Fix issue with switching type for action flow
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Add `CountdownTimer` component
  dapp/src/components/shared/SeasonCountdownSection/CountdownTimer.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Add `LiveTag` component
  dapp/src/components/shared/SeasonCountdownSection/LiveTag.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Add background
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Use `CurrencyBalance` to display TVL
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Improve documentation of assetsBalanceOf function
  solidity/contracts/stBTC.sol
Due: none

Define maxWithdraw as public function
  solidity/contracts/lib/ERC4626Fees.sol
  solidity/contracts/stBTC.sol
Due: none

Add referral to DepositFinalized documentation
  solidity/contracts/BitcoinDepositor.sol
Due: none

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
