Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Fix linting error
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
Due: dapp-lint-js

Display information if Ledger is not supported
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletButtonRightIcon.tsx
Due: dapp-lint-js

Flag OKX as unsupported
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
Due: dapp-lint-js

Small fixes
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
  dapp/src/constants/errors.ts
  dapp/src/constants/wallets.ts
Due: dapp-lint-js

Bump orangekit packages to `1.0.0-beta.25`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

pnpm format:fix
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
Due: dapp-lint-js

Bump orangekit packages to `1.0.0-beta.27`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Resolve console error
  dapp/src/components/shared/LiveTag.tsx
Due: dapp-lint-js

Resolve size issue
  dapp/src/pages/DashboardPage/PageLayout/PageLayout.tsx
Due: dapp-lint-js

Fix banner scroll issue
  dapp/src/components/MobileModeBanner/index.tsx
Due: dapp-lint-js

Bump orangekit packages to `1.0.0-beta.28`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Resolve linter error
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Hide buttons form building data step
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Cancel withdrawal
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Open error modal correctly in the withdraw flow
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Update deposit amount value
  sdk/src/modules/account.ts
Due: root-lint, sdk-lint-js

Bump orangekit packages to `1.0.0-beta.29`
  dapp/package.json
  dapp/src/wagmiConfig.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Add a blank line to the end of the file
  dapp/package.json
Due: dapp-lint-config

Change your to you in cancellation message
  dapp/src/components/TransactionModal/ResumeModal.tsx
Due: dapp-lint-js

Copy change: wrong network -> incorrect network
  dapp/src/constants/errors.ts
Due: dapp-lint-js

Fix issue for closing the modal window
  dapp/src/hooks/useDepositCallToAction.ts
Due: dapp-lint-js

Redirect user when modal window is closed
  dapp/src/components/ModalRoot/withBaseModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/hooks/useDepositCallToAction.ts
  dapp/src/store/middleware.ts
Due: dapp-lint-js

Remove unnecessary code
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Fix the `RedemptionCompleted` event id
  subgraph/src/tbtc-bridge.ts
Due: subgraph-lint-js

Get timestamp from the proper event
  sdk/src/lib/api/AcreSubgraphApi.ts
Due: root-lint, sdk-lint-js

Create a custom impl of `useLocalStorage` hook
  dapp/package.json
  dapp/src/hooks/index.ts
  dapp/src/hooks/useLocalStorage.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Detect the referral through the URL parameter
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDetectReferral.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useReferral.ts
  dapp/src/types/index.ts
  dapp/src/types/referral.ts
Due: dapp-lint-js

Fix failed dApp build
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Set the default referral to 0
  dapp/.env
Due: none

Support the default value for the referral
  dapp/src/constants/index.ts
  dapp/src/constants/referrals.ts
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/useReferral.ts
  dapp/src/types/index.ts
  dapp/src/types/referral.ts
Due: dapp-lint-js

Comment out component
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Resolve CI format error
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Add a feature flag for beehive component
  dapp/.env
  dapp/src/constants/featureFlags.ts
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Update activities timestamp strategy
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
  dapp/src/types/activity.ts
  dapp/src/utils/activities.ts
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/modules/account.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Add finalizedAt timestamp to sign message activity
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Resolve build error
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
  dapp/src/tests/factories.ts
  dapp/src/types/activity.ts
Due: dapp-lint-js

Use full precision to convert currencies
  dapp/src/hooks/useCurrencyConversion.ts
Due: dapp-lint-js

Increase desired decimals for fee
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltipItem.tsx
  dapp/src/constants/currency.ts
Due: dapp-lint-js

Make amount input focus on mount
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Make sure that hooks close correct modal windows
  dapp/src/hooks/useDepositCallToAction.ts
  dapp/src/hooks/useTriggerConnectWalletModal.ts
Due: dapp-lint-js
