Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: root-lint

Add commit to blame ignore
  .git-blame-ignore-revs
Due: root-lint

Add tests for `minStake` from BitcoinDepositor contract
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Use bigint type for the token balance in the form
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Remove unnecessary conversion to `bigint`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Releasing deposit in full from Mezo
  core/contracts/MezoAllocator.sol
Due: none

Adding two additional custom errors
  core/contracts/MezoAllocator.sol
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Renaming tag to MezoAllocatorAddMaintainer
  core/deploy/12_mezo_allocator_update_maintainer.ts
Due: core-lint-js

Remove unnecessary check condition for bigint
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Fix issues after merge
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/hooks/useCurrencyConversion.ts
Due: dapp-lint-js

Adding tests for releaseDeposit
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Removing test erc4626 as it is no longer used
  core/contracts/test/TestERC4626.sol
  core/deploy/00_resolve_testing_erc4626.ts
  core/test/helpers/context.ts
Due: core-lint-js

Refactoring ReleaseDeposit tests
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Smaller refactorings and cleanups
  core/contracts/MezoAllocator.sol
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Refactoring tests around MezoAllocator
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Update MezoAllocator upgrade test contract
  core/contracts/test/upgrades/MezoAllocatorV2.sol
Due: none

Refactorring error comments
  core/contracts/MezoAllocator.sol
Due: none

Update Solidity readme
  README.md
  solidity/README.md
Due: root-lint

`OverviewPage` component update
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Add deployment artifacts for sepolia
  solidity/.openzeppelin/sepolia.json
  solidity/deployments/sepolia/BitcoinDepositor.json
  solidity/deployments/sepolia/BitcoinRedeemer.json
  solidity/deployments/sepolia/MezoAllocator.json
  solidity/deployments/sepolia/solcInputs/49f0432287e96a47d66ba17ae7bf5d96.json
  solidity/deployments/sepolia/solcInputs/b22c277b248ba02f9ec5bf62d176f9ce.json
  solidity/deployments/sepolia/stBTC.json
Due: root-lint

Increase wait time for sepolia deployment
  solidity/helpers/deployment.ts
Due: root-lint

Update contracts artifacts import
  sdk/src/lib/ethereum/artifacts/sepolia/BitcoinDepositor.json
  sdk/src/lib/ethereum/artifacts/sepolia/stBTC.json
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/ethereum/stbtc.ts
Due: root-lint, sdk-lint-js, sdk-lint-config

Define types for contracts initialization
  sdk/src/lib/ethereum/contract.ts
Due: root-lint, sdk-lint-js

Use `useMinStakeAmount` instead of a simple selector
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
Due: dapp-lint-js

Remove unneeded function declaration after merge
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Add .openzeppelin/ to prettierignore
  solidity/.prettierignore
Due: root-lint

Define DepositState file with default export
  solidity/test/BitcoinDepositor.test.ts
  solidity/types/depositState.ts
  solidity/types/index.ts
Due: root-lint

Rename stake to deposit for minimum amount
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchMinDepositAmount.ts
  dapp/src/hooks/sdk/useFetchSdkData.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useMinDepositAmount.ts
  dapp/src/hooks/store/useMinStakeAmount.ts
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Rename from `useFetchSdkData` to `useInitDataFromSdk`
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

Fixing withdrawal functionality in stBTC
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: root-lint

Subgraph: Exposing data to populate Activity Details for stake operation
  subgraph/README.md
  subgraph/abis/AcreBitcoinDepositor.json
  subgraph/schema.graphql
  subgraph/src/acre-bitcoin-depositor.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
  subgraph/tests/acre-bitcoin-depositor-utils.ts
  subgraph/tests/acre-bitcoin-depositor.test.ts
Due: root-lint

Changing access of _feeOnRaw and _feeOnTotal to internal
  solidity/contracts/lib/ERC4626Fees.sol
  solidity/contracts/stBTC.sol
Due: root-lint

Update sdk/src/lib/ethereum/contract.ts
  sdk/src/lib/ethereum/contract.ts
Due: root-lint, sdk-lint-js

Init logic for submitting deposit receipt to a backend service
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/contexts/StakeFlowContext.tsx
  sdk/src/lib/utils/bridge.ts
  sdk/src/lib/utils/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Change `zIndex` for toast component
  dapp/src/theme/utils/zIndices.ts
Due: dapp-lint-js

Implement `Navigation` component
  dapp/src/DApp.tsx
  dapp/src/components/Header/Navigation.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/components/shared/Layout.tsx
  dapp/src/components/shared/Link.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Implement router transitions
  dapp/src/DApp.tsx
  dapp/src/components/shared/Layout.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Define `Layout` as wrapper route
  dapp/src/components/shared/Layout.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Implement conditional `ConnectWallet` rendering
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/router/index.ts
  dapp/src/hooks/router/useIsRoute.ts
Due: dapp-lint-js

Remove Ethereum wallet connection button
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js
