Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add sorting function for transaction history table
  dapp/src/components/TransactionHistory/Table/Header.tsx
  dapp/src/components/TransactionHistory/Table/utils/sorting.tsx
  dapp/src/hooks/useTransactionHistoryTable.ts
  dapp/src/static/icons/SortASC.tsx
  dapp/src/static/icons/SortDESC.tsx
  dapp/src/static/icons/index.ts
  dapp/src/theme/Table.ts
Due: dapp-lint-js

Let the user recall bridged tBTC
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Add tBTC token reference in tBTC Depositor contract
  core/contracts/tbtc/TbtcDepositor.sol
  core/deploy/03_deploy_tbtc_depositor.ts
Due: core-lint-js

Check revealed tBTC Vault matches the expected
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Track pending stake requests balance
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Set the correct pagination for the table
  dapp/src/components/TransactionHistory/Table/Footer.tsx
  dapp/src/components/TransactionHistory/Table/utils/pagination.tsx
  dapp/src/hooks/useTransactionHistoryTable.ts
Due: dapp-lint-js

Standardization of imports for utils
  dapp/src/components/TransactionHistory/Table/Cell/Custom.tsx
  dapp/src/components/TransactionHistory/Table/Cell/utils/index.tsx
  dapp/src/components/TransactionHistory/Table/Footer.tsx
  dapp/src/components/TransactionHistory/Table/Header.tsx
  dapp/src/components/TransactionHistory/Table/index.tsx
  dapp/src/components/TransactionHistory/Table/utils/index.tsx
Due: dapp-lint-js

Simplify the logic for creating test transactions
  dapp/src/components/TransactionHistory/Account/mock-transactions.ts
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
  dapp/src/components/TransactionHistory/Table/Cell/utils/content.tsx
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
  dapp/src/tests/factories.ts
  dapp/src/types/transaction.ts
  dapp/src/utils/numbers.ts
  dapp/src/utils/time.ts
Due: dapp-lint-js

Remove unnecessary blanks
  dapp/src/tests/factories.ts
Due: dapp-lint-js

Reverted staking steps
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/Modals/Staking/utils/stakingSteps.ts
Due: dapp-lint-js

End transaction process for default staking step
  dapp/src/components/Modals/Staking/index.tsx
Due: dapp-lint-js

Update initialize/finalize stake request function names in tests
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

ButtonLink styles update
  dapp/src/components/shared/ButtonLink/index.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Button: updated styles for large size
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Added end of transaction to resetState method, updated activeStakingSteps
  dapp/src/components/Modals/Staking/DepositBTC.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/Modals/Support/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/constants/staking.ts
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Moving fonts & icons to assets
  dapp/src/assets/fonts/Segment-Black.otf
  dapp/src/assets/fonts/Segment-Bold.otf
  dapp/src/assets/fonts/Segment-Medium.otf
  dapp/src/assets/fonts/Segment-Regular.otf
  dapp/src/assets/fonts/Segment-SemiBold.otf
  dapp/src/assets/icons/AcreLogo.tsx
  dapp/src/assets/icons/AlertInfo.tsx
  dapp/src/assets/icons/ArrowLeft.tsx
  dapp/src/assets/icons/ArrowRight.tsx
  dapp/src/assets/icons/ArrowUpRight.tsx
  dapp/src/assets/icons/Bitcoin.tsx
  dapp/src/assets/icons/ConnectBTCAccount.tsx
  dapp/src/assets/icons/ConnectETHAccount.tsx
  dapp/src/assets/icons/Ethereum.tsx
  dapp/src/assets/icons/Info.tsx
  dapp/src/assets/icons/ShieldPlus.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/components/Modals/Support/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/index.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/TransactionHistory/Table/utils/pagination.tsx
  dapp/src/components/shared/Alert/index.tsx
  dapp/src/components/shared/ButtonLink/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

borderRadius depending on size
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Fixed the eslint issue
  dapp/src/theme/CurrencyIcon.ts
Due: dapp-lint-js

Checking for treasury zero address and adding tests
  core/contracts/Acre.sol
  core/test/Acre.test.ts
  core/test/Deployment.test.ts
Due: core-lint-js

Move TBTCVault check to the beginign of initializeStakeRequest
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Move Depositor address check to initializeStakeRequest
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Update tests to reflect vault and depositor checks change
  core/contracts/test/BridgeStub.sol
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Fix conversion of fees from sat to tBTC
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Update unit tests for notify/finalize function changes
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Fix linting errors in SDK tests
  sdk/.eslintrc
  sdk/test/lib/ethereum/eip712.test.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Add abstract ethers signer
  sdk/src/lib/utils/ethereum-signer.ts
  sdk/src/lib/utils/index.ts
Due: root-lint, sdk-lint-js

Update `initializeEthereum` fn
  sdk/src/index.ts
Due: root-lint, sdk-lint-js

Bump `ethers` lib to `6.10.0` in SDK
  sdk/package.json
Due: root-lint, sdk-lint-config

Disble rule for import in `tbtc-depositor.ts` file
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Fix Ethereum implementation of `initializeStake`
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Update the SDK tsconfig
  sdk/tsconfig.json
Due: root-lint, sdk-lint-config

Update `pnpm-lock` file
  pnpm-lock.yaml
Due: root-lint

Simplify the value for `ONE_DAY_IN_SECONDS`
  dapp/src/constants/time.ts
Due: dapp-lint-js

Simplify the value for `ONE_HOUR_IN_SECONDS`
  dapp/src/constants/time.ts
Due: dapp-lint-js

Rename variable
  sdk/src/index.ts
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Clearly specify the return type
  sdk/src/index.ts
Due: root-lint, sdk-lint-js

Rename class field and constructor param
  sdk/src/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Rename `receiver` -> `staker`
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Rename import and class field
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Set correct contract name in typed message
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js
