Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Use Form Control for `TokenBalanceInput`
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/theme/Form.ts
  dapp/src/theme/FormError.ts
  dapp/src/theme/FormLabel.ts
  dapp/src/theme/TokenBalanceInput.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Define external tbtc interfaces
  core/contracts/external/tbtc/IBridge.sol
  core/contracts/external/tbtc/ITBTCVault.sol
Due: none

Implement tBTC Depositor contract
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Add dependency to @keep-network/bitcoin-spv-sol
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Add TODO about minimum limits
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Change referral type to uint16
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Update referral type in StakeReferral event
  core/contracts/Acre.sol
Due: none

Fix formatting
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Form initialization for stake/unstake action
  dapp/package.json
  dapp/src/components/Modals/ActionForm/index.tsx
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/shared/Form/Form.tsx
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/components/shared/Form/index.tsx
  dapp/src/components/shared/FormBase/TransactionDetails.tsx
  dapp/src/components/shared/FormBase/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/theme/Tabs.ts
  dapp/src/theme/index.ts
  dapp/src/types/index.ts
  dapp/src/types/staking.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Simplify the type logic for the amount
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Allow to remove the limit for deposits
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Use `convertToShares` instead of `previewDeposit`
  core/test/Acre.test.ts
Due: core-lint-js

Add missing `await` in `before` test hook
  core/test/Acre.test.ts
Due: core-lint-js

Update `mint` test case
  core/test/Acre.test.ts
Due: core-lint-js

Update `updateDepositParameters` fn
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Allocate tBTC to Yield Modules
  core/contracts/Acre.sol
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
Due: none

Adding maintainer modifier and smaller refactorings
  core/contracts/Dispatcher.sol
Due: none

Adding maintainer as a named account
  core/hardhat.config.ts
Due: core-lint-js

Updating deployment scripts
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/11_update_dispatcher.ts
  core/deploy/12_update_maintainer.ts
Due: core-lint-js

Updating unit tests and adding some integration tests for assets allocation
  core/test/Dispatcher.test.ts
  core/test/integration/AssetFlows.test.ts
Due: core-lint-js

Update `maxMint` function
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Add unit tests for `deposit` function
  core/test/Acre.test.ts
Due: core-lint-js

Add function to convert user amount to `bigint`
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Add a validation for stake form
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/shared/FormBase/TransactionDetails.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/constants/index.ts
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Handling the submission of the stake form
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/contexts/TransactionContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTransactionContext.ts
Due: dapp-lint-js

Import ethers from hardhat
  core/test/Acre.test.ts
  core/test/helpers/contract.ts
Due: core-lint-js

Update @thesis-co/eslint-config to the latest version
  core/package.json
  pnpm-lock.yaml
  sdk/package.json
  website/package.json
Due: root-lint, core-lint-config, website-lint-config, sdk-lint-config

Fix problems reported by eslint
  core/deploy/00_resolve_tbtc.ts
  core/deploy/21_transfer_ownership_acre.ts
  core/deploy/22_transfer_ownership_acre_router.ts
  core/test/Acre.test.ts
Due: core-lint-js

Run format after build in CI workflow
  .github/workflows/core.yaml
Due: root-lint

Improvements for forms
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/constants/staking.ts
  dapp/src/utils/forms.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Define custom data from the form level
  dapp/src/components/Modals/Staking/StakeForm.tsx
  dapp/src/components/shared/FormBase/TransactionDetails.tsx
  dapp/src/components/shared/FormBase/index.tsx
  dapp/src/types/index.ts
  dapp/src/types/staking.ts
Due: dapp-lint-js

Resetting approval for the old dispatcher
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Skipping deployment of TestERC4626 Vault for Mainnet
  core/deploy/00_resolve_testing_erc4626.ts
Due: core-lint-js

Renames and smaller refactorings
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/11_acre_update_dispatcher.ts
  core/deploy/12_dispatcher_update_maintainer.ts
  core/hardhat.config.ts
  core/test/integration/AssetFlows.test.ts
Due: core-lint-js

Slithering
  core/contracts/Acre.sol
Due: none

Fix slither error
  core/contracts/Acre.sol
Due: none

Fix typo
  core/contracts/Acre.sol
Due: none

Add a staking steps overview
  dapp/src/components/Modals/Staking/Overview.tsx
  dapp/src/components/Modals/Staking/index.tsx
Due: dapp-lint-js

Adding TODO to revoke share tokens approval from the old dispatcher to a new one
  core/contracts/Acre.sol
Due: none

Add new test case for staking
  core/test/Acre.test.ts
Due: core-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
