Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add a basic modal to connecting wallet by orangeKit
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/hooks/useWallet.ts
  dapp/src/types/modal.ts
Due: dapp-lint-js

Switching to `useWallet` instead `useWalletContext`
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/hooks/useTransactionModal.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Create a `useOrangeKitConnector` hook
  dapp/src/hooks/index.ts
  dapp/src/hooks/useOrangeKitConnector.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/types/core.ts
Due: dapp-lint-js

Send BTC transaction by client from orangeKit
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Implement fetch total assets from stBTC contracts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchTotalAssets.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useTotalAssets.ts
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Use `BitcoinProvider` from` OrangeKit`
  dapp/src/hooks/index.ts
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/hooks/useOrangeKitProvider.ts
Due: dapp-lint-js

Implement `useSeasonProgress` hook
  dapp/src/hooks/index.ts
  dapp/src/hooks/useSeasonProgress.ts
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
Due: dapp-lint-js

Add links to sidebar buttons
  dapp/src/components/Sidebar.tsx
  dapp/src/constants/externalHref.ts
Due: dapp-lint-js

Remove "Rewards Boost" badge
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Handle deposit rejection with eip-1993 error
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/types/eip1193.ts
  dapp/src/types/index.ts
  dapp/src/utils/eip1193.ts
  dapp/src/utils/index.ts
  dapp/src/utils/type-check.ts
Due: dapp-lint-js

Add TODO comment
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Updates for `OrangeKit` hooks
  dapp/src/hooks/index.ts
  dapp/src/hooks/orangeKit/index.ts
  dapp/src/hooks/orangeKit/useBitcoinProvider.ts
  dapp/src/hooks/orangeKit/useConnector.ts
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Set up `wagmiConfig` depending on `VITE_USE_TESTNET`
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Fix issue with incorrect import for `useConnector`
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Open the transaction modal immediately when the user connects
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/hooks/useTransactionModal.ts
  dapp/src/store/middleware.ts
Due: dapp-lint-js

Initialize withdrawal based on Bitcoin amount
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/account.ts
  sdk/src/modules/withdrawal-service.ts
Due: root-lint, sdk-lint-js

Adding missing props type for `ConnectWalletModalBase`
  dapp/src/components/ConnectWalletModal.tsx
Due: dapp-lint-js

Fix a missing dependency bug for dApp
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Fetch total assets from protocol
  dapp/src/hooks/sdk/useFetchTotalAssets.ts
Due: dapp-lint-js

Add the ability to disconnect the wallet
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Add basic handling for wallet connection failure
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Remove the unneeded component
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
Due: dapp-lint-js

Add artifacts of contracts deployed on Sepolia
  solidity/.openzeppelin/sepolia.json
  solidity/deployments/sepolia/BitcoinDepositor.json
  solidity/deployments/sepolia/BitcoinRedeemer.json
  solidity/deployments/sepolia/MezoAllocator.json
  solidity/deployments/sepolia/stBTC.json
Due: solidity-lint-config

Set minimum deposit amount to 0.015 BTC on Sepolia
  solidity/deploy/14_bitcoin_depositor_update_minimum_deposit_amount.ts
Due: solidity-lint-js

Update Subgraph for Sepolia
  subgraph/abis/BitcoinDepositor.json
  subgraph/subgraph.yaml
Due: subgraph-lint-config

Bump `tbtc-v2.ts` lib
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Update `@orangekit/sdk` dependency
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Implement custom `RedeemerProxy`
  sdk/src/lib/redeemer-proxy.ts
Due: root-lint, sdk-lint-js

Add `signMessage` fn in `BitcoinProvider`
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
  sdk/src/lib/bitcoin/providers/provider.ts
Due: root-lint, sdk-lint-js

Add function to initialize the withdrawal
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
Due: root-lint, sdk-lint-js

Update `BitcoinProvider` interface
  sdk/src/acre.ts
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
  sdk/src/lib/bitcoin/providers/provider.ts
  sdk/src/modules/account.ts
Due: root-lint, sdk-lint-js

Update `stBTC` contract inteface
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
Due: root-lint, sdk-lint-js

Add `BitcoinRedeemer` interface and Ethereum impl
  sdk/src/lib/contracts/bitcoin-redeemer.ts
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/ethereum/bitcoin-redeemer.ts
Due: root-lint, sdk-lint-js

Convert Bitcoin amount to stBTC and tBTC amount
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
Due: root-lint, sdk-lint-js

Remove unneeded code related with Ledger Live API.
  dapp/src/DApp.tsx
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
  dapp/src/contexts/WalletContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useWalletContext.ts
  dapp/src/types/index.ts
  dapp/src/types/ledger-live-app.ts
  dapp/src/utils/type-check.ts
Due: dapp-lint-js

Use feature flag
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Remove props
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Remove the unneeded `LedgerWalletAPIProvider`
  dapp/src/DApp.tsx
  dapp/src/contexts/LedgerWalletAPIProvider.tsx
  dapp/src/contexts/WalletApiReactTransportProvider.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/useWalletApiReactTransport.tsx
Due: dapp-lint-js

Update the `README` file for dApp
  dapp/README.md
Due: none

Remove `@ledgerhq` dependencies
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config
