Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Use current session data to check promise state
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/hooks/useCancelPromise.ts
Due: dapp-lint-js

Enable Sentry ExtraErrorData integration
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Enable Sentry HttpClient integration
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Update modal styles on mobile
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
  dapp/src/theme/Modal.ts
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Copy change for dApp
  dapp/src/components/TransactionModal/ActiveUnstakingStep/BuildTransactionModal.tsx
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Update estimated time for processing of small deposits from 1 hour to 2 hours
  dapp/src/utils/activities.ts
  dapp/src/utils/tests/activities.test.ts
Due: dapp-lint-js

Update wallet connection alert component
  dapp/src/DApp.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletAlert.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletErrorAlert.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/constants/errors.ts
  dapp/src/contexts/WalletConnectionAlertContext.tsx
  dapp/src/contexts/WalletConnectionErrorContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useWalletConnectionAlert.ts
  dapp/src/hooks/useWalletConnectionError.ts
  dapp/src/types/error.ts
  dapp/src/types/index.ts
  dapp/src/utils/orangekit/index.ts
Due: dapp-lint-js

Add missing `status` for `ConnectWalletAlert` component
  dapp/src/components/ConnectWalletModal/ConnectWalletAlert.tsx
Due: dapp-lint-js

Support direct navigation in Ledger Live App
  dapp/src/utils/orangekit/index.ts
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
  dapp/src/utils/orangekit/ledger-live/tests/bitcoin-provider.test.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Update Ledger Live manifest
  dapp/manifests/ledger-live/ledger-live-manifest-development.json
  dapp/manifests/ledger-live/ledger-live-manifest-mainnet.json
  dapp/manifests/ledger-live/ledger-live-manifest-testnet.json
  dapp/manifests/ledger-live/ledger-manifest-template.json
Due: dapp-lint-config

Add missing comment
  dapp/src/components/ConnectWalletModal/ConnectWalletAlert.tsx
Due: dapp-lint-js

Improve the `ConnectWallet` component
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Update breakpoints for modal styles
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
  dapp/src/theme/Modal.ts
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Encapsulate cause parameter into separate handler
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/hooks/posthog/usePostHogCapture.ts
  dapp/src/hooks/posthog/usePostHogPageViewCapture.ts
  dapp/src/hooks/useAcrePoints.ts
Due: dapp-lint-js

Add points claim failure event
  dapp/src/hooks/posthog/usePostHogCapture.ts
  dapp/src/hooks/useAcrePoints.ts
  dapp/src/posthog/events.ts
Due: dapp-lint-js

Remove unnecessary `it` in test
  dapp/src/utils/orangekit/ledger-live/tests/bitcoin-provider.test.ts
Due: dapp-lint-js

Log connection error
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
Due: dapp-lint-js

Set Sentry user id to hashed identifier
  dapp/package.json
  dapp/src/sentry.test.ts
  dapp/src/sentry.ts
Due: dapp-lint-js, dapp-lint-config

Add retry logic to tBTC API calls
  sdk/src/lib/api/HttpApi.ts
  sdk/src/lib/api/TbtcApi.ts
Due: root-lint, sdk-lint-js

Add pnpm-lock.yaml
  pnpm-lock.yaml
Due: root-lint

Update content for connection alerts
  dapp/src/components/ConnectWalletModal/ConnectWalletAlert.tsx
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Improve padding in modal component on mobile
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Move dapp tests to the root test folder
  dapp/src/tests/factories.ts
  dapp/test/sentry.test.ts
  dapp/test/store/walletSlice.test.ts
  dapp/test/utils/activities.test.ts
  dapp/test/utils/numbers.test.ts
  dapp/test/utils/orangekit/ledger-live/bitcoin-provider.test.ts
Due: dapp-lint-js

Do not change the modal width
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Use existing ethers library to calculate hash
  dapp/package.json
  dapp/src/sentry.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Update `ModalBody` horizontal padding
  dapp/src/components/WelcomeModal.tsx
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Implement identity id hashing
  dapp/src/hooks/posthog/usePostHogIdentity.ts
Due: dapp-lint-js

Update copy
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Add tooltip if activities are pending
  dapp/src/components/shared/Tooltip.tsx
  dapp/src/hooks/store/useActivities.ts
  dapp/src/pages/DashboardPage/PositionDetails.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
Due: dapp-lint-js

Refactor wallet error into walleta alert
  dapp/src/DApp.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletErrorAlert.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/constants/alerts.ts
  dapp/src/constants/errors.ts
  dapp/src/constants/index.ts
  dapp/src/contexts/WalletConnectionAlertContext.tsx
  dapp/src/contexts/WalletConnectionErrorContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useWalletConnectionAlert.ts
  dapp/src/hooks/useWalletConnectionError.ts
  dapp/src/types/callback.ts
  dapp/src/types/error.ts
  dapp/src/utils/orangekit/index.ts
Due: dapp-lint-js

Update styles
  dapp/src/components/ConnectWalletModal/ConnectWalletAlert.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/components/shared/Alert.tsx
  dapp/src/theme/Alert.ts
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

cleanup README.md
  dapp/README.md
Due: none

fix typo README.md
  solidity/README.md
Due: none

Use tanstack query to fetch activities
  dapp/src/constants/queryKeysFactory.ts
  dapp/src/hooks/sdk/useActivitiesQuery.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useHasFetchedActivities.ts
  dapp/src/hooks/useIsFetchedWalletData.ts
  dapp/src/store/tests/walletSlice.test.ts
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/store/wallet/walletSlice.ts
Due: dapp-lint-js

Remove `GrantedSeasonPassCard` component
  dapp/src/pages/DashboardPage/GrantedSeasonPassCard.tsx
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Remove gamification features
  dapp/.env
  dapp/src/assets/images/benefits/bibos-beehive.svg
  dapp/src/assets/images/benefits/index.ts
  dapp/src/assets/images/benefits/rewards-boost-arrow.svg
  dapp/src/assets/images/benefits/rewards-boost.svg
  dapp/src/assets/images/benefits/season-key.svg
  dapp/src/components/Sidebar.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/constants/benefits.ts
  dapp/src/constants/featureFlags.ts
  dapp/src/constants/index.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Remove `Sidebar` component
  dapp/.env
  dapp/src/DApp.tsx
  dapp/src/components/Layout.tsx
  dapp/src/components/ModalRoot/withBaseModal.tsx
  dapp/src/components/Sidebar.tsx
  dapp/src/contexts/SidebarContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useSidebar.ts
  dapp/src/theme/Sidebar.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/semanticTokens.ts
  dapp/src/theme/utils/zIndices.ts
Due: dapp-lint-js

Revert `.env` changes
  dapp/.env
Due: none

Refactor tanstack queries for dApp
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/orangeKit/index.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchActivities.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useWalletAddress.ts
  dapp/src/hooks/tanstack-query/index.ts
  dapp/src/hooks/tanstack-query/useAcrePointsDataQuery.ts
  dapp/src/hooks/tanstack-query/useActivitiesQuery.ts
  dapp/src/hooks/tanstack-query/useBitcoinBalanceQuery.ts
  dapp/src/hooks/tanstack-query/useBitcoinPositionQuery.ts
  dapp/src/hooks/tanstack-query/useMatsQuery.ts
  dapp/src/hooks/tanstack-query/useStatisticsQuery.ts
  dapp/src/hooks/tanstack-query/useUserPointsDataQuery.ts
  dapp/src/hooks/useAcrePoints.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useInvalidateQueries.ts
  dapp/src/hooks/useStatistics.ts
  dapp/src/hooks/useTrackActivities.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Fix for checking the status of fetched data
  dapp/src/hooks/useIsFetchedWalletData.ts
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
