Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config

lint-sol:
  name: lint core sol
  entry: /usr/bin/env bash -c "cd core/ && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "cd core/ && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "cd core/ && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Define GitHub Actions workflow for Core module
  .github/workflows/core.yaml
Due: lint-config

Add .nvmrc file
  core/.nvmrc
Due: none

Add a CI badge for core
  README.md
Due: none

Create TokenStaking contract
  core/contracts/staking/TokenStaking.sol
Due: lint-sol

Add `@openzeppelin/contracts` dependency
  core/contracts/staking/TokenStaking.sol
  core/package.json
  core/yarn.lock
Due: lint-sol, lint-config

Add `stake` function to `TokenStaking` contract
  core/contracts/staking/TokenStaking.sol
  core/contracts/test/TestToken.sol
  core/test/staking/TokenStaking.test.ts
Due: lint-sol, lint-eslint

Update `TokenStaking` contract
  core/contracts/shared/IReceiveApproval.sol
  core/contracts/staking/TokenStaking.sol
  core/contracts/test/TestToken.sol
  core/test/staking/TokenStaking.test.ts
Due: lint-sol, lint-eslint

Update staking logic
  core/contracts/staking/TokenStaking.sol
  core/test/staking/TokenStaking.test.ts
Due: lint-sol, lint-eslint

Rename param in `_stake` function
  core/contracts/staking/TokenStaking.sol
Due: lint-sol

Leave `TODO` in `_stake` function
  core/contracts/staking/TokenStaking.sol
Due: lint-sol

Settings for Visual Studio Code
  .vscode/settings.json
Due: lint-config

Update name of the script for JS linting
  .pre-commit-config.yaml
Due: lint-config

Use actions/setup-node@v4
  .github/workflows/core.yaml
Due: lint-config

Use actions/checkout@v4
  .github/workflows/core.yaml
Due: lint-config

Rename Litmus to Acre
  README.md
  core/README.md
  core/contracts/Acre.sol
  core/deploy/01_deploy_acre.ts
  core/test/Acre.test.ts
Due: lint-sol, lint-eslint

Fix linting errors
  core/contracts/staking/TokenStaking.sol
  core/contracts/test/TestToken.sol
  core/deploy/01_deploy_acre.ts
  core/test/staking/TokenStaking.test.ts
Due: lint-sol, lint-eslint

Add initial impl of the unstaking
  core/contracts/staking/TokenStaking.sol
  core/contracts/test/TestToken.sol
  core/test/staking/TokenStaking.test.ts
Due: lint-sol, lint-eslint

Refactor staking contract
  core/contracts/staking/TokenStaking.sol
  core/test/staking/TokenStaking.test.ts
Due: lint-sol, lint-eslint

Adding .git-blame-ignore-revs file
  core/.git-blame-ignore-revs
Due: none

Bumping up versions across selected dependencies
  core/package.json
  core/yarn.lock
Due: lint-config

Pointing solhint config at thesis/solhint-config
  core/.solhint.json
  core/package.json
Due: lint-config

Init gatsby project for landing page
  website/.gitignore
  website/README.md
  website/gatsby-config.ts
  website/package.json
  website/src/pages/404.tsx
  website/src/pages/index.tsx
  website/tsconfig.json
  website/yarn.lock
Due: lint-eslint, lint-config

Update a `package.json` for acre website
  website/README.md
  website/package.json
  website/yarn.lock
Due: lint-config

Update a `gatsby-config.ts` for acre website
  website/gatsby-config.ts
Due: lint-eslint

chore: forge init
  .eslintignore
  .eslintrc
  .git-blame-ignore-revs
  .github/workflows/test.yml
  .gitignore
  .mocharc.json
  .nvmrc
  .prettierignore
  .prettierrc.js
  .solhint.json
  .solhintignore
  .tsconfig-eslint.json
  README.md
  contracts/Acre.sol
  deploy/01_deploy_acre.ts
  foundry.toml
  hardhat.config.ts
  package.json
  script/Counter.s.sol
  slither.config.json
  src/Counter.sol
  test/Acre.test.ts
  test/Counter.t.sol
  tsconfig.export.json
  tsconfig.json
  yarn.lock
Due: lint-sol, lint-eslint, lint-config

forge install: forge-std
  .gitmodules
Due: none

Adding gitmodules
  .gitmodules
Due: none

Adding foundry for acre
  .gitmodules
  core/.gitignore
  core/foundry.toml
  core/hardhat.config.ts
  core/package.json
  core/yarn.lock
Due: lint-eslint, lint-config

Add a `.nvmrc` for acre page
  website/.nvmrc
Due: none

Eslint configuration for acr website
  .vscode/settings.json
  website/.eslintignore
  website/.eslintrc
  website/.prettierignore
  website/.prettierrc.js
  website/.tsconfig-eslint.json
  website/package.json
  website/yarn.lock
Due: lint-eslint, lint-config

Code formatting according to the new eslint rules
  website/gatsby-config.ts
  website/src/pages/404.tsx
  website/src/pages/index.tsx
Due: lint-eslint

Init vite project for dApp
  dapp/.eslintrc.cjs
  dapp/.gitignore
  dapp/README.md
  dapp/index.html
  dapp/package.json
  dapp/public/vite.svg
  dapp/src/App.tsx
  dapp/src/main.tsx
  dapp/src/vite-env.d.ts
  dapp/tsconfig.json
  dapp/tsconfig.node.json
  dapp/vite.config.ts
  dapp/yarn.lock
Due: lint-eslint, lint-config

Add a .nvmrc for dApp
  dapp/.nvmrc
Due: none

Eslint configuration for dApp
  dapp/.eslintignore
  dapp/.eslintrc
  dapp/.eslintrc.cjs
  dapp/.prettierignore
  dapp/.prettierrc.js
  dapp/.tsconfig-eslint.json
  dapp/package.json
  dapp/tsconfig.json
  dapp/vite.config.ts
  dapp/yarn.lock
Due: lint-eslint, lint-config

Code formatting according to the new eslint rules
  dapp/src/App.tsx
  dapp/src/main.tsx
Due: none

Update scripts for `eslint`
  website/package.json
Due: lint-config

Update scripts for eslint
  dapp/package.json
Due: lint-config

Remove unnecessary options from the `tsconfig.json` file
  dapp/tsconfig.json
Due: lint-config

Move `.git-blame-ignore-revs` to root dir
  .git-blame-ignore-revs
  core/.git-blame-ignore-revs
Due: none

Set up global linting config
  .eslintignore
  .eslintrc
  .gitignore
  .prettierrc.js
  .solhint.json
  .solhintignore
  .tsconfig-eslint.json
  package.json
  tsconfig.json
  yarn.lock
Due: lint-eslint, lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
