Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Update hook
  dapp/src/hooks/sdk/useFetchMinDepositAmount.ts
Due: dapp-lint-js

Resolve build error
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/types/callback.ts
Due: dapp-lint-js

Remove `MissingAccountModal` component
  dapp/src/components/TransactionModal/MissingAccountModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
Due: dapp-lint-js

Update button text style
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Use `Tag` instead of `TextSm` component
  dapp/src/components/TransactionModal/UnsupportedAccountModal.tsx
Due: dapp-lint-js

Revert `ResumeModal` button height change
  dapp/src/components/TransactionModal/ResumeModal.tsx
Due: dapp-lint-js

Add `TODO` comment
  dapp/src/hooks/useTransactionDetails.ts
Due: dapp-lint-js

Calculate the details of the transaction when the value is valid
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
Due: dapp-lint-js

Refactor `CurrencyBalance` props
  dapp/src/components/TransactionModal/UnsupportedAccountModal.tsx
Due: dapp-lint-js

Remove unused icon
  dapp/src/assets/icons/BTC.tsx
  dapp/src/assets/icons/index.ts
Due: dapp-lint-js

WIP: Integrate withdrawals with OrangeKit and tBTC SDK
  sdk/src/acre.ts
  sdk/src/lib/bitcoin/address.ts
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
  sdk/src/lib/bitcoin/providers/provider.ts
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/src/modules/withdrawal-service.ts
Due: root-lint, sdk-lint-js

combine hooks into one - `useTokenAmountField`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
Due: dapp-lint-js

Refactor `Alert` component theme
  dapp/src/components/TransactionModal/UnsupportedAccountModal.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/components/shared/alerts/ErrorAlert/ErrorAlert.tsx
  dapp/src/components/shared/alerts/ErrorAlert/ErrorAlertIcon.tsx
  dapp/src/components/shared/alerts/ErrorAlert/index.ts
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Rename variables and components
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
Due: dapp-lint-js

Resolve ESLint errors
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
  dapp/src/components/shared/alerts/index.ts
Due: dapp-lint-js

Fix creating the VoidSigner instance
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Implement `ProgressBar` component
  dapp/src/components/ProgressBar.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/LandingPage/components/SeasonCountdownSection.tsx
  dapp/src/theme/CurrencyBalance.ts
  dapp/src/theme/Progress.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Update `SeasonCountdownSection` component
  dapp/src/assets/images/benefits/bibos-beehive.svg
  dapp/src/assets/images/benefits/index.ts
  dapp/src/components/shared/SeasonCountdownSection/SeasonCountdownSectionBackground.tsx
  dapp/src/constants/benefits.ts
  dapp/src/pages/LandingPage/components/BenefitCard.tsx
  dapp/src/pages/LandingPage/components/SeasonCountdownSection.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Resolve ESLint errors
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Add `@orangekit/react` to the dApp
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Add all required packages for `wagmi`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Revert "Refactor `Alert` component theme"
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/components/shared/alerts/ErrorAlert/ErrorAlert.tsx
  dapp/src/components/shared/alerts/ErrorAlert/ErrorAlertIcon.tsx
  dapp/src/components/shared/alerts/ErrorAlert/index.ts
  dapp/src/components/shared/alerts/index.ts
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Add comment
  dapp/src/components/shared/alerts/ErrorAlert/ErrorAlert.tsx
Due: dapp-lint-js

Remove Button's `size` props in `ConnectWallet`
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Remove `h` prop
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
Due: dapp-lint-js

Refactor way to distinguish LedgerLive errors
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/types/ledger-live-app.ts
  dapp/src/utils/index.ts
  dapp/src/utils/type-check.ts
Due: dapp-lint-js

Adjust `CurrentSeasonCard` styles
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/theme/Progress.ts
Due: dapp-lint-js

Expose totalAssets in SDK
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/protocol.ts
Due: root-lint, sdk-lint-js

Fix `ProgressLabel` vertical alignment
  dapp/src/theme/Progress.ts
Due: dapp-lint-js

Revert "Expose totalAssets in SDK"
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/protocol.ts
Due: root-lint, sdk-lint-js

Add unit tests for totalAssets function
  sdk/test/lib/ethereum/stbtc.test.ts
  sdk/test/modules/protocol.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Update docs in `account` and `protocol` modules
  sdk/src/modules/account.ts
  sdk/src/modules/protocol.ts
Due: root-lint, sdk-lint-js

Define season cap as constant
  dapp/src/constants/staking.ts
  dapp/src/pages/LandingPage/components/SeasonCountdownSection.tsx
Due: dapp-lint-js

Reorganize Season related components
  dapp/src/assets/images/season-section-background.png
  dapp/src/assets/images/season-section-foreground.png
  dapp/src/components/shared/CountdownTimer.tsx
  dapp/src/components/shared/LiveTag.tsx
  dapp/src/components/shared/SeasonCountdownSection/index.ts
  dapp/src/components/shared/SeasonSectionBackground.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/LandingPage/components/CurrentSeasonSection.tsx
  dapp/src/pages/LandingPage/components/index.ts
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Update partner logos
  dapp/src/assets/images/partner-logos/index.ts
  dapp/src/assets/images/partner-logos/mezo-logo.svg
  dapp/src/constants/partnerLogos.ts
Due: dapp-lint-js

Remove unused logos
  dapp/src/assets/images/partner-logos/base-logo.svg
  dapp/src/assets/images/partner-logos/index.ts
  dapp/src/assets/images/partner-logos/okx-logo.svg
  dapp/src/assets/images/partner-logos/wormhole-logo.svg
  dapp/src/assets/images/partner-logos/xverse-logo.svg
  dapp/src/constants/partnerLogos.ts
Due: dapp-lint-js

Apply minor styling adjustments
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Update docs and test description
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/modules/protocol.ts
  sdk/test/lib/ethereum/stbtc.test.ts
Due: root-lint, sdk-lint-js

Initial `orangeKit` config setup
  dapp/.env
  dapp/src/DApp.tsx
  dapp/src/queryClient.ts
  dapp/src/vite-env.d.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js
