Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Create a `IconWrapper` component
  dapp/src/assets/icons/BitcoinIcon.tsx
  dapp/src/assets/icons/CableWithPlugIcon.tsx
  dapp/src/assets/icons/ConnectBTCAccount.tsx
  dapp/src/assets/icons/Ethereum.tsx
  dapp/src/assets/icons/EthereumIcon.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/index.tsx
  dapp/src/components/shared/IconWrapper.tsx
Due: dapp-lint-js

Handle error occurring after the deposit action
  dapp/src/assets/icons/DiscordIcon.tsx
  dapp/src/assets/icons/SecurityCheckIcon.tsx
  dapp/src/assets/icons/ServerIcon.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ErrorModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/index.tsx
  dapp/src/constants/externalHref.ts
  dapp/src/constants/index.ts
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Add automatic refresh of stake action after one minute
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useCountdown.ts
  dapp/src/types/index.ts
  dapp/src/types/time.ts
  dapp/src/utils/numbers.ts
  dapp/src/utils/time.ts
Due: dapp-lint-js

Fix typo for `onClick`
  dapp/src/components/shared/alerts/CardAlert.tsx
  dapp/src/components/shared/alerts/ReceiveSTBTCAlert.tsx
Due: dapp-lint-js

Change the default status value for the `Toast` component
  dapp/src/components/shared/alerts/Toast.tsx
Due: dapp-lint-js

Rename `WALLET_TOAST` to `WALLET_ERROR_TOAST_ID`
  dapp/src/hooks/useWalletToast.ts
Due: dapp-lint-js

Remove unnecessary disabling of the `eslint` rule
  dapp/src/hooks/useWalletToast.ts
Due: dapp-lint-js

Move style for `LoadingButton` to theme
  dapp/src/components/shared/LoadingButton.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Drafting Mezo Allocator
  core/contracts/MezoAllocator.sol
Due: none

Popover: naming conventions improvements, updated chakra theme for popover, types for size
  dapp/src/components/LiquidStakingTokenPopover.tsx
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/theme/Popover.ts
  dapp/src/types/index.ts
  dapp/src/types/size.ts
Due: dapp-lint-js

Adding checks, events and docs to MezoAllocator contract
  core/contracts/MezoAllocator.sol
Due: none

Remove the default icon for IconWrapper component
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
  dapp/src/components/shared/IconWrapper.tsx
Due: dapp-lint-js

Add documentation for `useCountdown` hook
  dapp/src/hooks/useCountdown.ts
Due: dapp-lint-js

Adding deployment scripts for Mezo Allocator
  core/deploy/00_resolve_mezo_portal.ts
  core/deploy/02_deploy_mezo_allocator.ts
  core/external/mainnet/MezoPortal.json
  core/external/sepolia/MezoPortal.json
Due: core-lint-js, core-lint-config

Add reload icon to the refresh button
  dapp/src/assets/icons/ReloadIcon.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
Due: dapp-lint-js

Naming conventions, moved resize listener to standalone hook
  dapp/src/components/GlobalStyles/fonts.tsx
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/LiquidStakingTokenPopover.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useSize.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
Due: dapp-lint-js

Add a loading state for button in the server error modal window
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Add a circle progress animation for `RetryModal`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
Due: dapp-lint-js

Update styles for custom modal footer
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
  dapp/src/components/shared/ModalBase/index.tsx
Due: dapp-lint-js

Adding a stub for MezoPortal for testing purposes
  core/contracts/MezoAllocator.sol
  core/contracts/stBTC.sol
  core/contracts/test/MezoPortalStub.sol
Due: none

Adding deployment scripts
  core/deploy/00_resolve_mezo_portal.ts
  core/deploy/02_deploy_mezo_allocator.ts
  core/deploy/11_acre_update_dispatcher.ts
  core/deploy/13_mezo_allocator_update_storage.ts
  core/deploy/24_transfer_ownership_mezo_allocator.ts
Due: core-lint-js

Replacing Dispatcher with MezoAllocator
  core/deploy/11_stbtc_update_dispatcher.ts
Due: core-lint-js

Drafting first tests for MezoAllocator
  core/.solhintignore
  core/test/Dispatcher.test.ts
  core/test/MezoAllocator.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Small UI improvements
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
Due: dapp-lint-js

Added bigint sanitizer to redux enhancers & updated serializable check
  dapp/package.json
  dapp/src/store/enhancers.ts
  dapp/src/store/index.ts
  dapp/src/store/middleware.ts
  dapp/src/utils/index.ts
  dapp/src/utils/json.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Structure update, moved mocked activities to standalone hooks, minor improvements
  dapp/src/assets/icons/animated/ArrowUpRightAnimatedIcon.tsx
  dapp/src/components/shared/Carousel.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useActivities.ts
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarouselArrows.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarouselSettings.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/utils/index.ts
  dapp/src/pages/OverviewPage/DocsCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Remove unnecessary `onClick`
  dapp/src/components/shared/alerts/ReceiveSTBTCAlert.tsx
Due: dapp-lint-js

Improve the `onClose` function pass
  dapp/src/components/shared/alerts/Toast.tsx
Due: dapp-lint-js

Rename from `returnFunction` to `overriddenToastFunction`
  dapp/src/hooks/useToast.ts
Due: dapp-lint-js

Separate toasts component into files
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/shared/alerts/Toast.tsx
  dapp/src/components/shared/alerts/ToastBase.tsx
  dapp/src/components/shared/alerts/index.ts
  dapp/src/components/shared/toasts/DepositTransactionErrorToast.tsx
  dapp/src/components/shared/toasts/MessageSigningErrorToast.tsx
  dapp/src/components/shared/toasts/WalletErrorToast.tsx
  dapp/src/components/shared/toasts/index.ts
  dapp/src/components/shared/toasts/toasts.tsx
  dapp/src/hooks/useWalletToast.ts
Due: dapp-lint-js

Chakra: using tooltip instead popover component
  dapp/src/components/TransactionModal/FeesPopover/FeesPopover.tsx
  dapp/src/components/TransactionModal/FeesPopover/FeesPopoverItem.tsx
Due: dapp-lint-js

Icon tooltip styles fix
  dapp/src/components/TransactionModal/FeesPopover/FeesPopover.tsx
Due: dapp-lint-js

Updating minor comments for MezoAllocator
  core/contracts/MezoAllocator.sol
Due: none

Adding more tests and deployment scripts
  core/deploy/02_deploy_mezo_allocator.ts
  core/deploy/12_mezo_allocator_update_maintainer.ts
  core/test/Deployment.test.ts
  core/test/Dispatcher.test.ts
  core/test/MezoAllocator.test.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Destructuring action creators
  dapp/src/hooks/useFetchBtcBalance.ts
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Moving logic related to activities to useActivities hook
  dapp/src/components/shared/ActivityCard/ActivityCard.tsx
  dapp/src/components/shared/ActivityCard/ActivityCardWrapper.tsx
  dapp/src/hooks/useActivities.ts
  dapp/src/pages/ActivityPage/ActivityBar.tsx
  dapp/src/pages/ActivityPage/ActivityDetails.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
Due: dapp-lint-js

Carousel arrow rendering (mapping)
  dapp/src/assets/icons/animated/ArrowUpRightAnimatedIcon.tsx
Due: dapp-lint-js

Reduce width of gradient under Documentation Card
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
Due: dapp-lint-js

Adding hardhat network check for resolve_mezo_portal script
  core/deploy/00_resolve_mezo_portal.ts
Due: core-lint-js

Adding creation and unlock deposit timestamps for future use
  core/contracts/MezoAllocator.sol
Due: none
