Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Dirty prototype of nonfungible withdrawals
  solidity/contracts/lib/ERC4626Nonfungible.sol
  solidity/contracts/stBTC.sol
Due: none

Use Ethers ContractRunner to initialize contracts
  sdk/src/lib/ethereum/contract.ts
  sdk/src/lib/ethereum/index.ts
  sdk/test/lib/ethereum/stbtc.test.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Separate the SDK initialization from account connection
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Use exact version of `ethers` lib
  pnpm-lock.yaml
  sdk/package.json
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  solidity/package.json
Due: root-lint, solidity-lint-config, sdk-lint-js, sdk-lint-config

Fix linting issues
  sdk/test/utils/mock-orangekit.ts
Due: root-lint, sdk-lint-js

Update `Acre.initialize` fn
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Update docs in `stBTC` contract handle
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/stbtc.ts
Due: root-lint, sdk-lint-js

Add missing docs in SDK
  sdk/src/lib/bitcoin/providers/provider.ts
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
Due: root-lint, sdk-lint-js

Show the status of the wallet connection process
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/ConnectWalletStatusLabel.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/hooks/useWallet.ts
  dapp/src/types/index.ts
  dapp/src/types/status.ts
Due: dapp-lint-js

Update `OrangeKitTbtcRedeemerProxy` impl
  sdk/src/lib/redeemer-proxy.ts
  sdk/src/modules/account.ts
  sdk/test/lib/redeemer-proxy.test.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Update `ConnectWalletStatusLabel` component
  dapp/src/components/ConnectWalletModal/ConnectWalletStatusLabel.tsx
Due: dapp-lint-js

Remove unnecessary container
  dapp/src/components/ConnectWalletModal/index.tsx
Due: dapp-lint-js

Create a hook for message signing
  dapp/src/hooks/index.ts
  dapp/src/hooks/useSignMessage.ts
Due: dapp-lint-js

Initialize withdrawal
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/acre-react/hooks/index.ts
  dapp/src/acre-react/hooks/useInitializeWithdraw.ts
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
Due: dapp-lint-js

Prototype stBTC minting by external Mezo contract
  solidity/contracts/stBTC.sol
Due: none

Integrate SDK connection changes with dApp
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/hooks/sdk/useFetchBTCBalance.ts
  dapp/src/hooks/sdk/useFetchMinDepositAmount.ts
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
Due: dapp-lint-js

Update copy
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Update `ConnectWallet` component UI
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Disconnect wallet when user changes connector to connect account
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Add sign message step to login to the dApp
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
Due: dapp-lint-js

Disconnect a user when does not sign a message
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useIsSignedMessage.ts
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/store/wallet/walletSlice.ts
Due: dapp-lint-js

Reset wallet state when user is disconnected
  dapp/src/hooks/useWallet.ts
  dapp/src/store/wallet/walletSlice.ts
Due: dapp-lint-js

Add `@orangekit/sign-in-with-wallet` for dApp
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Create sign message by `SignInWithWalletMessage` constructor
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/types/chain.ts
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Update a theme for spinner
  dapp/src/components/TransactionModal/LoadingModal.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/components/TransactionModal/TriggerTransactionModal.tsx
  dapp/src/components/shared/LoadingButton.tsx
  dapp/src/theme/Spinner.ts
Due: dapp-lint-js

Update a `ConnectWalletStatusLabel` component
  dapp/src/components/ConnectWalletModal/ConnectWalletStatusLabel.tsx
Due: dapp-lint-js

Fix failed tests
  dapp/src/store/tests/walletSlice.test.ts
Due: dapp-lint-js

Adjust SDK consumption in hooks
  dapp/src/hooks/sdk/useFetchDeposits.ts
  dapp/src/hooks/sdk/useFetchMinDepositAmount.ts
Due: dapp-lint-js

Fix DOM nesting elements issue
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Handle disconnect button action
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Style `ConnectWalletModal` component
  dapp/src/components/ConnectWalletModal.tsx
Due: dapp-lint-js

Fix missing key prop
  dapp/src/components/ConnectWalletModal.tsx
Due: dapp-lint-js

Adjust status content animation behavior
  dapp/src/components/ConnectWalletModal.tsx
Due: dapp-lint-js

Adjust address font color
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Add Mezo link
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/constants/externalHref.ts
Due: dapp-lint-js

Update Season 2 text
  dapp/src/pages/DashboardPage/GrantedSeasonPassCard.tsx
Due: dapp-lint-js

Update Mezo URL
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/constants/externalHref.ts
Due: dapp-lint-js

Add mock error Alert
  dapp/src/components/ConnectWalletModal.tsx
  dapp/src/components/shared/Alert.tsx
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Enable main branch auto deploy on Netlify
  netlify.toml
Due: root-lint

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
