Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Remove unnecessary export
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Simplify the condition if amount is defined for action form
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
Due: dapp-lint-js

Use capital letters for `ACTION_FLOW_STEPS_TYPES` keys
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/Modals/Unstaking/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/types/action-flow.ts
Due: dapp-lint-js

Replacing stBTC back to Acre where it is suited better
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
  core/contracts/stBTC.sol
Due: none

Moving ERC4626Fess to lib folder
  core/contracts/lib/ERC4626Fees.sol
  core/contracts/stBTC.sol
Due: none

Moved ERC4626Fees under lib. Removing from here.
  core/contracts/ERC4626Fees.sol
Due: none

Implement TBTCDepositorProxy
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Update unit tests for changes in TbtcDepositor contract
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Remove external tbtc contracts
  core/contracts/external/tbtc/IBridge.sol
  core/contracts/external/tbtc/ITBTCVault.sol
Due: none

Update stub contracts
  core/contracts/test/BridgeStub.sol
  core/contracts/test/TBTCVaultStub.sol
  core/deploy/00_resolve_tbtc_bridge.ts
Due: core-lint-js

Disable no-use-before-define rule
  core/.eslintrc
Due: none

Drafting support for xERC4626
  core/contracts/interfaces/IxERC4626.sol
  core/contracts/lib/xERC4626.sol
  core/contracts/stBTC.sol
Due: none

Rename Acre contact references to stBTC
  core/contracts/tbtc/TbtcDepositor.sol
  core/deploy/03_deploy_tbtc_depositor.ts
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Set entry fee basis points to zero
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Move TbtcDepositor.sol file
  core/contracts/TbtcDepositor.sol
Due: none

Enable encode extra data test cases
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Add unit tests for recallStakeRequest
  core/hardhat.config.ts
  core/package.json
  core/test/TbtcDepositor.test.ts
Due: core-lint-js, core-lint-config

Update StakeRequestRecalled event
  core/contracts/TbtcDepositor.sol
Due: none

Convert depositKey value to bigint
  core/test/data/tbtc.ts
Due: core-lint-js

Disabled Sentry by default in dev mode
  dapp/.env
Due: none

Update root `.prettierignore` file
  .prettierignore
Due: root-lint

Event trigger by `useCallback` for `TransactionModal`
  dapp/src/components/Overview/PositionDetails.tsx
Due: dapp-lint-js

Type refactoring for action flow
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/Modals/Unstaking/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/types/action-flow.ts
Due: dapp-lint-js

Fix setting default flow type for `TransactionModal`
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Upgrade dependency to tbtc-v2
  core/contracts/TbtcDepositor.sol
  core/contracts/test/BridgeStub.sol
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Remove stake function from stBTC contract
  core/contracts/stBTC.sol
Due: none

Update stBTC unit tests after stake function removal
  core/test/stBTC.test.ts
Due: core-lint-js

Update tBTC contract mocks
  core/contracts/test/BridgeStub.sol
  core/contracts/test/MockTbtcBridge.sol
Due: none

Update name of used initialize function
  core/contracts/TbtcDepositor.sol
Due: none

Update snapshots in deposit function tests
  core/test/stBTC.test.ts
Due: core-lint-js

Replace beforeEach with before in tests
  core/test/stBTC.test.ts
Due: core-lint-js

Fix not needed import
  core/test/stBTC.test.ts
Due: core-lint-js

Update reference to @keep-network/tbtc-v2
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Fix slither errors
  core/contracts/TbtcDepositor.sol
  core/contracts/test/MockTbtcBridge.sol
Due: none

Fix variable type in `encodeExtraData` fn
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/test/lib/ethereum/data.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Update contracts artifacts for sepolia
  core/deployments/sepolia/Acre.json
  core/deployments/sepolia/Dispatcher.json
  core/deployments/sepolia/TbtcDepositor.json
  core/deployments/sepolia/Vault.json
  core/deployments/sepolia/stBTC.json
Due: core-lint-config

Removed Sentry DSN from .env file
  dapp/.env
  dapp/.env.production
Due: none

Remove StakeReferral event definition
  core/contracts/stBTC.sol
Due: none

Fixing tests after adding xERC4626 standard
  core/contracts/lib/ERC4626Fees.sol
  core/contracts/stBTC.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
