Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Add AcreBitcoinDepositor artifact for Sepolia
  core/deployments/sepolia/.chainId
  core/deployments/sepolia/AcreBitcoinDepositor.json
  core/deployments/sepolia/TbtcDepositor.json
  core/deployments/sepolia/solcInputs/49f0432287e96a47d66ba17ae7bf5d96.json
  core/deployments/sepolia/solcInputs/b22c277b248ba02f9ec5bf62d176f9ce.json
  sdk/src/lib/ethereum/artifacts/sepolia/AcreBitcoinDepositor.json
  sdk/src/lib/ethereum/artifacts/sepolia/TbtcDepositor.json
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, core-lint-config, sdk-lint-js, sdk-lint-config

Ignore formatting of the artifacts directory
  sdk/.prettierignore
Due: root-lint

Created useFetchBTCPriceUsd hook, utils structure updated
  dapp/src/hooks/index.ts
  dapp/src/hooks/useFetchBTCPriceUSD.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/utils/exchangeApi.ts
  dapp/src/utils/exchangeApi/index.ts
  dapp/src/utils/index.ts
  dapp/src/utils/verifyDepositAddress.ts
Due: dapp-lint-js

Updates to SDK and dApp after Depositor contract changes
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/web3/relayer-depositor-proxy.ts
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/lib/ethereum/eip712.test.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Set lower stBTC minimum deposit amount for Sepolia
  core/deploy/13_stbtc_update_deposit_parameters.ts
Due: core-lint-js

Rename the main dir from `acre-subgraph` to `subgraph`
  .prettierignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  subgraph/.eslintignore
  subgraph/.eslintrc
  subgraph/.gitignore
  subgraph/.nvmrc
  subgraph/.prettierignore
  subgraph/.prettierrc.js
  subgraph/.tsconfig-eslint.json
  subgraph/README.md
  subgraph/abis/AcreBitcoinDepositor.json
  subgraph/docker-compose.yaml
  subgraph/networks.json
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/acre-bitcoin-depositor.ts
  subgraph/subgraph.yaml
  subgraph/tests/acre-bitcoin-depositor-utils.ts
  subgraph/tests/acre-bitcoin-depositor.test.ts
  subgraph/tsconfig.json
Due: root-lint

Add job deploying contracts on Sepolia
  .github/workflows/core.yaml
Due: root-lint

Add Netlify configuration files
  dapp/public/_redirects
  netlify.toml
Due: root-lint

Removing IxERC4626 interface
  core/contracts/interfaces/IxERC4626.sol
  core/contracts/lib/xERC4626.sol
Due: none

Change secret name for `CHAIN_API_URL` value
  .github/workflows/core.yaml
Due: root-lint

Adding addition tests in minting around rewards sync
  core/test/stBTC.test.ts
Due: core-lint-js

Running a subgraph with RPC from alchemy
  subgraph/README.md
  subgraph/docker-compose.yaml
  subgraph/networks.json
  subgraph/subgraph.yaml
Due: root-lint

Update `stake` function
  sdk/src/lib/utils/backoff.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Upgrade actions uploading/downloading artifacts to the latest version
  .github/workflows/core.yaml
  .github/workflows/dapp.yaml
  .github/workflows/reusable-core-build.yaml
  .github/workflows/reusable-sdk-build.yaml
  .github/workflows/sdk.yaml
Due: root-lint

Update actions to versions running on Node20
  .github/workflows/core.yaml
  .github/workflows/dapp.yaml
  .github/workflows/reusable-core-build.yaml
  .github/workflows/reusable-sdk-build.yaml
  .github/workflows/sdk.yaml
  .github/workflows/website.yaml
Due: root-lint

Use the Thesis API key from Alchemy
  subgraph/README.md
  subgraph/docker-compose.yaml
Due: root-lint

Fix the upload step in the `core-deploy-testnet` job
  .github/workflows/core.yaml
Due: root-lint

Skip production builds
  netlify.toml
Due: root-lint

Updated sepolia artifact: stBTC.json
  sdk/src/lib/ethereum/artifacts/sepolia/stBTC.json
Due: root-lint, sdk-lint-config

Activities bar - added carousel
  dapp/package.json
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/shared/Activities/ActivityBar.tsx
  dapp/src/components/shared/Activities/ActivityCard/ActivityCard.tsx
  dapp/src/components/shared/Activities/ActivityCard/ActivityCardLinkWrapper.tsx
  dapp/src/components/shared/Activities/ActivityCard/ActivityCardWrapper.tsx
  dapp/src/components/shared/Activities/ActivityCard/index.tsx
  dapp/src/components/shared/Activities/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/components/shared/Activities/ActivityCarousel/index.tsx
  dapp/src/components/shared/Activities/ActivityCarousel/utils/carouselArrows.tsx
  dapp/src/components/shared/Activities/ActivityCarousel/utils/carouselSettings.tsx
  dapp/src/components/shared/Activities/ActivityCarousel/utils/index.ts
  dapp/src/components/shared/Activities/index.tsx
  dapp/src/components/shared/Activities/mock-activities.ts
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/components/shared/ActivityBar/mock-activities.ts
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/DocsCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Performance stats
  dapp/src/components/shared/CurrencyBalance.tsx
  dapp/src/mocks/mock-statistics.ts
  dapp/src/pages/OverviewPage/StatisticsCard.tsx
  dapp/src/pages/OverviewPage/StatisticsChart.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/types/index.ts
  dapp/src/types/statistic.ts
  dapp/src/utils/percentage.ts
Due: dapp-lint-js

Handling type verification for taproot addresses
  sdk/src/lib/bitcoin/address.ts
Due: root-lint, sdk-lint-js

Fix typo for SDK docs
  sdk/src/lib/bitcoin/address.ts
Due: root-lint, sdk-lint-js

Test refactoring for `isPublicKeyHashTypeAddress`
  sdk/test/lib/bitcoin/address.test.ts
  sdk/test/lib/bitcoin/data.ts
Due: root-lint, sdk-lint-js

Add test cases for P2TR type addresses
  sdk/test/lib/bitcoin/address.test.ts
  sdk/test/lib/bitcoin/data.ts
Due: root-lint, sdk-lint-js

Docs improvements
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Improve variables naming
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Reorganize test contracts
  core/contracts/test/AcreBitcoinDepositor.t.sol
  core/contracts/test/AcreBitcoinDepositorHarness.sol
Due: none

Use waitConfirmationsNumber in deployment
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
Due: core-lint-js

Disable func-name-mixedcase solhint rule for harness contract
  core/contracts/test/AcreBitcoinDepositorHarness.sol
Due: none

Created LINKS const & staking hook, minor corrections in code formatting
  dapp/src/constants/index.ts
  dapp/src/constants/links.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useStakingBtcHook.ts
  dapp/src/mocks/index.ts
  dapp/src/pages/OverviewPage/StatisticsCard.tsx
  dapp/src/utils/percentage.ts
Due: dapp-lint-js

Use waitConfirmationsNumber in all deploy scripts
  core/deploy/00_resolve_tbtc_bridge.ts
  core/deploy/00_resolve_tbtc_token.ts
  core/deploy/00_resolve_tbtc_vault.ts
Due: core-lint-js

Add missing waitConfirmationsNumber import
  core/deploy/00_resolve_tbtc_bridge.ts
  core/deploy/00_resolve_tbtc_token.ts
  core/deploy/00_resolve_tbtc_vault.ts
Due: core-lint-js

Liquid Staking token position popover
  dapp/src/components/StakingTokenPopover.tsx
  dapp/src/pages/OverviewPage/PositionDetails.tsx
Due: dapp-lint-js

Add OpenZeppelin upgradable contracts dependency
  core/hardhat.config.ts
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-js, core-lint-config

Read the min amount of BTC deposit from the SDK
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/constants/currency.ts
  dapp/src/constants/staking.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchMinDepositAmount.ts
  dapp/src/hooks/sdk/useFetchSdkData.ts
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
  dapp/src/store/middleware.ts
  dapp/src/utils/forms.ts
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Upgradable stBTC contract
  core/contracts/stBTC.sol
  core/deploy/01_deploy_stbtc.ts
Due: core-lint-js

Use a `bigint` type in `StakeDetails` and validation
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Add a tooltip for not supported Bitcoin address
  dapp/src/components/Header/ConnectButton.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/theme/Tooltip.ts
Due: dapp-lint-js

Show error in console for `isPublicKeyHashTypeAddress`
  sdk/src/lib/bitcoin/address.ts
Due: root-lint, sdk-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
