Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Load selected deposit to memory
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Keep the dependency compiler outputs
  solidity/.gitignore
  solidity/hardhat.config.ts
Due: solidity-lint-js

Remove two not needed slither ignores
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Update slither job to compile the contracts
  .github/workflows/solidity.yaml
Due: root-lint

Update slither to 0.10.4
  .github/workflows/solidity.yaml
Due: root-lint

Fix issue for read properties of null (reading 'address')
  dapp/src/hooks/orangeKit/useAccountChangedOKX.ts
Due: dapp-lint-js

Set scrolling behavior for the modal outside
  dapp/src/components/ModalRoot/withBaseModal.tsx
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Simplify the referral program code
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDetectReferral.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useIsEmbed.ts
  dapp/src/hooks/useReferral.ts
  dapp/src/utils/referralProgram.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Update the `aria-label` param for change acc btn
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Fix reconnect function
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Implement intermediate state of points gathering
  dapp/src/hooks/useAcrePoints.ts
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
  dapp/src/utils/acreApi.ts
Due: dapp-lint-js

Revert "Resolve modal button issue"
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
Due: dapp-lint-js

Make the scrollbar visible when the sidebar is open
  dapp/src/components/Sidebar.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useScrollbarVisibility.ts
Due: dapp-lint-js

Revert the property for the modal dialog
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Keep the same approach of layout for dApp
  dapp/src/pages/DashboardPage/PageLayout/PageLayout.tsx
  dapp/src/pages/DashboardPage/PageLayout/PageLayoutColumn.tsx
  dapp/src/pages/DashboardPage/PageLayout/index.ts
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Use existing skeleton component
  dapp/src/hooks/useAcrePoints.ts
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Reduce content layout shift
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Artifacts for AcreMultiAssetVault deployed to mainnet
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/AcreMultiAssetVault.json
Due: solidity-lint-config

Update api handler and render conditions
  dapp/src/hooks/useAcrePoints.ts
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
  dapp/src/utils/acreApi.ts
Due: dapp-lint-js

Update points estimation due to latest changes
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/AcrePointsRewardEstimation.tsx
Due: dapp-lint-js

Add a feature flag `GATING_DAPP_ENABLED`
  dapp/.env
  dapp/src/constants/featureFlags.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Move `HelperErrorText` to separate file
  dapp/src/components/shared/Form/HelperErrorText.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Init `GateModal`
  dapp/src/components/GateModal.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/types/modal.ts
Due: dapp-lint-js

Fix the reconnect flow
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
Due: dapp-lint-js

Set `outline` as a default variant for input component
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/theme/Input.ts
Due: dapp-lint-js

Add password form to `GateModal`
  dapp/src/components/GateModal.tsx
  dapp/src/components/shared/Form/FormInput.tsx
  dapp/src/components/shared/PasswordForm/PasswordFormBase.tsx
  dapp/src/components/shared/PasswordForm/index.tsx
  dapp/src/constants/errors.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Display correct statuses when reconnecting
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Revert "Simplify the referral program code"
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDetectReferral.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useIsEmbed.ts
  dapp/src/hooks/useReferral.ts
  dapp/src/utils/referralProgram.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Set correct referral code for embeded dapp
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Initialize Vite with Sentry plugin
  dapp/package.json
  dapp/vite.config.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Add build job to upload source maps to Sentry
  .github/workflows/dapp.yaml
Due: root-lint

Update Sentry to the latest version v8.34.0
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Capture coingecko exception in Sentry
  dapp/src/sentry/index.ts
  dapp/src/store/btc/btcThunk.ts
Due: dapp-lint-js

Add --max-old-space-size=8192 to the dapp build command
  dapp/package.json
Due: dapp-lint-config

Replace deprecated Sentry.BrowserTracing()
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Reduce Sentry tracesSampleRate to 0.1
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Revert "Add build job to upload source maps to Sentry"
  .github/workflows/dapp.yaml
Due: root-lint

Remove tsc execution from the build command
  dapp/package.json
Due: dapp-lint-config

Export sentry functions as default module
  dapp/src/hooks/sentry/useSentry.ts
  dapp/src/sentry/index.ts
  dapp/src/store/btc/btcThunk.ts
Due: dapp-lint-js

Remove unused captureMessage function
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
