Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Fix for incorrect `fontSize` for 2xl
  dapp/src/theme/Heading.ts
Due: dapp-lint-js

Show the Acre Mats in the Beehive component
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Use the `AcreMats` type
  dapp/src/utils/mezoPortalApi.ts
Due: dapp-lint-js

Format the number of Acre Mats into a local string
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Show estimated duration for pending transaction in table
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActivities.ts
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/index.tsx
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/theme/Tag.ts
  dapp/src/utils/activities.ts
  dapp/src/utils/index.ts
  dapp/src/utils/staking.ts
Due: dapp-lint-js

Update ilustrations
  dapp/src/assets/images/beehive-illustration.svg
  dapp/src/assets/images/mezo-beehive-card-illustration.svg
  dapp/src/assets/images/mezo-bees.svg
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Updates for activity notifications
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useLatestCompletedActivities.ts
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/store/wallet/walletSelector.ts
Due: dapp-lint-js

Update beehive components to display MATS
  dapp/src/assets/icons/MatsIcon.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/constants/currency.ts
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/theme/CurrencyBalance.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js

Get MATS amount from API
  dapp/src/components/MezoBeehiveModal.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/constants/currency.ts
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/theme/CurrencyBalance.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js

Fix import order
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Remove highlights
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Refactor for activities slice and selectors
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/store/wallet/walletSlice.ts
  dapp/src/utils/activities.ts
Due: dapp-lint-js

Minor structure update
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Remove unused imports
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Use a`H4` instead of `H5`
  dapp/src/components/MobileModeBanner/index.tsx
Due: dapp-lint-js

Rename `AcreMats` to simply `Mats`
  dapp/src/hooks/index.ts
  dapp/src/hooks/useMats.ts
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
  dapp/src/utils/mezoPortalApi.ts
Due: dapp-lint-js

Set fixed initialBaseFeePerGas for integration tests
  solidity/hardhat.config.ts
Due: solidity-lint-js

Upgrade keep-network/hardhat-helpers to 0.7.2-pre.2
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Add deployment script for stBTC and MezoAllocator contract upgrades
  pnpm-lock.yaml
  solidity/.openzeppelin/integration.json
  solidity/deploy/31_upgrade_stbtc.ts
  solidity/deploy/32_upgrade_mezo_allocator.ts
  solidity/deployments/integration/.chainId
  solidity/deployments/integration/BitcoinDepositor.json
  solidity/deployments/integration/BitcoinRedeemer.json
  solidity/deployments/integration/MezoAllocator.json
  solidity/deployments/integration/stBTC.json
  solidity/package.json
Due: root-lint, solidity-lint-js, solidity-lint-config

Update doc for previewRepayDebt function
  solidity/contracts/stBTC.sol
Due: none

Remove .openzeppelin/integration.json
  solidity/.openzeppelin/integration.json
Due: solidity-lint-config

Remove deployments/integration
  solidity/deployments/integration/.chainId
  solidity/deployments/integration/BitcoinDepositor.json
  solidity/deployments/integration/BitcoinRedeemer.json
  solidity/deployments/integration/MezoAllocator.json
  solidity/deployments/integration/stBTC.json
Due: solidity-lint-config

Publish artifacts of contracts v1.1.0 deployed on Sepolia
  solidity/.openzeppelin/sepolia.json
  solidity/deployments/sepolia/MezoAllocator.json
  solidity/deployments/sepolia/stBTC.json
Due: solidity-lint-config

Update upgrade scripts
  solidity/deploy/31_upgrade_stbtc.ts
  solidity/deploy/32_upgrade_mezo_allocator.ts
Due: solidity-lint-js

Fix ilustration spacing
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Update export
  dapp/src/assets/icons/MatsIcon.tsx
  dapp/src/assets/icons/index.ts
Due: dapp-lint-js

Add script to update debt allowance for Mezo Portal
  solidity/deploy/33_update_debt_allowance.ts
Due: solidity-lint-js

Add script to update debt allowance
  solidity/deploy/33_update_debt_allowance.ts
Due: solidity-lint-js

Fix import
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Remove impersonation from upgrade script
  solidity/deploy/31_upgrade_stbtc.ts
  solidity/deploy/32_upgrade_mezo_allocator.ts
Due: solidity-lint-js

Refactor for staking utils
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
  dapp/src/types/activity.ts
  dapp/src/utils/staking.ts
Due: dapp-lint-js

Fix for incorrect a descendant of `<p>`
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Display the activity list when all wallet data has been fetched
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
Due: dapp-lint-js

Remove unnecessary hooks/selectors
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useCompletedActivities.ts
  dapp/src/hooks/store/useLatestActivities.ts
  dapp/src/store/wallet/walletSelector.ts
Due: dapp-lint-js

Add missing styles for container
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Add additional dots for the CurrencyBalance component
  dapp/src/components/shared/CurrencyBalance/index.tsx
Due: dapp-lint-js

Update hardhat-helpers to 0.7.2
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Update rows for `TransactionTable`
  dapp/src/pages/DashboardPage/TransactionHistory/EstimatedDuration.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
Due: dapp-lint-js

Create a separate component for position details
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Implement alternative error messages per action
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/constants/errors.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js
