Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-lint-js, core-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add auto-fix commit to git blame ignore revs
  .git-blame-ignore-revs
  core/.git-blame-ignore-revs
Due: none

Add info about testing pre-commit hooks config
  README.md
Due: none

Use syncpack to manage dependencies
  .gitignore
  .syncpackrc
  README.md
  package.json
  yarn.lock
Due: none

Update eslint and prettier dependencies
  core/package.json
  core/yarn.lock
  dapp/package.json
  dapp/yarn.lock
  website/package.json
  website/yarn.lock
  yarn.lock
Due: core-lint-config

Create a basic table for transaction history
  dapp/package.json
  dapp/src/components/Overview/TransactionHistory.tsx
  dapp/src/components/Overview/TransactionHistory/AccountHistory.tsx
  dapp/src/components/Overview/TransactionHistory/CustomCell.tsx
  dapp/src/components/Overview/TransactionHistory/DataTable.tsx
  dapp/src/components/Overview/TransactionHistory/ProtocolHistory.tsx
  dapp/src/components/Overview/TransactionHistory/index.tsx
  dapp/src/constants/chains.ts
  dapp/src/data/mock-transactions.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTransactionHistoryTable.ts
  dapp/src/static/icons/ArrowDown.tsx
  dapp/src/static/icons/ArrowUp.tsx
  dapp/src/static/icons/BitcoinSymbol.tsx
  dapp/src/static/icons/Sort.tsx
  dapp/src/static/icons/TBTCSymbol.tsx
  dapp/src/static/icons/index.ts
  dapp/src/types/index.ts
  dapp/src/types/transaction.ts
  dapp/src/utils/index.ts
  dapp/src/utils/time.ts
  dapp/yarn.lock
Due: none

Add basic GH workflow for dapp workspace
  .github/workflows/dapp.yaml
Due: none

Add build execution in dapp and website CI
  .github/workflows/dapp.yaml
  .github/workflows/website.yaml
Due: none

Add basic GH workflow for website workspace
  .github/workflows/website.yaml
Due: none

Remove yarn.lock files
  core/yarn.lock
  dapp/yarn.lock
  website/yarn.lock
Due: none

Add missing chakra-ui dependencies to dapp package
  dapp/package.json
  pnpm-lock.yaml
Due: none

Use pnpm as a package manager
  .gitignore
  README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Use pnpm in CI workflows
  .github/workflows/core.yaml
  .github/workflows/dapp.yaml
  .github/workflows/website.yaml
  package.json
Due: none

Add run keyword for running scripts with pnpm
  .github/workflows/core.yaml
  .github/workflows/dapp.yaml
  .github/workflows/website.yaml
Due: none

Use gatsby-plugin-pnpm for gatsby to work with pnpm
  pnpm-lock.yaml
  website/gatsby-config.ts
  website/package.json
Due: none

Use syncpack to manage dependencies
  .syncpackrc
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Update eslint and prettier dependencies
  core/package.json
  dapp/package.json
  pnpm-lock.yaml
  website/package.json
Due: core-lint-config

Use consistent @types/node version
  core/package.json
  website/package.json
Due: core-lint-config

Update @types/react and @types/react-dom versions
  website/package.json
Due: none

User ^ for @types/mocha version
  core/package.json
Due: core-lint-config

Update dependencies with syncpack update
  core/package.json
  dapp/package.json
  pnpm-lock.yaml
  website/package.json
Due: core-lint-config

Adding annotation that these contracts were copied from ERC4626-Alliance repo
  core/contracts/lib/ERC4626RouterBase.sol
  core/contracts/lib/external/Multicall.sol
  core/contracts/lib/external/PeripheryPayments.sol
  core/contracts/lib/external/SelfPermit.sol
  core/contracts/lib/external/interfaces/IERC20PermitAllowed.sol
  core/contracts/lib/external/interfaces/IMulticall.sol
  core/contracts/lib/external/interfaces/ISelfPermit.sol
  core/contracts/lib/interfaces/IERC4626.sol
  core/contracts/lib/interfaces/IERC4626RouterBase.sol
  core/contracts/lib/interfaces/IxERC4626.sol
  core/contracts/lib/xERC4626.sol
Due: none

Moving erc4626 contracts under lib/erc4626 dir
  core/contracts/lib/erc4626/ERC4626RouterBase.sol
  core/contracts/lib/erc4626/external/Multicall.sol
  core/contracts/lib/erc4626/external/PeripheryPayments.sol
  core/contracts/lib/erc4626/external/SelfPermit.sol
  core/contracts/lib/erc4626/external/interfaces/IERC20PermitAllowed.sol
  core/contracts/lib/erc4626/external/interfaces/IMulticall.sol
  core/contracts/lib/erc4626/external/interfaces/ISelfPermit.sol
  core/contracts/lib/erc4626/interfaces/IERC4626.sol
  core/contracts/lib/erc4626/interfaces/IERC4626RouterBase.sol
  core/contracts/lib/erc4626/interfaces/IxERC4626.sol
  core/contracts/lib/erc4626/xERC4626.sol
Due: none

Adding support for Solidity 0.8.10. Used by ERC4626 contracts
  core/hardhat.config.ts
Due: core-lint-js

For solidity>7.0 visibility for contracts can be ignored
  core/.solhint.json
Due: core-lint-config

Adding initial modifiers and data structres for allocators
  core/contracts/AcreRouter.sol
  core/contracts/Router.sol
Due: none

Adding solmate lib 6.2.0
  core/package.json
  core/yarn.lock
Due: core-lint-config

Ignoring styling of added Solidity ERC4626 lib contracts
  core/.prettierignore
  core/.solhintignore
Due: none

Copying ERC4626 related contracts from ERC4626-Alliance
  core/contracts/lib/ERC4626RouterBase.sol
  core/contracts/lib/external/Multicall.sol
  core/contracts/lib/external/PeripheryPayments.sol
  core/contracts/lib/external/SelfPermit.sol
  core/contracts/lib/external/interfaces/IERC20PermitAllowed.sol
  core/contracts/lib/external/interfaces/IMulticall.sol
  core/contracts/lib/external/interfaces/ISelfPermit.sol
  core/contracts/lib/interfaces/IERC4626.sol
  core/contracts/lib/interfaces/IERC4626RouterBase.sol
  core/contracts/lib/interfaces/IxERC4626.sol
  core/contracts/lib/xERC4626.sol
Due: none

Use Slither for Solidity contracts static analysis
  .github/workflows/core.yaml
  README.md
Due: none

Exclude slither's detectors
  core/slither.config.json
Due: core-lint-config

Define prettier in the repository root
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.js
  core/.prettierrc.js
  dapp/.prettierrc.js
  dapp/package.json
  package.json
  pnpm-lock.yaml
  website/.prettierrc.js
  website/package.json
Due: core-lint-js

Run format:fix in the root directory
  README.md
  package.json
Due: none

Add format:fix result to git blame ignore
  .git-blame-ignore-revs
Due: none

Removing components of ERC4626RouterBase
  core/contracts/lib/erc4626/ERC4626RouterBase.sol
  core/contracts/lib/erc4626/external/Multicall.sol
  core/contracts/lib/erc4626/external/PeripheryPayments.sol
  core/contracts/lib/erc4626/external/SelfPermit.sol
  core/contracts/lib/erc4626/external/interfaces/IERC20PermitAllowed.sol
  core/contracts/lib/erc4626/external/interfaces/IMulticall.sol
  core/contracts/lib/erc4626/external/interfaces/ISelfPermit.sol
  core/contracts/lib/erc4626/interfaces/IERC4626.sol
  core/contracts/lib/erc4626/interfaces/IERC4626RouterBase.sol
Due: none

Add a basic pagination for transaction history table
  dapp/src/components/Overview/TransactionHistory/DataTable.tsx
  dapp/src/data/mock-transactions.ts
  dapp/src/hooks/useTransactionHistoryTable.ts
  dapp/src/static/icons/ChevronLeft.tsx
  dapp/src/static/icons/index.ts
Due: none

Add an empty line at the end of the file
  dapp/.env
Due: none

Adding IERC4626 interface
  core/contracts/lib/erc4626/interfaces/IERC4626.sol
Due: none

Fix an issue for prettier
  dapp/manifest-ledger-live-app.json
Due: none

Create a separate type - `Currency`
  dapp/src/components/Navbar/ConnectWallet.tsx
  dapp/src/constants/currency.ts
  dapp/src/constants/index.ts
  dapp/src/types/currency.ts
  dapp/src/types/index.ts
Due: none
