Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-lint-js, core-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add more unit tests for staking flow
  core/test/Acre.test.ts
Due: core-lint-js

Add `Staked` event
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Revert "Add support for receive approval pattern to Acre"
  core/contracts/Acre.sol
Due: none

Remove unit tests for receive approval pattern
  core/test/Acre.test.ts
Due: core-lint-js

Rename variable in fixture
  core/test/Acre.test.ts
Due: core-lint-js

Update unit test for staking
  core/test/Acre.test.ts
Due: core-lint-js

Rename variable
  core/test/Acre.test.ts
Due: core-lint-js

Fix typo
  core/test/Acre.test.ts
Due: core-lint-js

Rename variable in tests
  core/test/Acre.test.ts
Due: core-lint-js

Adding contracts-upgradeable lib by OZ
  core/package.json
Due: core-lint-config

Adding minor comments for implemented functions
  core/contracts/AcreRouter.sol
Due: none

Replacing Allocator with Vault
  core/contracts/AcreRouter.sol
Due: none

Drafting AcreRouter using OZ
  core/contracts/AcreRouter.sol
Due: none

Update staking flow unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Adding protection against slippage / inflation attack
  core/contracts/AcreRouter.sol
Due: none

Add a manifest file
  pnpm-lock.yaml
  website/gatsby-config.ts
  website/package.json
  website/src/images/favicon.png
Due: none

Add a placeholder for the landing page
  website/gatsby-browser.js
  website/src/images/placeholder-mobile.svg
  website/src/images/placeholder.svg
  website/src/pages/index.tsx
  website/src/styles/global-styles.css
Due: none

Basic SEO set up for the landing page
  pnpm-lock.yaml
  website/gatsby-config.ts
  website/package.json
  website/src/components/SEO/index.tsx
  website/src/pages/index.tsx
Due: none

Add a `SEO` component to 404 page
  website/src/pages/404.tsx
Due: none

Drafting distributions to Yield Modules
  core/contracts/AcreRouter.sol
Due: none

Add deploymet script for Acre including tBTC reference
  core/.eslintrc
  core/deploy/00_resolve_tbtc.ts
  core/deploy/01_deploy_acre.ts
  core/hardhat.config.ts
  core/helpers/address.ts
  core/tsconfig.json
Due: core-lint-js, core-lint-config

Fetch TBTC contract deployment artifact for Sepolia and Mainnet
  .gitignore
  core/.eslintignore
  core/.prettierignore
  core/external/mainnet/TBTC.json
  core/external/sepolia/TBTC.json
  core/hardhat.config.ts
  core/scripts/fetch_external_artifacts.sh
Due: core-lint-js, core-lint-config

Use unnamed return in the `stake` fn
  core/contracts/Acre.sol
Due: none

Leave TODO in the `stake` fn
  core/contracts/Acre.sol
Due: none

Rename constructor parameter in Acre
  core/contracts/Acre.sol
Due: none

Remove `@thesis/solidity-contracts` dependency
  core/contracts/test/TestToken.sol
  core/package.json
  core/test/Acre.test.ts
  pnpm-lock.yaml
Due: core-lint-js, core-lint-config

Add unit test heleprs
  core/test/Acre.test.ts
  core/test/utils/index.ts
  core/test/utils/number.ts
Due: core-lint-js

Add more unit tests for staking
  core/test/Acre.test.ts
Due: core-lint-js

Update solhint config
  core/.solhint.json
  pnpm-lock.yaml
Due: core-lint-config

Add more stakers to the Acre test fixture
  core/test/Acre.test.ts
Due: core-lint-js

Transfer ownership of Acre contract on deployment
  core/deploy/21_transfer_ownership_acre.ts
Due: core-lint-js

Handling ERC4626 vaults in AcreRouter
  core/contracts/AcreRouter.sol
  core/package.json
Due: core-lint-config

Adding pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Rename variable in Acre unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Update comment in Acre unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Add documentation comments for `Acre` contract
  core/contracts/Acre.sol
Due: none

Rename `Staked` event
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Update the `stake` fn
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Update `stake` fn docs
  core/contracts/Acre.sol
Due: none
