Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Remove not needed TODO
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
Due: none

Update tests after finalizeStake and finalizeBridging combine
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Combine finalizeStake and finalizeBridging functions
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Remove AcreBitcoinDepositorHarness contract
  core/contracts/test/AcreBitcoinDepositorHarness.sol
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
  core/package.json
Due: core-lint-js, core-lint-config

Remove transitionStakeRequestState function
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Add initial deposit amount to depositor events
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Combine BridgingCompleted and StakeRequestFinalized events
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Remove amountToStake from StakeRequestFinalized event
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Update test contract type import
  core/test/AcreBitcoinDepositor.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Remove InsufficientTbtcBalance error
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Rename Bitcoin Depositor contract
  core/contracts/BitcoinDepositor.sol
  core/contracts/test/BitcoinDepositorHarness.sol
  core/contracts/test/upgrades/BitcoinDepositorMisplacedSlot.sol
  core/contracts/test/upgrades/BitcoinDepositorMissingSlot.sol
  core/contracts/test/upgrades/BitcoinDepositorV2.sol
  core/deploy/03_deploy_bitcoin_depositor.ts
  core/deploy/23_transfer_ownership_bitcoin_depositor.ts
  core/deployments/sepolia/BitcoinDepositor.json
  core/test/BitcoinDepositor.test.ts
  core/test/BitcoinDepositor.upgrade.test.ts
  core/test/helpers/context.ts
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/artifacts/sepolia/BitcoinDepositor.json
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/lib/ethereum/eip712.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, core-lint-js, core-lint-config, sdk-lint-js, sdk-lint-config

Fix code format
  core/contracts/test/BitcoinDepositorHarness.sol
Due: none

Add unit tests for redeemer contract
  core/test/BitcoinRedeemer.test.ts
  core/test/helpers/eip712.ts
Due: core-lint-js

Implement Bitcoin Redeemer contract
  core/contracts/BitcoinRedeemer.sol
  core/contracts/bridge/ITBTCToken.sol
Due: none

Add reference to BitcoinRedeemer in stBTC
  core/contracts/stBTC.sol
Due: none

Add test implementation of TBTC token
  core/contracts/test/TestTBTC.sol
  core/deploy/00_resolve_tbtc_token.ts
Due: core-lint-js

Add deployment script for BitcoinRedeemer contract
  core/deploy/04_deploy_bitcoin_redeemer.ts
  core/deploy/13_stbtc_update_bitcoin_redeemer.ts
Due: core-lint-js

Disable slither's reentrancy-event for requestRedemption
  core/contracts/BitcoinRedeemer.sol
Due: none

Add unit tests for updateBitcoinRedeemer
  core/test/stBTC.test.ts
Due: core-lint-js

Use beforeAfterSnapshotWrapper in updateDispatcher test
  core/test/stBTC.test.ts
Due: core-lint-js

Modify TreasuryUpdated event to include old address
  core/contracts/stBTC.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Rename requestRedemption to redeemSharesAndUnmint
  core/contracts/BitcoinRedeemer.sol
Due: none

Implement approveAndCall patter in stBTC contract
  core/contracts/BitcoinRedeemer.sol
  core/contracts/stBTC.sol
Due: none

Add dependency to @thesis-co/solidity-contracts
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Naming convention for useFetchBTCBalance, enhancers & devtools update
  dapp/package.json
  dapp/src/hooks/index.ts
  dapp/src/hooks/useFetchBTCBalance.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/store/devTools.ts
  dapp/src/store/enhancers.ts
  dapp/src/store/index.ts
  dapp/src/utils/json.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Naming convention for btc hooks
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useEstimatedBTCBalance.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
Due: dapp-lint-js

Rename updateDepositParameters to updateMinimumDepositAmount
  core/contracts/stBTC.sol
  core/test/AcreBitcoinDepositor.test.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Update deployment script to set minimum deposit amount
  core/deploy/13_stbtc_update_minimum_deposit_amount.ts
Due: core-lint-js

Update test name
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Udpate import of @thesis-co/solidity-contracts
  core/contracts/BitcoinRedeemer.sol
  core/contracts/stBTC.sol
Due: none

Add unit tests for BitcoinRedeemer contract
  core/contracts/test/TestTBTC.sol
  core/test/BitcoinRedeemer.test.ts
  core/test/data/tbtc.ts
  core/test/helpers/context.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Update test contract for stBTC upgrades
  core/contracts/test/upgrades/stBTCV2.sol
Due: none

Ignore slither missing inheritance in stBTC
  core/contracts/stBTC.sol
Due: none

Removing Dispatcher contract
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
Due: none

Remove InsufficientTbtcBalance error mention
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Cleaning up code from Dispatcher contract
  core/deploy/02_deploy_acre_bitcoin_depositor.ts
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/11_acre_update_dispatcher.ts
  core/deploy/12_dispatcher_update_maintainer.ts
  core/deploy/12_stbtc_update_deposit_parameters.ts
  core/deploy/22_transfer_ownership_acre_bitcoin_depositor.ts
  core/deploy/22_transfer_ownership_dispatcher.ts
  core/test/Deployment.test.ts
  core/test/Dispatcher.test.ts
  core/test/helpers/context.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Update test depositor contract for upgradability
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
Due: none

Move deployment script for pasue admin
  core/deploy/14_update_pause_admin_stbtc.ts
  core/deploy/21_transfer_ownership_stbtc.ts
  core/deploy/22_transfer_ownership_dispatcher.ts
  core/deploy/23_transfer_ownership_acre_bitcoin_depositor.ts
Due: core-lint-js

Add gap in PausableOwnable contract
  core/contracts/PausableOwnable.sol
Due: none

Remove BitcoinRedeemer reference from stBTC
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/deploy/13_stbtc_update_bitcoin_redeemer.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
