Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Add Ledger Live connector
  dapp/package.json
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/constants/wallets.ts
  dapp/src/wagmiConfig.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Add ledger live manifest for testnet preview
  dapp/ledger-manifest-testnet-preview.json
Due: dapp-lint-config

Update Ledger live manifest for testnet preview
  dapp/ledger-manifest-testnet-preview.json
Due: dapp-lint-config

Update Ledger Live manifest
  dapp/ledger-manifest-testnet-preview.json
Due: dapp-lint-config

Disconnect the user when failed to sign siww message
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
Due: dapp-lint-js

Disable signature verification on login
  dapp/src/hooks/useSignMessageAndCreateSession.ts
Due: dapp-lint-js

Install `posthog-js` library
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Trigger connection action for embed dApp
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
Due: dapp-lint-js

Triggering the connect wallet flow when application starts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTriggerConnectWalletModal.ts
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Cache the last used account in local storage
  dapp/src/hooks/index.ts
  dapp/src/hooks/useLastUsedBtcAddress.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Use `accountsChanged` event for OKX
  dapp/src/hooks/orangeKit/index.ts
  dapp/src/hooks/orangeKit/useAccountsChangedOKX.ts
  dapp/src/hooks/orangeKit/useDisconnectOKX.ts
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

Bump orangekit package to latest dev version
  dapp/package.json
  dapp/src/wagmiConfig.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Bump orangekit packages to `1.0.0-beta.32`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Fix incorrect type
  dapp/src/hooks/orangeKit/useAccountsChangedOKX.ts
Due: dapp-lint-js

Fix copy and text color
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Fix timer alignment
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Fix a bug of incorrect check for the `localStorage` item
  dapp/src/hooks/useLocalStorage.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Bump `@orangekit/react` dependency
  dapp/package.json
  dapp/src/wagmiConfig.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Don't open unisat window after disconnection
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Disable disconnection from the wallet level
  dapp/src/hooks/orangeKit/useAccountsChangedUnisat.ts
Due: dapp-lint-js

Update text from 'Deposit more' to 'Deposit' for new users
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Improve error handling in connect wallet flow
  dapp/package.json
  dapp/src/hooks/orangeKit/useBitcoinProvider.ts
  dapp/src/hooks/useWallet.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Implement basic hooks
  dapp/src/hooks/posthog/index.ts
  dapp/src/hooks/posthog/usePostHog.ts
  dapp/src/hooks/posthog/usePostHogCapture.ts
  dapp/src/hooks/posthog/usePostHogCapturePageView.ts
  dapp/src/hooks/posthog/usePostHogIdentify.ts
  dapp/src/posthog.tsx
  dapp/src/utils/hash.ts
Due: dapp-lint-js

Fix refetching data on reconnect
  dapp/src/hooks/useResetWalletState.ts
Due: dapp-lint-js

Mock session mechanism in dapp
  dapp/src/hooks/useSignMessageAndCreateSession.ts
Due: dapp-lint-js

Bump `@orangekit/react` package
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Handle Taprrot address validation correctly
  dapp/package.json
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Register logged in user Bitcoin address when registering a deposit
  sdk/src/lib/api/TbtcApi.ts
  sdk/src/modules/account.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/data/deposit.ts
  sdk/test/modules/account.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js

Update `ConnectWalletButton` component
  dapp/package.json
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Update `testnet` config for ledger live manifest
  dapp/config/testnet.json
Due: dapp-lint-config

Update dapp scripts
  dapp/ledger-manifest-testnet.json
  dapp/manifests/ledger-live/ledger-live-manifest-development.json
  dapp/manifests/ledger-live/ledger-live-manifest-mainnet.json
  dapp/manifests/ledger-live/ledger-live-manifest-testnet.json
  dapp/manifests/ledger-live/ledger-manifest-template.json
  dapp/package.json
Due: dapp-lint-config

Add helper function
  dapp/src/hooks/useLastUsedBtcAddress.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Resolve modal button issue
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/utils/colors.ts
Due: dapp-lint-js

Set mobile mode only when the dApp is not embedded
  dapp/src/hooks/useMobileMode.ts
Due: dapp-lint-js

Revert unnecessary changes
  dapp/src/theme/Button.ts
  dapp/src/theme/utils/colors.ts
Due: dapp-lint-js

Add switch account button
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/hooks/orangeKit/useBitcoinBalance.ts
  dapp/src/hooks/sdk/useBitcoinPosition.ts
  dapp/src/hooks/sdk/useFetchActivities.ts
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Set referral code program based on the embed app
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/hooks/useIsEmbed.ts
  dapp/src/hooks/useReferral.ts
  dapp/src/utils/referralProgram.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Set correct referral code for Ledger Live
  dapp/src/utils/referralProgram.ts
Due: dapp-lint-js

Update the reconnect flow
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Refactor for `Layout` component
  dapp/src/components/Header/index.tsx
  dapp/src/components/Layout.tsx
  dapp/src/pages/DashboardPage/PageLayout/PageLayout.tsx
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
