Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Smaller cleanups, renames and adding an additional test
  core/contracts/Router.sol
  core/test/Acre.test.ts
  core/test/Deployment.test.ts
  core/test/Dispatcher.test.ts
Due: core-lint-js

Extract snapshot wrappers to a separate file
  core/test/Acre.test.ts
  core/test/Dispatcher.test.ts
  core/test/helpers/context.ts
  core/test/helpers/index.ts
  core/test/helpers/snapshot.ts
Due: core-lint-js

Fix ducumentation
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Emit events on stake initialization and finalization
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Cleanups across Solidity contracts and tests
  core/contracts/Acre.sol
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
  core/test/Deployment.test.ts
  core/test/Dispatcher.test.ts
Due: core-lint-js

Generate markdown files for Solidity API documentation
  core/.gitignore
  core/hardhat.config.ts
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-js, core-lint-config

Separate constants and helper functions for overview modal
  dapp/src/components/Modals/Staking/Overview/StakingSteps.tsx
  dapp/src/components/Modals/Staking/Overview/index.tsx
Due: dapp-lint-js

Disable no-unused-expressions for test files
  core/.eslintrc
Due: none

Fix require-await error in deployment script
  core/deploy/00_resolve_testing_erc4626.ts
Due: core-lint-js

Add an action icon for the alert
  dapp/src/components/Modals/Staking/DepositBTC.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/shared/Alert/index.tsx
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Explicitly import ethers to satisfy eslint
  core/test/Acre.test.ts
Due: core-lint-js

Simplify component logic for staking steps
  dapp/src/components/Modals/Staking/DepositBTC.tsx
  dapp/src/components/Modals/Staking/Overview/StakingSteps.tsx
  dapp/src/components/Modals/Staking/Overview/index.tsx
  dapp/src/components/Modals/Staking/Overview/steps.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/components/Modals/Staking/components/StakingSteps.tsx
  dapp/src/components/Modals/Staking/index.tsx
Due: dapp-lint-js

Add missing dependency in Acre deployment script
  core/deploy/21_transfer_ownership_acre.ts
Due: core-lint-js

Make TbtcDepositor contract Ownable
  core/contracts/tbtc/TbtcDepositor.sol
  core/deploy/23_transfer_ownership_tbtc_depositor.ts
Due: core-lint-js

Create a loading view after staking
  dapp/src/components/Modals/Support/Loading.tsx
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/components/shared/Skeleton/index.tsx
  dapp/src/theme/Skeleton.ts
  dapp/src/theme/Spinner.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Add `ethers` lib to the SDK module
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Add ethereum address wrapper
  sdk/src/lib/ethereum/address.ts
  sdk/src/lib/ethereum/index.ts
Due: root-lint, sdk-lint-js

Update chain messages interface
  sdk/src/lib/messages/messages.ts
Due: root-lint, sdk-lint-js

Add Ethereum implementation of messages
  sdk/src/lib/ethereum/messages.ts
  sdk/src/lib/ethereum/messages/index.ts
  sdk/src/lib/ethereum/messages/signed-message.ts
Due: root-lint, sdk-lint-js

Add `receiver` validation to `stake` function
  sdk/src/modules/staking/staking.ts
Due: root-lint, sdk-lint-js

Create a success view after action
  dapp/src/components/Modals/Support/Success.tsx
  dapp/src/static/icons/LoadingSpinner.tsx
  dapp/src/static/icons/index.ts
Due: dapp-lint-js

Wrap `CurrencyBalance` in brackets
  dapp/src/components/Modals/Support/Success.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
Due: dapp-lint-js

Set the currency balance size correctly on the success view
  dapp/src/components/Modals/Support/Success.tsx
  dapp/src/theme/CurrencyBalance.ts
Due: dapp-lint-js

Add `core` dependency to `sdk`
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Create Ethereum contract wrapper
  sdk/src/lib/ethereum/contract.ts
Due: root-lint, sdk-lint-js

Add Ethereum impl of `TBTCDepositor` contract
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/src/modules/staking/staking.ts
Due: root-lint, sdk-lint-js

Fix imports
  sdk/src/lib/ethereum/messages/signed-message.ts
Due: root-lint, sdk-lint-js

Rename class
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Update `EthereumSigner` type
  sdk/src/index.ts
  sdk/src/lib/ethereum/contract.ts
  sdk/src/lib/ethereum/messages/index.ts
Due: root-lint, sdk-lint-js

Define tBTC Depositor's depositor fee
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Define treasury address reference in Acre contract
  core/contracts/Acre.sol
  core/hardhat.config.ts
Due: core-lint-js

Document minimum deposit amount
  core/contracts/Acre.sol
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Add function to help estimate fees
  core/contracts/tbtc/TbtcDepositor.sol
Due: none

Right-hand sidebar for staking flow
  dapp/src/assets/fonts/Segment-Black.otf
  dapp/src/assets/fonts/Segment-Bold.otf
  dapp/src/assets/fonts/Segment-Medium.otf
  dapp/src/assets/fonts/Segment-Regular.otf
  dapp/src/assets/fonts/Segment-SemiBold.otf
  dapp/src/assets/images/coins-stacked.svg
  dapp/src/assets/images/right-sidebar-bg.png
  dapp/src/assets/images/shield-plus.svg
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/theme/Sidebar.ts
Due: dapp-lint-js

Removed list element from calculation card
  dapp/src/components/Sidebar/index.tsx
Due: dapp-lint-js

Add unit tests for extra data encode/decode functions
  core/test/TbtcDepositor.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Add unit tests for updateDepositorFeeDivisor
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Use beforeAfterSnapshotWrapper in updateDepositorFeeDivisor tests
  core/test/TbtcDepositor.test.ts
  core/test/helpers/snapshot.ts
Due: core-lint-js

Add unit test for calculateDepositKey function
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Add unit tests for initializeStake function
  core/test/TbtcDepositor.test.ts
Due: core-lint-js
