Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Cleanups and smaller refactorings around MezoAllocator
  core/contracts/MezoAllocator.sol
  core/deploy/12_mezo_allocator_update_maintainer.ts
Due: core-lint-js

Adding tests supporting DepositInfo struct
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Adding withdrawal functionality to MezoAllocator contract
  core/contracts/MezoAllocator.sol
  core/contracts/stBTC.sol
  core/deploy/12_mezo_allocator_update_withdrawer.ts
Due: core-lint-js

Withdrawing assets from stBTC first and then from MezoPortal deposits
  core/contracts/MezoAllocator.sol
  core/contracts/stBTC.sol
Due: none

Cleaning up slither warnings.
  core/contracts/MezoAllocator.sol
  core/contracts/stBTC.sol
Due: none

Rename from `overriddenToastFunction` to `overriddenToast`
  dapp/src/hooks/useToast.ts
Due: dapp-lint-js

Create a `useTimeout` hook
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTimeout.ts
  dapp/src/hooks/useWalletToast.ts
Due: dapp-lint-js

Rename from `toastManagerStyle` to `toastManagerTopStyle`
  dapp/src/theme/utils/styles.ts
Due: dapp-lint-js

Remove unnecessary padding for tooltip
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
Due: dapp-lint-js

Removal of the global object `TOASTS`
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/components/shared/toasts/index.ts
  dapp/src/components/shared/toasts/toasts.tsx
  dapp/src/hooks/useWalletToast.ts
  dapp/src/pages/ActivityPage/ActivityDetails.tsx
  dapp/src/types/index.ts
  dapp/src/types/toast.ts
  dapp/src/utils/text.ts
Due: dapp-lint-js

Show wallet error toast from the top level
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useShowWalletErrorToast.ts
Due: dapp-lint-js

Reorganizing toasts components
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositTransactionErrorToast.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SigningMessageErrorToast.tsx
  dapp/src/components/WalletErrorToast.tsx
  dapp/src/components/shared/Toast.tsx
  dapp/src/components/shared/alerts/index.ts
  dapp/src/components/shared/toasts/DepositTransactionErrorToast.tsx
  dapp/src/components/shared/toasts/MessageSigningErrorToast.tsx
  dapp/src/components/shared/toasts/index.ts
  dapp/src/hooks/useShowWalletErrorToast.ts
Due: dapp-lint-js

Add `@tabler/icons-react` package
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Use icons for alert from `@tabler/icons-react`
  dapp/src/assets/icons/AlertError.tsx
  dapp/src/assets/icons/AlertInfo.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/components/shared/alerts/Alert.tsx
Due: dapp-lint-js

Reorganize utils functions for RetryModal component
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
Due: dapp-lint-js

Use icons from `@tabler/icons-react`
  dapp/src/assets/icons/DiscordIcon.tsx
  dapp/src/assets/icons/ReloadIcon.tsx
  dapp/src/assets/icons/SecurityCheckIcon.tsx
  dapp/src/assets/icons/ServerIcon.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/ServerErrorModal.tsx
Due: dapp-lint-js

Add auto-retry function for staking flow after one minute
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
Due: dapp-lint-js

Fix counter label for `RetryModal`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
Due: dapp-lint-js

Remove unneeded import
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
Due: dapp-lint-js

Withdrawing the right amount of assets
  core/contracts/MezoAllocator.sol
  core/contracts/test/MezoPortalStub.sol
Due: none

Adding withdrawal tests
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Adding more withdrawal tests
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Using third party account as a receiver upon redeeming shares
  core/test/stBTC.test.ts
Due: core-lint-js

Hardcoding values for previewRedeem
  core/test/stBTC.test.ts
Due: core-lint-js

Hardcoding more values for testing purposes
  core/test/stBTC.test.ts
Due: core-lint-js

Remove max total assets limit
  core/contracts/stBTC.sol
Due: none

Remove max stake limits from BitcoinDepositor contract
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Naming convention & style update
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/FeesPopover/index.ts
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltip.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltipItem.tsx
  dapp/src/components/TransactionModal/FeesTooltip/index.ts
Due: dapp-lint-js

Remove stake request queueing from BitcoinDepositor contract
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Remove unused erorrs
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Minor changes: ref.current check & removed default size prop
  dapp/src/components/LiquidStakingTokenPopover.tsx
  dapp/src/hooks/useSize.ts
Due: dapp-lint-js

Update stBTC tests after max limits removal
  core/test/stBTC.test.ts
Due: core-lint-js

Update BitcoinDepositor tests after max limits removal
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Docs card minor change, rename settings file
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/settings.tsx
  dapp/src/pages/OverviewPage/DocsCard.tsx
Due: dapp-lint-js

Update state types
  core/types/index.ts
Due: core-lint-js

Remove exposed_setQueuedStakesBalance from test contract
  core/contracts/test/AcreBitcoinDepositorHarness.sol
Due: none

Store state as value instead of struct
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Remove test contracts for upgradability
  core/contracts/test/upgrades/AcreBitcoinDepositorMisplacedSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMissingSlot.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
Due: none

Update test contracts for upgrades
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/test/AcreBitcoinDepositor.upgrade.test.ts
  core/test/stBTC.upgrade.test.ts
Due: core-lint-js
