Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Set page content max width in Layout component
  dapp/src/components/Header/index.tsx
  dapp/src/components/Layout.tsx
  dapp/src/pages/DashboardPage/PageLayout/PageLayout.tsx
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Implement MultiAssetVault
  solidity/contracts/MultiAssetVault.sol
Due: none

Implement MultiAssetVault deployment scripts
  solidity/deploy/41_deploy_multi_asset_vault.ts
  solidity/deploy/42_register_solvbtc.ts
  solidity/deploy/43_transfer_ownership_multi_asset_vault.ts
Due: solidity-lint-js

Extract IMezoPortal interface to its own file
  solidity/contracts/MezoAllocator.sol
  solidity/contracts/interfaces/IMezoPortal.sol
Due: none

Add more context to mismatched withdraw amount error message
  solidity/contracts/MultiAssetVault.sol
Due: none

Add responsiveness for transaction table row
  dapp/src/pages/DashboardPage/TransactionHistory/EstimatedDuration.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
Due: dapp-lint-js

Add a basic grid for the dashboard view for the embedded dApp
  dapp/src/pages/DashboardPage/UsefulLinks.tsx
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Update design for position details card
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Rename MultiAssetVault to AcreMultiAssetVault
  solidity/contracts/AcreMultiAssetVault.sol
  solidity/deploy/41_deploy_multi_asset_vault.ts
  solidity/deploy/42_register_solvbtc.ts
  solidity/deploy/43_transfer_ownership_multi_asset_vault.ts
Due: solidity-lint-js

Track deposit ID independently of the Mezo deposit ID
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Include initial setup in the initializer
  solidity/contracts/AcreMultiAssetVault.sol
  solidity/deploy/41_deploy_multi_asset_vault.ts
  solidity/deploy/42_register_solvbtc.ts
  solidity/deploy/43_transfer_ownership_multi_asset_vault.ts
Due: solidity-lint-js

Simplified input parameters validation
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Update maximum width for dApp
  dapp/src/components/Layout.tsx
Due: dapp-lint-js

Update grid template columns for embed dApp
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Fix deposit count increment
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Change from "Deposit more" to "Deposit"
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Delete deposit data after calling mezo withdraw
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Add unit tests for the AcreMultiAssetVault contract
  solidity/contracts/test/MezoPortalStub.sol
  solidity/test/AcreMultiAssetVault.test.ts
  solidity/test/helpers/context.ts
Due: solidity-lint-js

Add integration test for AcreMultiAssetVault Deployment
  solidity/test/integration/Deployment.test.ts
Due: solidity-lint-js

Update type of MezoPortal contract used in tests
  solidity/test/AcreMultiAssetVault.test.ts
  solidity/test/helpers/context.ts
Due: solidity-lint-js

Extract assets addresses to a shared file
  solidity/test/integration/Deployment.test.ts
  solidity/test/integration/helpers.ts
Due: solidity-lint-js

Add integration test for AcreMultiAssetVault
  solidity/hardhat.config.ts
  solidity/test/integration/AcreMultiAssetVault.test.ts
Due: solidity-lint-js

Update integration tests for MezoAllocator
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Improve MultiAssetVault unit test
  solidity/test/AcreMultiAssetVault.test.ts
Due: solidity-lint-js

Skip BitcoinRedeemer integration test
  solidity/test/integration/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Improve contract documentation
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Move variable assignment in initializer
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Remove redundant casting
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Check if contract is deployed in the deployment script
  solidity/deploy/01_deploy_stbtc.ts
  solidity/deploy/02_deploy_mezo_allocator.ts
  solidity/deploy/03_deploy_bitcoin_depositor.ts
  solidity/deploy/04_deploy_bitcoin_redeemer.ts
  solidity/deploy/41_deploy_multi_asset_vault.ts
Due: solidity-lint-js

Set initial owner for ProxyAdmin deployment
  solidity/deploy/04_deploy_bitcoin_redeemer.ts
  solidity/deploy/41_deploy_multi_asset_vault.ts
Due: solidity-lint-js

Check the ProxyAdmin owner in the deployment scripts
  solidity/test/integration/Deployment.test.ts
Due: solidity-lint-js

Compile artifacts for ProxyAdmin contract
  pnpm-lock.yaml
  solidity/hardhat.config.ts
  solidity/package.json
Due: root-lint, solidity-lint-js, solidity-lint-config

Clarify block number used for forking
  solidity/hardhat.config.ts
Due: solidity-lint-js

Update test name to reflect where assets are transfered
  solidity/test/AcreMultiAssetVault.test.ts
Due: solidity-lint-js

Disable sidebar for embedded dApp
  dapp/src/contexts/SidebarContext.tsx
Due: dapp-lint-js

Improve withdrawal testing common function
  solidity/test/AcreMultiAssetVault.test.ts
Due: solidity-lint-js

Check if the deposit owner is any of the supported assets
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Update pnpm version to 9.12.1
  .github/workflows/dapp.yaml
  .github/workflows/reusable-sdk-build.yaml
  .github/workflows/reusable-solidity-build.yaml
  .github/workflows/sdk.yaml
  .github/workflows/solidity.yaml
  .github/workflows/subgraph.yaml
  package.json
Due: root-lint

Additional reentrancy protecion
  solidity/contracts/AcreMultiAssetVault.sol
Due: none

Ignore contracts/hardhat-dependency-compiler for slither
  solidity/slither.config.json
Due: solidity-lint-config
