Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add `bignumber.js` package to dapp
  dapp/package.json
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Add a new step for the withdrawal flow
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Rename `BitcoinProvider` to `AcreBitcoinProvider`
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
  sdk/src/acre.ts
  sdk/src/lib/bitcoin/providers/provider.ts
  sdk/src/lib/redeemer-proxy.ts
  sdk/src/modules/account.ts
  sdk/test/utils/mock-bitcoin-provider.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Fix `AcreLedgerLiveBitcoinProvider` unit tests
  dapp/src/utils/orangekit/ledger-live/tests/bitcoin-provider.test.ts
Due: dapp-lint-js

Remove unnecessary `await` in unit test
  dapp/src/utils/orangekit/ledger-live/tests/bitcoin-provider.test.ts
Due: dapp-lint-js

Remove unnecessary `toString()`
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
  dapp/src/utils/orangekit/ledger-live/tests/bitcoin-provider.test.ts
Due: dapp-lint-js

Update `AcreBitcoinProvider` docs
  sdk/src/lib/bitcoin/providers/provider.ts
Due: root-lint, sdk-lint-js

Update import in `redeemer-proxy` file
  sdk/src/lib/redeemer-proxy.ts
Due: root-lint, sdk-lint-js

Update `mock-orangekit` file
  sdk/test/utils/mock-orangekit.ts
Due: root-lint, sdk-lint-js

Update `OrangeKitTbtcRedeemerProxy` unit tests
  sdk/test/lib/redeemer-proxy.test.ts
  sdk/test/utils/mock-bitcoin-provider.ts
Due: root-lint, sdk-lint-js

Update docs for `AcreLedgerLiveBitcoinProvider`
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
Due: dapp-lint-js

Fix failed SDK test
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Add padding for the connector icon
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
Due: dapp-lint-js

Set the right description in `WalletInteractionModal`
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
Due: dapp-lint-js

Use `finally` to update state
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Show correct modal when `transactionHash` is defined
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
Due: dapp-lint-js

Reset `pnpm-lock.yaml` file
  pnpm-lock.yaml
Due: root-lint

Update `pnpm-lock.yaml` file
  pnpm-lock.yaml
Due: root-lint

Update exports
  dapp/src/assets/icons/BoltFilled.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTVL.ts
Due: dapp-lint-js

Rename type
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
  dapp/src/utils/orangekit/ledger-live/connector.ts
Due: dapp-lint-js

Fix typos in `AcreLedgerLiveBitcoinProvider` docs
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
Due: dapp-lint-js

Update the `connect` function
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
  dapp/src/utils/orangekit/ledger-live/tests/bitcoin-provider.test.ts
Due: dapp-lint-js

Fetch TVL value from Acre API
  dapp/src/constants/staking.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useTotalAssets.ts
  dapp/src/hooks/useTVL.ts
  dapp/src/pages/DashboardPage/AcreTVLProgress.tsx
  dapp/src/utils/acreApi.ts
Due: dapp-lint-js

Format the docs in AcreBitcoinProvider
  sdk/src/lib/bitcoin/providers/provider.ts
Due: root-lint, sdk-lint-js

Update Ledger Live testnet manifest
  dapp/manifests/ledger-live/ledger-live-manifest-testnet.json
Due: dapp-lint-config

Display gate modal only for standalone dapp
  dapp/src/hooks/useGatingDApp.ts
Due: dapp-lint-js

Add `alt` prop to image component
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
Due: dapp-lint-js

Rename from `type` to `actionType`
  dapp/src/components/TransactionModal/WalletInteractionModal.tsx
Due: dapp-lint-js

Rename from `builtDataStepCallback` to `dataBuiltStepCallback`
  dapp/src/acre-react/hooks/useInitializeWithdraw.ts
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  sdk/src/lib/redeemer-proxy.ts
  sdk/src/modules/account.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Update name
  dapp/src/hooks/useTVL.ts
  dapp/src/utils/acreApi.ts
Due: dapp-lint-js

Update decimals
  dapp/src/pages/DashboardPage/AcreTVLProgress.tsx
Due: dapp-lint-js

Update cap
  dapp/src/constants/staking.ts
  dapp/src/pages/DashboardPage/AcreTVLProgress.tsx
Due: dapp-lint-js

Update `BeehiveCard` tooltip
  dapp/src/pages/DashboardPage/BeehiveCard.tsx
Due: dapp-lint-js

Add `AcrePointsCard` tooltip
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Add conditional `AcrePointsCard` tooltip
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Implement `CurrencyBalance` tooltip
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/DashboardPage/TransactionHistory/TransactionTable.tsx
Due: dapp-lint-js

Display full amount of TVL when cap is exceeded
  dapp/src/hooks/useTVL.ts
Due: dapp-lint-js

Revert lockfile changes
  pnpm-lock.yaml
Due: root-lint

Implement deposit limit when the TVL cap exceeds
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js
