Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Fetch Bridge and TBTCVault contracts from tbtc-v2
  core/external/mainnet/Bridge.json
  core/external/mainnet/TBTCVault.json
  core/external/sepolia/Bridge.json
  core/external/sepolia/TBTCVault.json
  core/scripts/fetch_external_artifacts.sh
Due: core-lint-config

Calculate number of confirmations based on network
  core/deploy/00_resolve_testing_erc4626.ts
  core/deploy/01_deploy_stbtc.ts
  core/deploy/02_deploy_dispatcher.ts
  core/helpers/deployment.ts
Due: core-lint-js

Don't deploy test vault for Sepolia
  core/deploy/00_resolve_testing_erc4626.ts
Due: core-lint-js

Verify contracts on Etherscan after deployment
  core/deploy/01_deploy_stbtc.ts
  core/deploy/02_deploy_dispatcher.ts
  core/hardhat.config.ts
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-js, core-lint-config

Add example .env file
  .gitignore
  core/.env.example
Due: root-lint

Estimate average assets balance
  core/contracts/stBTC.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Update packages names for @acre-btc scope
  core/package.json
  sdk/package.json
Due: root-lint, core-lint-config, sdk-lint-config

Deployment artifacts for sepolia
  core/deployments/sepolia/TbtcDepositor.json
  core/deployments/sepolia/stBTC.json
  core/package.json
Due: core-lint-config

Remove average word
  core/contracts/stBTC.sol
Due: none

Default config for BrowserTracing
  dapp/src/sdk/sentry/index.ts
Due: dapp-lint-js

Add `@keep-network/tbtc-v2.ts` to SDK module
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Add necessary wrappers
  sdk/src/lib/bitcoin/index.ts
  sdk/src/lib/bitcoin/transaction.ts
  sdk/src/lib/contracts/chain-identifier.ts
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/utils/hex.ts
  sdk/src/lib/utils/index.ts
Due: root-lint, sdk-lint-js

Create `ChainMessages` interface
  sdk/src/lib/messages/index.ts
  sdk/src/lib/messages/messages.ts
Due: root-lint, sdk-lint-js

Create `TBTCDepositor` contract interface in SDK
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/contracts/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Create `Staking` module
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/staking.ts
Due: root-lint, sdk-lint-js

Update chain messages interface
  sdk/src/lib/messages/messages.ts
Due: root-lint, sdk-lint-js

Add `receiver` validation to `stake` function
  sdk/src/modules/staking/staking.ts
Due: root-lint, sdk-lint-js

Add ethereum address wrapper
  sdk/src/lib/ethereum/address.ts
  sdk/src/lib/ethereum/index.ts
Due: root-lint, sdk-lint-js

Add Ethereum implementation of messages
  sdk/src/lib/ethereum/messages.ts
  sdk/src/lib/ethereum/messages/index.ts
  sdk/src/lib/ethereum/messages/signed-message.ts
Due: root-lint, sdk-lint-js

Add `initializeEthereum` to the `Acre` main class
  sdk/src/index.ts
  sdk/src/lib/ethereum/contract.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/lib/ethereum/messages.ts
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Add `ethers` lib to the SDK module
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Add Ethereum impl of `TBTCDepositor` contract
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/src/modules/staking/staking.ts
Due: root-lint, sdk-lint-js

Update `EthereumSigner` type
  sdk/src/index.ts
  sdk/src/lib/ethereum/contract.ts
  sdk/src/lib/ethereum/messages/index.ts
Due: root-lint, sdk-lint-js

Rename class
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Create Ethereum contract wrapper
  sdk/src/lib/ethereum/contract.ts
Due: root-lint, sdk-lint-js

Fix imports
  sdk/src/lib/ethereum/messages/signed-message.ts
Due: root-lint, sdk-lint-js

Add `core` dependency to `sdk`
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Use `jest` instead of `chai` and `mocha`
  pnpm-lock.yaml
  sdk/babel.config.js
  sdk/jest.config.js
  sdk/package.json
  sdk/test/acre.test.ts
  sdk/tsconfig.json
Due: root-lint, sdk-lint-js, sdk-lint-config

Add basic unit test for `TBTCDepositor` contract
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Add unit test for staking module
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
  sdk/test/utils/mock-message-signer.ts
  sdk/test/utils/mock-tbtc.ts
Due: root-lint, sdk-lint-js

Update `StakeInitialization`
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Update unit test
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Update staking module
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Update `StakeInitialization` constructor
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Rename interface
  sdk/src/index.ts
  sdk/src/lib/ethereum/messages/index.ts
  sdk/src/lib/ethereum/messages/signed-message.ts
  sdk/src/lib/message-signer/index.ts
  sdk/src/lib/message-signer/message-signer.ts
  sdk/src/lib/message-signer/signed-message.ts
  sdk/src/lib/messages/index.ts
  sdk/src/lib/messages/messages.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Add support for eip-712 typed messages
  sdk/src/index.ts
  sdk/src/lib/ethereum/messages/index.ts
  sdk/src/lib/ethereum/messages/signed-message.ts
  sdk/src/lib/message-signer/eip712.ts
  sdk/src/lib/message-signer/index.ts
  sdk/src/lib/message-signer/message-signer.ts
Due: root-lint, sdk-lint-js

Add unit test for staking module
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-message-signer.ts
Due: root-lint, sdk-lint-js

Update `test` script in sdk `package.json`
  sdk/package.json
Due: root-lint, sdk-lint-config

Add `signMessage` step to `StakeInitialization`
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Rename lib dir
  sdk/src/index.ts
  sdk/src/lib/eip712-signer/eip712.ts
  sdk/src/lib/eip712-signer/index.ts
  sdk/src/lib/eip712-signer/signed-message.ts
  sdk/src/lib/ethereum/eip712-signer/index.ts
  sdk/src/lib/ethereum/eip712-signer/signed-message.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/utils/mock-message-signer.ts
Due: root-lint, sdk-lint-js
