Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Apply adjustments
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/pages/OverviewPage/TransactionHistory.tsx
Due: dapp-lint-js

Use `ArrowUpRightAnimatedIcon` component
  dapp/src/assets/icons/animated/ArrowUpRightAnimatedIcon.tsx
  dapp/src/pages/DashboardPage/DocsCard.tsx
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Revert "Pausing token transfers upon pausing the protocol"
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Reset state for `TransactionModal`
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Update value of delay for triggering Bitcoin transaction
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
Due: dapp-lint-js

Move `TransactionContext` to redux store
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/contexts/TransactionContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActionFlowTokenAmount.ts
  dapp/src/hooks/useTransactionContext.ts
  dapp/src/store/action-flow/actionFlowSelectors.ts
  dapp/src/store/action-flow/actionFlowSlice.ts
Due: dapp-lint-js

Bumping up hardhat version to 22.2.3
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Upgrading and pinning solidity compiler to 0.8.24
  solidity/contracts/BitcoinDepositor.sol
  solidity/contracts/BitcoinRedeemer.sol
  solidity/contracts/MezoAllocator.sol
  solidity/contracts/PausableOwnable.sol
  solidity/contracts/bridge/ITBTCToken.sol
  solidity/contracts/interfaces/IDispatcher.sol
  solidity/contracts/lib/ERC4626Fees.sol
  solidity/contracts/stBTC.sol
  solidity/contracts/test/BitcoinDepositorHarness.sol
  solidity/contracts/test/MezoPortalStub.sol
  solidity/contracts/test/TestERC20.sol
  solidity/contracts/test/TestTBTC.sol
  solidity/contracts/test/upgrades/BitcoinDepositorV2.sol
  solidity/contracts/test/upgrades/MezoAllocatorV2.sol
  solidity/contracts/test/upgrades/stBTCV2.sol
  solidity/contracts/utils/Errors.sol
  solidity/hardhat.config.ts
Due: solidity-lint-js

Fix eslint issue with imports
  dapp/src/components/Layout.tsx
Due: dapp-lint-js

Fix issue with resetting state for deposit flow
  dapp/src/store/action-flow/actionFlowSlice.ts
Due: dapp-lint-js

Fix eslint issue
  dapp/src/components/TransactionModal/ActionFormModal.tsx
Due: dapp-lint-js

Fix issue for redux actions
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Improve styles for `SuccessModal`
  dapp/src/components/TransactionModal/SuccessModal.tsx
Due: dapp-lint-js

Adding missing check for ownership of tBTC token
  solidity/contracts/BitcoinRedeemer.sol
  solidity/test/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Create a special hook for triggering `TransactionModal`
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ErrorModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useModal.ts
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
  dapp/src/hooks/useTransactionModal.ts
  dapp/src/pages/DashboardPage/PositionDetails.tsx
  dapp/src/pages/LandingPage/components/HeroSection.tsx
  dapp/src/store/action-flow/actionFlowSlice.ts
  dapp/src/types/action-flow.ts
  dapp/src/types/ledger-live-app.ts
Due: dapp-lint-js

Apply `PageLayout` to dashboard page
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/pages/OverviewPage/PageLayout/PageLayout.tsx
Due: dapp-lint-js

Resolve merge errors
  dapp/src/pages/DashboardPage/PageLayout/PageLayout.tsx
  dapp/src/pages/DashboardPage/PageLayout/PageLayoutSidebar.tsx
  dapp/src/pages/DashboardPage/PageLayout/index.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Display `TransactionHistory` in `DasboardCard`
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Prefix internal function with underscore
  solidity/contracts/BitcoinRedeemer.sol
Due: none

Remove @babel/preset-env
  pnpm-lock.yaml
  sdk/babel.config.js
  sdk/package.json
Due: root-lint, sdk-lint-js, sdk-lint-config

Use JestConfigWithTsJest type in jest config file
  sdk/jest.config.ts
Due: root-lint, sdk-lint-js

Fix Jest and @orangekit/sdk support
  sdk/jest.config.ts
  sdk/tsconfig.json
Due: root-lint, sdk-lint-js, sdk-lint-config

Create a hook for completed activities
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useCompletedActivities.ts
  dapp/src/store/wallet/walletSelector.ts
Due: dapp-lint-js

Add missing properties for `Activity` type
  dapp/src/types/activity.ts
  dapp/src/types/subgraphAPI.ts
  dapp/src/utils/subgraphAPI.ts
Due: dapp-lint-js

Use `numberToLocaleString` function
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Remove redundant Box element
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Change type of heading element
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Update `letter-spacing` property value
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Remove `radius` property on container
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Rename component
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/components/shared/ActivitiesList/index.ts
  dapp/src/components/shared/StakingActivitiesList/index.ts
Due: dapp-lint-js

Refactor `Alert` theme definition
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Disable estimated time
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Read activities from Redux store
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/components/shared/BlockExplorerLink/index.tsx
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Remove id check
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
Due: dapp-lint-js

Remove type export
  dapp/src/components/shared/ActivitiesList/index.ts
Due: dapp-lint-js

Simplify form data for ActionFormModal component
  dapp/src/components/TransactionModal/ActionFormModal.tsx
Due: dapp-lint-js

Create a shared type for forms
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/types/form.ts
  dapp/src/types/index.ts
Due: dapp-lint-js

Extract website to a separate repository
  .github/workflows/website.yaml
  .pre-commit-config.yaml
  .prettierignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/.eslintignore
  website/.eslintrc
  website/.gitignore
  website/.nvmrc
  website/.prettierignore
  website/.prettierrc.js
  website/.tsconfig-eslint.json
  website/README.md
  website/gatsby-browser.js
  website/gatsby-config.ts
  website/package.json
  website/src/components/SEO/index.tsx
  website/src/images/favicon.png
  website/src/images/placeholder-mobile.svg
  website/src/images/placeholder.svg
  website/src/pages/404.tsx
  website/src/pages/index.tsx
  website/src/styles/global-styles.css
  website/tsconfig.json
Due: root-lint, website-lint-js, website-lint-config

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
