Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Fix the lockfile: pnpm-lock
  pnpm-lock.yaml
Due: root-lint

Sentry: send initiaited deposit receipt
  dapp/src/DApp.tsx
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/sentry/index.ts
  dapp/src/hooks/sentry/useCaptureMessage.ts
  dapp/src/hooks/sentry/useSentry.ts
  dapp/src/sdk/sentry/index.ts
Due: dapp-lint-js

Add docs for `isPublicKeyHashTypeAddress`
  sdk/src/lib/utils/bitcoin.ts
Due: root-lint, sdk-lint-js

Fix initializeStake func name in depositor mock
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Add unit tests for `isPublicKeyHashTypeAddress`
  sdk/src/lib/bitcoin/address.ts
  sdk/src/lib/bitcoin/index.ts
  sdk/src/lib/utils/index.ts
  sdk/test/lib/bitcoin/address.test.ts
Due: root-lint, sdk-lint-js

Support sentry only when flag is set to true
  dapp/src/hooks/sentry/useCaptureMessage.ts
  dapp/src/hooks/sentry/useSentry.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Exclude contracts/test dir from slither checks
  core/slither.config.json
Due: core-lint-config

Rename recallFromQueue to cancelQueuedStake
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
  core/types/index.ts
Due: core-lint-js

Rename stakeFromQueue to finalizeQueuedStake
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Use a correct endpoint to validate the deposit address
  dapp/src/utils/externalApi.ts
Due: dapp-lint-js

Add misfund recovery to the Depositor contract
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Added unit tests for staking module to handle current position
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Added unit tests for stbtc depositor
  sdk/test/lib/ethereum/stbtc.test.ts
Due: root-lint, sdk-lint-js

Added an explicit type to the action.payload
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Using useAppSelector in CurrencyBalanceWithConversion component
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
Due: dapp-lint-js

Added generic currency conversion
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
  dapp/src/constants/currency.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useCurrencyConversion.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js

Added try catch block for handling thunk error
  dapp/src/store/btc/btcSlice.ts
  dapp/src/store/btc/btcThunk.ts
  dapp/src/types/coingecko.ts
  dapp/src/utils/externalApi.ts
Due: dapp-lint-js

Add missing TestERC721 type import
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Add TestERC721 contract implementation
  core/contracts/test/TestERC721.sol
Due: none

Create mocked contracts
  core/contracts/test/TestERC4626.sol
  core/contracts/test/TestStakingFlow.sol
  core/deploy/001_deploy_stbtc.ts
  core/deploy/002_deploy_test_staking_flow.ts
  core/deploy/003_set_throw_error.ts
  core/deploy/004_finalize_minting.ts
  core/deployments/sepolia/.chainId
  core/deployments/sepolia/TbtcDepositor.json
  core/deployments/sepolia/TestStakingFlow.json
  core/deployments/sepolia/solcInputs/50de5d8d06400daa81588c9831317625.json
  core/deployments/sepolia/stBTC.json
Due: core-lint-js, core-lint-config

Drafting migratiion of Sense's Core repo to Acre
  core/.gitignore
  core/api/utils.ts
  core/contracts/Allocator.sol
  core/contracts/Reserve.sol
  core/contracts/interfaces/ILP4626.sol
  core/contracts/interfaces/IMinimal4626.sol
  core/contracts/interfaces/IReserve.sol
  core/contracts/interfaces/IxERC4626.sol
  core/contracts/lib/xERC4626.sol
  core/contracts/stBTC.sol
  core/contracts/strategies/SingleTokenVault.sol
  core/deploy/00_resolve_testing_single_token_vault.ts
  core/deploy/01_deploy_stbtc.ts
  core/deploy/03_deploy_reserve.ts
  core/deploy/04_deploy_allocator.ts
  core/deploy/13_stbtc_set_allocator.ts
  core/deploy/14_reserve_set_allocator.ts
  core/deploy/23_transfer_ownership_allocator.ts
  core/deploy/23_transfer_ownership_reserve.ts
  core/hardhat.config.ts
  core/package.json
  core/static/addresses.json
  core/test/helpers/context.ts
  core/test/integration/stBTC-SingleTokenVault_mainnet-fork.test.ts
  core/test/stBTC-SingleTokenVault_mainnet-fork.spec.js
  pnpm-lock.yaml
Due: root-lint, core-lint-js, core-lint-config

Minor changes to btc->usd conversion in useCurrencyConversion
  dapp/src/constants/currency.ts
  dapp/src/hooks/useCurrencyConversion.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js

Created hook for sending deposit receipt to sentry, added extraData prop & ethAddress as tag
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useSendGeneratedDepositToSentry.ts
Due: dapp-lint-js

Changed asyncWrapper to logPromiseFailure
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useInitializeAcreSdk.ts
  dapp/src/utils/async.ts
  dapp/src/utils/index.ts
  dapp/src/utils/promise.ts
Due: dapp-lint-js

Rename from `externalAPI` to `verifyDepositAddress`
  dapp/src/utils/index.ts
  dapp/src/utils/verifyDepositAddress.ts
Due: dapp-lint-js

Replacing Solmate's lib artifact
  core/api/utils.ts
  core/external/integration/TBTC.json
  core/external/integration/WETH.json
  core/hardhat.config.ts
Due: core-lint-js, core-lint-config

Wait for Bitocin funding transaction in stake fn
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  sdk/src/lib/utils/backoff.ts
  sdk/src/lib/utils/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Add a doc for `isSupportedBTCAddressType`
  dapp/src/utils/address.ts
Due: dapp-lint-js

Do not allow deposit action when verification returns invalid or error response
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/useDepositTelemetry.ts
Due: dapp-lint-js

Fetching TBTC artifact from a helper method to reduce code duplication
  core/deploy/00_resolve_tbtc.ts
  core/deploy/00_resolve_testing_erc4626.ts
  core/deploy/00_resolve_testing_single_token_vault.ts
  core/deploy/01_deploy_stbtc.ts
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/04_deploy_allocator.ts
  core/helpers/address.ts
Due: core-lint-js

Store queued amount as uint88
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Re-order state variables to optimize storage
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Remove immutable variables from AcreBitcoinDepositor
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Update TBTCDepositorProxy ref to AbstractTBTCDepositor
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Check if depositor balance is enough for bridged amount
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/MockTbtcBridge.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Revert "Add misfund recovery to the Depositor contract"
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/TestERC721.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Structure update: utils/externalApi -> api/coingeckoApi
  dapp/src/api/coingeckoApi.ts
  dapp/src/api/index.ts
  dapp/src/hooks/useCurrencyConversion.ts
  dapp/src/store/btc/btcThunk.ts
  dapp/src/utils/index.ts
  dapp/src/utils/promise.ts
Due: dapp-lint-js

Disable slither checks for non-immutable vars
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Remove unused import
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Update @keep-network/tbtc-v2 dependency
  pnpm-lock.yaml
Due: root-lint

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
