Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Set user id for Sentry scope
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Set user address when connecting and disconnecting wallet
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Rename the `TEMPLATE_AREAS_LEDGER_LIVE` to `TEMPLATE_AREA`
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Set the `maxW` based on the embedded app
  dapp/src/components/Layout.tsx
Due: dapp-lint-js

Set the correct values for the max width of the layout
  dapp/src/components/Layout.tsx
Due: dapp-lint-js

Changing the max width for a standalone dAPP
  dapp/src/components/Layout.tsx
Due: dapp-lint-js

Use equal width for the deposit/withdraw buttons
  dapp/src/pages/DashboardPage/PositionDetails.tsx
Due: dapp-lint-js

Fix `is not a function` error
  dapp/src/hooks/orangeKit/useBitcoinProvider.ts
Due: dapp-lint-js

Set row height to fit content height in CSS Grid
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Rename from `scrollbarVisible` to `isScrollbarVisible`
  dapp/src/hooks/useScrollbarVisibility.ts
Due: dapp-lint-js

Use `selector` instead of `className`
  dapp/src/components/Sidebar.tsx
  dapp/src/hooks/useScrollbarVisibility.ts
Due: dapp-lint-js

Rename from `refetch` to `refreshState`
  dapp/src/components/Sidebar.tsx
  dapp/src/hooks/useScrollbarVisibility.ts
Due: dapp-lint-js

Add TODO comments
  dapp/src/components/AcrePointsClaimModal.tsx
Due: dapp-lint-js

Update `useWallet` hook
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Set addresses of SolvBTC assets for Sepolia
  solidity/deploy/41_deploy_multi_asset_vault.ts
Due: solidity-lint-js

Sepolia artifacts of AcreMultiAssetVault deployment
  solidity/.openzeppelin/sepolia.json
  solidity/deployments/sepolia/AcreMultiAssetVault.json
Due: solidity-lint-config

Start Solidity v1.2.0-dev
  solidity/package.json
Due: solidity-lint-config

Fix code formatting
  solidity/deploy/41_deploy_multi_asset_vault.ts
Due: solidity-lint-js

Update integration tests for AcreMultiAssetVault
  solidity/hardhat.config.ts
  solidity/test/integration/Deployment.test.ts
  solidity/test/integration/helpers.ts
Due: solidity-lint-js

Release Solidity contracts v1.2.0
  solidity/package.json
Due: solidity-lint-config

Start Solidity contracts v1.3.0-dev
  solidity/package.json
Due: solidity-lint-config

Bump orangekit package
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Update connection modal for embedded apps
  dapp/src/hooks/useTriggerConnectWalletModal.ts
Due: dapp-lint-js

Update the Dashboard layout
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Remove unnecessary import
  dapp/src/components/ConnectWalletModal/index.tsx
Due: dapp-lint-js

Update `useTriggerConnectWalletModal` hook
  dapp/src/hooks/useTriggerConnectWalletModal.ts
Due: dapp-lint-js

Add a feature flag `GATING_DAPP_ENABLED`
  dapp/.env
  dapp/src/constants/featureFlags.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Init `GateModal`
  dapp/src/components/GateModal.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/types/modal.ts
Due: dapp-lint-js

Move `HelperErrorText` to separate file
  dapp/src/components/shared/Form/HelperErrorText.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Set `outline` as a default variant for input component
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/theme/Input.ts
Due: dapp-lint-js

Add a error message for password form
  dapp/src/constants/errors.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Open GateModal only for standalone dApp
  dapp/src/hooks/useGatingDApp.ts
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

Add a link to the Discord in `GateModal`
  dapp/src/components/GateModal.tsx
Due: dapp-lint-js

Make sure that input is controlled for password form
  dapp/src/components/shared/Form/FormInput.tsx
  dapp/src/components/shared/PasswordForm/index.tsx
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Add access code verification
  dapp/src/components/GateModal.tsx
  dapp/src/components/shared/PasswordForm/index.tsx
  dapp/src/utils/acreApi.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Add password form to `GateModal`
  dapp/src/components/GateModal.tsx
  dapp/src/components/shared/Form/FormInput.tsx
  dapp/src/components/shared/PasswordForm/PasswordFormBase.tsx
  dapp/src/components/shared/PasswordForm/index.tsx
  dapp/src/constants/errors.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Remove unneeded changes after rebase
  dapp/src/hooks/useGatingDApp.ts
Due: dapp-lint-js

Save encoded access code in `localStorage`
  dapp/src/components/GateModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useAccessCode.ts
  dapp/src/hooks/useGatingDApp.ts
Due: dapp-lint-js

Implement `Footer` component
  dapp/src/components/Footer.tsx
  dapp/src/components/Layout.tsx
  dapp/src/constants/externalHref.ts
  dapp/src/theme/Footer.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js
