Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Delete `Header`'s navigation
  dapp/src/components/Header/Navigation/Navigation.tsx
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/components/Header/Navigation/index.ts
  dapp/src/components/Header/index.tsx
Due: dapp-lint-js

Separate logic into `useFormField` hook
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/AcrePointsRewardEstimation.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
  dapp/src/components/shared/Form/FormInput.tsx
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useFormField.ts
Due: dapp-lint-js

Update layout
  dapp/src/components/Header/index.tsx
  dapp/src/components/Layout.tsx
  dapp/src/theme/Footer.ts
Due: dapp-lint-js

Update the BitcoinProvider interface
  sdk/package.json
  sdk/src/lib/bitcoin/providers/index.ts
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
  sdk/src/lib/bitcoin/providers/provider.ts
  sdk/src/lib/redeemer-proxy.ts
  sdk/test/lib/bitcoin/providers/ledger-live-wallet-api-provider.test.ts
Due: root-lint, sdk-lint-js, sdk-lint-config

Implement custom bitcoin provider and connector
  dapp/package.json
  dapp/src/utils/orangeKit.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js, dapp-lint-config

Validate access code from the `localStorage`
  dapp/src/components/GateModal.tsx
  dapp/src/hooks/useGatingDApp.ts
  dapp/src/utils/acreApi.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Update the change account flow for Unisat wallet
  dapp/src/hooks/orangeKit/useAccountsChangedUnisat.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Update Ledger Live manifests
  dapp/manifests/ledger-live/ledger-live-manifest-development.json
  dapp/manifests/ledger-live/ledger-live-manifest-mainnet.json
  dapp/manifests/ledger-live/ledger-live-manifest-testnet.json
  dapp/manifests/ledger-live/ledger-manifest-template.json
Due: dapp-lint-config

Add `LoadingModal` to verify access code
  dapp/src/components/GateModal.tsx
  dapp/src/components/LoadingModal.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/hooks/useGatingDApp.ts
  dapp/src/types/modal.ts
Due: dapp-lint-js

Handle errors for verify access code
  dapp/src/constants/errors.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Improve z indicies order
  dapp/src/components/Header/index.tsx
  dapp/src/components/ModalRoot/withBaseModal.tsx
  dapp/src/components/Sidebar.tsx
  dapp/src/theme/Footer.ts
  dapp/src/theme/utils/semanticTokens.ts
  dapp/src/theme/utils/zIndices.ts
Due: dapp-lint-js

Update styles for `LoadingModal`
  dapp/src/components/LoadingModal.tsx
Due: dapp-lint-js

Return the boolean result instead of returning the data object
  dapp/src/hooks/useGatingDApp.ts
  dapp/src/utils/acreApi.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Rename from `accessCode` to `encodedCode`
  dapp/src/hooks/useAccessCode.ts
Due: dapp-lint-js

Add `TODO` comment
  dapp/src/hooks/useGatingDApp.ts
Due: dapp-lint-js

Remove `UsefulLinks` component
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Update orangekit packages
  dapp/package.json
  dapp/src/utils/orangeKit.ts
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/lib/redeemer-proxy.ts
  sdk/test/lib/redeemer-proxy.test.ts
  sdk/test/utils/mock-orangekit.ts
Due: root-lint, dapp-lint-js, dapp-lint-config, sdk-lint-js, sdk-lint-config

Remove workaround for the session mechanism
  dapp/src/hooks/useSignMessageAndCreateSession.ts
Due: dapp-lint-js

Fix linting error
  dapp/src/hooks/useSignMessageAndCreateSession.ts
Due: dapp-lint-js

Update the BitcoinProvider interface
  dapp/manifests/ledger-live/ledger-live-manifest-development.json
  dapp/manifests/ledger-live/ledger-live-manifest-mainnet.json
  dapp/manifests/ledger-live/ledger-live-manifest-testnet.json
  dapp/manifests/ledger-live/ledger-manifest-template.json
  dapp/package.json
  dapp/src/hooks/useSignMessageAndCreateSession.ts
  dapp/src/utils/orangeKit.ts
  dapp/src/wagmiConfig.ts
  pnpm-lock.yaml
  sdk/package.json
  sdk/src/lib/bitcoin/providers/index.ts
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
  sdk/src/lib/bitcoin/providers/provider.ts
  sdk/src/lib/redeemer-proxy.ts
  sdk/test/lib/bitcoin/providers/ledger-live-wallet-api-provider.test.ts
  sdk/test/lib/redeemer-proxy.test.ts
  sdk/test/utils/mock-orangekit.ts
Due: root-lint, dapp-lint-js, dapp-lint-config, sdk-lint-js, sdk-lint-config

Update Bitcoin lib in SDK
  sdk/src/lib/bitcoin/address.ts
Due: root-lint, sdk-lint-js

Install `@ledgerhq/wallet-api-client` in dapp
  dapp/package.json
  pnpm-lock.yaml
  sdk/tsconfig.json
Due: root-lint, dapp-lint-config, sdk-lint-config

Add Ledger Live connector and provider to dapp
  dapp/src/utils/index.ts
  dapp/src/utils/orangekit/index.ts
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
  dapp/src/utils/orangekit/ledger-live/connector.ts
  dapp/src/utils/orangekit/ledger-live/icon.ts
  dapp/src/utils/orangekit/ledger-live/index.ts
Due: dapp-lint-js

Fix points amount casting issue
  dapp/src/hooks/useAcrePoints.ts
Due: dapp-lint-js

Update permissions list in ledger manifest
  dapp/manifests/ledger-live/ledger-live-manifest-development.json
  dapp/manifests/ledger-live/ledger-live-manifest-mainnet.json
  dapp/manifests/ledger-live/ledger-live-manifest-testnet.json
  dapp/manifests/ledger-live/ledger-manifest-template.json
Due: dapp-lint-config

Update `AcreLedgerLiveBitcoinProvider`
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
Due: dapp-lint-js

Fix redeemer-proxy unit tests
  sdk/test/lib/redeemer-proxy.test.ts
Due: root-lint, sdk-lint-js

Remove unnecessary `Network` type
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
Due: dapp-lint-js

Remove unnecessary optional chaining
  dapp/src/utils/orangekit/ledger-live/bitcoin-provider.ts
Due: dapp-lint-js

Implement claim function debounce
  dapp/src/hooks/useDebounce.ts
  dapp/src/pages/DashboardPage/AcrePointsCard.tsx
Due: dapp-lint-js

Fetch Mezo mats data from Acre API
  dapp/.env
  dapp/src/constants/env.ts
  dapp/src/hooks/useMats.ts
  dapp/src/utils/acreApi.ts
  dapp/src/utils/index.ts
  dapp/src/utils/mezoPortalApi.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Fetch BTC/USD price from Acre API
  dapp/src/store/btc/btcThunk.ts
  dapp/src/types/coingecko.ts
  dapp/src/types/index.ts
  dapp/src/utils/acreApi.ts
  dapp/src/utils/exchangeApi.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Update points estimation tiers
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/AcrePointsRewardEstimation.tsx
Due: dapp-lint-js

Bump orangekit package
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Fix linting error
  sdk/tsconfig.json
Due: root-lint, sdk-lint-config

Reorder tiers
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/AcrePointsRewardEstimation.tsx
Due: dapp-lint-js

Update `getOrangeKitLedgerLiveConnector`
  dapp/src/utils/orangekit/ledger-live/connector.ts
Due: dapp-lint-js

Update Footer font size
  dapp/src/theme/Footer.ts
Due: dapp-lint-js

Define `isExternal` prop inline
  dapp/src/components/Footer.tsx
  dapp/src/theme/Footer.ts
Due: dapp-lint-js

Remove unused import
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
