Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Remove unnecessary assets
  dapp/src/assets/icons/ArrowLeft.tsx
  dapp/src/assets/icons/ArrowRight.tsx
  dapp/src/assets/icons/ChevronRight.tsx
  dapp/src/assets/icons/Complete.tsx
  dapp/src/assets/icons/EthereumIcon.tsx
  dapp/src/assets/icons/Pending.tsx
  dapp/src/assets/icons/SortASC.tsx
  dapp/src/assets/icons/SortDESC.tsx
  dapp/src/assets/icons/Syncing.tsx
  dapp/src/assets/icons/animated/ArrowUpRightAnimatedIcon.tsx
  dapp/src/assets/icons/animated/index.ts
  dapp/src/assets/icons/index.ts
  dapp/src/assets/icons/stBTC.tsx
  dapp/src/assets/images/activity-progress.png
Due: dapp-lint-js

Remove unnecessary hooks
  dapp/src/hooks/index.ts
  dapp/src/hooks/useActivities.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/useSize.ts
  dapp/src/hooks/useTransactionHistoryTable.ts
Due: dapp-lint-js

Remove unnecessary types
  dapp/src/types/activity.ts
  dapp/src/types/charts.ts
  dapp/src/types/index.ts
  dapp/src/types/location.ts
  dapp/src/types/size.ts
  dapp/src/types/table.ts
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Remove unnecessary test utils
  dapp/src/tests/factories.ts
Due: dapp-lint-js

Remove unnecessary part with styles
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/units.ts
Due: dapp-lint-js

Remove unnecessary `AcreChart` component
  dapp/src/components/shared/Charts/AreaChart.tsx
  dapp/src/components/shared/Charts/AreaChartTooltip.tsx
Due: dapp-lint-js

Remove unnecessary dApp dependencies
  dapp/.eslintignore
  dapp/package.json
  dapp/src/react-table.d.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Remove unnecessary router path
  dapp/src/router/path.ts
Due: dapp-lint-js

Remove unnecessary `StakingStepsModalContent` component
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingStepsModalContent.tsx
  dapp/src/components/shared/StepperBase/index.tsx
Due: dapp-lint-js

Remove logic of toast from dApp
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/shared/Toast.tsx
  dapp/src/components/toasts/DepositTransactionErrorToast.tsx
  dapp/src/components/toasts/SigningMessageErrorToast.tsx
  dapp/src/components/toasts/WalletErrorToast.tsx
  dapp/src/components/toasts/index.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/toasts/index.ts
  dapp/src/hooks/toasts/useInitGlobalToasts.ts
  dapp/src/hooks/toasts/useShowWalletErrorToast.ts
  dapp/src/hooks/toasts/useToast.ts
  dapp/src/theme/utils/semanticTokens.ts
  dapp/src/theme/utils/styles.ts
  dapp/src/theme/utils/zIndices.ts
  dapp/src/types/index.ts
  dapp/src/types/toast.ts
Due: dapp-lint-js

Remove unnecessary `Link` component
  dapp/src/components/shared/Link.tsx
Due: dapp-lint-js

Remove the Ethereum chain and currency from dApp
  dapp/ledger-manifest-development.json
  dapp/ledger-manifest-testnet.json
  dapp/src/components/shared/BlockExplorerLink/index.tsx
  dapp/src/constants/chains.ts
  dapp/src/constants/currency.ts
  dapp/src/types/chain.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js, dapp-lint-config

Remove the `EthereumNetwork` type from dapp
  dapp/src/constants/chains.ts
  dapp/src/constants/currency.ts
Due: dapp-lint-js

Crete separate directory for ledger live hooks
  dapp/src/hooks/index.ts
  dapp/src/hooks/ledger-live/index.ts
  dapp/src/hooks/ledger-live/useDepositBTCTransaction.ts
  dapp/src/hooks/ledger-live/useRequestBitcoinAccount.ts
  dapp/src/hooks/ledger-live/useWalletApiReactTransport.tsx
  dapp/src/hooks/useTransactionModal.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Create a custom impl of `useLocalStorage` hook
  dapp/package.json
  dapp/src/hooks/index.ts
  dapp/src/hooks/useLocalStorage.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Fix text truncation
  dapp/src/components/TransactionModal/UnsupportedAccountModal.tsx
Due: dapp-lint-js

Add TODO comment about account type
  dapp/src/components/TransactionModal/UnsupportedAccountModal.tsx
Due: dapp-lint-js

Remove unused imports
  dapp/src/components/TransactionModal/UnsupportedAccountModal.tsx
Due: dapp-lint-js

Detect the chosen partner through the URL parameter
  dapp/ledger-manifest-development.json
  dapp/ledger-manifest-testnet.json
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDetectPartner.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/hooks/usePartner.ts
  dapp/src/types/index.ts
  dapp/src/types/partner.ts
  dapp/src/utils/index.ts
  dapp/src/utils/partner.ts
Due: dapp-lint-js, dapp-lint-config

Add external urls for dApp
  dapp/src/constants/externalHref.ts
Due: dapp-lint-js

Redirect user to the ACRE website when the partner has not been detected
  dapp/src/hooks/usePartner.ts
Due: dapp-lint-js

Replace `b` with `strong`
  dapp/src/components/TransactionModal/UnsupportedAccountModal.tsx
Due: dapp-lint-js

Revert `ResumeModal` component removal
  dapp/src/components/TransactionModal/ResumeModal.tsx
Due: dapp-lint-js

Rename the `staking` module to `account`
  sdk/src/acre.ts
  sdk/src/index.ts
  sdk/src/modules/account/index.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Minor fix for shared component styles
  dapp/src/theme/Button.ts
  dapp/src/theme/Modal.ts
Due: dapp-lint-js

Set mock min token amount for withdraw flow
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
Due: dapp-lint-js

Simplify the `Account` module
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/hooks/sdk/useFetchBTCBalance.ts
  dapp/src/hooks/sdk/useFetchDeposits.ts
  dapp/src/hooks/sdk/useFetchMinDepositAmount.ts
  dapp/src/hooks/useTransactionFee.ts
  sdk/src/acre.ts
  sdk/src/lib/identifier-resolver/index.ts
  sdk/src/modules/account/index.ts
  sdk/test/lib/identifier-resolver.test.ts
  sdk/test/modules/account.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Use `strong` instead of `mark` tag
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
Due: dapp-lint-js

Create `Protocol` module
  dapp/src/hooks/sdk/useFetchMinDepositAmount.ts
  dapp/src/hooks/useTransactionFee.ts
  sdk/src/acre.ts
  sdk/src/index.ts
  sdk/src/modules/account/index.ts
  sdk/src/modules/protocol/index.ts
  sdk/test/modules/account.test.ts
  sdk/test/modules/protocol.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Show withdraw error warning when value is validated
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
Due: dapp-lint-js

Remove unneeded nullish operator
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
Due: dapp-lint-js

Fix issue with the incorrect order of hooks for `ActionFormModal`
  dapp/src/components/TransactionModal/ActionFormModal.tsx
Due: dapp-lint-js

Fix the issue with showing incorrect fees for the deposit transaction
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/hooks/useTransactionDetails.ts
  dapp/src/hooks/useTransactionFee.ts
Due: dapp-lint-js

Remove the `AcreIdentifierResolver` class
  sdk/src/acre.ts
  sdk/src/lib/identifier-resolver/index.ts
  sdk/src/modules/account/index.ts
  sdk/test/lib/identifier-resolver.test.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Update module dirs structure in SDK
  sdk/src/modules/account.ts
  sdk/src/modules/protocol.ts
  sdk/src/modules/staking.ts
  sdk/test/modules/protocol.test.ts
Due: root-lint, sdk-lint-js

Implement transaction flow paused state
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/ResumeModal.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActionFlowPause.ts
  dapp/src/theme/Spinner.ts
  dapp/src/types/action-flow.ts
  dapp/src/types/callback.ts
  dapp/src/types/ledger-live-app.ts
Due: dapp-lint-js

Update modules docs
  sdk/src/modules/account.ts
  sdk/src/modules/protocol.ts
  sdk/src/modules/staking.ts
Due: root-lint, sdk-lint-js

Update the return type of the `initializeStake` fn
  sdk/src/modules/account.ts
Due: root-lint, sdk-lint-js

Update `estimatedBitcoinBalance` fn
  sdk/src/modules/account.ts
  sdk/test/modules/account.test.ts
  sdk/test/modules/protocol.test.ts
Due: root-lint, sdk-lint-js
