Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Mocked activity details schema update
  dapp/src/components/shared/Activity/mock-activities.ts
Due: dapp-lint-js

Fix type for update functions
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Add missing Math import
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Remove updateEntryFeeBasisPoints call in tests
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Ensure max value can be set for fee divisor
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Use enum to track request state
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
  core/tsconfig.json
  core/types/index.ts
Due: core-lint-js, core-lint-config

Styles update, adjusting naming conventions
  dapp/src/assets/icons/Close.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/shared/Activity/ActivityCardContainer.tsx
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/components/shared/ActivityBar/ActivityCardContainer.tsx
  dapp/src/components/shared/ActivityBar/index.tsx
  dapp/src/components/shared/ActivityBar/mock-activities.ts
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/ActivityPage/ActivityDetails.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/pages/OverviewPage/Statistics.tsx
  dapp/src/pages/OverviewPage/TransactionHistory.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Update button texts for staking flow
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
Due: dapp-lint-js

Removed stBTC.json from core
  core/deployments/sepolia/stBTC.json
Due: core-lint-config

Styles update
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/ActivityPage/ActivityDetails.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Added gap after design changes
  dapp/src/pages/ActivityPage/index.tsx
Due: dapp-lint-js

Show information about the supported BTC account type
  dapp/src/components/Header/ConnectButton.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/constants/chains.ts
  dapp/src/utils/address.ts
  sdk/src/lib/bitcoin/index.ts
  sdk/src/lib/bitcoin/network.ts
  sdk/src/lib/utils/bitcoin.ts
  sdk/src/lib/utils/index.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Add default .env file
  core/.env
Due: none

Simplify switch statement
  core/helpers/deployment.ts
Due: core-lint-js

Show values in USD
  dapp/package.json
  dapp/src/DApp.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useAppDispatch.ts
  dapp/src/hooks/useAppSelector.ts
  dapp/src/redux/reducer.ts
  dapp/src/redux/selectors/btc.selector.ts
  dapp/src/redux/selectors/index.ts
  dapp/src/redux/slices/btc.slice.ts
  dapp/src/redux/slices/index.ts
  dapp/src/redux/slices/todo.slice.ts
  dapp/src/redux/state.ts
  dapp/src/redux/store.ts
  dapp/src/redux/thunks/btc.thunk.ts
  dapp/src/redux/thunks/index.ts
  dapp/src/types/btc.ts
  dapp/src/types/index.ts
  dapp/src/types/redux.ts
  dapp/src/utils/conversion.ts
  dapp/src/utils/externalApi.ts
  dapp/src/utils/index.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

React redux implementation, fetching current price of BTC
  dapp/src/DApp.tsx
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useAppDispatch.ts
  dapp/src/hooks/useAppSelector.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/redux/middleware.ts
  dapp/src/redux/selectors/btc.selector.ts
  dapp/src/redux/selectors/index.ts
  dapp/src/redux/slices/index.ts
  dapp/src/redux/store.ts
  dapp/src/redux/thunks/btc.thunk.ts
  dapp/src/redux/thunks/index.ts
  dapp/src/store/btc/btc.selector.ts
  dapp/src/store/btc/btc.slice.ts
  dapp/src/store/btc/btc.thunk.ts
  dapp/src/store/index.ts
  dapp/src/store/middleware.ts
  dapp/src/store/reducer.ts
  dapp/src/types/btc.ts
  dapp/src/types/index.ts
  dapp/src/types/redux.ts
  dapp/src/utils/conversion.ts
  dapp/src/utils/externalApi.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js

Disable eslint:no-param-reassign rule for slice state
  dapp/.eslintrc
  dapp/src/store/btc/btc.slice.ts
Due: dapp-lint-js

Renamed methods for a staking module, updated docs, moved artifact to the sdk
  sdk/src/lib/contracts/stbtc.ts
  sdk/src/lib/ethereum/artifacts/sepolia/stBTC.json
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/staking/index.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js, sdk-lint-config

Create a separate directory for sentry
  dapp/src/DApp.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/sentry/index.ts
  dapp/src/hooks/sentry/useSentry.ts
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Add a special hook to capture Message for Sentry
  dapp/package.json
  dapp/src/hooks/sentry/index.ts
  dapp/src/hooks/sentry/useCaptureMessage.ts
  dapp/src/sentry/index.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Define `BITCOIN_NETWORK` compatible with type from tbtc-v2
  dapp/src/constants/chains.ts
  sdk/src/lib/bitcoin/index.ts
  sdk/src/lib/bitcoin/network.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Integrate second track deposit verification with Sentry telemetry
  dapp/package.json
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositTelemetry.ts
  dapp/src/utils/address.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Fix sdk package workspace reference
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Don't underscore parameters
  core/contracts/AcreBitcoinDepositor.sol
Due: none

User custom error instead of require
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Add TODO to make contract pausable
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Rename receiver to staker
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/AcreBitcoinDepositor.t.sol
  core/test/AcreBitcoinDepositor.test.ts
  core/test/data/tbtc.ts
Due: core-lint-js

Remove empty line
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Move decodeExtraData closer to emit BridgingCompleted
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Clarify BridgingCompleted event emission
  core/contracts/AcreBitcoinDepositor.sol
Due: none

queueForStaking -> queueStake
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

initializeStakeRequest -> initializeStake
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

finalizeStakeRequest -> finalizeStake
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Update test cases names for stakes
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Minor docs improvements
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Remove underscores for constructor params names
  core/contracts/test/AcreBitcoinDepositor.t.sol
Due: none

Use initializeStake function instead of initializeStakeRequest
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Move `verifyDepositAddress` to external file
  dapp/src/utils/address.ts
  dapp/src/utils/externalApi.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Changed redux files naming convention, updated currency calculation
  dapp/.eslintrc
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useAppDispatch.ts
  dapp/src/hooks/store/useAppSelector.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
  dapp/src/store/btc/btcThunk.ts
  dapp/src/store/btc/index.ts
  dapp/src/store/reducer.ts
  dapp/src/types/coingecko.ts
  dapp/src/types/index.ts
  dapp/src/utils/externalApi.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js

Docs comments update for stBTC
  sdk/src/lib/ethereum/stbtc.ts
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
