Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-lint-js, core-lint-config

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Add OpenZeppelin contracts
  core/package.json
  core/yarn.lock
Due: core-lint-config

Define public-hoist-pattern for @chakra-ui
  dapp/.npmrc
  dapp/package.json
  pnpm-lock.yaml
Due: none

Update solhint rules
  core/.solhint.json
Due: core-lint-config

Initial implementation of the main Acre contract
  core/contracts/Acre.sol
Due: none

Add initial implementation of the stake function.
  core/contracts/Acre.sol
Due: none

Adding IERC4626 interface
  core/contracts/lib/erc4626/interfaces/IERC4626.sol
Due: none

Add pre-commit hooks for dapp workspace
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks for `core` workspace
  .pre-commit-config.yaml
Due: none

Add pre-commit hooks for website workspace
  .pre-commit-config.yaml
Due: none

Add build execution in dapp and website CI
  .github/workflows/dapp.yaml
  .github/workflows/website.yaml
Due: none

Add info about testing pre-commit hooks config
  README.md
Due: none

Add auto-fix commit to git blame ignore revs
  .git-blame-ignore-revs
  core/.git-blame-ignore-revs
Due: none

Drafting allocate and collect functions for Acre Router
  core/contracts/AcreRouter.sol
Due: none

Auto-fix dapp files formatting
  dapp/manifest-ledger-live-app.json
Due: none

Add basic GH workflow for website workspace
  .github/workflows/website.yaml
Due: none

Add basic GH workflow for dapp workspace
  .github/workflows/dapp.yaml
Due: none

Add a guide how to open the dApp in to ledger live
  dapp/README.md
Due: none

Add a description for the `bigIntToUserAmount` function
  dapp/src/utils/numbers.ts
Due: none

Add `@thesis/solidity-contracts` dependency
  core/package.json
  core/yarn.lock
Due: core-lint-config

Add support for receive approval pattern to Acre
  core/contracts/Acre.sol
Due: none

Add test token contract
  core/contracts/test/TestToken.sol
Due: none

Fix an issue after merging
  dapp/src/components/Overview/PositionDetails.tsx
Due: none

Add basic unit tests for staking
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Cleanup .gitignore
  .gitignore
  core/.gitignore
  dapp/.gitignore
  website/.gitignore
Due: none

Replace yarn with pnpm in docs
  dapp/README.md
  website/README.md
Due: none

Update an approach to the contexts
  dapp/src/DApp.tsx
  dapp/src/components/Navbar/ConnectWallet.tsx
  dapp/src/contexts/LedgerLiveAppContext.tsx
  dapp/src/contexts/LedgerWalletAPIProvider.tsx
  dapp/src/contexts/WalletContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
  dapp/src/hooks/useWalletContext.ts
  dapp/src/providers/index.ts
  dapp/src/types/ledger-live-app.ts
Due: none

Add .nvmrc to the root directory
  .nvmrc
Due: none

Set the correct styles for `body`
  dapp/src/theme/index.ts
Due: none

Define .npmrc in the root directory
  .npmrc
Due: none

Update slither CI job to use pnpm
  .github/workflows/core.yaml
Due: none

Remove unnecessary `super` keyword
  core/contracts/Acre.sol
Due: none

Update the name of the ERC4626 token
  core/contracts/Acre.sol
Due: none

Remove unnecessary undersocre for `_token`
  core/contracts/Acre.sol
Due: none

Update the `stake` function
  core/contracts/Acre.sol
Due: none

Update the Acre unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Rename param in `stake` function
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Update `Acre` unit tests
  core/test/Acre.test.ts
Due: core-lint-js

Create a USD currency
  dapp/src/components/Navbar/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/constants/currency.ts
Due: none

Improve the use of `VStack`, `HStack` and `Flex`
  dapp/src/DApp.tsx
  dapp/src/components/Navbar/ConnectWallet.tsx
  dapp/src/components/Navbar/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
Due: none

Fix typo
  core/test/Acre.test.ts
Due: core-lint-js

Path conditions:
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
