Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Pass desired decimals to `numberToLocaleString`
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Handling of stake transaction
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/SuccessModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/index.tsx
  dapp/src/contexts/TransactionContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositBTC.ts
  dapp/src/hooks/useSendTransaction.ts
  dapp/src/hooks/useSignMessage.ts
  dapp/src/types/callback.ts
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Create a env variable `VITE_ETH_HOSTNAME_HTTP`
  dapp/.env
  dapp/src/vite-env.d.ts
  dapp/src/web3/utils/ledger-live-app.ts
Due: dapp-lint-js

Update names for ledger live signer
  dapp/src/web3/ledger-signer.ts
  dapp/src/web3/utils/index.ts
  dapp/src/web3/utils/ledger-live.ts
Due: dapp-lint-js

Remove unnecessary code
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/useDepositBTC.ts
  dapp/src/hooks/useSignMessage.ts
Due: dapp-lint-js

Update `TransactionModal` option
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Add modal flow process status
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/index.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/contexts/TransactionContext.tsx
  dapp/src/hooks/useSendTransaction.ts
  dapp/src/types/action-flow.ts
Due: dapp-lint-js

Call stake function after deposit BTC
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositBTC.ts
  dapp/src/hooks/useStakeBTC.ts
Due: dapp-lint-js

Check if notifyBridgingCompleted was already called
  core/contracts/TbtcDepositor.sol
  core/test/TbtcDepositor.test.ts
Due: core-lint-js

Create a `LoadingModal ` with skeleton
  dapp/src/components/TransactionModal/ModalContentWrapper/LoadingModal.tsx
  dapp/src/components/shared/Skeleton/index.tsx
  dapp/src/theme/Skeleton.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Remove unnecessary code
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Add missing import after merge
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Define environment variable for Ethereum network
  dapp/.env
  dapp/src/constants/chains.ts
  dapp/src/constants/currency.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Update dependency to tbtc-v2 contracts
  pnpm-lock.yaml
Due: root-lint

Acre SDK initialization when accounts are connected
  dapp/src/DApp.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useInitializeAcreSdk.ts
Due: dapp-lint-js

Test updated for depositReceipt
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Fix for `LedgerWalletSigner`
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/web3/index.ts
  dapp/src/web3/ledger-live-signer.ts
Due: dapp-lint-js

Create a context for stake flow
  dapp/src/DApp.tsx
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/acre-react/contexts/StakeFlowContext.tsx
  dapp/src/acre-react/contexts/index.ts
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/acre-react/index.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Introduce max single stake amount limit
  core/contracts/TbtcDepositor.sol
Due: none

Fix no `ongoingRequest` error
  dapp/src/contexts/LedgerWalletAPIProvider.tsx
  dapp/src/contexts/WalletApiReactTransportProvider.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
  dapp/src/hooks/useWalletApiReactTransport.tsx
Due: dapp-lint-js

Track pending stakes balance
  core/contracts/TbtcDepositor.sol
Due: none

Use `useCallback` for `handleSignMessage` function
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Introduce function to track max stake amount
  core/contracts/TbtcDepositor.sol
Due: none

Update eslint rule for console logs
  dapp/.eslintrc
Due: none

Send deposit transactions using ledger wallet API
  dapp/package.json
  dapp/src/hooks/useDepositBTCTransaction.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Add ModalCloseButton to transaction modal window
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Removing fees
  core/contracts/lib/ERC4626Fees.sol
  core/contracts/lib/xERC4626.sol
  core/contracts/stBTC.sol
Due: none

Removing fees from tests
  core/test/stBTC.test.ts
Due: core-lint-js

Fix errors for `EthereumTBTCDepositor`
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Initilizing rewards cycle length
  core/contracts/stBTC.sol
  core/deploy/01_deploy_stbtc.ts
  core/test/Deployment.test.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Fix issue for incorrect dependencies
  dapp/package.json
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, dapp-lint-config, sdk-lint-config

Making Slither happy
  core/contracts/lib/xERC4626.sol
  core/contracts/stBTC.sol
Due: none

Update the imports for the sdk module
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/acre-react/contexts/StakeFlowContext.tsx
  dapp/src/constants/chains.ts
  dapp/src/constants/currency.ts
  dapp/src/web3/ledger-live-signer.ts
  dapp/src/web3/utils/ledger-live.ts
Due: dapp-lint-js

Remove `ethereum_goerli` from the `manifest.json`
  dapp/manifest-ledger-live-app.json
Due: dapp-lint-config

Add an alias for SDK dependencies
  dapp/package.json
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/acre-react/contexts/StakeFlowContext.tsx
  dapp/src/constants/chains.ts
  dapp/src/constants/currency.ts
  dapp/src/web3/ledger-live-signer.ts
  dapp/src/web3/utils/ledger-live.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Save the referral in the env variable
  dapp/.env
  dapp/src/acre-react/contexts/StakeFlowContext.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/constants/staking.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Adding Sense Allocator and Reserve contracts
  core/contracts/Allocator.sol
  core/contracts/Reserve.sol
  core/contracts/interfaces/ILP4626.sol
  core/contracts/interfaces/IMinimal4626.sol
  core/contracts/interfaces/IReserve.sol
  core/contracts/stBTC.sol
Due: none

Revert change for minimum amount for staking
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Separate `StakeFlowContext` from `acre-react` package
  dapp/src/DApp.tsx
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/acre-react/contexts/StakeFlowContext.tsx
  dapp/src/acre-react/contexts/index.ts
  dapp/src/acre-react/hooks/index.ts
  dapp/src/acre-react/hooks/useAcreContext.ts
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositBTC.ts
  dapp/src/hooks/useInitializeAcreSdk.ts
  dapp/src/hooks/useSignMessage.ts
  dapp/src/hooks/useStakeBTC.ts
  dapp/src/hooks/useStakeFlowContext.ts
Due: dapp-lint-js

Init the stake on the submit form button handler
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
Due: dapp-lint-js
