Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-js, lint-config

lint-sol:
  name: lint core sol
  entry: /usr/bin/env bash -c "echo `lint sol`"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "echo `lint  js/ts`"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "echo `lint config`"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Get rid off linting config per package
  .pre-commit-config.yaml
  core/.eslintignore
  core/.eslintrc
  core/.prettierignore
  core/.prettierrc.js
  core/.solhint.json
  core/.solhintignore
  core/package.json
  core/yarn.lock
  website/.eslintignore
  website/.eslintrc
  website/.prettierignore
  website/.prettierrc.js
  website/package.json
  website/yarn.lock
Due: lint-js, lint-config

Fix linting warning
  core/deploy/01_deploy_acre.ts
Due: lint-js

Add commit hash to `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Due: none

Add empty line to the end of the file
  .gitignore
  .prettierrc.js
Due: lint-js

Remove unnecessary configuration for prettier
  dapp/package.json
Due: lint-config

Add a script that formats code
  lint.sh
Due: none

Update linting scripts in `package.json`
  package.json
Due: lint-config

Fix pre-commit hooks for `core` workspace
  .pre-commit-config.yaml
Due: lint-config

Add pre-commit hooks for website workspace
  .pre-commit-config.yaml
Due: lint-config

Remove unnecessary packages
  dapp/package.json
  dapp/yarn.lock
Due: lint-config

Add an empty line at the end of the file
  dapp/.nvmrc
Due: none

Add a basic configuration for ledger live app
  dapp/.eslintrc
  dapp/manifest-ledger-live-app.json
  dapp/package.json
  dapp/src/main.tsx
  dapp/src/providers/LedgerWalletAPIProvider.tsx
  dapp/src/providers/index.ts
  dapp/yarn.lock
Due: lint-js, lint-config

Fix a bug with rendering of the root component
  dapp/src/App.tsx
  dapp/src/DApp.tsx
  dapp/src/main.tsx
Due: none

Disabling the rule `import/prefer-default-export`
  dapp/.eslintrc
  dapp/src/constants/local-storage.ts
  dapp/src/hooks/dom-hooks.ts
  dapp/src/hooks/feature-hooks.ts
  dapp/src/providers/index.ts
Due: lint-js

Remove unnecessary comment
  dapp/vite.config.ts
Due: lint-js

Fix a URL for the home page
  dapp/manifest-ledger-live-app.json
Due: lint-config

Fix issue with the incorrect name for embed
  dapp/src/constants/local-storage.ts
Due: lint-js

Simplifying the logic for embed feature flag
  dapp/src/DApp.tsx
  dapp/src/hooks/feature-hooks.ts
Due: lint-js

Create a special hooks for saving `isEmbed` state
  dapp/src/App.tsx
  dapp/src/constants/index.ts
  dapp/src/constants/local-storage.ts
  dapp/src/hooks/dom-hooks.ts
  dapp/src/hooks/feature-hooks.ts
  dapp/src/hooks/index.ts
  dapp/src/main.tsx
Due: lint-js

Remove `embed` flag for dApp
  dapp/manifest-ledger-live-app.json
  dapp/src/DApp.tsx
  dapp/src/constants/index.ts
  dapp/src/constants/local-storage.ts
  dapp/src/hooks/dom-hooks.ts
  dapp/src/hooks/feature-hooks.ts
  dapp/src/hooks/index.ts
Due: lint-js, lint-config

Set the correct icon and title for acre dApp
  dapp/index.html
  dapp/manifest-ledger-live-app.json
  dapp/public/acre.svg
  dapp/public/vite.svg
Due: lint-config

Use a `localhost` to be consistent
  dapp/manifest-ledger-live-app.json
Due: lint-config

Disable the eslint rule completely
  dapp/.eslintrc
Due: none

Basic configuration for chakra UI
  dapp/package.json
  dapp/src/DApp.tsx
  dapp/src/main.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/colors.ts
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/utils.ts
  dapp/yarn.lock
Due: lint-js, lint-config

Detect theme mode for embedded applications
  dapp/src/DApp.tsx
  dapp/src/constants/local-storage.ts
  dapp/src/hooks/helpers-hooks.ts
  dapp/src/hooks/index.ts
Due: lint-js

Create a separate file for hook
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDetectThemeMode.ts
Due: lint-js

Delete unnecessary comments
  dapp/src/hooks/useDetectThemeMode.ts
  dapp/src/theme/utils/colors.ts
  dapp/src/theme/utils/utils.ts
Due: lint-js

Hide a change of theme mode under the feature flag
  dapp/.env
  dapp/src/theme/utils/utils.ts
Due: lint-js

Remove unnecessary configuration for prettier
  website/package.json
Due: lint-config

Fix the prettier configuration issue
  dapp/package.json
Due: lint-config

Eslint fixes for dApp
  dapp/src/DApp.tsx
  dapp/src/constants/local-storage.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDetectThemeMode.ts
  dapp/src/theme/Button.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/colors.ts
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/utils.ts
Due: lint-js

Rename a `utils.ts` file to `config.ts`
  dapp/src/DApp.tsx
  dapp/src/theme/utils/config.ts
  dapp/src/theme/utils/index.ts
Due: lint-js

Fix for incorrect import/export
  dapp/src/DApp.tsx
  dapp/src/theme/index.ts
Due: lint-js

Use the `useColorMode` hook to toggle the color mode
  dapp/src/DApp.tsx
  dapp/src/constants/local-storage.ts
  dapp/src/hooks/useDetectThemeMode.ts
Due: lint-js

Delete the env variable `VITE_SUPPORT_THEME_MODE`
  dapp/.env
  dapp/src/theme/utils/config.ts
  dapp/src/theme/utils/index.ts
Due: lint-js

Connect accounts with dApp
  dapp/.env
  dapp/manifest-ledger-live-app.json
  dapp/src/DApp.tsx
  dapp/src/assets/bitcoin.svg
  dapp/src/assets/ethereum.svg
  dapp/src/assets/info.svg
  dapp/src/components/Navbar/ConnectWallet.tsx
  dapp/src/components/Navbar/index.tsx
  dapp/src/constants/chains.ts
  dapp/src/constants/index.ts
  dapp/src/contexts/LedgerLiveAppContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
Due: lint-js, lint-config

Format an amount for dApp
  dapp/src/components/Navbar/ConnectWallet.tsx
  dapp/src/utils/index.ts
  dapp/src/utils/numbers.ts
Due: lint-js

Add a function to truncate address
  dapp/src/components/Navbar/ConnectWallet.tsx
  dapp/src/utils/address.ts
  dapp/src/utils/index.ts
Due: lint-js

Update of global styles for themes
  dapp/src/theme/Button.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/colors.ts
Due: lint-js

Move types for ledger live app to a separate file
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
  dapp/src/types/index.ts
  dapp/src/types/ledger-live-app.ts
Due: lint-js

Path conditions:
  lint-sol: any of: \.sol$
  lint-js: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
