Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Prepare env file before running hardhat scripts
  solidity/package.json
Due: solidity-lint-config

Declare types for dotenv-safer
  solidity/types/dotenv-safer.d.ts
Due: solidity-lint-js

Reuse `ButtonLink` in `CardButton` component
  dapp/src/pages/LandingPage/CardButton.tsx
Due: dapp-lint-js

Move partner logos to contants
  dapp/src/constants/index.ts
  dapp/src/constants/partnerLogos.ts
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Reorder props in `IconCard` component
  dapp/src/pages/LandingPage/IconCard.tsx
Due: dapp-lint-js

Update CHAIN_API_URL in README.md
  solidity/README.md
Due: none

Fix `calculateDepositFee` in `BitcoinDepositor`
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Reuse `CurrencyBalance` component
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/LandingPage/TVLCard.tsx
  dapp/src/pages/LandingPage/ValueCard.tsx
  dapp/src/theme/Card.ts
  dapp/src/theme/CurrencyBalance.ts
Due: dapp-lint-js

Run Deployment test against integration network
  solidity/hardhat.config.ts
  solidity/test/integration/Deployment.test.ts
Due: solidity-lint-js

Remove body prop from `IconCard` component
  dapp/src/pages/LandingPage/IconCard.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Resolve ESLint error
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Fix human-readable contract abi
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

useTransactionFee adjustment
  dapp/src/hooks/useTransactionFee.ts
Due: dapp-lint-js

Added fees calculation for UnstakeDetails
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useTransactionFee.ts
Due: dapp-lint-js

Readme adjustment
  subgraph/README.md
Due: none

Added suffix to event entity id depending on type
  subgraph/src/bitcoin-depositor.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

getOrCreateDeposit utils: param renamed to depositKey
  subgraph/src/utils.ts
Due: subgraph-lint-js

handleDepositFinalized - test update
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Define styles as props
  dapp/src/pages/LandingPage/ContentCard.tsx
  dapp/src/pages/LandingPage/IconCard.tsx
  dapp/src/pages/LandingPage/ValueCard.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Add TODO comment
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Restructure `LandingPage`'s components
  dapp/src/pages/LandingPage/components/HeroSection.tsx
  dapp/src/pages/LandingPage/components/SeasonCountdownSection.tsx
  dapp/src/pages/LandingPage/components/index.ts
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Remove unused helpers import
  solidity/test/integration/Deployment.test.ts
Due: solidity-lint-js

Using pnpm node:forking to launch hardhad node with forked mainnet
  .github/workflows/solidity.yaml
Due: root-lint

Extracting MAINNET_RPC_URL to env config section
  .github/workflows/solidity.yaml
Due: root-lint

Add TODO to replace accounts
  solidity/test/integration/Deployment.test.ts
Due: solidity-lint-js

Implement `GrantedSeasonPassCard` component
  dapp/src/pages/OverviewPage/GrantedSeasonPassCard.tsx
Due: dapp-lint-js

Implement `DashboardCard` component base structure
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
  dapp/src/pages/OverviewPage/DashboardCard/index.ts
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Style `DashboardCard` component
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Add `IconTag` component
  dapp/src/assets/icons/BoostArrow.tsx
  dapp/src/components/shared/IconTag.tsx
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
Due: dapp-lint-js

Bring back page content
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Changed referral type to Int
  subgraph/schema.graphql
  subgraph/src/bitcoin-depositor.ts
Due: subgraph-lint-js

Added receipt fot the DepositFinalized event
  subgraph/subgraph.yaml
Due: subgraph-lint-config

Adjustment tests for initialize & finalized deposit events
  subgraph/src/bitcoin-depositor.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Typo fix
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Revert changes for TransactionDetails component
  dapp/src/components/shared/TransactionDetails/index.tsx
Due: dapp-lint-js

Handling undefined type for selectEstimatedDepositFee
  dapp/src/store/btc/btcSelector.ts
Due: dapp-lint-js

Wrapped describe block in tests
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Removed estimatedDepositFee from redux
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useEstimatedDepositFee.ts
  dapp/src/hooks/useTransactionFee.ts
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Resolve `CountdownTimer` component bug
  dapp/src/components/shared/SeasonCountdownSection/CountdownTimer.tsx
  dapp/src/pages/LandingPage/components/SeasonCountdownSection.tsx
  dapp/src/types/core.ts
  dapp/src/types/index.ts
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
