Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Hanlde RedemptionRequested event from tBTC Bridge
  subgraph/src/bitcoin-redeemer-utils.ts
  subgraph/src/bitcoin-redeemer.ts
  subgraph/src/tbtc-bridge.ts
  subgraph/src/tbtc-utils.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
  subgraph/tests/tbtc-bridge-utils.ts
  subgraph/tests/tbtc-bridge.test.ts
Due: subgraph-lint-js, subgraph-lint-config

Implement external stBTC shares minting
  solidity/contracts/stBTC.sol
Due: none

Update stBTCV2 contract used in tests
  solidity/contracts/test/upgrades/stBTCV2.sol
Due: none

Add unit tests to cover external stBTC minting
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Disconnect the user when modal is not open
  dapp/src/hooks/useDisconnectWallet.ts
Due: dapp-lint-js

Fix an issue of connecting the wallet from the deposit button level
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Emit debt related events
  solidity/contracts/stBTC.sol
Due: none

Add tests for debt events
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Add debt minting tests for two minters
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Update initial exit fee basis points
  solidity/contracts/BitcoinDepositor.sol
  solidity/contracts/stBTC.sol
Due: none

Set initial fees in tests
  solidity/test/BitcoinRedeemer.test.ts
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Update integration tests
  solidity/test/integration/BitcoinRedeemer.test.ts
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js

Add the `RedemptionKeyCounter` entity
  subgraph/schema.graphql
  subgraph/src/tbtc-bridge.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
  subgraph/tests/tbtc-bridge.test.ts
Due: subgraph-lint-js, subgraph-lint-config

Rename setDebtAllowance to updateDebtAllowance
  solidity/contracts/stBTC.sol
  solidity/contracts/test/upgrades/stBTCV2.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Add process variant for `Alert` component
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/components/shared/Alert.tsx
  dapp/src/tests/factories.ts
  dapp/src/theme/Alert.ts
  dapp/src/theme/Spinner.ts
Due: dapp-lint-js

Update TVL progress bar periodically
  dapp/src/constants/time.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchTotalAssets.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/sdk/useTotalAssets.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useTotalAssets.ts
  dapp/src/hooks/useSeasonProgress.ts
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Add elevated variant to replace CardAlert component
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
  dapp/src/components/shared/Alert.tsx
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Remove `shared/alerts/...` components
  dapp/src/components/TransactionModal/UnsupportedBitcoinAddressModal.tsx
  dapp/src/components/shared/Alert.tsx
  dapp/src/components/shared/alerts/Alert.tsx
  dapp/src/components/shared/alerts/CardAlert.tsx
  dapp/src/components/shared/alerts/ErrorAlert/ErrorAlert.tsx
  dapp/src/components/shared/alerts/ErrorAlert/ErrorAlertIcon.tsx
  dapp/src/components/shared/alerts/ErrorAlert/index.ts
  dapp/src/components/shared/alerts/index.ts
Due: dapp-lint-js

Update BTC balance periodically
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useBTCBalance.ts
  dapp/src/hooks/sdk/useFetchBTCBalance.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useEstimatedBTCBalance.ts
  dapp/src/hooks/store/useSharesBalance.ts
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Update Wallet's BTC balance periodically
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/orangeKit/index.ts
  dapp/src/hooks/orangeKit/useBitcoinBalance.ts
  dapp/src/hooks/useInvalidateQueries.ts
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Pin @keep-network/tbtc-v2 to 1.6.0
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Upgrade @openzeppelin/contracts to 5.0.2
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Move chai-as-promised to devDependencies
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Add react query devtools for dev environment
  dapp/package.json
  dapp/src/DApp.tsx
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Use neverBuiltDependencies for @threshold-network/solidity-contracts
  package.json
  pnpm-lock.yaml
Due: root-lint

Handle `submitRedemptionProof` funcion call|
  subgraph/schema.graphql
  subgraph/src/bitcoin-redeemer-utils.ts
  subgraph/src/bitcoin-utils.ts
  subgraph/src/tbtc-bridge.ts
  subgraph/src/tbtc-utils.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
Due: subgraph-lint-js, subgraph-lint-config

Fix unit test
  subgraph/tests/tbtc-bridge-utils.ts
Due: subgraph-lint-js

Remove ^ from contracts dependencies versions
  pnpm-lock.yaml
  solidity/package.json
Due: root-lint, solidity-lint-config

Fix update user's position after withdrawal operation
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Move data refresh to `SuccessModal`
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
Due: dapp-lint-js

Use `INTERVAL_TIME_IN_MILLISECONDS` for fetching deposits
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
Due: dapp-lint-js

Remove unnecessary code
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
Due: dapp-lint-js

Refactor for react queries
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/constants/index.ts
  dapp/src/constants/queryKeys.ts
  dapp/src/hooks/orangeKit/useBitcoinBalance.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useBitcoinPosition.ts
  dapp/src/hooks/sdk/useTotalAssets.ts
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Remove unnecessary code
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
Due: dapp-lint-js

Remove deployment script to set minimum deposit address
  solidity/deploy/14_bitcoin_depositor_update_minimum_deposit_amount.ts
  solidity/deploy/14_update_pause_admin_stbtc.ts
Due: solidity-lint-js

Update order of functions in deployment script
  solidity/deploy/12_mezo_allocator_update_maintainer.ts
Due: solidity-lint-js

Add artifacts of contracts deployed to sepolia
  solidity/.openzeppelin/sepolia.json
  solidity/deployments/sepolia/BitcoinDepositor.json
  solidity/deployments/sepolia/BitcoinRedeemer.json
  solidity/deployments/sepolia/MezoAllocator.json
  solidity/deployments/sepolia/stBTC.json
Due: solidity-lint-config

Update artifacts used in subgraph for sepolia
  subgraph/subgraph.yaml
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js, subgraph-lint-config

Update the needed user states before moving on to `SuccessModal
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
Due: dapp-lint-js

Update `CurrencyBalance` decimals from 5 to 4
  dapp/src/constants/currency.ts
Due: dapp-lint-js
