Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Update MezoAllocator to match the new partial withdrawal logic from Mezo Portal
  solidity/contracts/MezoAllocator.sol
Due: none

Update MezoPortalStub to match new IMezoPortal interface
  solidity/contracts/test/MezoPortalStub.sol
Due: none

Simplify redirection after closing the modal window
  dapp/package.json
  dapp/src/components/ModalRoot/withBaseModal.tsx
  dapp/src/hooks/useDepositCallToAction.ts
  dapp/src/store/middleware.ts
  dapp/src/types/modal.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Allow setting of unregistered referral
  dapp/src/constants/index.ts
  dapp/src/constants/referrals.ts
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Use search referral param for all router path
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/hooks/useReferral.ts
  dapp/src/router/path.ts
Due: dapp-lint-js

Referral should be a number only up to max `uint16`
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Check if referral is greater than or equal to zero
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Implement adjustments for form behavior
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/shared/Form/FormSubmitButton.tsx
  dapp/src/components/shared/NumberFormatInput/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/FormError.ts
  dapp/src/theme/Input.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Do not close the Unstake modal on esc button
  dapp/src/hooks/useTransactionModal.ts
Due: dapp-lint-js

Distinguish partial and full withdrawals from Portal
  solidity/contracts/MezoAllocator.sol
Due: none

Update unit tests for withdraw function
  solidity/contracts/test/MezoPortalStub.sol
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Ignore slither rule for reentrancy
  solidity/contracts/MezoAllocator.sol
Due: none

Add withdrawal form input placeholder
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Pass desired decimals
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Make `finalizedAt` property optional
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/account.ts
Due: root-lint, sdk-lint-js

Separate `UnexpectedErrorModal` into a dedicated component
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/components/ModalRoot/index.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/ErrorModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/UnexpectedErrorModal.tsx
  dapp/src/types/modal.ts
Due: dapp-lint-js

Update unit tests to latest changes
  sdk/test/lib/api/acre-subgraph.test.ts
  sdk/test/modules/account.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js

Update unit tests
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Show unexpected error modal when referral is invalid
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/useReferral.ts
  dapp/src/utils/index.ts
  dapp/src/utils/referralProgram.ts
Due: dapp-lint-js

Navigate to subpage with the referral search param
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/hooks/router/index.ts
  dapp/src/hooks/router/useAppNavigate.ts
Due: dapp-lint-js

Fix an eslint issue
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
Due: dapp-lint-js

Fix a failed build
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Simplifying the use of searchParams
  dapp/src/components/Header/Navigation/NavigationItem.tsx
Due: dapp-lint-js

Remove unnecessary parameter
  dapp/src/components/UnexpectedErrorModal.tsx
Due: dapp-lint-js

Create a utils function for getting the referral form URL
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/hooks/useReferral.ts
  dapp/src/utils/referralProgram.ts
Due: dapp-lint-js

Remove explicit form validation on submit
  dapp/src/components/shared/TokenAmountForm/index.tsx
Due: dapp-lint-js

Revert `fiatCurrency` property
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Revert focus changes replacing with autoFocus attr
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Improve exceeded balance check solution
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/constants/errors.ts
  dapp/src/utils/forms.ts
Due: dapp-lint-js

Fix an issue after merge
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
Due: dapp-lint-js

Use `useAppNavigate` instead of `useNavigate`
  dapp/src/components/ModalRoot/withBaseModal.tsx
Due: dapp-lint-js

Log an error to the console for incorrect referral
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Allow for string values passed to Formik setter
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenAmountForm/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Fix the referral value check condition
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/useReferral.ts
Due: dapp-lint-js

Make sure that the error modal will always be open
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/hooks/useModal.ts
  dapp/src/store/modal/modalSelectors.ts
Due: dapp-lint-js

Add a new env - `MEZO_PORTAL_API_KEY`
  dapp/.env
  dapp/src/constants/env.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Release Solidity contracts v1.0.0
  solidity/package.json
Due: solidity-lint-config

Fetch the number of mezo points for Acre
  dapp/src/constants/queryKeysFactory.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/useAcreMats.ts
  dapp/src/utils/index.ts
  dapp/src/utils/mezoPortalApi.ts
Due: dapp-lint-js

Add Blog link to season page and sidebar
  dapp/src/components/Sidebar.tsx
  dapp/src/constants/externalHref.ts
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Add correct URLs for the Mezo Portal API
  dapp/src/utils/mezoPortalApi.ts
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
