Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Comment-out "Max" button in `TokenBalanceInput`
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Fetch withdrawals in SDK
  sdk/src/acre.ts
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/account.ts
  sdk/test/lib/api/acre-subgraph.test.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Update `getWithdrawalsByOwner` fn
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/account.ts
Due: root-lint, sdk-lint-js

Fetch withdrawals in dapp
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchActivities.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/types/activity.ts
Due: dapp-lint-js

Update `AcreSubgraphApi` constructor
  sdk/src/acre.ts
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/test/lib/api/acre-subgraph.test.ts
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Add unit tests for `getWithdrawalsByOwner` fn
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/test/lib/api/acre-subgraph.test.ts
Due: root-lint, sdk-lint-js

Add unit test for `getWithdrawals`
  sdk/test/modules/account.test.ts
Due: root-lint, sdk-lint-js

Update `useFetchActivities` hook
  dapp/src/hooks/sdk/useFetchActivities.ts
Due: dapp-lint-js

Rename variable
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
Due: dapp-lint-js

Move TbtcSubgraphApi class to a seprate file
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/lib/api/TbtcSubgraphApi.ts
  sdk/test/lib/api/acre-subgraph.test.ts
Due: root-lint, sdk-lint-js

Make max button presence controlled with props
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/shared/TokenAmountForm/TokenAmountFormBase.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
Due: dapp-lint-js

Define mainnet signers addresses
  solidity/hardhat.config.ts
Due: solidity-lint-js

Skip ownership acceptance for integration network
  solidity/deploy/21_transfer_ownership_stbtc.ts
  solidity/deploy/23_transfer_ownership_bitcoin_depositor.ts
  solidity/deploy/24_transfer_ownership_bitcoin_redeemer.ts
  solidity/deploy/24_transfer_ownership_mezo_allocator.ts
  solidity/test/integration/Deployment.test.ts
  solidity/test/integration/MezoAllocator.test.ts
  solidity/test/integration/helpers.ts
Due: solidity-lint-js

Add deployment tests for BitcoinRedeemer
  solidity/test/integration/Deployment.test.ts
Due: solidity-lint-js

Fix `TransactionHistory`
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Remove property definition
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/WithdrawWarning.tsx
Due: dapp-lint-js

Apply minor styling changes
  dapp/src/components/ConnectWalletModal/ConnectWalletErrorAlert.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
Due: dapp-lint-js

Fetch tBTC Bridge artifacts
  solidity/external/mainnet/Bridge.json
  solidity/external/sepolia/Bridge.json
Due: solidity-lint-config

Artifacts of contracts deployed on mainnet v0.1.0
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/.chainId
  solidity/deployments/mainnet/BitcoinDepositor.json
  solidity/deployments/mainnet/BitcoinRedeemer.json
  solidity/deployments/mainnet/MezoAllocator.json
  solidity/deployments/mainnet/stBTC.json
Due: solidity-lint-config

Set solidity package version to v0.1.0
  solidity/package.json
Due: solidity-lint-config

Rename to `REFETCH_INTERVAL_IN_MILLISECONDS`
  dapp/src/constants/time.ts
  dapp/src/hooks/orangeKit/useBitcoinBalance.ts
  dapp/src/hooks/sdk/useBitcoinPosition.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/sdk/useTotalAssets.ts
Due: dapp-lint-js

Pass `InvalidateQueriesParams` as hook params
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/hooks/useInvalidateQueries.ts
Due: dapp-lint-js

Fetch and display withdrawal fees in withdraw flow
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltip.tsx
  dapp/src/hooks/useTransactionDetails.ts
  dapp/src/hooks/useTransactionFee.ts
  dapp/src/types/fee.ts
Due: dapp-lint-js

Start solidity package v0.2.0-dev
  solidity/package.json
Due: solidity-lint-config

Fix typo in the 'Acre & Mezo' modal
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Change text alignment
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Fix the condition issue for `OKX_WALLET_ENABLED` feature flag
  dapp/src/components/ConnectWalletModal/index.tsx
Due: dapp-lint-js

Declaration of env in constants
  dapp/src/constants/env.ts
  dapp/src/constants/index.ts
Due: dapp-lint-js

Use only `env` from constants file
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/constants/chains.ts
  dapp/src/constants/currency.ts
  dapp/src/constants/env.ts
  dapp/src/constants/featureFlags.ts
  dapp/src/constants/staking.ts
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/sentry/useSentry.ts
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/store/devTools.ts
  dapp/src/wagmiConfig.ts
Due: dapp-lint-js

Fix linting issues
  dapp/src/components/ConnectWalletModal/ConnectWalletButton.tsx
  dapp/src/components/ConnectWalletModal/index.tsx
  dapp/src/utils/orangeKit.ts
Due: dapp-lint-js

Set correct addresses for mainnet network
  subgraph/subgraph.yaml
Due: subgraph-lint-config

Update SDK with mainnet resources references
  sdk/src/acre.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-redeemer.ts
  sdk/src/lib/ethereum/stbtc.ts
Due: root-lint, sdk-lint-js

Add round trip test with small values
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Rename cancelDebt to repayDebt
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Reduce `tracesSampleRate` to a value of 0.5
  dapp/src/sentry/index.ts
Due: dapp-lint-js

Don't wrap the `Acre is not in control...` text
  dapp/src/components/MezoBeehiveModal.tsx
Due: dapp-lint-js

Fix the button text in the resume modal window
  dapp/src/components/TransactionModal/ResumeModal.tsx
Due: dapp-lint-js

Remove unnecessary eslint comment
  subgraph/src/tbtc-bridge.ts
Due: subgraph-lint-js

Update the `subgraph` readme
  subgraph/README.md
Due: none
