Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add unit test for staking module
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-message-signer.ts
Due: root-lint, sdk-lint-js

Update `test` script in sdk `package.json`
  sdk/package.json
Due: root-lint, sdk-lint-config

Rename lib dir
  sdk/src/index.ts
  sdk/src/lib/eip712-signer/eip712.ts
  sdk/src/lib/eip712-signer/index.ts
  sdk/src/lib/eip712-signer/signed-message.ts
  sdk/src/lib/ethereum/eip712-signer/index.ts
  sdk/src/lib/ethereum/eip712-signer/signed-message.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/utils/mock-message-signer.ts
Due: root-lint, sdk-lint-js

Add unit test for Ethereum impl of EIP712 signer
  sdk/test/lib/ethereum/eip712.test.ts
Due: root-lint, sdk-lint-js

Created ButtonLink as shared component, added semanticToken to handle sidebar width, updated chakra variants for button & card
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/shared/ButtonLink/index.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/Card.ts
  dapp/src/theme/Sidebar.ts
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Updated borderRadius for card variant
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Small fix for element positioning for overview page
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Define treasury address reference in Acre contract
  core/contracts/Acre.sol
  core/hardhat.config.ts
Due: core-lint-js

Add treasury address reference to Acre deployment script
  core/deploy/01_deploy_acre.ts
Due: core-lint-js

Update unit tests of eip712
  sdk/test/lib/ethereum/eip712.test.ts
Due: root-lint, sdk-lint-js

Create `ViewInBlockExplorer` component
  dapp/src/components/TransactionHistory/Table/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/components/shared/ViewInBlockExplorer/index.tsx
  dapp/src/constants/chains.ts
  dapp/src/constants/index.ts
  dapp/src/types/chain.ts
  dapp/src/types/index.ts
  dapp/src/utils/chain.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Update styles, link prop removed
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/shared/ButtonLink/index.tsx
  dapp/src/theme/Card.ts
  dapp/src/theme/Sidebar.ts
Due: dapp-lint-js

Added elevated variant to card, button styles update
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/shared/ButtonLink/index.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Added borderWidth to card
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Button: removed borderWidth, add sizes to Card theme
  dapp/src/theme/Button.ts
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Use a `CurrencyBalance` in table cell
  dapp/src/components/TransactionHistory/Table/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/constants/currency.ts
  dapp/src/types/currency.ts
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Eslint config: fix unbound-method rule
  dapp/.eslintrc
  dapp/src/theme/Alert.ts
  dapp/src/theme/CurrencyBalance.ts
  dapp/src/theme/Drawer.ts
  dapp/src/theme/Form.ts
  dapp/src/theme/FormError.ts
  dapp/src/theme/Input.ts
  dapp/src/theme/Modal.ts
  dapp/src/theme/Sidebar.ts
  dapp/src/theme/Stepper.ts
  dapp/src/theme/Tabs.ts
  dapp/src/theme/TokenBalanceInput.ts
Due: dapp-lint-js

Eslint config: fix no-unsafe-member-access rule
  dapp/.eslintrc
  dapp/src/theme/Alert.ts
Due: dapp-lint-js

Eslint config: fix no-unsafe-assignment rule
  dapp/.eslintrc
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
Due: dapp-lint-js

Eslint config: fix require-await rule
  dapp/.eslintrc
  dapp/src/components/shared/TokenAmountForm/index.tsx
Due: dapp-lint-js

Simplify the logic for rendering custom cells
  dapp/src/components/TransactionHistory/Table/Cells/CellWrapper.tsx
  dapp/src/components/TransactionHistory/Table/Cells/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/Cells/TextCell.tsx
  dapp/src/components/TransactionHistory/Table/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Update mock data for tests
  dapp/src/components/TransactionHistory/Account/mock-transactions.ts
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
Due: dapp-lint-js

Add Bitcoin refund account property to stake msg
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Leave `TODO` comment in `stake` fn
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Add fn to initialize the Acre SDK for Ethereum
  sdk/src/index.ts
  sdk/src/lib/ethereum/index.ts
Due: root-lint, sdk-lint-js

Changing visibility type to internal for feeOnRaw and feeOnTotal
  core/contracts/ERC4626Fees.sol
Due: none

Handling actual staking amount in Acre
  core/contracts/Acre.sol
Due: none

Adjusting most of the tests covering deposit and minting fees
  core/test/Acre.test.ts
Due: core-lint-js

Update `EthereumEIP712Signer` implementation
  sdk/src/lib/eip712-signer/eip712.ts
  sdk/src/lib/ethereum/eip712-signer/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Eslint config: fix no-misused-promises rule
  dapp/.eslintrc
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Eslint config: fix no-floating-promises rule
  dapp/.eslintrc
  dapp/src/hooks/useDepositBTCTransaction.ts
  dapp/src/types/callback.ts
Due: dapp-lint-js

ButtonLink: added children prop, removed label & isFullWidth prop
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/shared/ButtonLink/index.tsx
Due: dapp-lint-js

ButtonLink: adjusting props, set default variant to outline
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/shared/ButtonLink/index.tsx
Due: dapp-lint-js

Create a component for the currency icon
  dapp/src/components/TransactionHistory/Table/Cells/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/components/shared/CurrencyIcon/index.tsx
  dapp/src/static/icons/index.ts
  dapp/src/static/icons/stBTC.tsx
  dapp/src/theme/CurrencyIcon.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Removal of the unnecessary code
  dapp/src/components/TransactionHistory/Account/mock-transactions.ts
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
  dapp/src/types/transaction.ts
  dapp/src/utils/chain.ts
Due: dapp-lint-js

Display text for the action column correctly
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/utils/index.ts
  dapp/src/utils/text.ts
Due: dapp-lint-js

Add a currency icon for bitcoin
  dapp/src/components/shared/CurrencyIcon/index.tsx
  dapp/src/static/icons/BTC.tsx
  dapp/src/static/icons/index.ts
Due: dapp-lint-js

Fixing rest of the tests after introducing fee for deposit / mint functions
  core/test/Acre.test.ts
Due: core-lint-js

Update eip712 signer tests
  sdk/test/lib/ethereum/eip712.test.ts
Due: root-lint, sdk-lint-js

Display relative time for date in transaction table
  dapp/src/components/TransactionHistory/Table/Cells/CellWrapper.tsx
  dapp/src/components/TransactionHistory/Table/Cells/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/columns.tsx
  dapp/src/constants/index.ts
  dapp/src/constants/time.ts
  dapp/src/theme/Table.ts
  dapp/src/utils/index.ts
  dapp/src/utils/time.ts
Due: dapp-lint-js
