Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add new env variable
  dapp/.env
  dapp/src/vite-env.d.ts
  dapp/src/web3/relayer-depositor-proxy.ts
Due: dapp-lint-js

Styles update
  dapp/src/assets/icons/Back.tsx
  dapp/src/components/ActivityDetails/ActivityBar.tsx
  dapp/src/components/ActivityDetails/ActivityCard.tsx
  dapp/src/components/ActivityDetails/ActivityDetails.tsx
  dapp/src/theme/Tag.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Moving components to pages
  dapp/src/DApp.tsx
  dapp/src/pages/ActivityDetails/ActivityBar.tsx
  dapp/src/pages/ActivityDetails/ActivityCard.tsx
  dapp/src/pages/ActivityDetails/ActivityDetails.tsx
  dapp/src/pages/ActivityDetails/ActivityPage.tsx
  dapp/src/pages/ActivityDetails/mock-transactions.ts
  dapp/src/pages/Overview/PositionDetails.tsx
  dapp/src/pages/Overview/Statistics.tsx
  dapp/src/pages/Overview/TransactionHistory.tsx
  dapp/src/pages/Overview/index.tsx
Due: dapp-lint-js

Add children prop for `FormSubmitButton`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/shared/Form/FormSubmitButton.tsx
Due: dapp-lint-js

Added mocked PollStats & recharts package
  dapp/package.json
  dapp/src/components/Overview/Statistics.tsx
  dapp/src/components/PoolStats/chartTooltip.tsx
  dapp/src/components/PoolStats/index.tsx
  dapp/src/components/PoolStats/mocked-stats.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Remove unnecessary alias for import
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Rename env variable
  dapp/.env
  dapp/src/vite-env.d.ts
  dapp/src/web3/relayer-depositor-proxy.ts
Due: dapp-lint-js

Update the dapp GH workflow
  .github/workflows/dapp.yaml
  .github/workflows/reusable-sdk-build.yaml
Due: root-lint

Update SDK CI workflow
  .github/workflows/reusable-sdk-build.yaml
  .github/workflows/sdk.yaml
Due: root-lint

Update tbtc-v2 dependency to 1.6.0-dev.21
  core/contracts/test/MockTbtcBridge.sol
  core/test/AcreBitcoinDepositor.test.ts
  pnpm-lock.yaml
Due: root-lint, core-lint-js

Simulate assets loss
  core/contracts/stBTC.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Refactor approach to function execution - staking flow
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDepositBTCTransaction.ts
  dapp/src/hooks/useExecuteFunction.ts
  dapp/src/hooks/useSendTransaction.ts
Due: dapp-lint-js

Switch currency to ethereum sepolia for testnet
  dapp/src/constants/currency.ts
Due: dapp-lint-js

Moved AreaCharts to shared components
  dapp/src/components/PoolStats/chartTooltip.tsx
  dapp/src/components/PoolStats/index.tsx
  dapp/src/components/PoolStats/mocked-stats.ts
  dapp/src/components/shared/Charts/AreaChart.tsx
  dapp/src/components/shared/Charts/AreaChartTooltip.tsx
  dapp/src/types/charts.ts
  dapp/src/types/index.ts
Due: dapp-lint-js

Hidden axis lines
  dapp/src/components/shared/Charts/AreaChart.tsx
Due: dapp-lint-js

Hidden tick lines
  dapp/src/components/shared/Charts/AreaChart.tsx
Due: dapp-lint-js

Added tick margin to yAxis
  dapp/src/components/shared/Charts/AreaChart.tsx
Due: dapp-lint-js

Changed type StakeHistory to TransactionInfo for activity details
  dapp/src/pages/ActivityDetails/ActivityBar.tsx
  dapp/src/pages/ActivityDetails/ActivityCard.tsx
  dapp/src/pages/ActivityDetails/ActivityDetails.tsx
  dapp/src/pages/ActivityDetails/mock-transactions.ts
  dapp/src/pages/Overview/PositionDetails.tsx
  dapp/src/pages/Overview/TransactionHistory.tsx
  dapp/src/types/location.ts
Due: dapp-lint-js

Updated EthereumStBTC class
  core/deployments/sepolia/stBTC.json
  sdk/src/lib/ethereum/index.ts
  sdk/src/lib/ethereum/stbtc.ts
Due: root-lint, core-lint-config, sdk-lint-js

Updated _hover condition in ActivityCard
  dapp/src/pages/ActivityDetails/ActivityCard.tsx
Due: dapp-lint-js

Router shelling to standalone file
  dapp/src/DApp.tsx
  dapp/src/pages/ActivityDetails/index.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Add docs comments to `RelayerDepositorProxy`
  dapp/src/web3/relayer-depositor-proxy.ts
Due: dapp-lint-js

Introduce max single stake amount limit
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Track queued stakes balance
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/AcreBitcoinDepositor.t.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Introduce max total assets soft limit
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Styles update
  dapp/src/assets/images/activity-progress.png
  dapp/src/components/shared/Activity/ActivityBar.tsx
  dapp/src/components/shared/Activity/ActivityCard.tsx
  dapp/src/pages/Activity/ActivityDetails.tsx
  dapp/src/pages/Activity/index.tsx
  dapp/src/pages/Activity/mock-transactions.ts
  dapp/src/pages/Overview/index.tsx
  dapp/src/router/index.tsx
  dapp/src/theme/Tag.ts
Due: dapp-lint-js

Update Ethereum impl of `ChainEIP712Signer`
  sdk/src/lib/ethereum/eip712-signer/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/lib/ethereum/eip712.test.ts
Due: root-lint, sdk-lint-js

Commiting raw stBTC integration test by Sense
  core/test/stBTC-SingleTokenVault_mainnet-fork.spec.js
Due: core-lint-js

Update a `.env` file for dApp
  .github/workflows/dapp.yaml
  dapp/.env.production
Due: root-lint

Commiting raw utils helper by Sense
  core/api/utils.js
Due: core-lint-js

Add a unstake form
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/shared/Form/FormSubmitButton.tsx
  dapp/src/components/shared/Form/index.tsx
Due: dapp-lint-js

Add comment on future actions for unstake
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
Due: dapp-lint-js

Define maxStakeInSatoshi function
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Add a information about batch time in unstake form
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
Due: dapp-lint-js

Remove unnecessary code
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Changed type: transactionInfo -> activityInfo
  dapp/src/components/shared/Activity/ActivityBar.tsx
  dapp/src/components/shared/Activity/ActivityCard.tsx
  dapp/src/components/shared/Activity/mock-activities.ts
  dapp/src/pages/Activity/ActivityDetails.tsx
  dapp/src/pages/Activity/index.tsx
  dapp/src/types/activity.ts
  dapp/src/types/index.ts
  dapp/src/types/location.ts
Due: dapp-lint-js

Add a `SignMessageModal` for unstaking flow
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/index.tsx
Due: dapp-lint-js

Removed activity card variant, moved styles inline
  dapp/src/components/shared/Activity/ActivityBar.tsx
  dapp/src/components/shared/Activity/ActivityCard.tsx
  dapp/src/components/shared/Activity/ActivityCardContainer.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Added wrapInBrackets prop to CurrencyBalanceWithConversion
  dapp/src/components/shared/Activity/ActivityCard.tsx
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/Activity/ActivityDetails.tsx
Due: dapp-lint-js

Define minimum stake amount
  core/contracts/AcreBitcoinDepositor.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js
