Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Imports update for component themes
  dapp/src/theme/Alert.ts
  dapp/src/theme/Button.ts
  dapp/src/theme/Card.ts
  dapp/src/theme/CurrencyBalance.ts
  dapp/src/theme/Drawer.ts
  dapp/src/theme/Form.ts
  dapp/src/theme/FormError.ts
  dapp/src/theme/FormLabel.ts
  dapp/src/theme/Heading.ts
  dapp/src/theme/Input.ts
  dapp/src/theme/Modal.ts
  dapp/src/theme/Sidebar.ts
  dapp/src/theme/Stepper.ts
  dapp/src/theme/Switch.ts
  dapp/src/theme/Tabs.ts
  dapp/src/theme/TokenBalanceInput.ts
  dapp/src/theme/Tooltip.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Add docs comments
  sdk/src/lib/contracts/index.ts
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Add docs comments for ethers contract wrapper
  sdk/src/lib/ethereum/contract.ts
Due: root-lint, sdk-lint-js

Add docs comments to eip-712 signer
  sdk/src/lib/eip712-signer/eip712.ts
  sdk/src/lib/eip712-signer/signed-message.ts
  sdk/src/lib/ethereum/eip712-signer/index.ts
  sdk/src/lib/ethereum/eip712-signer/signed-message.ts
Due: root-lint, sdk-lint-js

Remove unnecessary `-` in docs comments
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/eip712-signer/eip712.ts
Due: root-lint, sdk-lint-js

Add docs comments to staking module
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Fix code to make it compatible with new eslint rules
  dapp/src/theme/Table.ts
Due: dapp-lint-js

Use a `union` instead of an `enum` type
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Update mock data for tests
  dapp/src/components/TransactionHistory/Account/mock-transactions.ts
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
Due: dapp-lint-js

Move `UseTransactionHistoryTableResult` to the type dir
  dapp/src/components/TransactionHistory/Table/pagination.tsx
  dapp/src/hooks/useTransactionHistoryTable.ts
  dapp/src/types/index.ts
  dapp/src/types/table.ts
Due: dapp-lint-js

Split the table component into smaller parts
  dapp/src/components/TransactionHistory/Table/Body.tsx
  dapp/src/components/TransactionHistory/Table/Footer.tsx
  dapp/src/components/TransactionHistory/Table/Header.tsx
  dapp/src/components/TransactionHistory/Table/index.tsx
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
  dapp/src/components/TransactionHistory/Table/utils/pagination.tsx
Due: dapp-lint-js

Setting entryFeeBasisPoints in the constructor
  core/contracts/Acre.sol
Due: none

Adding todo for basis point that it will need to follow 2 steps updating process
  core/contracts/Acre.sol
Due: none

Adding tests when updating entry fee basis points
  core/test/Acre.test.ts
Due: core-lint-js

Fix an issue about to date column size
  dapp/src/components/TransactionHistory/Table/Body.tsx
  dapp/src/components/TransactionHistory/Table/Cells/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
Due: dapp-lint-js

Covering minting with tests when there is no fee
  core/test/Acre.test.ts
Due: core-lint-js

Making slither happy, there's no dead code here
  core/contracts/ERC4626Fees.sol
Due: none

Removed comment
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Create a `StatusInfo` component for the status column in the transaction history table
  dapp/src/components/TransactionHistory/Table/Cells/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/Cells/Status.tsx
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
  dapp/src/components/shared/StatusInfo/index.tsx
  dapp/src/static/icons/Complete.tsx
  dapp/src/static/icons/Pending.tsx
  dapp/src/static/icons/Syncing.tsx
  dapp/src/static/icons/index.ts
  dapp/src/theme/StatusInfo.tsx
  dapp/src/theme/index.ts
  dapp/src/types/transaction.ts
Due: dapp-lint-js

ButtonLink: extended component as Link
  dapp/src/components/shared/ButtonLink/index.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Unification buttons link in dapp
  dapp/src/components/Overview/index.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/shared/ButtonLink/index.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Resume staking flow modal
  dapp/src/assets/images/staking-pause-circle.svg
  dapp/src/components/Modals/Staking/Resume/index.tsx
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/Modals/Staking/utils/stakingSteps.ts
  dapp/src/components/Modals/Support/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/utils/customIcons.tsx
Due: dapp-lint-js

Add the basic styles of the `Link` component
  dapp/src/components/shared/ViewInBlockExplorer/index.tsx
  dapp/src/theme/Link.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Change the structure and logic for table cells
  dapp/src/components/TransactionHistory/Table/Cell/Custom.tsx
  dapp/src/components/TransactionHistory/Table/Cell/components/BlockExplorer.tsx
  dapp/src/components/TransactionHistory/Table/Cell/components/SimpleText.tsx
  dapp/src/components/TransactionHistory/Table/Cell/components/Status.tsx
  dapp/src/components/TransactionHistory/Table/Cell/index.tsx
  dapp/src/components/TransactionHistory/Table/Cell/utils/content.tsx
  dapp/src/components/TransactionHistory/Table/Cells/CustomCell.tsx
  dapp/src/components/TransactionHistory/Table/Cells/TextCell.tsx
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Use union type instead of enum for `ExplorerDataType`
  dapp/src/components/TransactionHistory/Table/Cell/components/BlockExplorer.tsx
  dapp/src/types/chain.ts
  dapp/src/utils/chain.ts
Due: dapp-lint-js

Remove unnecessary props
  dapp/src/components/TransactionHistory/Table/Cell/components/BlockExplorer.tsx
Due: dapp-lint-js

When the transaction is pending display `In queue` text in the table
  dapp/src/components/TransactionHistory/Table/Cell/components/Status.tsx
Due: dapp-lint-js

Reverting all the previous changes to ERC4626Fees
  core/contracts/ERC4626Fees.sol
Due: none

Reverting mint function to the previous state
  core/contracts/Acre.sol
Due: none

Fixing tests after reverting rounding in ERC4626Fees
  core/test/Acre.test.ts
Due: core-lint-js

Minor change in comment for entryFeeBasisPoints var
  core/contracts/Acre.sol
Due: none

Added generic async wrapper
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Modals/Staking/SignMessage.tsx
  dapp/src/components/Modals/Support/MissingAccount.tsx
  dapp/src/components/shared/Form/FormTokenBalanceInput.tsx
  dapp/src/utils/async.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Resume modal: update styles, naming convention & directory structure
  dapp/src/assets/images/staking-pause-circle.svg
  dapp/src/components/Modals/Support/ResumeModal.tsx
  dapp/src/components/Modals/Support/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/constants/staking.ts
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/static/icons/Pause.tsx
  dapp/src/static/icons/index.ts
  dapp/src/theme/Spinner.ts
Due: dapp-lint-js

Text align to right for status cell
  dapp/.eslintignore
  dapp/src/components/TransactionHistory/Table/Cell/components/Status.tsx
  dapp/src/components/TransactionHistory/Table/Cell/utils/content.tsx
  dapp/src/components/TransactionHistory/Table/Header.tsx
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
  dapp/src/components/shared/StatusInfo/index.tsx
  dapp/src/react-table.d.ts
  dapp/src/theme/StatusInfo.tsx
Due: dapp-lint-js

Set the column size for the transaction history table
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
Due: dapp-lint-js

Add pending transaction process to context
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/hooks/useDepositBTCTransaction.ts
Due: dapp-lint-js

Reverted bitcoin min amount
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Update the logic for showing transaction status
  dapp/src/components/TransactionHistory/Table/Cell/components/Status.tsx
Due: dapp-lint-js

Minor improvements
  dapp/src/components/TransactionHistory/Protocol/mock-transactions.ts
  dapp/src/components/shared/StatusInfo/index.tsx
  dapp/src/components/shared/ViewInBlockExplorer/index.tsx
  dapp/src/types/transaction.ts
Due: dapp-lint-js

Fix the code to not disable the eslint rule
  dapp/src/components/TransactionHistory/Table/Cell/index.tsx
  dapp/src/components/TransactionHistory/Table/Cell/utils/content.tsx
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
