Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add unit test for integration with OrangeKit
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-orangekit.ts
Due: root-lint, sdk-lint-js

Apply updates after consultation with designer
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
Due: dapp-lint-js

Rename TbtcDeposit to TbtcSdkDeposit
  sdk/src/modules/tbtc/Deposit.ts
Due: root-lint, sdk-lint-js

Fix typo in retries property name
  sdk/src/lib/utils/backoff.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/src/modules/tbtc/Deposit.ts
Due: root-lint, sdk-lint-js

Remove revealDeposit tests
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Remove unused parameter from docs
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Update unit tests for tbtc module
  sdk/test/data/deposit.ts
  sdk/test/modules/staking.test.ts
  sdk/test/modules/tbtc/Deposit.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
  sdk/test/utils/mock-tbtc-sdk.ts
  sdk/test/utils/mock-tbtc.ts
Due: root-lint, sdk-lint-js

Export DepositStatus enum
  sdk/src/api/TbtcApi.ts
Due: root-lint, sdk-lint-js

Update wildcard for test files overrides
  sdk/.eslintrc
Due: root-lint

Use TS confif file for jest
  sdk/jest.config.ts
Due: root-lint, sdk-lint-js

Add @ethersproject/bignumber dependency
  sdk/package.json
Due: root-lint, sdk-lint-config

Move api/ to lib/api/
  sdk/src/lib/api/HttpApi.ts
  sdk/src/lib/api/TbtcApi.ts
  sdk/src/modules/tbtc/Deposit.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/data/deposit.ts
  sdk/test/modules/tbtc/Deposit.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
  sdk/test/utils/mock-tbtc.ts
Due: root-lint, sdk-lint-js

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: root-lint

Make the `FeesTooltip` more abstract
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/UnstakeDetails.tsx
  dapp/src/components/TransactionModal/FeesTooltip/FeesTooltip.tsx
Due: dapp-lint-js

Add `TODO`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
Due: dapp-lint-js

Update `handleDepositFinalized` handler
  subgraph/src/bitcoin-depositor.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Update the `referral` type in unit tests
  subgraph/tests/bitcoin-depositor-utils.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Expect tBTC API URL to be provided on initialization
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Export DepositReceipt type
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Pass TBTC_API_ENDPOINT to SDK initialization
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Remove custom depositor with defender relayer implementation
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/vite-env.d.ts
  dapp/src/web3/index.ts
  dapp/src/web3/relayer-depositor-proxy.ts
Due: dapp-lint-js

Implement base structure for `StakingActivitiesList`
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/components/shared/StakingActivitiesList/StakingActivitiesList.tsx
  dapp/src/components/shared/StakingActivitiesList/StakingActivitiesListItem.tsx
  dapp/src/components/shared/StakingActivitiesList/index.ts
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/theme/Alert.ts
  dapp/src/theme/Button.ts
  dapp/src/types/currency.ts
Due: dapp-lint-js

Remove `NavigationItem` export
  dapp/src/components/Header/Navigation/index.ts
Due: dapp-lint-js

Save the funding Bitcoin tx id in subgraph
  subgraph/src/bitcoin-depositor.ts
  subgraph/src/tbtc-utils.ts
  subgraph/tests/bitcoin-depositor-utils.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js

Bump graph dependencies to the latest version
  pnpm-lock.yaml
  subgraph/package.json
Due: root-lint, subgraph-lint-config

Store the tBTC Bridge address in context
  subgraph/src/tbtc-utils.ts
  subgraph/subgraph.yaml
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js, subgraph-lint-config

Adding current balance of tBTC to depositBalancer var in MezoAllocator
  solidity/contracts/MezoAllocator.sol
  solidity/contracts/test/upgrades/MezoAllocatorV2.sol
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Pausing token transfers upon pausing the protocol
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Returning zero when the protocol is paused
  solidity/contracts/stBTC.sol
Due: none

Adding tests to cover max* related functions
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Update external links in`README` for subgraph
  subgraph/README.md
Due: none

Update export from module to default
  dapp/src/pages/OverviewPage/GrantedSeasonPassCard.tsx
Due: dapp-lint-js

Disable `Card` component's padding
  dapp/src/pages/OverviewPage/GrantedSeasonPassCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Add subgraph deployment and publication instructions
  subgraph/README.md
Due: none

Use width/height shorthand property
  dapp/src/pages/OverviewPage/GrantedSeasonPassCard.tsx
Due: dapp-lint-js

Refactor `GrantedSeasonPass` component styles
  dapp/src/pages/OverviewPage/GrantedSeasonPassCard.tsx
Due: dapp-lint-js

Rename component
  dapp/src/assets/icons/BoostArrowIcon.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
Due: dapp-lint-js

Replace `CurrencyBalance` component
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Define `AmountType` type definition
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
  dapp/src/types/currency.ts
Due: dapp-lint-js

Remove `xl` variant of Button component
  dapp/src/pages/OverviewPage/DashboardCard/DashboardCard.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js
