Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Update the staking message format
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-tbtc.ts
Due: root-lint, sdk-lint-js

Drafting unstaking fees
  core/contracts/Acre.sol
  core/contracts/ERC4626Fees.sol
Due: none

Enforcing virtual functions to be implemented by inhering contract
  core/contracts/ERC4626Fees.sol
Due: none

Adding missing @notice tag to a comment
  core/contracts/Acre.sol
Due: none

Enforcing implementation of exit fee function
  core/contracts/ERC4626Fees.sol
Due: none

Pause icon styles, fn callback renamed for depositBTC
  dapp/src/assets/icons/Pause.tsx
  dapp/src/components/Modals/Staking/DepositBTC.tsx
  dapp/src/components/Modals/Support/ResumeModal.tsx
  dapp/src/constants/staking.ts
Due: dapp-lint-js

Adden theme for Link
  dapp/src/theme/Button.ts
  dapp/src/theme/Link.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Update button styles
  dapp/src/components/Overview/index.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Update import path for ButtonLink
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Update import path as relative for Typography
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Fix issues after merging
  dapp/src/components/Modals/Support/Loading.tsx
  dapp/src/components/Modals/Support/Success.tsx
  dapp/src/theme/CurrencyBalance.ts
Due: dapp-lint-js

Removed textDecoration prop from Button theme
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Fix issue after merge
  dapp/src/theme/index.ts
Due: dapp-lint-js

Separate the ModalBase component logic
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/components/shared/ModalBase/index.tsx
Due: dapp-lint-js

Adding a missing `SupportWrapper` component for staking flow
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Moving test helper functions at the end of this file
  core/.eslintrc
  core/test/Acre.test.ts
Due: core-lint-js

Bump tbtc-v2.ts lib to the latest version
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Update the `TBTCDepositor` interface
  sdk/src/index.ts
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Adjust staking module
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Use chakra unit instead of rem, fixing issues after modalBase changes
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/theme/Spinner.ts
Due: dapp-lint-js

Sentry SDK initialization
  dapp/.env
  dapp/.env.production
  dapp/package.json
  dapp/src/DApp.tsx
  dapp/src/hooks/useSentry.ts
  dapp/src/sdk/sentry/index.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Update theme for connect buttons
  dapp/src/assets/icons/Ethereum.tsx
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/theme/Button.ts
Due: dapp-lint-js

Use more descriptive names for icons
  dapp/src/assets/icons/BTC.tsx
  dapp/src/assets/icons/Complete.tsx
  dapp/src/assets/icons/Pending.tsx
  dapp/src/assets/icons/Syncing.tsx
  dapp/src/assets/icons/stBTC.tsx
  dapp/src/components/shared/CurrencyIcon/index.tsx
  dapp/src/components/shared/StatusInfo/index.tsx
Due: dapp-lint-js

Use more descriptive names for cell elements
  dapp/src/components/TransactionHistory/Table/Cell/Custom.tsx
  dapp/src/components/TransactionHistory/Table/Cell/index.tsx
  dapp/src/components/TransactionHistory/Table/utils/columns.tsx
Due: dapp-lint-js

Move status data to a standalone file
  dapp/src/components/shared/StatusInfo/data.ts
  dapp/src/components/shared/StatusInfo/index.tsx
Due: dapp-lint-js

Update staking module unit test
  sdk/test/modules/staking.test.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Replacing beforeAfterEachSnapshot with beforeAfterSnapshot
  core/test/Acre.test.ts
Due: core-lint-js

Simplify class constructor
  sdk/src/lib/contracts/tbtc-depositor.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Add a comment for `createBlockExplorerLink`
  dapp/src/utils/chain.ts
Due: dapp-lint-js

Refactor for the staking/unstakig flow
  dapp/src/components/Modals/ActionForm/index.tsx
  dapp/src/components/Modals/Staking/StakeForm/index.tsx
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/Modals/Unstaking/index.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/index.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/types/staking.ts
Due: dapp-lint-js

Rename `ViewInBlockExplorer` to `ViewInBlockExplorerLink`
  dapp/src/components/TransactionHistory/Table/Cell/components/BlockExplorer.tsx
  dapp/src/components/shared/ViewInBlockExplorerLink/index.tsx
Due: dapp-lint-js

Improve imports in Acre SDK
  sdk/src/acre.ts
  sdk/src/index.ts
  sdk/src/lib/ethereum/eip712-signer/index.ts
  sdk/src/lib/ethereum/index.ts
  sdk/src/modules/staking/index.ts
  sdk/test/lib/ethereum/eip712.test.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Update tabs declaration in `ActionFormModal`
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
Due: dapp-lint-js

Create basic Acre SDK context
  dapp/src/DApp.tsx
  dapp/src/contexts/AcreSdkContext.tsx
Due: dapp-lint-js

Add `ethers` and `sdk` dependencies to dapp
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Create Ledger Live signer
  dapp/src/contexts/LedgerWalletAPIProvider.tsx
  dapp/src/web3/index.ts
  dapp/src/web3/ledger-signer.ts
Due: dapp-lint-js

Create the stub contract for TBTCDepositor
  core/contracts/test/TBTCDepositorStub.sol
  core/deploy/03_deploy_tbtc_depositor.ts
  core/hardhat.config.ts
Due: core-lint-js

Set the goerli address of tBTC depositor contract
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Return mocked utxos for a given deposit address
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Test the staking flow
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
