Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Add missing spacing theme token
  dapp/src/theme/index.ts
Due: dapp-lint-js

Define home route as index
  dapp/src/router/index.tsx
Due: dapp-lint-js

Resolve eslint issue
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Update the staking module
  dapp/src/acre-react/hooks/useStakeFlow.ts
  sdk/src/modules/staking/index.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Adding MezoAllocator tests to run against mainnet fork
  solidity/.gitignore
  solidity/deploy/00_resolve_mezo_portal.ts
  solidity/deploy/00_resolve_tbtc_token.ts
  solidity/deploy/00_resolve_tbtc_vault.ts
  solidity/deploy/01_deploy_stbtc.ts
  solidity/deploy/02_deploy_mezo_allocator.ts
  solidity/deploy/03_deploy_bitcoin_depositor.ts
  solidity/deploy/04_deploy_bitcoin_redeemer.ts
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/helpers/context.ts
  solidity/test/helpers/contract.ts
  solidity/test/integration/MezoAllocator.test.ts
Due: solidity-lint-js, solidity-lint-config

Add IconCard with key icon
  dapp/src/assets/images/card-icon-key.png
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Update values to rem units
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Update reflects the latest contract to Sepolia: Staker -> DepositPwner
  subgraph/abis/AcreBitcoinDepositor.json
  subgraph/schema.graphql
  subgraph/src/acre-bitcoin-depositor.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
  subgraph/tests/acre-bitcoin-depositor-utils.ts
  subgraph/tests/acre-bitcoin-depositor.test.ts
Due: subgraph-lint-js, subgraph-lint-config

Implement `ValueCard` component
  dapp/src/assets/images/card-value-decorator.svg
  dapp/src/pages/LandingPage/ValueCard.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Extract TVL card into separate component
  dapp/src/pages/LandingPage/TVLCard.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Add ContentCard component
  dapp/src/assets/images/content-card-bg.png
  dapp/src/assets/images/partner-logos/base-logo.png
  dapp/src/assets/images/partner-logos/ledger-logo.png
  dapp/src/assets/images/partner-logos/threshold-logo.png
  dapp/src/assets/images/partner-logos/wormhole-logo.png
  dapp/src/pages/LandingPage/ContentCard.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Rename component, fix missing keys
  dapp/src/pages/LandingPage/ValueCard.tsx
Due: dapp-lint-js

Implement `CardButton` component
  dapp/src/pages/LandingPage/CardButton.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Apply minor styling adjustments
  dapp/src/pages/LandingPage/ValueCard.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Adjust spacing and height
  dapp/src/components/shared/SeasonCountdownSection/SeasonCountdownSectionBackground.tsx
  dapp/src/pages/LandingPage/SeasonCountdownSection.tsx
Due: dapp-lint-js

Fix typo
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Make landing page container fixed
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Refactor styles, update copies in cards
  dapp/src/constants/externalHref.ts
  dapp/src/pages/LandingPage/ContentCard.tsx
  dapp/src/pages/LandingPage/ValueCard.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Replace partner logos with SVGs, adjusted sizing
  dapp/src/assets/images/partner-logos/base-logo.png
  dapp/src/assets/images/partner-logos/base-logo.svg
  dapp/src/assets/images/partner-logos/ledger-logo.png
  dapp/src/assets/images/partner-logos/ledger-logo.svg
  dapp/src/assets/images/partner-logos/threshold-logo.png
  dapp/src/assets/images/partner-logos/threshold-logo.svg
  dapp/src/assets/images/partner-logos/wormhole-logo.png
  dapp/src/assets/images/partner-logos/wormhole-logo.svg
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Disable text selection on timer component
  dapp/src/components/shared/SeasonCountdownSection/CountdownTimer.tsx
Due: dapp-lint-js

Accessing 'exitFeeBasisPoints' var directly
  solidity/contracts/stBTC.sol
Due: none

Adding tests when the entry and exit fees are 0
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Covering cases when all the assets were allocated to Mezo Portal
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Replacing shares and assets partial calculation with feeOnRaw and feeOnTotal functions
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Added handleDepositFinalized event, renamed acre-bitcoin depositor to bitcoin-depositor, added deploy information to readme.md
  subgraph/.prettierrc.js
  subgraph/README.md
  subgraph/abis/AcreBitcoinDepositor.json
  subgraph/abis/BitcoinDepositor.json
  subgraph/networks.json
  subgraph/schema.graphql
  subgraph/src/acre-bitcoin-depositor.ts
  subgraph/src/bitcoin-depositor.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
  subgraph/tests/acre-bitcoin-depositor-utils.ts
  subgraph/tests/acre-bitcoin-depositor.test.ts
  subgraph/tests/bitcoin-depositor-utils.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js, subgraph-lint-config

dApp: subgraph integration
  dapp/.env
  dapp/package.json
  dapp/src/DApp.tsx
  dapp/src/contexts/ApolloClientProvider.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/useActivities.ts
  dapp/src/queries/activities.ts
  dapp/src/queries/index.ts
  dapp/src/vite-env.d.ts
  pnpm-lock.yaml
Due: root-lint, dapp-lint-js, dapp-lint-config

Covering stBTC.totalAssets with tests
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Verifying that depositBalance var drives totalAssets() function
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Fixing deployment command in CI
  .github/workflows/solidity.yaml
Due: root-lint

LogData -> Event entity, simplified event entity, adjusted tests
  subgraph/README.md
  subgraph/abis/BitcoinDepositor.json
  subgraph/schema.graphql
  subgraph/src/bitcoin-depositor.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
  subgraph/tests/bitcoin-depositor-utils.ts
  subgraph/tests/bitcoin-depositor.test.ts
Due: subgraph-lint-js, subgraph-lint-config

Encapsulate `NavLink` component into separate file
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/components/shared/Link.tsx
  dapp/src/components/shared/NavLink.tsx
Due: dapp-lint-js

Define 'navigation' Link theme variant
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/theme/Link.ts
Due: dapp-lint-js

Encaplsulate `NavigationItem` component
  dapp/src/components/Header/Navigation.tsx
  dapp/src/components/Header/Navigation/Navigation.tsx
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/components/Header/Navigation/index.ts
  dapp/src/components/Header/index.tsx
Due: dapp-lint-js

Move navigation item type definition to types dir
  dapp/src/components/Header/Navigation/Navigation.tsx
  dapp/src/components/Header/Navigation/NavigationItem.tsx
  dapp/src/components/Header/Navigation/index.ts
  dapp/src/components/Header/index.tsx
  dapp/src/types/navigation.ts
Due: dapp-lint-js

Rename `OverviewPage` to `DashboardPage`
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/DashboardPage/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/pages/DashboardPage/ActivityCarousel/ActivityCarouselArrows.tsx
  dapp/src/pages/DashboardPage/ActivityCarousel/index.tsx
  dapp/src/pages/DashboardPage/DocsCard.tsx
  dapp/src/pages/DashboardPage/PositionDetails.tsx
  dapp/src/pages/DashboardPage/Statistics.tsx
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/router/index.tsx
  dapp/src/router/path.ts
Due: dapp-lint-js

Move `GlobalStyles` one level higher in tree
  dapp/src/DApp.tsx
Due: dapp-lint-js

Align content to center
  dapp/src/pages/LandingPage/HeroSection.tsx
Due: dapp-lint-js

Fix timer `NaN` value when timestamp expires
  dapp/src/components/shared/SeasonCountdownSection/CountdownTimer.tsx
Due: dapp-lint-js

Adding CI config to run integration tests
  .github/workflows/solidity.yaml
  solidity/hardhat.config.ts
Due: root-lint, solidity-lint-js

Update minimum deposit amount for Sepolia
  solidity/deploy/14_bitcoin_depositor_update_minimum_deposit_amount copy.ts
  solidity/deploy/15_update_pause_admin_stbtc.ts
Due: solidity-lint-js
