Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Adding a list of maintainers
  core/contracts/MezoAllocator.sol
  core/contracts/interfaces/IDispatcher.sol
Due: none

Adding getDeposit function to MezoPortalStub
  core/contracts/test/MezoPortalStub.sol
Due: none

Fixing shares->assets by using convertToAssets
  core/contracts/stBTC.sol
Due: none

Removing balance check for while withdrawing
  core/contracts/MezoAllocator.sol
Due: none

Inlining math for totalAssets()
  core/contracts/stBTC.sol
Due: none

MezoAllocator inheriting IDispatcher interface
  core/contracts/MezoAllocator.sol
  core/contracts/interfaces/IDispatcher.sol
Due: none

Rename from `minDepositAmount` to `minStakeAmount`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/UnstakeFormModal/index.tsx
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchMinStakeAmount.ts
  dapp/src/hooks/sdk/useFetchSdkData.ts
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
Due: dapp-lint-js

Define separate it for totalSupply check
  core/test/BitcoinRedeemer.test.ts
Due: core-lint-js

Move `useFetchBTCBalance` to `useFetchSdkData`
  dapp/src/hooks/index.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchBTCBalance.ts
  dapp/src/hooks/sdk/useFetchSdkData.ts
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

Create a hook for min stake amount
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useMinStakeAmount.ts
Due: dapp-lint-js

Tracking of the deposit balance locally in Mezo Allocator
  core/contracts/MezoAllocator.sol
Due: none

Add `fromSatoshi` and `toSatoshi` to utils function
  sdk/src/lib/utils/index.ts
  sdk/src/lib/utils/satoshi-converter.ts
Due: root-lint, sdk-lint-js

DepositWithdraw -> DepositWithdrawn event
  core/contracts/MezoAllocator.sol
Due: none

Removing unused event
  core/contracts/MezoAllocator.sol
Due: none

Adding validation for stBTC address not zero
  core/contracts/MezoAllocator.sol
Due: none

Add min stake amount to the staking module
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/modules/staking/index.ts
  sdk/test/utils/mock-acre-contracts.ts
Due: root-lint, sdk-lint-js

Read the min amount of BTC deposit from the SDK
  dapp/src/hooks/sdk/useFetchMinStakeAmount.ts
Due: dapp-lint-js

Renaming errors around new maintainers
  core/contracts/MezoAllocator.sol
  core/contracts/interfaces/IDispatcher.sol
Due: none

Pulling assets from Mezo Portal first
  core/contracts/MezoAllocator.sol
  core/test/BitcoinRedeemer.test.ts
Due: core-lint-js

Fixing and adding some of the tests for MezoAllocator
  core/deploy/12_mezo_allocator_update_maintainer.ts
  core/test/Deployment.test.ts
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Replace stake naming with deposit
  core/contracts/BitcoinDepositor.sol
Due: none

Remove TODO
  core/contracts/BitcoinDepositor.sol
Due: none

Update BitcoinDepositor upgrade test contract
  core/contracts/test/upgrades/BitcoinDepositorV2.sol
Due: none

Update BitcoinDepositor tests after stake rename
  core/test/BitcoinDepositor.test.ts
  core/test/BitcoinDepositor.upgrade.test.ts
  core/test/data/tbtc.ts
  core/test/stBTC.test.ts
  core/test/stBTC.upgrade.test.ts
  core/types/index.ts
Due: core-lint-js

Update stake mentions in docs
  core/contracts/BitcoinRedeemer.sol
  core/contracts/Dispatcher.sol
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCV2.sol
Due: none

Update SDK to to replace staker with depositOwner
  dapp/src/web3/relayer-depositor-proxy.ts
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/lib/ethereum/data.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Remove TODOs for govern parameters
  core/contracts/PausableOwnable.sol
  core/contracts/stBTC.sol
Due: none

Remove TODO from updateDispatcher
  core/contracts/stBTC.sol
Due: none

Fix BitcoinDepositor tests in SDK
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Udpate MezoAllocator test upgrade contract
  core/contracts/test/upgrades/MezoAllocatorV2.sol
  core/test/MezoAllocator.upgrade.test.ts
Due: core-lint-js

Adding more tests for Mezo Allocator
  core/contracts/MezoAllocator.sol
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Linting
  core/test/MezoAllocator.test.ts
Due: core-lint-js

Deleting Dispatcher
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/12_mezo_allocator_update_maintainer.ts
  core/deploy/22_transfer_ownership_dispatcher.ts
  core/test/Dispatcher.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Small fixes
  dapp/src/hooks/useCountdown.ts
  dapp/src/utils/numbers.ts
Due: dapp-lint-js

Create utils functions: `getExpirationTimestamp`, `getPercentValue`
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/RetryModal.tsx
  dapp/src/utils/numbers.ts
  dapp/src/utils/time.ts
Due: dapp-lint-js

Add `TODO` comment
  dapp/src/acre-react/hooks/useStakeFlow.ts
Due: dapp-lint-js

Add description for `Toast` component
  dapp/src/components/shared/Toast.tsx
Due: dapp-lint-js

Rename @acre-btc/solidity to @acre-btc/contracts
  sdk/package.json
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/src/lib/ethereum/stbtc.ts
  solidity/package.json
Due: root-lint, sdk-lint-js, sdk-lint-config

Fix linting
  .github/workflows/subgraph.yaml
Due: root-lint

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
