Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Update the Ledger Live App manifest
  dapp/manifest-ledger-live-app.json
Due: dapp-lint-config

Update AcreSDKContext
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Create custom hook for Acre staking flow
  dapp/src/acre-react/hooks/index.ts
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Move Acre context to a separate dir `acre-react`
  dapp/src/DApp.tsx
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/acre-react/index.ts
  dapp/src/components/Overview/index.tsx
Due: dapp-lint-js

Update `LedgerWalletSigner`
  dapp/src/web3/ledger-signer.ts
Due: dapp-lint-js

Leave TODO comment in ledger-signer
  dapp/src/web3/ledger-signer.ts
Due: dapp-lint-js

Add logic to open the sidebar in `TransactionModal`
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Renameing Acre contract to stBTC
  README.md
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
  core/contracts/stBTC.sol
  core/deploy/01_deploy_stbtc.ts
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/11_acre_update_dispatcher.ts
  core/deploy/21_transfer_ownership_stbtc.ts
  core/deploy/22_transfer_ownership_dispatcher.ts
  core/test/Acre.test.ts
  core/test/Deployment.test.ts
  core/test/Dispatcher.test.ts
  core/test/helpers/context.ts
Due: root-lint, core-lint-js

Rename `ViewInBlockExplorerLink` to `BlockExplorerLink`
  dapp/src/components/TransactionHistory/Table/Cell/components/BlockExplorer.tsx
  dapp/src/components/shared/BlockExplorerLink/index.tsx
Due: dapp-lint-js

Fix the order of imports
  dapp/src/contexts/ModalFlowContext.tsx
Due: dapp-lint-js

Rename sorting icons
  dapp/src/assets/icons/SortASC.tsx
  dapp/src/assets/icons/SortDESC.tsx
  dapp/src/components/TransactionHistory/Table/utils/sorting.tsx
Due: dapp-lint-js

Update message signing process in stake flow
  sdk/src/modules/staking/index.ts
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Checking core components for deposit/mint fee calculations
  core/test/Acre.test.ts
Due: core-lint-js

Simplifying the logic for closing a transaction modal when the next step does not exist
  dapp/src/components/Modals/Staking/index.tsx
  dapp/src/components/Modals/Unstaking/index.tsx
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
  dapp/src/components/TransactionModal/index.tsx
  dapp/src/contexts/ModalFlowContext.tsx
  dapp/src/types/staking.ts
Due: dapp-lint-js

Move types for action flow to a separate file
  dapp/src/types/action-flow.ts
  dapp/src/types/index.ts
  dapp/src/types/staking.ts
Due: dapp-lint-js

Handling dust for maxDeposit function
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Deploy Acre contracts on Sepolia
  core/deploy/03_deploy_tbtc_depositor.ts
  core/deployments/sepolia/Acre.json
  core/deployments/sepolia/Dispatcher.json
  core/deployments/sepolia/TbtcDepositor.json
  core/deployments/sepolia/Vault.json
  core/external/sepolia/Bridge.json
  core/external/sepolia/TBTCVault.json
Due: core-lint-js, core-lint-config

Update imports
  dapp/package.json
  dapp/src/acre-react/AcreSdkContext.tsx
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/web3/ledger-signer.ts
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, dapp-lint-js, dapp-lint-config, sdk-lint-config

Test Acre SDK on Sepolia in Acre dapp
  dapp/manifest-ledger-live-app.json
  dapp/src/components/Overview/index.tsx
  dapp/src/constants/currency.ts
  dapp/src/web3/ledger-signer.ts
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, dapp-lint-js, dapp-lint-config, sdk-lint-js

Use `TbtcDepositor` sepolia artifact
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Reverting token name back to Acre Staked Bitcoin
  core/contracts/stBTC.sol
Due: none

Renaming testing file from Acre.test.ts to stBTC.test.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Fix issue with incorrect type check for `ACTION_FLOW_STEPS_TYPES`
  dapp/src/types/action-flow.ts
Due: dapp-lint-js

Added getting of tbtc deposit receipt for StakeInitialization
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Fix the eslint issue
  dapp/src/components/TransactionModal/index.tsx
Due: dapp-lint-js

Revert "Added getting of tbtc deposit receipt for StakeInitialization"
  sdk/src/modules/staking/stake-initialization.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Updated sentry import hooks, turn on testnet on production
  dapp/.env.production
  dapp/src/DApp.tsx
  dapp/src/hooks/index.ts
Due: dapp-lint-js

TypeScript IntelliSense for user-defined env variables
  dapp/src/hooks/useSentry.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Fix SDK GH worklow
  .github/workflows/core.yaml
  .github/workflows/reusable-core-build.yaml
  .github/workflows/sdk.yaml
  sdk/jest.config.js
  sdk/src/lib/ethereum/tbtc-depositor.ts
Due: root-lint, sdk-lint-js

Add comment to describe why we omit field
  sdk/src/lib/ethereum/contract.ts
Due: root-lint, sdk-lint-js

Refactor for the structure for staking/unstaking modals
  dapp/src/components/TransactionModal/ActiveFlowStep.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/OverviewModal/index.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/OverviewModal/steps.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/StakeDetails.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakeFormModal/index.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingSteps.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/index.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/index.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/ActionFormModal.tsx
Due: dapp-lint-js

Change name to `StakingStepsModalContent` instead `StakingStep`
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/OverviewModal/steps.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingStepsModalContent.tsx
Due: dapp-lint-js

Extracting feeOnTotal and feeOnRaw validation
  core/test/Acre.test.ts
Due: core-lint-js

Formatting, grammar fixes and removing unsuded lib
  core/contracts/Acre.sol
  core/contracts/ERC4626Fees.sol
Due: none

Adding validation for Acre address when updating treasury
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Added depositReceipt to export utils
  sdk/src/lib/utils/hex.ts
  sdk/src/lib/utils/index.ts
  sdk/src/lib/utils/tbtc-v2.ts
Due: root-lint, sdk-lint-js

Added deposit receipt to useStakeFlow hook
  dapp/src/acre-react/hooks/useStakeFlow.ts
Due: dapp-lint-js

Update colorSchema for connectWallet button
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js
