Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-lint-js, core-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Update helpers dir reference in tsconfig
  core/tsconfig.json
Due: core-lint-config

Define basic color palette
  dapp/src/components/Navbar/ConnectWallet.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/colors.ts
Due: none

Add helpers to get deployed contract
  core/test/helpers/context.ts
  core/test/helpers/contract.ts
Due: core-lint-js

Add helpers for hardhat signers
  core/test/helpers/index.ts
  core/test/helpers/signer.ts
Due: core-lint-js

Improve test fixture used in Acre test
  core/test/Acre.test.ts
Due: core-lint-js

Add tests for address helper
  core/test/helpers.test.ts
Due: core-lint-js

Add test case for empty address string
  core/test/helpers.test.ts
Due: core-lint-js

Update core/scripts/fetch_external_artifacts.sh
  core/scripts/fetch_external_artifacts.sh
Due: none

Make sure all needed accounts are connected
  dapp/src/components/Modals/ConnectWalletModal.tsx
  dapp/src/components/Staking/index.tsx
  dapp/src/static/images/ConnectETHAccount.png
  dapp/src/types/ledger-live-app.ts
Due: none

Create `StakingParameters` struct
  core/contracts/Acre.sol
Due: none

Set default staking parameters in constructor
  core/contracts/Acre.sol
Due: none

Implement min amount limit for a single deposit
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Adding AcreRouter to deployed context
  core/test/helpers/context.ts
Due: core-lint-js

Adding AcreRouter deployment scripts
  core/deploy/02_deploy_acre_router.ts
  core/deploy/22_transfer_ownership_acre_router.ts
Due: core-lint-js

Refactoring tests adjusting for helper methods
  core/test/AcreRouter.test.ts
Due: core-lint-js

Adding func-visibility rule
  core/.solhint.json
Due: core-lint-config

Referencing correct vault names in tests
  core/test/AcreRouter.test.ts
Due: core-lint-js

Fix typo
  core/test/Acre.test.ts
Due: core-lint-js

Simplify test
  core/test/Acre.test.ts
Due: core-lint-js

Override `maxDeposit` fn
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Implement staking limits in `mint` fn
  core/contracts/Acre.sol
  core/test/Acre.test.ts
Due: core-lint-js

Use the chakra `Box` component as the `main`
  dapp/src/DApp.tsx
Due: none

Use a `Card` component for overview elements
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/Statistics.tsx
  dapp/src/components/Overview/TransactionHistory.tsx
Due: none

Use a `templateAreas` for grid
  dapp/src/components/Overview/index.tsx
Due: none

Move the tooltip on the position details card
  dapp/src/components/Overview/PositionDetails.tsx
Due: none

WIP Dispatcher and funds routing
  core/contracts/Acre.sol
  core/contracts/Dispatcher.sol
  core/contracts/Router.sol
  core/contracts/test/TestERC4626.sol
  core/deploy/02_deploy_dispatcher.ts
  core/deploy/22_transfer_ownership_dispatcher.ts
  core/test/Dispatcher.test.ts
  core/test/helpers/context.ts
Due: core-lint-js

Set the page header for dApp
  dapp/public/acre.svg
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/static/icons/AcreLogo.tsx
  dapp/src/static/icons/index.ts
Due: none

Use a `CardProps` for grid items
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/Statistics.tsx
  dapp/src/components/Overview/TransactionHistory.tsx
  dapp/src/components/Overview/index.tsx
Due: none

Disable eslint rule - allow use of spread operator
  dapp/.eslintrc
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/Statistics.tsx
  dapp/src/components/Overview/TransactionHistory.tsx
  dapp/src/components/Typography/index.tsx
Due: none

Add a `Segment` font
  dapp/src/DApp.tsx
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/Overview/Statistics.tsx
  dapp/src/components/Overview/TransactionHistory.tsx
  dapp/src/components/shared/Typography/index.tsx
  dapp/src/fonts/Segment-Black.otf
  dapp/src/fonts/Segment-Bold.otf
  dapp/src/fonts/Segment-Medium.otf
  dapp/src/fonts/Segment-Regular.otf
  dapp/src/fonts/Segment-SemiBold.otf
  dapp/src/theme/index.ts
  dapp/src/theme/utils/fonts.ts
Due: none

Add typography for headings
  dapp/src/components/shared/Typography/index.tsx
  dapp/src/theme/utils/fonts.ts
Due: none

Fix bug with incorrect colours
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Overview/index.tsx
  dapp/src/theme/Button.ts
  dapp/src/theme/Switch.ts
Due: none

Check for zero address
  core/contracts/Dispatcher.sol
Due: none

Replace realpath with another resolution
  core/scripts/fetch_external_artifacts.sh
Due: none

Handle of modal window for stake/unstake actions
  dapp/src/DApp.tsx
  dapp/src/components/DocsDrawer/index.tsx
  dapp/src/components/Header/index.tsx
  dapp/src/components/ModalOverlay/index.tsx
  dapp/src/components/Modals/BaseModal.tsx
  dapp/src/components/Modals/StakingOverviewModal.tsx
  dapp/src/components/Overview/PositionDetails.tsx
  dapp/src/components/Sidebar/index.tsx
  dapp/src/components/Staking/index.tsx
  dapp/src/contexts/DocsDrawerContext.tsx
  dapp/src/contexts/ModalContext.tsx
  dapp/src/contexts/SidebarContext.tsx
  dapp/src/contexts/index.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useDocsDrawer.ts
  dapp/src/hooks/useModal.ts
  dapp/src/hooks/useSidebar.ts
  dapp/src/theme/Drawer.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/zIndices.ts
Due: none

Open the docs drawer by button
  dapp/src/components/Overview/index.tsx
Due: none

Enable hardhat contract sizer plugin
  core/hardhat.config.ts
  core/package.json
  pnpm-lock.yaml
Due: core-lint-js, core-lint-config

Enable hardhat gas reporter plugin
  core/hardhat.config.ts
Due: core-lint-js

Add .envrc file to .gitignore
  .gitignore
Due: none
