Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^core/|^dapp/|^website/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Core
      - id: core-lint-sol
        name: "lint core sol"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:sol"
        files: ^core/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: core-lint-js
        name: "lint core ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
        files: ^core/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: core-lint-config
        name: "lint core json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
        files: ^core/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Rename from `data` to `customData`
  dapp/src/components/Header/ConnectWallet.tsx
Due: dapp-lint-js

Add a theme for `CloseButton`
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/theme/CloseButton.ts
  dapp/src/theme/index.ts
Due: dapp-lint-js

Staking token position popover
  dapp/src/components/GlobalStyles/fonts.tsx
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/GlobalStyles/popover.tsx
  dapp/src/components/StakingTokenPopover.tsx
  dapp/src/pages/OverviewPage/PositionDetails.tsx
Due: dapp-lint-js

Test `stBTC` upgradeability
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/deploy/01_deploy_stbtc.ts
  core/package.json
  core/test/stBTC.upgrade.test.ts
  pnpm-lock.yaml
Due: root-lint, core-lint-js, core-lint-config

Make `AcreBitcoinDepositor` contract upgradable
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/AcreBitcoinDepositorHarness.sol
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
Due: core-lint-js

Implement Bitcoin Redeemer contract
  core/contracts/BitcoinRedeemer.sol
  core/contracts/bridge/ITBTCToken.sol
Due: none

Inherit ERC20Permit in stBTC contract
  core/contracts/BitcoinRedeemer.sol
  core/contracts/stBTC.sol
Due: none

Add reference to BitcoinRedeemer in stBTC
  core/contracts/stBTC.sol
Due: none

Implement stBTC redemption to Bitcoin with signature
  core/contracts/stBTC.sol
Due: none

Add test implementation of TBTC token
  core/contracts/test/TestTBTC.sol
  core/deploy/00_resolve_tbtc_token.ts
Due: core-lint-js

Add deployment script for BitcoinRedeemer contract
  core/deploy/04_deploy_bitcoin_redeemer.ts
  core/deploy/13_stbtc_update_bitcoin_redeemer.ts
  core/helpers/deployment.ts
Due: core-lint-js

Add dependency to @openzeppelin/contracts-upgradeable
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Disable slither's reentrancy-event for requestRedemption
  core/contracts/BitcoinRedeemer.sol
Due: none

Upgrade @openzeppelin/hardhat-upgrades dependency
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Add core/cache/ dir to CI upload artifacts
  .github/workflows/reusable-core-build.yaml
Due: root-lint

Fix the issue after merging in `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: root-lint

Test AcreBitcoinDepositor contract upgradeability
  core/contracts/test/upgrades/AcreBitcoinDepositorMisplacedSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMissingSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
  core/test/AcreBitcoinDepositor.upgrade.test.ts
Due: core-lint-js

Clean up comments in test contracts
  core/contracts/test/upgrades/AcreBitcoinDepositorMisplacedSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMissingSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
Due: none

Remove unnecessary import
  core/contracts/stBTC.sol
Due: none

Remove `TODO:` comment
  core/contracts/AcreBitcoinDepositor.sol
Due: none

Bump `@openzeppelin/hardhat-upgrades`
  core/package.json
  pnpm-lock.yaml
Due: root-lint, core-lint-config

Remove unnecessary import
  core/hardhat.config.ts
Due: core-lint-js

Rename variables in deployment scripts
  core/deploy/01_deploy_stbtc.ts
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
Due: core-lint-js

Show current position in Ledger Live dApp
  dapp/src/hooks/useBtcBalance.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/store/btc/btcSelector.ts
  dapp/src/store/btc/btcSlice.ts
  dapp/src/store/middleware.ts
Due: dapp-lint-js

Added pointer cursor when hovering on the info icon in the position details card
  dapp/src/pages/OverviewPage/PositionDetails.tsx
Due: dapp-lint-js

Added responsive popover height based on ref for position details card
  dapp/src/components/StakingTokenPopover.tsx
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/types/card.ts
  dapp/src/types/index.ts
Due: dapp-lint-js

Make the `stBTC` contract pausable
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Make the `AcreBitcoinDepositor` contract pausable
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMisplacedSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMissingSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Arrow as button to open doc drawer
  dapp/src/components/StakingTokenPopover.tsx
Due: dapp-lint-js

Updated desc in the liquid staking popover
  dapp/src/components/StakingTokenPopover.tsx
Due: dapp-lint-js

Removing unused OZ ERC4626 lib
  core/contracts/stBTC.sol
Due: none

Adding TODOs to implement future unit tests
  core/test/stBTC.test.ts
Due: core-lint-js

Fixing 2 failing tests in AcreBitcoinDepositor
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Add unit tests for redeemToBitcoin function
  core/contracts/test/TestTBTC.sol
  core/test/data/tbtc.ts
  core/test/helpers/context.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Add unit tests for updateBitcoinRedeemer
  core/test/stBTC.test.ts
Due: core-lint-js

Use beforeAfterSnapshotWrapper in updateDispatcher test
  core/test/stBTC.test.ts
Due: core-lint-js

Modify TreasuryUpdated event to include old address
  core/contracts/stBTC.sol
  core/test/stBTC.test.ts
Due: core-lint-js

Add `waitForTransaction` helper
  core/deploy/01_deploy_stbtc.ts
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
  core/helpers/deployment.ts
Due: core-lint-js

Restructure the styles for the Alert component
  dapp/src/assets/icons/AlertError.tsx
  dapp/src/assets/icons/AlertInfo.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/SuccessModal.tsx
  dapp/src/components/shared/Alert.tsx
  dapp/src/components/shared/Alert/index.tsx
  dapp/src/components/shared/CardAlert.tsx
  dapp/src/components/shared/ReceiveSTBTCAlert.tsx
  dapp/src/components/shared/Toast.tsx
  dapp/src/theme/Alert.ts
  dapp/src/theme/utils/colors.ts
Due: dapp-lint-js
