Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Lock the version of `@swan-bitcoin/xpub-lib` lib
  pnpm-lock.yaml
  sdk/package.json
Due: root-lint, sdk-lint-config

Update constructo parameters names
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Update Acre SDK initialization fn
  sdk/src/acre.ts
  sdk/src/lib/bitcoin/index.ts
  sdk/src/lib/ethereum/network.ts
Due: root-lint, sdk-lint-js

Simplify custom ethereum signer utils
  sdk/src/acre.ts
  sdk/src/lib/utils/ethereum-signer.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js

Avoid skipping `import/prefer-default-export` rule
  sdk/src/lib/bitcoin/providers/index.ts
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
Due: root-lint, sdk-lint-js

Add docs for bitcoin provider interfaces
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
  sdk/src/lib/bitcoin/providers/provider.ts
Due: root-lint, sdk-lint-js

Update the `Network` type in Ledger Live Provider
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
Due: root-lint, sdk-lint-js

Replace Bitcoin block explorer
  dapp/src/constants/chains.ts
Due: dapp-lint-js

Update `@swan-bitcoin/xpub-lib` declaration types
  sdk/src/typings.d.ts
Due: root-lint, sdk-lint-js

Rename variable
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Fix linting errors
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/components/Layout.tsx
Due: dapp-lint-js

Replace chain type for `BlockExplorerLink`
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
Due: dapp-lint-js

Refactor to remove `Card` component
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Remove redundant style properties
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Refactor `CountdownTimer` styles
  dapp/src/components/shared/SeasonCountdownSection/CountdownTimer.tsx
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Remove `CurrentSeasonCard` props
  dapp/src/constants/time.ts
  dapp/src/pages/DashboardPage/CurrentSeasonCard.tsx
  dapp/src/pages/LandingPage/components/SeasonCountdownSection.tsx
Due: dapp-lint-js

Refactor Pagination `pageData` calculations
  dapp/src/components/shared/Pagination/Pagination.tsx
Due: dapp-lint-js

Move `PaginationContext` to `contexts` directory
  dapp/src/components/shared/Pagination/Pagination.tsx
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/contexts/PaginationContext.ts
  dapp/src/contexts/index.tsx
Due: dapp-lint-js

Reuse existing utility function
  dapp/src/components/TransactionHistory/Table/utils/pagination.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
Due: dapp-lint-js

Format date
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Format address
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Add workaround for type assertion issue
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Fix eslint error
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Resolve TS error
  dapp/src/components/shared/Pagination/PaginationPage.tsx
Due: dapp-lint-js

Refactor `PageLayout` component
  dapp/src/pages/DashboardPage/PageLayout/PageLayout.tsx
  dapp/src/pages/DashboardPage/PageLayout/PageLayoutColumn.tsx
  dapp/src/pages/DashboardPage/PageLayout/PageLayoutSidebar.tsx
  dapp/src/pages/DashboardPage/PageLayout/index.ts
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Update layout
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/pages/DashboardPage/GrantedSeasonPassCard.tsx
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Setting maintainer address for Sepolia
  solidity/hardhat.config.ts
Due: solidity-lint-js

Add Dashboard's gamification placeholder
  dapp/src/assets/images/gamification-placeholder.svg
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Use hook instead of getting value manually
  dapp/src/pages/DashboardPage/index.tsx
Due: dapp-lint-js

Adjust page layout breakpoints
  dapp/src/pages/DashboardPage/PageLayout/PageLayout.tsx
  dapp/src/pages/DashboardPage/PageLayout/PageLayoutColumn.tsx
  dapp/src/pages/DashboardPage/index.tsx
  dapp/src/theme/index.ts
Due: dapp-lint-js

Update the docs in Ledger Live Bitcoin Provider
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
Due: root-lint, sdk-lint-js

Update `getAddress` fn
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
Due: root-lint, sdk-lint-js

Open `TransactionModal` from new dashboard
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Use `useTransactionModal` in new dashboard
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Separate activities from transactions
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useCompletedActivities.ts
  dapp/src/hooks/store/useTransactions.ts
  dapp/src/hooks/subgraph/useFetchActivities.ts
  dapp/src/hooks/subgraph/useInitDataFromSubgraph.ts
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/store/wallet/walletSlice.ts
  dapp/src/types/activity.ts
Due: dapp-lint-js

Update `getAddress` fn in Ledger Live provider
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
Due: root-lint, sdk-lint-js

Leave TODO in `LedgerLiveWalletApiBitcoinProvider`
  sdk/src/lib/bitcoin/providers/ledger-live-wallet-api-provider.ts
Due: root-lint, sdk-lint-js

Initialize the Acre SDK w/o Ethereum address
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/web3/ledger-live-signer.ts
Due: dapp-lint-js

Remove Ethereum account from the wallet context
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/components/TransactionModal/ActionFormModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/contexts/WalletContext.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/sdk/useFetchBTCBalance.ts
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
  dapp/src/hooks/toasts/useInitGlobalToasts.ts
  dapp/src/hooks/toasts/useShowWalletErrorToast.ts
  dapp/src/hooks/useRequestEthereumAccount.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/types/toast.ts
Due: dapp-lint-js

Update Acre SDK initialization in dapp
  dapp/.env
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
