Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Init the Acre SDK in dapp w/o ethereum address
  dapp/ledger-manifest-development.json
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  dapp/src/acre-react/hooks/useStakeFlow.ts
  dapp/src/constants/chains.ts
  dapp/src/contexts/StakeFlowContext.tsx
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
Due: dapp-lint-js, dapp-lint-config

Remove unused ethers signer for Ledger Live
  dapp/src/web3/index.ts
  dapp/src/web3/ledger-live-signer.ts
  dapp/src/web3/utils/index.ts
  dapp/src/web3/utils/ledger-live.ts
Due: dapp-lint-js

Move `usePagination` hook to top level directory
  dapp/src/components/shared/Pagination/PaginationButton.tsx
  dapp/src/components/shared/Pagination/PaginationPage.tsx
  dapp/src/components/shared/Pagination/PaginationStatus.tsx
  dapp/src/contexts/PaginationContext.ts
  dapp/src/hooks/index.ts
  dapp/src/hooks/usePagination.ts
Due: dapp-lint-js

Get data from hook
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
  dapp/src/types/activity.ts
  dapp/src/types/subgraphAPI.ts
  dapp/src/utils/subgraphAPI.ts
Due: dapp-lint-js

Integrate activities list with redux actions
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActivitiesIds.ts
  dapp/src/store/wallet/walletSelector.ts
Due: dapp-lint-js

Use a `createSelector` to improve selectors
  dapp/src/store/wallet/walletSelector.ts
Due: dapp-lint-js

Use a more descriptive name
  dapp/src/store/wallet/walletSlice.ts
Due: dapp-lint-js

Mock `@orangekit/sdk` to run jest test
  sdk/jest.config.ts
  sdk/test/__mocks__/@orangekit/sdk.ts
  sdk/tsconfig.json
Due: root-lint, sdk-lint-js, sdk-lint-config

Fix formatting error
  sdk/tsconfig.json
Due: root-lint, sdk-lint-config

Fix `useInitializeAcreSdk` hook
  dapp/src/hooks/sdk/useInitializeAcreSdk.ts
Due: dapp-lint-js

Make the `tbtcApi` public in `Tbtc` module
  sdk/src/modules/tbtc/Tbtc.ts
Due: root-lint, sdk-lint-js

Create `AcreSubgraphApi`
  sdk/src/lib/api/AcreSubgraphApi.ts
Due: root-lint, sdk-lint-js

Update the `TbtcApi` class
  sdk/src/lib/api/TbtcApi.ts
Due: root-lint, sdk-lint-js

Update the Acre SDK constructor
  sdk/src/acre.ts
  sdk/src/index.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Add `getDeposits` to staking module
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Use `getDeposits` fn from Acre SDK
  dapp/src/hooks/index.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchDeposits.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/subgraph/index.ts
  dapp/src/hooks/subgraph/useFetchActivities.ts
  dapp/src/hooks/subgraph/useInitDataFromSubgraph.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/types/activity.ts
  dapp/src/types/index.ts
  dapp/src/types/subgraphAPI.ts
Due: dapp-lint-js

Remove unnecessary subgraph imports
  dapp/src/utils/index.ts
  dapp/src/utils/subgraphAPI.ts
Due: dapp-lint-js

Update `getDeposits` fn in staking module
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Fix displaying activity items
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/types/activity.ts
Due: dapp-lint-js

Update `stake` fn
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Add permissions to get XPub
  dapp/ledger-manifest-testnet.json
Due: dapp-lint-config

Quick fix for transaction window pop-up
  dapp/src/hooks/useTransactionModal.ts
Due: dapp-lint-js

Fetch deposit history after stake action
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
Due: dapp-lint-js

Navigate the user to the dashboard after the deposit BTC
  dapp/src/components/TransactionModal/SuccessModal.tsx
Due: dapp-lint-js

Quick fix to display latest activity at the top of the list
  dapp/src/store/wallet/walletSelector.ts
Due: dapp-lint-js

Add a link to block explorer for deposit transaction in `SuccessModal`
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/constants/chains.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActionFlowTxHash.ts
  dapp/src/store/action-flow/actionFlowSelectors.ts
  dapp/src/store/action-flow/actionFlowSlice.ts
Due: dapp-lint-js

Rename variable
  sdk/src/acre.ts
Due: root-lint, sdk-lint-js

Update docs
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Update `IEthereumSignerCompatibleWithEthersV5`
  sdk/src/lib/utils/ethereum-signer.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js

Remove unnecessary dependencies from useEffect
  dapp/src/hooks/useTransactionModal.ts
Due: dapp-lint-js

Remove unnecessary `useCallback`
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
Due: dapp-lint-js

Simplify the animation for the activity list
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActivitiesIds.ts
  dapp/src/store/wallet/walletSelector.ts
Due: dapp-lint-js

Move logic for fetching activities to SDK
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/sdk/index.ts
  dapp/src/hooks/sdk/useFetchDeposits.ts
  dapp/src/hooks/sdk/useInitDataFromSdk.ts
  dapp/src/hooks/subgraph/index.ts
  dapp/src/hooks/subgraph/useInitDataFromSubgraph.ts
  dapp/src/hooks/useInitApp.ts
Due: dapp-lint-js

Add unit tests for Ledger Live Wallet Api Provider
  sdk/test/lib/bitcoin/providers/ledger-live-wallet-api-provider.test.ts
Due: root-lint, sdk-lint-js
