Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-js:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

subgraph-lint-js:
  name: lint subgraph ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

subgraph-lint-config:
  name: lint subgraph json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Remove redundant component grouping
  dapp/src/pages/OverviewPage/DashboardCard.tsx
  dapp/src/pages/OverviewPage/DashboardCard/index.ts
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Add a description about adding signal for subgraph
  subgraph/README.md
Due: none

Update documentation in HttpApi
  sdk/src/lib/api/HttpApi.ts
Due: root-lint, sdk-lint-js

Define styles as reusable object
  dapp/src/pages/OverviewPage/DashboardCard.tsx
Due: dapp-lint-js

Remove testing JSX
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Remove `<br />` elements
  dapp/src/pages/LandingPage/IconCard.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Accounting for the exit fees in maxWithdraw function
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Removing whenNotPaused modifier in favor of the paused() check
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Adjust `IconCard` responsive styles
  dapp/src/pages/LandingPage/IconCard.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Adding check for max basis points on update
  solidity/contracts/lib/ERC4626Fees.sol
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Linting function order
  solidity/contracts/stBTC.sol
Due: none

Remove unused import
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Refactor `Card` theme parts definition
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Add missing key while iterating over array
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Fix typo
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Refactor `TVLCard` component styles
  dapp/src/pages/LandingPage/TVLCard.tsx
Due: dapp-lint-js

Refactor partner logos export
  dapp/src/assets/images/partner-logos/index.ts
  dapp/src/constants/partnerLogos.ts
Due: dapp-lint-js

Fix typo
  dapp/src/pages/LandingPage/ValueCard.tsx
Due: dapp-lint-js

Rename component
  dapp/src/pages/LandingPage/HighlightedValueCard.tsx
  dapp/src/pages/LandingPage/TVLCard.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Adding checks for newVal == oldVal
  solidity/contracts/PausableOwnable.sol
  solidity/contracts/stBTC.sol
  solidity/test/stBTC.test.ts
Due: solidity-lint-js

Remove use of `CardFooter` component
  dapp/src/pages/LandingPage/IconCard.tsx
Due: dapp-lint-js

Rename component
  dapp/src/pages/LandingPage/BenefitCard.tsx
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Use `TextMd` instead of `Text`
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Remove `value` property
  dapp/src/components/shared/CurrencyBalance/index.tsx
  dapp/src/pages/LandingPage/HighlightedValueCard.tsx
  dapp/src/pages/LandingPage/TVLCard.tsx
  dapp/src/pages/LandingPage/index.tsx
  dapp/src/theme/CurrencyBalance.ts
Due: dapp-lint-js

Hide unused/not ready cards
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Add cards wrapper padding for smaller viewports
  dapp/src/pages/LandingPage/index.tsx
Due: dapp-lint-js

Remove redundant JSX
  dapp/src/pages/OverviewPage/GrantedSeasonPassCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Update season due timestamp
  dapp/src/pages/LandingPage/components/SeasonCountdownSection.tsx
Due: dapp-lint-js

Make TVL and joined users optional
  dapp/src/pages/OverviewPage/CurrentSeasonCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Define styles as props
  dapp/src/pages/OverviewPage/CurrentSeasonCard.tsx
  dapp/src/theme/Card.ts
Due: dapp-lint-js

Remove use of `CardFooter` component
  dapp/src/pages/OverviewPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Resolve Eslint error
  dapp/src/pages/OverviewPage/CurrentSeasonCard.tsx
Due: dapp-lint-js

Optimize redemption to not loose satoshi mulitplier remainder
  solidity/contracts/BitcoinRedeemer.sol
  solidity/test/BitcoinRedeemer.test.ts
Due: solidity-lint-js

Subgraph integration with dApp
  dapp/.env
  dapp/src/types/activity.ts
  dapp/src/types/index.ts
  dapp/src/types/subgraphAPI.ts
  dapp/src/utils/index.ts
  dapp/src/utils/subgraphAPI.ts
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Save activities in redux store for wallet
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActivities.ts
  dapp/src/hooks/useRequestBitcoinAccount.ts
  dapp/src/store/reducer.ts
  dapp/src/store/wallet/index.ts
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/store/wallet/walletSlice.ts
  dapp/src/store/wallet/walletThunk.ts
Due: dapp-lint-js

Round up depositor fee calculation
  solidity/contracts/BitcoinDepositor.sol
Due: none

Add a docs for `fetchActivityDatas`
  dapp/src/utils/subgraphAPI.ts
Due: dapp-lint-js

Testing direct return of depositBalance plus any donations
  solidity/test/MezoAllocator.test.ts
Due: solidity-lint-js

Update `Sidebar` component
  dapp/src/assets/icons/ShieldPlus.tsx
  dapp/src/assets/icons/index.ts
  dapp/src/assets/images/right-sidebar-bg.png
  dapp/src/components/Sidebar.tsx
  dapp/src/components/Sidebar/index.tsx
Due: dapp-lint-js

Validate redeemer address included in the redemption data
  solidity/contracts/BitcoinRedeemer.sol
Due: none

Path conditions:
  root-lint: any file but: (^solidity/|^dapp/|^website/|^subgraph/)
  solidity-lint-js: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
  subgraph-lint-js: any of: ^subgraph/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  subgraph-lint-config: any of: ^subgraph/ and \.json$, \.(yaml|yml)$
