Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, core-lint-js, core-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

core-lint-js:
  name: lint core ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

core-lint-config:
  name: lint core json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./core/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

dapp-lint-js:
  name: lint dapp ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

dapp-lint-config:
  name: lint dapp json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

website-lint-js:
  name: lint website ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

website-lint-config:
  name: lint website json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

sdk-lint-js:
  name: lint sdk ts/js
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

sdk-lint-config:
  name: lint sdk json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Style improvements for the modal component
  dapp/src/components/shared/ModalBase/index.tsx
  dapp/src/theme/Modal.ts
  dapp/src/theme/utils/semanticTokens.ts
Due: dapp-lint-js

Handle errors for signing or deposit BTC
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/shared/Toast.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useToast.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/semanticTokens.ts
  dapp/src/utils/errors.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Simulating tbtc deposit to stBTC contract for tests
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Refactoring unit tests
  core/test/stBTC.test.ts
Due: core-lint-js

Renamed hook to useStakingStats
  dapp/src/hooks/index.ts
  dapp/src/hooks/useStakingStats.ts
  dapp/src/pages/OverviewPage/StatisticsCard.tsx
Due: dapp-lint-js

Refactored currencyBalance component, changed type for protocol statistics
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/TransactionHistory/Table/Cell/utils/content.tsx
  dapp/src/components/shared/ActivityBar/ActivityCard.tsx
  dapp/src/components/shared/Balance/BalanceBox.tsx
  dapp/src/components/shared/Balance/CurrencyBalance.tsx
  dapp/src/components/shared/Balance/PercentageBalance.tsx
  dapp/src/components/shared/Balance/index.tsx
  dapp/src/components/shared/CurrencyBalance.tsx
  dapp/src/components/shared/CurrencyBalanceWithConversion/index.tsx
  dapp/src/components/shared/TokenBalanceInput/index.tsx
  dapp/src/hooks/useStakingStats.ts
  dapp/src/mocks/mock-statistics.ts
  dapp/src/pages/OverviewPage/StatisticsCard.tsx
  dapp/src/pages/OverviewPage/StatisticsCard/ProtocolStatisticCard.tsx
  dapp/src/pages/OverviewPage/StatisticsCard/StakerStatisticCard.tsx
  dapp/src/pages/OverviewPage/StatisticsCard/StatisticsCard.tsx
  dapp/src/pages/OverviewPage/StatisticsCard/index.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/types/balance.ts
  dapp/src/types/index.ts
  dapp/src/types/statistic.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Rename requestRedemption to redeemSharesAndUnmint
  core/contracts/BitcoinRedeemer.sol
  core/contracts/stBTC.sol
Due: none

Add WithdrawToBitcoin function
  core/contracts/BitcoinRedeemer.sol
  core/contracts/stBTC.sol
Due: none

Show notifications when wallets are not connected
  dapp/src/components/Header/ConnectWallet.tsx
  dapp/src/components/shared/Alert.tsx
  dapp/src/components/shared/Toast.tsx
  dapp/src/hooks/index.ts
  dapp/src/hooks/useToast.ts
  dapp/src/hooks/useWallet.ts
  dapp/src/hooks/useWalletToast.tsx
  dapp/src/pages/OverviewPage/index.tsx
  dapp/src/theme/Alert.ts
  dapp/src/theme/Button.ts
  dapp/src/theme/index.ts
  dapp/src/theme/utils/colors.ts
  dapp/src/theme/utils/semanticTokens.ts
  dapp/src/utils/errors.ts
Due: dapp-lint-js

Added ArrowUpRightAnimatedIcon component
  dapp/src/assets/icons/animated/ArrowUpRightAnimatedIcon.tsx
  dapp/src/assets/icons/animated/index.ts
  dapp/src/pages/OverviewPage/DocsCard.tsx
  dapp/src/theme/utils/index.ts
  dapp/src/theme/utils/units.ts
Due: dapp-lint-js

Create a separate directory for alerts
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ActiveUnstakingStep/SignMessageModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/MissingAccountModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper/SuccessModal.tsx
  dapp/src/components/shared/alerts/Alert.tsx
  dapp/src/components/shared/alerts/CardAlert.tsx
  dapp/src/components/shared/alerts/ReceiveSTBTCAlert.tsx
  dapp/src/components/shared/alerts/Toast.tsx
  dapp/src/components/shared/alerts/index.tsx
  dapp/src/hooks/useWalletToast.tsx
Due: dapp-lint-js

Added chakraSpacingUnit
  dapp/src/theme/utils/units.ts
Due: dapp-lint-js

Add tests for withdrawToBitcoin function
  core/test/helpers/eip712.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Update `package.json` for subgraph
  subgraph/package.json
Due: root-lint

Add basic GH workflow for subgraph workspace
  .github/workflows/reusable-subgraph-codegen.yaml
  .github/workflows/subgraph.yaml
Due: root-lint

Set initial owner of the ProxyAdmin
  core/deploy/01_deploy_stbtc.ts
  core/deploy/03_deploy_acre_bitcoin_depositor.ts
  core/test/AcreBitcoinDepositor.upgrade.test.ts
  core/test/stBTC.upgrade.test.ts
Due: core-lint-js

Styles improvements
  dapp/src/components/GlobalStyles/index.tsx
  dapp/src/components/shared/Activities/ActivityBar.tsx
  dapp/src/components/shared/Activities/ActivityCard/ActivityCard.tsx
  dapp/src/pages/ActivityPage/ActivityDetails.tsx
Due: dapp-lint-js

Extract common ZeroAddress error to a seprate file
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/contracts/utils/Errors.sol
Due: none

Create `AbstractPausable` pausable contract
  core/contracts/AbstractPausable.sol
Due: none

Hooks namning change & minor improvements
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useEstimatedBtcBalance.ts
  dapp/src/hooks/useFetchBtcBalance.ts
  dapp/src/hooks/useInitApp.ts
  dapp/src/pages/OverviewPage/PositionDetails.tsx
  dapp/src/store/btc/btcSelector.ts
Due: dapp-lint-js

Update `AcreBitcoinDepositor` contract
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMisplacedSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorMissingSlot.sol
  core/contracts/test/upgrades/AcreBitcoinDepositorV2.sol
  core/deploy/25_update_emergency_stop_account_acre_bitcoin_depositor.ts
  core/hardhat.config.ts
  core/test/AcreBitcoinDepositor.test.ts
Due: core-lint-js

Update `stBTC` contract
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCMisplacedSlot.sol
  core/contracts/test/upgrades/stBTCMissingSlot.sol
  core/contracts/test/upgrades/stBTCV2.sol
  core/deploy/24_update_emergency_stop_account_stbtc.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Remove unnecessary imports
  core/contracts/AcreBitcoinDepositor.sol
  core/contracts/stBTC.sol
Due: none

Add ERC20PermitUpgradeable contract
  core/contracts/ERC20PermitUpgradable.sol
Due: none

Revert "Add WithdrawToBitcoin function"
  core/contracts/BitcoinRedeemer.sol
  core/contracts/stBTC.sol
Due: none

Revert "Add tests for withdrawToBitcoin function"
  core/test/helpers/eip712.ts
  core/test/stBTC.test.ts
Due: core-lint-js

Activities carousel structure refactoring
  dapp/src/components/shared/Activities/index.tsx
  dapp/src/components/shared/ActivityCard/ActivityCard.tsx
  dapp/src/components/shared/ActivityCard/ActivityCardLinkWrapper.tsx
  dapp/src/components/shared/ActivityCard/ActivityCardWrapper.tsx
  dapp/src/components/shared/ActivityCard/index.tsx
  dapp/src/components/shared/ActivityCard/mock-activities.ts
  dapp/src/pages/ActivityPage/ActivityBar.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/ActivityCarousel.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/index.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/utils/carouselArrows.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/utils/carouselSettings.tsx
  dapp/src/pages/OverviewPage/ActivityCarousel/utils/index.ts
  dapp/src/pages/OverviewPage/DocsCard.tsx
  dapp/src/pages/OverviewPage/index.tsx
Due: dapp-lint-js

Update react-router: based on id params instead of passing state
  dapp/src/components/shared/ActivityCard/ActivityCard.tsx
  dapp/src/components/shared/ActivityCard/ActivityCardLinkWrapper.tsx
  dapp/src/components/shared/ActivityCard/ActivityCardWrapper.tsx
  dapp/src/pages/ActivityPage/ActivityBar.tsx
  dapp/src/pages/ActivityPage/ActivityDetails.tsx
  dapp/src/pages/ActivityPage/index.tsx
  dapp/src/router/index.tsx
Due: dapp-lint-js

Install assemblyscript@0.19.23 as a separate dependency
  pnpm-lock.yaml
  subgraph/package.json
Due: root-lint

Adding entry fees upon depositing tBTC to Acre
  core/contracts/lib/ERC4626Fees.sol
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCV2.sol
Due: none

Add Matchstick binaries to .gitignore
  subgraph/.gitignore
Due: root-lint

Fix tests for acre bitcoin depositor
  subgraph/tests/acre-bitcoin-depositor.test.ts
Due: root-lint

Add GH workflow for subgraph workspace - run tests
  .github/workflows/subgraph.yaml
Due: root-lint

Add a pre-commit-config for subgraph workspace
  .pre-commit-config.yaml
Due: root-lint

Adding withdrawal fees upon withdraw/redeem
  core/contracts/lib/ERC4626Fees.sol
  core/contracts/stBTC.sol
  core/contracts/test/upgrades/stBTCV2.sol
Due: none

Split tests for `isPublicKeyHashTypeAddress` into two scenarios:
  sdk/test/lib/bitcoin/address.test.ts
Due: root-lint, sdk-lint-js

Group the staking fees by networks
  sdk/src/lib/contracts/bitcoin-depositor.ts
  sdk/src/lib/ethereum/bitcoin-depositor.ts
  sdk/test/lib/ethereum/tbtc-depositor.test.ts
Due: root-lint, sdk-lint-js

Export useful functions from useToast
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/SignMessageModal.tsx
  dapp/src/hooks/useToast.ts
  dapp/src/hooks/useWalletToast.tsx
Due: dapp-lint-js

Show button loading status when deposit address is verifying
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingStepsModalContent.tsx
  dapp/src/components/shared/Form/FormSubmitButton.tsx
  dapp/src/components/shared/LoadingButton.tsx
Due: dapp-lint-js

First batch of fixes after fees were added
  core/test/stBTC.test.ts
Due: core-lint-js

Path conditions:
  root-lint: any file but: (^core/|^dapp/|^website/)
  core-lint-js: any of: ^core/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  core-lint-config: any of: ^core/ and \.json$, \.(yaml|yml)$
  dapp-lint-js: any of: ^dapp/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  dapp-lint-config: any of: ^dapp/ and \.json$, \.(yaml|yml)$
  website-lint-js: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  website-lint-config: any of: ^website/ and \.json$, \.(yaml|yml)$
  sdk-lint-js: any of: ^sdk/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  sdk-lint-config: any of: ^sdk/ and \.json$, \.(yaml|yml)$
