Repository thesis/acre: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-js, solidity-lint-config, dapp-lint-js, dapp-lint-config, website-lint-js, website-lint-config, sdk-lint-js, sdk-lint-config, subgraph-lint-js, subgraph-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/|^dapp/|^website/|^subgraph/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-js
        name: "lint solidity ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:js"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # dApp
      - id: dapp-lint-js
        name: "lint dapp ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:js"
        files: ^dapp/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: dapp-lint-config
        name: "lint dapp json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./dapp/ run lint:config"
        files: ^dapp/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Website
      - id: website-lint-js
        name: "lint website ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:js"
        files: ^website/
        types_or: [ts, tsx, javascript, jsx]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: website-lint-config
        name: "lint website json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./website/ run lint:config"
        files: ^website/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # SDK
      - id: sdk-lint-js
        name: "lint sdk ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:js"
        files: ^sdk/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: sdk-lint-config
        name: "lint sdk json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./sdk/ run lint:config"
        files: ^sdk/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"
      # Subgraph
      - id: subgraph-lint-js
        name: "lint subgraph ts/js"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:js"
        files: ^subgraph/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS/JS code according to the package's linter configuration"
      - id: subgraph-lint-config
        name: "lint subgraph json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./subgraph/ run lint:config"
        files: ^subgraph/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Remove unnecessary subgraph imports
  dapp/src/utils/index.ts
  dapp/src/utils/subgraphAPI.ts
Due: dapp-lint-js

Update `getDeposits` fn in staking module
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Update `stake` fn
  sdk/src/modules/staking/stake-initialization.ts
Due: root-lint, sdk-lint-js

Update the `Tbtc` module
  sdk/src/lib/api/TbtcApi.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/tbtc/Tbtc.ts
Due: root-lint, sdk-lint-js

Fix displaying activity items
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
  dapp/src/types/activity.ts
Due: dapp-lint-js

Add permissions to get XPub
  dapp/ledger-manifest-testnet.json
Due: dapp-lint-config

Add unit test for Acre Subgraph API component
  sdk/test/lib/api/acre-subgraph.test.ts
Due: root-lint, sdk-lint-js

Add unit tests for `getDepositsByOwner`
  sdk/src/lib/api/TbtcApi.ts
  sdk/test/lib/api/tbtc-api.test.ts
Due: root-lint, sdk-lint-js

Update unit tests for `Tbtc` module
  sdk/src/lib/api/TbtcApi.ts
  sdk/test/data/deposit.ts
  sdk/test/lib/api/tbtc-api.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js

Add unit tests for `getDeposits`
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/staking/index.ts
  sdk/test/lib/api/acre-subgraph.test.ts
  sdk/test/modules/staking.test.ts
Due: root-lint, sdk-lint-js

Add docs
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Simplify `walletSlice` for activities
  dapp/src/components/shared/ActivitiesList/ActivitiesList.tsx
  dapp/src/hooks/sdk/useFetchDeposits.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActivities.ts
  dapp/src/hooks/store/useCompletedActivities.ts
  dapp/src/hooks/store/useLatestActivities.ts
  dapp/src/hooks/store/useTransactions.ts
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/store/wallet/walletSlice.ts
  dapp/src/utils/activities.ts
  dapp/src/utils/index.ts
Due: dapp-lint-js

Add `vitest` to `dapp`
  dapp/package.json
  pnpm-lock.yaml
Due: root-lint, dapp-lint-config

Add unit tests for `walletSlice` reducer
  dapp/src/store/tests/walletSlice.test.ts
  dapp/src/store/wallet/walletSlice.ts
  dapp/src/tests/factories.ts
Due: dapp-lint-js

Push all fetched activities to redux state
  dapp/src/hooks/sdk/useFetchDeposits.ts
Due: dapp-lint-js

Update dapp CI workflow
  .github/workflows/dapp.yaml
Due: root-lint

Fetch deposit history after stake action
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
Due: dapp-lint-js

Navigate the user to the dashboard after the deposit BTC
  dapp/src/components/TransactionModal/SuccessModal.tsx
Due: dapp-lint-js

Add a link to block explorer for deposit transaction in `SuccessModal`
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ModalContentWrapper.tsx
  dapp/src/components/TransactionModal/SuccessModal.tsx
  dapp/src/constants/chains.ts
  dapp/src/hooks/store/index.ts
  dapp/src/hooks/store/useActionFlowTxHash.ts
  dapp/src/store/action-flow/actionFlowSelectors.ts
  dapp/src/store/action-flow/actionFlowSlice.ts
Due: dapp-lint-js

Sort activities by timestamp
  dapp/src/store/wallet/walletSelector.ts
  dapp/src/utils/activities.ts
Due: dapp-lint-js

Add visual improvements
  dapp/src/pages/DashboardPage/DashboardCard.tsx
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Fix typo
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Remove txHash in TransactionHistory item
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Read completed activities from store
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Update `getDeposits` fn
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/src/modules/staking/index.ts
  sdk/src/modules/tbtc/Tbtc.ts
  sdk/test/lib/api/acre-subgraph.test.ts
  sdk/test/modules/staking.test.ts
  sdk/test/modules/tbtc/Tbtc.test.ts
Due: root-lint, sdk-lint-js

Add `ActivitiesList` component
  dapp/src/pages/DashboardPage/DashboardCard.tsx
Due: dapp-lint-js

Extract query to a separate function
  sdk/src/lib/api/AcreSubgraphApi.ts
  sdk/test/lib/api/acre-subgraph.test.ts
Due: root-lint, sdk-lint-js

Use existing hook to fetch activities
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Remove unused env variable
  dapp/.env
  dapp/src/vite-env.d.ts
Due: dapp-lint-js

Update `CurrencyBalance` size
  dapp/src/pages/DashboardPage/TransactionHistory.tsx
Due: dapp-lint-js

Update `Activity` type
  dapp/src/hooks/sdk/useFetchDeposits.ts
  dapp/src/types/activity.ts
Due: dapp-lint-js

Fix linting errors
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/components/TransactionModal/ActiveStakingStep/StakingErrorModal/index.tsx
  dapp/src/types/activity.ts
  sdk/test/lib/api/acre-subgraph.test.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Fix `ActivitiesListItem` component
  dapp/src/components/shared/ActivitiesList/ActivitiesListItem.tsx
Due: dapp-lint-js

Removal of unnecessary condition for `ethAccount`
  dapp/src/components/TransactionModal/ActiveStakingStep/DepositBTCModal.tsx
  dapp/src/hooks/useDepositTelemetry.ts
Due: dapp-lint-js

Removal of the unneeded code
  dapp/src/hooks/useWallet.ts
Due: dapp-lint-js

Simplify the bitcoin network type in SDK
  dapp/src/constants/chains.ts
  sdk/src/lib/bitcoin/index.ts
  sdk/src/lib/bitcoin/network.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Simplify the the Acre initialization function
  dapp/src/acre-react/contexts/AcreSdkContext.tsx
  sdk/src/acre.ts
Due: root-lint, dapp-lint-js, sdk-lint-js

Rename variables
  sdk/src/acre.ts
  sdk/src/modules/staking/index.ts
Due: root-lint, sdk-lint-js

Leave a `TODO` in the `BitcoinProvider` interface
  sdk/src/lib/bitcoin/providers/provider.ts
Due: root-lint, sdk-lint-js
